<ion-header>

  <ion-navbar color="azul-2">
    <button ion-button icon-only clear menuToggle color="light">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center text-wrap>Registro de emergencias</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid no-padding>
    <form (ngSubmit)="searchByFilter()">  
      <ion-row>      
        <ion-col col-5>
          <ion-item>
            <ion-label no-margin>
              <ion-icon name="icon-eventos"></ion-icon>
            </ion-label>
            <ion-datetime no-padding
                          [(ngModel)]="fecha_inicio"                        
                          name="fecha_ini"
                          displayFormat="DD/MM/YYYY"
                          pickerFormat="DD/MM/YYYY"
              doneText="Aceptar" cancelText="Cancelar"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col col-2>
          <ion-label text-center>
            a
          </ion-label>
        </ion-col>
        <ion-col col-5>
          <ion-item>
            <ion-label no-margin>
              <ion-icon name="icon-eventos"></ion-icon>
            </ion-label>
            <ion-datetime no-padding
                          name="fecha_fin"
                          [(ngModel)]="fecha_fin"                        
                          displayFormat="DD/MM/YYYY"
                          pickerFormat="DD/MM/YYYY"
                          doneText="Aceptar"
                          cancelText="Cancelar"
                          [max]="maxDate"></ion-datetime>
          </ion-item>
        </ion-col>        
      </ion-row>
      <ion-row>          
          <ion-col text-center>
              <button ion-button type="submit" color="azul-2" outline block>Buscar</button>
            </ion-col>
      </ion-row>
    </form>
    <ion-row>
        <!-- <ion-col no-padding>
        <ion-card *ngFor="let item of userInfo"
                  [navPush]="emergenciasRecibidasNotificacion"
                  [navParams]="{id_pk: item.user_id, latitud: item.user_lat, longitud: item.user_lon}">
          <ion-item>
            {{item.created_at}}
          </ion-item>
          <ion-item>
            {{item.id_pk}}
          </ion-item>
          <ion-item>
            {{item.latitud}}
          </ion-item>
          <ion-item>
            {{item.longitud}}
          </ion-item>
        </ion-card>
      </ion-col> -->
      <ion-col no-padding>
        <ion-card *ngFor="let item of userInfo"
                  [navPush]="emergenciasRecibidasNotificacion"
                  [navParams]="{id_pk: item.user_id, nombres:item.nombres, apellido1:item.apellido1, apellido2: item.apellido2 , avatar:item.foto, tel:item.tlf_contacto , latitud: item.latitud, longitud: item.longitud, fecha_nac: item.fecha_nac, created_at: item.created_at}">
          <ion-card-header text-wrap>
            <ion-row>
              <ion-col col-2>                  
                <img [src]="item.foto" alt="">
              </ion-col>
              <ion-col col-10>
                <p color="azul-2"><b>{{item.nombres}} {{item.apellido1}} {{item.apellido2}}</b></p>
                <p style="margin:0px; padding:0px; font-size: 1.1rem;"><span *ngIf="item.created_at">{{ item.created_at }}</span></p>

                <!-- <p><b>Fecha:</b> {{item.user_date}}</p> -->
              </ion-col>
            </ion-row>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
