<ion-header>
  <ion-navbar color="secondary" text-center>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Antecedentes</ion-title>
    <ion-buttons end>
      <button ion-button  icon-only [navParams]="{ 'seccion': 'antecedente' }" [navPush]="pageHelp"  >
         <ion-icon name="md-help-circle" color="white"></ion-icon>
      </button>

      <button ion-button icon-only (click)="filterAntecedent($myEvent)" >
        <ion-icon name="ios-funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding text-center>
  <ion-buttons margin-top padding-top *ngIf="!timeOutControl" padding text-center>
    <button margin-top ion-button type="button" round outline small (click)="loadNew()">Recargar</button>
  </ion-buttons>
  <div *ngIf="timeOutControl">
    <ion-refresher (ionRefresh)="reloadListAntecedent($event)" *ngIf="antecedentProviderService.antecedent_alert.length > 0 || antecedentProviderService.othersAntecedent.length > 0 || antecedentProviderService.healthyHabits.length > 0">
      <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh"></ion-refresher-content>
    </ion-refresher>
    <ion-chip [navPush]="listAntecedent" class="chip-midis" margin-top margin-bottom>
      <ion-icon name="icon-admiracion" color="azul-2"></ion-icon>
      <ion-label color="azul-2">Cargar Antecedentes</ion-label>
    </ion-chip>

    <div *ngIf="antecedentProviderService.antecedent_alert.length == 0 && antecedentProviderService.othersAntecedent.length == 0 && antecedentProviderService.healthyHabits.length == 0">
      <div>
        <img  src="assets/imgs/antecedentes-recurso.png">
      </div>
    </div>

    <ion-grid no-padding *ngIf="antecedentProviderService.antecedent_alert.length > 0 || antecedentProviderService.othersAntecedent.length > 0 || antecedentProviderService.healthyHabits.length > 0">

      <ion-row justify-content-center>
        <ion-col cl-12 col-xs-12 col-sm-10 col-md-8 col-lg-8>

          <ion-row *ngIf="antecedentProviderService.antecedent_alert.length > 0">
              <ion-col class="antecedentes-alerta__title" col-12 no-padding>
                <h6 padding-left>
                  <ion-icon name="icon-antecedentes_a"></ion-icon> Antecedentes de alerta
                </h6>
              </ion-col>
          </ion-row>

          <ion-card text-left *ngFor="let antecedentAlert of antecedentProviderService.antecedent_alert; let i = index" (click)="detailAntecedent(antecedentAlert, i)">
            <ion-card-content>
              <ion-grid no-padding>

                <div class="alineamiento-flexbox width-100">
                    <div class="marginr-auto alineamiento-flexbox">
                      <div class="alineamiento-flexbox">
                           <p class="txt-color-azul-oscuro">
                              <strong>{{ antecedentAlert.antPac.get_tipo_antecedente.nombre }}</strong>
                              <span *ngIf="antecedentAlert.antPac.get_subtipo_antecedente != null">
                                : {{ antecedentAlert.antPac.get_subtipo_antecedente.nombre }}
                              </span>
                              <span style="font-size: 1.4rem;color: #808080;" *ngFor="let item of antecedentAlert.campos">
                                <br><b>{{item.desc_campo}}:</b> {{item.desc_valor}}
                              </span>
                              <span style="font-size: 1.4rem;color: #808080;" *ngIf="antecedentAlert.antPac.referencia">
                                <br><b>Descripción:</b> {{antecedentAlert.antPac.referencia}}
                              </span>                              
                          </p>

                      </div> 
                    </div>
                    <div class="marginl-auto alineamiento-flexbox">
                        <div class="alineamiento-flexbox">

                           <p><ion-badge class="badge-estado-ant" color="azul-2" *ngIf="antecedentAlert.antPac.validado == 'validado' "><ion-icon class="candado-antecedentes" [name]="antecedentAlert.antPac.privado=='1'?'lock':''" [color]="white"></ion-icon> Validado</ion-badge></p>
                           <p><ion-badge class="badge-estado-ant" color="danger" *ngIf="antecedentAlert.antPac.validado == 'no validado' "><ion-icon class="candado-antecedentes" [name]="antecedentAlert.antPac.privado=='1'?'lock':''" [color]="white"></ion-icon> No validado</ion-badge></p>
                          <p> <ion-badge class="badge-estado-ant" color="naranja-2" *ngIf="antecedentAlert.antPac.validado == 'pendiente' "><ion-icon class="candado-antecedentes" [name]="antecedentAlert.antPac.privado=='1'?'lock':''" [color]="white"></ion-icon>  Por validar</ion-badge></p>
                        </div>
                    </div>
                </div>
                <ion-row>
                    <ion-col col-12>
                    <p text-wrap *ngIf="antecedentAlert.antPac.semanas_gest == null">
                      <span *ngFor="let campo of antecedentAlert.campos; let i = index">
                        <span *ngIf="campo.desc_campo != '' || campo.desc_campo != null || campo.desc_campo != undefined || campo.desc_valor != '' || campo.desc_valor != null || campo.desc_valor != undefined">
                         <span *ngIf="campo.desc_valor"> <b>{{campo.desc_campo}}:</b> {{ campo.desc_valor }} <br></span>
                        </span>
                      </span>
                      <span *ngIf="antecedentAlert.antPac.referencia"><b>Descripción:</b> {{ antecedentAlert.antPac.referencia }} </span>                     
                    </p>
                    <p *ngIf="antecedentAlert.antPac.pac_fk_cambio"><b>Cargado por:</b> Paciente</p>
                    <p *ngIf="antecedentAlert.antPac.pro_fk_cambio"><b>Cargado por:</b> Profesional</p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>



          <ion-row *ngIf="antecedentProviderService.othersAntecedent.length > 0">
            <ion-col class="otros-antecedentes__title" col-12 no-padding>
              <h6 padding-left>
                <ion-icon name="icon-antecedentes_a"></ion-icon> Otros antecedentes
              </h6>
            </ion-col>
          </ion-row>

          <ion-card text-left *ngFor="let antecedentAlert of antecedentProviderService.othersAntecedent; let i = index" (click)="detailAntecedent(antecedentAlert, i)">
            <ion-card-content>
              <ion-grid no-padding>


                <div class="alineamiento-flexbox width-100">
                    <div class="marginr-auto alineamiento-flexbox">
                      <div class="alineamiento-flexbox">
                           <p class="txt-color-azul-oscuro">
                          <strong>{{ antecedentAlert.antPac.get_tipo_antecedente.nombre }}</strong>
                          <span *ngIf="antecedentAlert.antPac.get_subtipo_antecedente != null">
                            : {{ antecedentAlert.antPac.get_subtipo_antecedente.nombre }}
                          </span>
                          </p>
                      </div> 
                    </div>
                    <div class="marginl-auto alineamiento-flexbox">
                        <div class="alineamiento-flexbox">
                           <p><ion-badge class="badge-estado-ant" color="azul-2" *ngIf="antecedentAlert.antPac.validado == 'validado' "><ion-icon class="candado-antecedentes" [name]="antecedentAlert.antPac.privado=='1'?'lock':''" [color]="white"></ion-icon> Validado</ion-badge></p>
                           <p><ion-badge class="badge-estado-ant" color="danger" *ngIf="antecedentAlert.antPac.validado == 'no validado' "><ion-icon class="candado-antecedentes" [name]="antecedentAlert.antPac.privado=='1'?'lock':''" [color]="white"></ion-icon> No validado</ion-badge></p>
                          <p> <ion-badge class="badge-estado-ant" color="naranja-2" *ngIf="antecedentAlert.antPac.validado == 'pendiente' "><ion-icon class="candado-antecedentes" [name]="antecedentAlert.antPac.privado=='1'?'lock':''" [color]="white"></ion-icon>  Por validar</ion-badge></p>
                        </div>
                    </div>
                </div>
                <ion-row>
                    <ion-col col-12>
                    <p text-wrap>
                      <span *ngFor="let campo of antecedentAlert.campos; let i = index">
                        <span *ngIf="campo.desc_valor != '' || campo.desc_valor != null || campo.desc_valor != undefined || campo.desc_campo != '' || campo.desc_campo != null || campo.desc_campo != undefined">
                          <span *ngIf="campo.desc_valor"> <b>{{campo.desc_campo}}:</b> {{ campo.desc_valor }} <br></span>
                        </span>
                      </span>
                      <b *ngIf="antecedentAlert.antPac.referencia != null">Descripción:</b> {{ antecedentAlert.antPac.referencia }}
                    </p>
                    <h3 *ngIf="antecedentAlert.antPac.pac_fk_cambio != null "><b>Cargado por:</b> Paciente</h3>
                    <h3 *ngIf="antecedentAlert.antPac.pro_fk_cambio != null "><b>Cargado por:</b> Profesional</h3>
                  </ion-col>
                </ion-row>

              </ion-grid>
            </ion-card-content>
          </ion-card>


          <ion-row *ngIf="antecedentProviderService.healthyHabits.length > 0">
            <ion-col class="habitos-saludables__title" col-12 no-padding>
              <h6 padding-left>
                <ion-icon name="icon-antecedentes_a"></ion-icon> Hábitos saludables
              </h6>
            </ion-col>
          </ion-row>


          <ion-card text-left *ngFor="let antecedentAlert of antecedentProviderService.healthyHabits; let i = index" (click)="detailAntecedent(antecedentAlert, i)">
            <ion-card-content>
              <ion-grid no-padding>


                <div class="alineamiento-flexbox width-100">
                    <div class="marginr-auto alineamiento-flexbox">
                      <div class="alineamiento-flexbox">
                           <p class="txt-color-azul-oscuro">
                          <strong>{{ antecedentAlert.antPac.get_tipo_antecedente.nombre }}</strong>
                          <span *ngIf="antecedentAlert.antPac.get_subtipo_antecedente != null">
                            : {{ antecedentAlert.antPac.get_subtipo_antecedente.nombre }}
                          </span>
                          </p>
                      </div> 
                    </div>
                    <div class="marginl-auto alineamiento-flexbox">
                        <div class="alineamiento-flexbox">
                           <p><ion-badge class="badge-estado-ant" color="azul-2" *ngIf="antecedentAlert.antPac.validado == 'validado' "><ion-icon class="candado-antecedentes" [name]="antecedentAlert.antPac.privado=='1'?'lock':''" [color]="white"></ion-icon> Validado</ion-badge></p>
                           <p><ion-badge class="badge-estado-ant" color="danger" *ngIf="antecedentAlert.antPac.validado == 'no validado' "><ion-icon class="candado-antecedentes" [name]="antecedentAlert.antPac.privado=='1'?'lock':''" [color]="white"></ion-icon> No validado</ion-badge></p>
                          <p> <ion-badge class="badge-estado-ant" color="naranja-2" *ngIf="antecedentAlert.antPac.validado == 'pendiente' "><ion-icon class="candado-antecedentes" [name]="antecedentAlert.antPac.privado=='1'?'lock':''" [color]="white"></ion-icon>  Por validar</ion-badge></p>
                        </div>
                    </div>
                </div>
                <ion-row>
                    <ion-col col-12>
                    <p text-wrap>
                      <span *ngFor="let campo of antecedentAlert.campos; let i = index">
                        <span *ngIf="campo.desc_valor != '' || campo.desc_valor != null || campo.desc_valor != undefined || campo.desc_campo != '' || campo.desc_campo != null || campo.desc_campo != undefined">
                          <span *ngIf="campo.desc_valor"><b>{{campo.desc_campo}}:</b> {{ campo.desc_valor }} <br></span>
                        </span>
                      </span>
                      <b *ngIf="antecedentAlert.antPac.referencia">Descripción:</b> {{ antecedentAlert.antPac.referencia }}
                    </p>
                    <h3 *ngIf="antecedentAlert.antPac.pac_fk_cambio"><b>Cargado por:</b> Paciente</h3>
                    <h3 *ngIf="antecedentAlert.antPac.pro_fk_cambio"><b>Cargado por:</b> Profesional</h3>
                  </ion-col>
                </ion-row>

              </ion-grid>
            </ion-card-content>
          </ion-card>

        </ion-col>
      </ion-row>

    </ion-grid>

  </div>


</ion-content>
