.ios, .md {

  page-index-antecedent {

    ion-navbar {
      /*ion-buttons {
        button {
          font-size: 2.2rem;
          margin-right: 1.2rem;;
        }
      }*/
    }

    ion-chip.chip-midis {
      ion-icon {
        font-size: 2.2rem;
        width: 42px;
        height: 42px;
        line-height: 40px;
        top: -6px;
        left: -2px;
      }
    }

    ion-badge {
      border-radius: 10px;
      font-weight: 400;
    }
    
    ion-card {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;

      ion-card-content {
        h4 {
          font-size: 1.4rem;
          color: color($colors, azul-2);
        }

        p, h3 {
          font-size: 1.4rem;
          color: color($colors, dark);
        }
      }
    }

  }

}
