.ios, .md {
  page-midis-salud {

    .icon_institucion{
      width: 25px;
      height: 25px;
      border-radius: 50%;
    }

    .midis__banner {
      img {
        object-fit: cover;
      }

      ion-icon {
        position: relative;
        top: -5.5rem;
        left: 62%;
        font-size: 5rem;
        color: #fff;
      }
    }

    @media  (min-width: 320px) {
      .midis__banner {
        max-height: 50px;

        ion-icon {
          top: -3.8rem;
          font-size: 3.5rem;
        }
      }
    }

    @media  (min-width: 412px) {
      .midis__banner {
        max-height: 62px;

        ion-icon {
          top: -5.5rem;
          font-size: 5rem;
        }
      }
    }

    @media  (min-width: 600px) {
      .midis__banner {
        max-height: 90px;
      }
    }

    @media  (min-width: 768px) {

      .midis__banner {
        max-height: 120px;

        ion-icon {
          top: -8.5rem;
          font-size: 8rem;
        }
      }

      .notification-alert {
        ion-item.notification-alert__radio {
          width: 55%;
        }
      }
    }

    @media  (min-width: 1024px) {

      .midis__banner {
        max-height: 156px;

        ion-icon {
          top: -10.5rem;
          font-size: 10rem;
        }

      }
    }

  }
  
}