<ion-header>
    <ion-navbar color="verde">
        <button ion-button menuToggle *ngIf="!enableSelect">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title text-center>Midis salud</ion-title>
        <ion-buttons end>
            <button ion-button icon-only [navParams]="{ 'seccion': 'midis_salud' }" [navPush]="pageHelp" *ngIf="!enableSelect">
                <ion-icon name="md-help-circle" color="white"></ion-icon>
            </button>
            <button style="padding-left: 10px;" ion-button icon-only (click)="filterModal($myEvent)" *ngIf="!enableSelect">
                <ion-icon name="ios-funnel"></ion-icon>
            </button>
            <button style="padding-left: 10px;" ion-button icon-only (click)="popoverMidis($myEvent)" *ngIf="!enableSelect">
                <ion-icon name="more"></ion-icon>
            </button>
            <button ion-button icon-only (click)="tryDownloadPDF()" *ngIf="enableSelect">
                <ion-icon name="md-document"></ion-icon>
            </button>
            <button ion-button icon-only (click)="back($myEvent)" *ngIf="enableSelect">
                <ion-icon name="md-arrow-round-back"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content no-padding>
    <div class="midis__banner">
        <img src="assets/imgs/banner_antecedentes.png" alt="Antecedentes">
        <ion-icon name="icon-midis_contorno"></ion-icon>
    </div>

    <div *ngIf="!midisDataResponse || midisDataResponse.length == 0" class="box-info" style="display:flex; flex-direction: row; justify-content: center; align-items: center; font-size: 12px; margin-top:20px;margin-bottom:20px;padding:0px; ">
        <div style="padding-left: 3px">
            <ion-icon name="icon-instituciones"></ion-icon>
        </div>
        <div text-center style="padding-left:4px; width:100%;">Solicite y autorice al profesional de salud que su Consulta/Atención sea cargada en Midis app Salud</div>
    </div>
    <div *ngIf="!midisDataResponse || midisDataResponse.length == 0">
        <img src="assets/imgs/midis_salud.png">
    </div>

    <ion-card *ngFor="let elemento of midisDataResponse; let i = index" (click)="detailElement(elemento)">
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col col-11>
                        <ion-row text-center *ngIf="elemento.get_sede_institucion">
                            <img src="{{elemento.get_sede_institucion.get_institucion.logo}}" class="icon_institucion">
                            <span style="color: gray; margin-top: 2px; margin-left: 5px">
                                {{elemento.get_sede_institucion.nombre}}
                            </span>
                        </ion-row>
                        <ion-row text-center *ngIf="!elemento.get_sede_institucion">
                            <img src="./assets/imgs/prof_ext.jpg" class="icon_institucion">
                            <span style="color: gray; margin-top: 2px; margin-left: 5px">
                                Profesional externo
                            </span>
                        </ion-row>
                        <ion-row>
                            <span style="color: gray; margin-top: 2px">
                                <b>Fecha del evento: </b> {{elemento.fecha}} </span>
                        </ion-row>
                        <ion-row>
                            <span style="color: gray">
                                <b>Motivo: </b> {{elemento.motivo}} </span>
                        </ion-row>
                    </ion-col>
                    <ion-col col-1 style="text-align:end" *ngIf="enableSelect">
                        <ion-checkbox [(ngModel)]="consultsSelected[i]" (ionChange)="checkConsult(elemento.id_pk, i)"></ion-checkbox>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>