page-category-app-salud {

    .app_salud__banner {
        img {
          object-fit: cover;
        }
  
        ion-icon {
          position: relative;
          top: -5.5rem;
          left: 62%;
          font-size: 5rem;
          color: #fff;
        }
      }

    .icon_institucion{
      width: 25px;
      height: 25px;
      border-radius: 50%;
      margin-right: 5px;

      ion-icon{
          position: relative;
          color: white;
          text-align: center;
          vertical-align: middle;
          padding-left: 5px;
      }
    }
  
      @media  (min-width: 320px) {
        .app_salud__banner {
          max-height: 50px;
  
          ion-icon {
            top: -3.8rem;
            font-size: 3.5rem;
          }
        }
      }
  
      @media  (min-width: 412px) {
        .app_salud__banner {
          max-height: 62px;
  
          ion-icon {
            top: -5.5rem;
            font-size: 5rem;
          }
        }
      }
  
      @media  (min-width: 600px) {
        .app_salud__banner {
          max-height: 90px;
        }
      }
  
      @media  (min-width: 768px) {
  
        .app_salud__banner {
          max-height: 120px;
  
          ion-icon {
            top: -8.5rem;
            font-size: 8rem;
          }
        }
  
        .notification-alert {
          ion-item.notification-alert__radio {
            width: 55%;
          }
        }
      }
  
      @media  (min-width: 1024px) {
  
        .app_salud__banner {
          max-height: 156px;
  
          ion-icon {
            top: -10.5rem;
            font-size: 10rem;
          }
  
        }
      }

}
