<ion-header>
  <ion-navbar [color]="color">
    <ion-title text-center>{{title}}</ion-title>
    <!--
    <ion-buttons end>
      <button ion-button icon-only (click)="filterModal($myEvent)" *ngIf="!enableSelect">
        <ion-icon name="ios-funnel"></ion-icon>
      </button>
      <button ion-button icon-only (click)="popoverMidis($myEvent)" *ngIf="!enableSelect">
        <ion-icon name="more"></ion-icon>
      </button>
      <button ion-button icon-only (click)="tryDownloadPDF()" *ngIf="enableSelect">
        <ion-icon name="md-document"></ion-icon>
      </button>
      <button ion-button icon-only (click)="back($myEvent)" *ngIf="enableSelect">
        <ion-icon name="md-arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>
    -->
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <div class="app_salud__banner" *ngIf="data.length > 0">
    <img src="assets/imgs/banner_antecedentes.png" alt="Antecedentes">
    <ion-icon [name]="icon"></ion-icon>
  </div>

  <ion-grid *ngIf="data.length == 0">
    <ion-row>
      <ion-col text-center>
        <img [src]="image_noData">
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid no-padding *ngIf="data.length > 0">
    <ion-card *ngFor="let elemento of data; let i = index" (click)="viewPresc(elemento, i)">
      <ion-card-content>
        <ion-grid no-padding>
          <ion-row justify-content-start>
            <ion-col col-9>
              <ion-row *ngIf="elemento.get_consultas.get_sede_institucion">
                <img src="{{elemento.get_consultas.get_sede_institucion.get_institucion.logo}}" class="icon_institucion">
                <span style="color: gray; margin-top: 2px; margin-left: 5px">
                  {{elemento.get_consultas.get_sede_institucion.nombre}}
                </span>
              </ion-row>
              <ion-row *ngIf="!elemento.get_consultas.get_sede_institucion">
                <img src="./assets/imgs/prof_ext.jpg" class="icon_institucion">
                <span style="color: gray; margin-top: 2px; margin-left: 5px">
                  Profesional externo
                </span>
              </ion-row>
            </ion-col>

            <ion-col col-md-1 col-md-offset-6 *ngIf="elemento.estado == 'cargada'">
              <p class="alineamiento-flexbox">
                <ion-badge style="font-size: 10px;" class="badge-estado-ant" color="azul-2">Cargada</ion-badge>
              </p>
            </ion-col>

            <ion-col col-md-1 col-md-offset-6 *ngIf="elemento.estado == 'pendiente'">
              <p class="alineamiento-flexbox">
                <ion-badge style="font-size: 10px;" class="badge-estado-ant" color="naranja-2">Pendiente</ion-badge>
              </p>
            </ion-col>

          </ion-row>

          <ion-row *ngIf="elemento.get_resultados.length > 0">
            <span style="color: gray; margin-top: 2px" *ngIf="elemento.get_resultados[0].fecha_carga != null">
              <b>Fecha de carga: </b> {{elemento.get_resultados[0].fecha_carga}}
            </span>
            <span style="color: gray; margin-top: 2px" *ngIf="elemento.get_resultados[0].fecha_ini_toma != null">
              <b>Fecha de inicio: </b> {{elemento.get_resultados[0].fecha_ini_toma}}
            </span>
          </ion-row>

          <ion-row>
            <span style="color: gray">
              <b>Tipo: </b> {{elemento.subtipo_pres.nombre}}
            </span>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-row *ngIf="elemento.descripcion != 'MidisAppSalud_HaveDetails_Inc' && elemento.descripcion != 'MidisAppSalud_HaveDetails_Cons'">
                <span style="color: gray">
                  <b>Descripción: </b> {{elemento.descripcion}} </span>
              </ion-row>
              <!--SI ES UNA INCAPACIDAD-->
              <ion-grid no-padding *ngIf="elemento.descripcion == 'MidisAppSalud_HaveDetails_Inc'">
                <ion-row style="text-align: left; white-space: pre-wrap;">
                  <p><b>Días: </b>{{elemento.dias}}</p>
                </ion-row>
                <ion-row style="text-align: left; white-space: pre-wrap;">
                  <p><b>Fecha de inicio: </b>{{elemento.fecha_de_inicio}}</p>
                </ion-row>
                <ion-row style="text-align: left; white-space: pre-wrap;">
                  <p><b>Fecha de finalización: </b>{{elemento.fecha_de_finalizacion}}</p>
                </ion-row>
              </ion-grid>
              <!--SI ES UNA ASISTENCIA A CONSULTA-->
              <ion-grid no-padding *ngIf="elemento.descripcion == 'MidisAppSalud_HaveDetails_Cons'">
                <ion-row style="text-align: left; white-space: pre-wrap;">
                  <p><b>Fecha: </b>{{elemento.fecha_cons}}</p>
                </ion-row>
                <ion-row style="text-align: left; white-space: pre-wrap;">
                  <p><b>Hora de inicio: </b>{{elemento.hora_de_inicio}}</p>
                </ion-row>
                <ion-row style="text-align: left; white-space: pre-wrap;">
                  <p><b>Hora de finalización: </b>{{elemento.hora_de_finalizacion}}</p>
                </ion-row>
              </ion-grid>

              <ion-row>
                <span style="color: gray">
                  <b>Fecha de prescripción: </b> {{elemento.fecha}} </span>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-grid>

</ion-content>