<ion-header>
  <ion-navbar color="azul-2">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Mis documentos</ion-title>
    <ion-buttons end>
      <button ion-button icon-only [navParams]="{ 'seccion': 'mis_documentos' }" [navPush]="pageHelp">
        <!--<button ion-button icon-only (click)="popoverHelp($event)">-->
        <!--<ion-icon name="more"></ion-icon>-->
        <ion-icon name="md-help-circle" color="white"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding text-center>
  <ion-refresher (ionRefresh)="reloadDocumentsList($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh"></ion-refresher-content>
  </ion-refresher>

  <ion-chip class="chip-midis" margin-top margin-bottom>
    <ion-icon name="icon-doc-personales" color="primary"></ion-icon>
    <ion-label color="primary" (click)="addDocument()">Cargar documentos</ion-label>
  </ion-chip>

  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-12 col-xs-12 col-sm-10 col-md-8 col-lg-8 col-xl-8>
        <ion-label text-left color="azul-2" margin-left>
          <h6>Documento identidad</h6>
        </ion-label>

        <ion-card *ngIf="documentoIdentArchivo == null">
          <ion-card-header text-wrap>
            <p>
              No tiene ningun documento de identidad cargado
            </p>
          </ion-card-header>
        </ion-card>

        <ion-card class="card-image" *ngIf="docIdent.archivo != null">
          <ion-card-header text-wrap no-padding>
            <img [src]="docIdent.archivo" [imageViewer]="docIdent.archivo" [alt]="docIdent.archivo" *ngIf="verifyTypeFile(docIdent.archivo)">
            <!--<p *ngIf="documentoIdentAdjunto == 1 && !verifyTypeFile(documentoIdentArchivo)" >
                {{ splitFileName(documentoIdentArchivo) }}
            </p>-->
            <pdf-viewer [src]="docIdent.archivo" [render-text]="false" [external-link-target]="none" [original-size]="true"
              [zoom]="0.1" [page]="1" [show-all]="true" style="display: block;" *ngIf="!verifyTypeFile(docIdent.archivo)"
              (click)="reviewFile(docIdent.archivo)"></pdf-viewer>
          </ion-card-header>
          <ion-card-content no-padding>
            <ion-grid no-padding>
              <ion-row no-padding>
                <ion-col text-left margin-left>
                  <button type="button" ion-button outline clear icon-only small color="dark">
                    <!-- <ion-icon name="icon-pdf" color="danger" *ngIf="documentoIdentAdjunto == 1 && !verifyTypeFile(documentoIdentArchivo)"></ion-icon>
                    <ion-icon name="icon-jpg" color="primary" *ngIf="documentoIdentFoto == 1"></ion-icon> -->
                    <ion-icon name="icon-pdf" color="danger" *ngIf="documentoIdentAdjunto == 1 && !verifyTypeFile(documentoIdentArchivo)"></ion-icon>
                    <ion-icon name="icon-jpg" color="primary" *ngIf="documentoIdentAdjunto == 1 && verifyTypeFile(documentoIdentArchivo)"></ion-icon>

                  </button>
                  <span style="vertical-align: text-top" *ngIf="documentoIdentArchivo">
                    {{ (splitFileName(documentoIdentArchivo).length>10)? (splitFileName(documentoIdentArchivo) |
                    slice:0:10)+'..':(splitFileName(documentoIdentArchivo)) }}
                  </span>
                </ion-col>
                <ion-col text-right margin-right>
                  <ion-row>
                    <ion-col no-padding>
                      <button *ngIf="!isIos" type="button" ion-button outline clear icon-only small color="dark"
                        (click)="shareFile(documentoIdentArchivo)">
                        <ion-icon name="icon-compartir"></ion-icon>
                      </button>
                    </ion-col>
                    <ion-col no-padding>
                      <button type="button" ion-button outline clear icon-only small color="dark" (click)="download(documentoIdentArchivo)">
                        <ion-icon name="icon-exportar"></ion-icon>
                      </button>
                    </ion-col>
                    <ion-col no-padding>
                      <button type="button" ion-button outline clear icon-only small color="rojo" (click)="deleteDocument(IdentDocumentObject, 0, 'docIdent')">
                        <ion-icon name="icon-eliminar_1"></ion-icon>
                      </button>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>

        <ion-label text-left color="azul-2" margin-left no-margin>
          <h6 margin-top>Seguridad social</h6>
        </ion-label>

        <ion-card *ngIf="segSocial.length == 0">
          <ion-card-header text-wrap>
            <p>
              No tiene seguridad social cargada
            </p>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col col-12 col-xs-12 col-sm-10 col-md-8 col-lg-8 col-xl-8 *ngFor="let item of segSocial; let i = index;">
        <ion-card class="card-image" *ngIf="item.archivo != null">
          <ion-card-header text-wrap no-padding>
            <img [src]="item.archivo" [imageViewer]="item.archivo" [alt]="item.archivo" *ngIf="item.foto == 1">
            <!--<p *ngIf="item.adjunto == 1 && !verifyTypeFile(item.archivo)" >
                {{ splitFileName(item.archivo) }}
            </p>-->
            <pdf-viewer [src]="item.archivo" [render-text]="false" [external-link-target]="none" [original-size]="true"
              [zoom]="0.1" [page]="1" [show-all]="true" style="display: block;" *ngIf="item.adjunto == 1 && !verifyTypeFile(item.archivo)"
              (click)="reviewFile(item.archivo)"></pdf-viewer>
            <img [src]="item.archivo" [imageViewer]="item.archivo" [alt]="item.archivo" *ngIf="item.adjunto == 1 && verifyTypeFile(item.archivo)">
          </ion-card-header>
          <ion-card-content no-padding>
            <ion-grid no-padding>
              <ion-row no-padding>
                <ion-col text-left margin-left>
                  <button type="button" ion-button outline clear icon-only small color="dark">
                    <ion-icon name="icon-pdf" color="danger" *ngIf="item.adjunto == 1 && !verifyTypeFile(item.archivo)"></ion-icon>
                    <ion-icon name="icon-jpg" color="primary" *ngIf="item.adjunto == 1 && verifyTypeFile(item.archivo)"></ion-icon>
                    <ion-icon name="icon-jpg" color="primary" *ngIf="item.foto == 1"></ion-icon>
                  </button>
                  <span style="vertical-align: text-top">
                    {{ (splitFileName(item.archivo).length>10)? (splitFileName(item.archivo) |
                    slice:0:10)+'..':(splitFileName(item.archivo)) }}
                  </span>
                </ion-col>
                <ion-col text-right margin-right>
                  <ion-row>
                    <ion-col no-padding>
                      <button *ngIf="!isIos" type="button" ion-button outline clear icon-only small color="dark"
                        (click)="shareFile(item.archivo)">
                        <ion-icon name="icon-compartir"></ion-icon>
                      </button>
                    </ion-col>
                    <ion-col no-padding>
                      <button type="button" ion-button outline clear icon-only small color="dark" (click)="download(item.archivo)">
                        <ion-icon name="icon-exportar"></ion-icon>
                      </button>
                    </ion-col>
                    <ion-col no-padding>
                      <button type="button" ion-button outline clear icon-only small color="rojo" (click)="deleteDocument(item, i, 'segSocial')">
                        <ion-icon name="icon-eliminar_1"></ion-icon>
                      </button>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col col-12 col-xs-12 col-sm-10 col-md-8 col-lg-8 col-xl-8>
        <ion-label text-left color="azul-2" margin-left>
          <h6>Seguridad laboral</h6>
        </ion-label>

        <ion-card *ngIf="segLaboral.length == 0">
          <ion-card-header text-wrap>
            <p>
              No tiene seguridad laboral cargada
            </p>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col col-12 col-xs-12 col-sm-10 col-md-8 col-lg-8 col-xl-8 class="card-image" *ngFor="let item of segLaboral; let i = index">
        <ion-card class="card-image" *ngIf="item.archivo != null">
          <ion-card-header no-padding>
            <img [src]="item.archivo" [imageViewer]="item.archivo" [alt]="item.archivo" *ngIf="item.foto == 1">
            <!--<p *ngIf="item.adjunto == 1 && !verifyTypeFile(item.archivo)" >
              {{ splitFileName(item.archivo) }}
            </p>-->
            <pdf-viewer [src]="item.archivo" [render-text]="false" [external-link-target]="none" [original-size]="true"
              [zoom]="0.1" [page]="1" [show-all]="true" style="display: block;" *ngIf="item.adjunto == 1 && !verifyTypeFile(item.archivo)"
              (click)="reviewFile(item.archivo)"></pdf-viewer>
            <img [src]="item.archivo" [imageViewer]="item.archivo" [alt]="item.archivo" *ngIf="item.adjunto == 1 && verifyTypeFile(item.archivo)">
          </ion-card-header>
          <ion-card-content no-padding>
            <ion-grid no-padding>
              <ion-row no-padding>
                <ion-col text-left margin-left>
                  <button type="button" ion-button outline clear icon-only small color="dark">
                    <ion-icon name="icon-pdf" color="danger" *ngIf="item.adjunto == 1 && !verifyTypeFile(item.archivo)"></ion-icon>
                    <ion-icon name="icon-jpg" color="primary" *ngIf="item.adjunto == 1 && verifyTypeFile(item.archivo)"></ion-icon>
                    <ion-icon name="icon-jpg" color="primary" *ngIf="item.foto == 1"></ion-icon>
                  </button>
                  <span style="vertical-align: text-top">
                    {{ (splitFileName(item.archivo).length>10)? (splitFileName(item.archivo) |
                    slice:0:10)+'..':(splitFileName(item.archivo)) }}
                  </span>
                </ion-col>
                <ion-col text-right margin-right>
                  <ion-row>
                    <ion-col no-padding>
                      <button *ngIf="!isIos" type="button" ion-button outline clear icon-only small color="dark"
                        (click)="shareFile(item.archivo)">
                        <ion-icon name="icon-compartir"></ion-icon>
                      </button>
                    </ion-col>
                    <ion-col no-padding>
                      <button type="button" ion-button outline clear icon-only small color="dark" (click)="download(item.archivo)">
                        <ion-icon name="icon-exportar"></ion-icon>
                      </button>
                    </ion-col>
                    <ion-col no-padding>
                      <button type="button" ion-button outline clear icon-only small color="rojo" (click)="deleteDocument(item, i, 'segLaboral')">
                        <ion-icon name="icon-eliminar_1"></ion-icon>
                      </button>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>