.ios, .md {

  page-view-documents {

    .not-active {
      pointer-events: none;
      cursor: default;
      text-decoration: none;
      color: black;
    }

    ion-card {
      border-radius: 1px 1px 8px 8px;
      
      ion-card-header {
        img {
          object-fit: contain;
        }
      }

      ion-grid {
        background-color: #ddd;
      }
    }

    .alert-wrapper {
      .alert-head {  
        .alert-title {  
          &::before {
            font-family: "icomoon" !important;
            content: "\e929";
            margin-right: 10px;
            font-size: 2rem;
          }
        }
      }
    }

  }

}
