<ion-header>

</ion-header>
<ion-content no-padding [ngClass]="{'content_page' : boolInicio , 'content_page_radius' : !boolInicio}">

  <!--LOGIN RENOVADO-->
  <div ion-fixed id="container">
    <!--BOTON DE LA PARTE SUPERIOR, PALPITANTE-->
    <div id="header" *ngIf="boolInicio">
      <ion-buttons end style="margin-top: 10px; margin-right: 10px;">
        <button ion-button icon-only class="pulsation" (click)="helpLogin()">
          <ion-icon name="md-help" style="font-size: 14px;"></ion-icon>
        </button>
      </ion-buttons>
    </div>

    <!---->

    <!--CONTENIDO DEL LOGIN-->
    <div id="body">

      <!--CANCELAR INICIO DE SESIÓN O CREAR CUENTA-->
      <ion-grid id="cancel" *ngIf="!boolInicio">
        <ion-row justify-content-center>
          <button ion-button icon-only (click)="showInicio()">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-row>
      </ion-grid>
      <!---->

      <!--CONTENIDO INICIO DE SESIÓN-->
      <ion-grid ion-fixed id="inputs" *ngIf="showLogin">

        <ion-col col-12 col-xs-12 col-sm-10 col-md-7 col-lg-7 col-xl-7>
          <form [formGroup]="authForm" (ngSubmit)="submitForm(authForm.value)">
            <ion-item class="input-outline-rounded">
              <ion-label>
                <ion-icon name="icon-usuario" color="azul-2"></ion-icon>
              </ion-label>
              <ion-input type="email" value="" [formControl]="authForm.controls['email']"
                [ngClass]="{'error-border':!authForm.controls['email'].valid}" placeholder="Usuario">
              </ion-input>
            </ion-item>
            <div class="error-box"
              *ngIf="authForm.controls['email'].hasError('required') && authForm.controls['email'].touched">
              {{'ERRORS.MAIL' | translate}}
            </div>
            <div class="error-box"
              *ngIf="authForm.controls['email'].hasError('maxlength') && authForm.controls['email'].touched">
              {{'ERRORS.MAX' | translate:{value: 30} }}
            </div>
            <ion-item class="input-outline-rounded">
              <ion-label>
                <ion-icon name="icon-contrasena" color="azul-2"></ion-icon>
              </ion-label>
              <ion-input type="password" value="" [formControl]="authForm.controls['password']"
                placeholder="Contraseña">
              </ion-input>
            </ion-item>
            <div class="error-box"
              *ngIf="authForm.controls['password'].hasError('required') && authForm.controls['password'].touched">
              {{'ERRORS.PASS' | translate}}
            </div>
            <div class="error-box"
              *ngIf="authForm.controls['password'].hasError('minlength') && authForm.controls['password'].touched">
              {{'ERRORS.MIN' | translate:{value: 7} }}
            </div>
            <div class="error-box"
              *ngIf="authForm.controls['password'].hasError('maxlength') && authForm.controls['password'].touched">
              {{'ERRORS.MAX' | translate:{value: 15} }}
            </div>
            <button type="button" class="recordar_contrasena" ion-button color="azul-2" block clear
              [navPush]="recoverPass">
              {{'LOGIN.OLVIDO' | translate}}
            </button>

            <ion-row justify-content-center>
              <button class="btn_shadow" type="submit" ion-button color="azul-2" outline round
                [style.display]="authForm.valid ? 'inline' : 'none'">{{'LOGIN.INGRESAR' | translate}}</button>
            </ion-row>

          </form>
        </ion-col>

      </ion-grid>
      <!---->

      <!--CONTENIDO CREAR CUENTA-->
      <ion-grid ion-fixed id="inputs" *ngIf="showCreate">
        <ion-row>
          <div class="box-info" *ngIf="!have_token"
            style="display:flex; flex-direction: row; justify-content: center; align-items: center; font-size: 14px; margin-top:-10px;margin-bottom:20px;padding:0px; ">
            <div style="padding-left: 3px">
              <ion-icon name="icon-info"></ion-icon>
            </div>
            <div style="padding-left:4px; width:100%; padding-bottom: 3px; padding-top: 3px;">
              Para <b>crear tu cuenta</b> debes obtener un código de registro por el medio de pago de tu preferencia, si
              ya tienes
              el código, ingrésalo y crea tu cuenta.
            </div>
          </div>
        </ion-row>

        <ion-row>
          <button ion-button block color="naranja" *ngIf="!have_token" (click)="pay()">Obtener un código de
            registro</button>
        </ion-row>

        <ion-row>
          <button ion-button block color="azul-2" *ngIf="!have_token" (click)="enableValidateToken()">Tengo un código de
            registro</button>
          <button ion-button block color="azul-2" *ngIf="have_token" (click)="enableValidateToken()">
            Volver
          </button>
          <ion-grid *ngIf="have_token">
            <ion-row>
              <ion-col col-11>
                <ion-item lines>
                  <ion-input type="text" placeholder="Escribe aquí tu código de registro" text-center
                    style="margin-right: 20px; font-size: 15px;" value="{{tokenText}}"
                    (input)='onInputTime($event.target.value)'>
                  </ion-input>
                  <ion-label no-margin color="verde" *ngIf="valid">
                    <ion-icon name="md-checkmark-circle-outline"></ion-icon>
                  </ion-label>
                  <ion-label no-margin color="rojo" *ngIf="invalid">
                    <ion-icon name="md-close"></ion-icon>
                  </ion-label>
                </ion-item>
              </ion-col>
              <ion-col col-1 (click)="helpCode()">
                <ion-icon name="md-help-circle" style="margin-top: 5px; font-size: 25px" color="gris"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row justify-content-center text-center *ngIf="valid">
              <button ion-button round small color="verde" (click)="register()">Validar</button>
            </ion-row>
          </ion-grid>

        </ion-row>

      </ion-grid>
      <!---->

      <!--OPCIONES A ELEGIR-->
      <ion-grid id="buttons" *ngIf="boolInicio">
        <ion-row justify-content-center>
          <button class="btn_shadow" ion-button color="azul-2" outline round (click)="clickLogin()">
            {{'LOGIN.OPCION_INICIAR' | translate}}</button>
        </ion-row>
        <ion-row justify-content-center>
          <button class="btn_shadow" ion-button color="azul-2" outline round
            style="box-shadow: 0px 15px 40pt rgba(80, 77, 77, 0.42);" (click)="clickCreate()">
            {{'LOGIN.OPCION_CREAR' | translate}}
          </button>
        </ion-row>
      </ion-grid>
      <!---->

    </div>
    <!---->

    <!--BOTONES DE LA PARTE INFERIOR DEL LOGIN-->
    <div id="footer" *ngIf="boolInicio">
      <ion-row class="h-100">
        <ion-col col-6 class="btn__footer">
          <button ion-button clear icon-left (click)="scan()">
            <ion-icon name="icon-qr"></ion-icon>{{'LOGIN.FOOTER.QR' | translate}}
          </button>
        </ion-col>
        <ion-col col-6 class="btn__footer">
          <button ion-button clear icon-left no-padding (click)="emergency()"
            [disabled]="patientProviderService.users.length > 0 ? false : true">
            <ion-icon name="icon-emergencia"></ion-icon>
            {{'LOGIN.FOOTER.ALERTA.1' |translate}}
            <br />{{'LOGIN.FOOTER.ALERTA.2' | translate}}
          </button>
        </ion-col>
      </ion-row>
    </div>
    <!---->

  </div>
  <!---->

</ion-content>