.md,
.ios {

    page-login {

        .pulsation {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: color($colors, azul-2);

            box-shadow: 0 0 0 0 color($colors, primary);
            animation: pulse 1.5s infinite;
        }

        .btn_shadow {
            font-style: bold;
            width: 70% !important;
            height: 7vh !important;
            margin-top: 10px;
        }

        .content_page {
            overflow-y: hidden;
            background: url('../assets/imgs/login_familia.jpg') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .content_page_radius {
            overflow-y: hidden;
            background: url('../assets/imgs/login_radius.png') no-repeat center center fixed;
            background-color: white;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .error-box {
            padding: 0 15px;
            text-align: center;
        }

        .error-border {
            border-bottom: none;
        }

        ion-img {
            width: 180px;
            height: 100px;
            background-color: transparent;
            margin: 20% auto 10%;
        }

        .recordar_contrasena {
            color: #333;
            font-weight: bold;
            font-size: 1.1rem;
            text-transform: none;
            margin-top: -15px;
        }

        .button-outline-md,
        .button-round-ios {
            border-width: 2px;
        }

        .button-large-md,
        .button-large-ios {
            height: 5rem;
            font-size: 1.1rem;
            border-radius: 0;
        }

        button[type="submit"] {
            border-radius: 64px;
            text-transform: none;
            padding: 18px 70px;
        }

        button.crear_cuenta {
            text-transform: none;
        }

        ion-content {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        #container {
            min-height: 100%;
            position: relative;
        }

        #header {
            padding: 20px;
        }

        #body {
            padding-bottom: 60px;
            /* Height of the footer */

            #buttons {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 35%;
            }

            #inputs {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 35%;
            }

            #cancel {
                position: absolute;
                bottom: 0;
                height: 44%;

                button {
                    border-radius: 50%;
                    border: 2px solid color($colors, azul-2);
                    background-color: white;
                    width: 30px;
                    height: 30px;
                    box-shadow: 0 0 0 0 color($colors, primary);
                    animation: pulse 3s infinite;

                    ion-icon {
                        color: color($colors, azul-2);
                        font-weight: bold;
                        margin-left: 1px;
                        margin-top: 1px;
                    }
                }
            }
        }

        #footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60px;
            /* Height of the footer */
        }

        .login_container {
            height: 100%;
        }

        .login_footer {
            height: 8vh;
        }

        .h-100 {
            height: 100vh;
        }

        .h-5 {
            height: 5vh;
        }

        .h-7 {
            height: 7vh;
        }

        .h-10 {
            height: 10vh;
        }

        .h-20 {
            height: 20vh;
            width: 100%;
            height: auto;
        }

        .h-30 {
            height: 30vh;
        }

        .h-40 {
            height: 40vh;
        }

        .h-45 {
            height: 45vh;
        }

        .h-50 {
            height: 50vh;
        }

        .h-60 {
            height: 60vh;
        }

        .outer {
            overflow: hidden;
            background-color: white;
            height: 40vh;
            width: 100%;
        }

        .inner i {
            width: 100%;
            height: 50px;
            border-radius: 50%;
            background-color: black;
        }

        .inner .top {
            margin-top: -20px;
        }

        .inner .curve {
            float: right;
        }

        @supports(object-fit: cover) {
            .box img {
                height: 100%;
                object-fit: cover;
                object-position: center center;
            }
        }

        .btn__footer {
            background-color: color($colors, azul-2);
            text-align: center;

            &:last-child {
                background-color: color($colors, primary);
            }

            button {
                color: #ffffff;
                font-size: 1rem;
                font-weight: 100%;
                text-transform: none;
            }

            ion-icon {
                font-size: 2.2rem;
            }
        }

        ion-icon[name="icon-emergencia"] {
            padding: 8px 6px;
            background-color: #F26D34;
            border-radius: 50%;
            font-size: 1.9rem;
            margin-right: 4px;
        }

        ion-toolbar {
            min-height: auto;
        }
    }

}