.ios, .md {

    progress-bar {
        
        .progress-outer {
            width: 80%;
            margin: 0 auto 8px;
            text-align: center;
            background-color: #e5e5e5;
            border-radius: 20px;
        }
     
        .progress-inner {
            min-width: 15%;
            white-space: nowrap;
            overflow: hidden;
            padding: 0px;
            border-radius: 20px;
            // background-color: map-get($colors, danger);

            span {
                font-size: 1.1rem;
                float: right;
                margin-right: 5px;
                color: #fff;
                font-weight: 500;
            }
        }

    }

}