<ion-header>
  <ion-navbar color="azul-2">
    <ion-title text-center>Cargar archivos de salud</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-list *ngIf="!timeOutControl">
    <ion-item text-center>
      <button ion-button type="button" round outline small (click)="loadNew()">Recargar</button>
    </ion-item>
  </ion-list>

  <ion-grid>
    <ion-row class="box-info" text-center margin-horizontal>
      <ion-col col-2 text-right>
        <ion-icon name="icon-info"></ion-icon>
      </ion-col>
      <ion-col col-10>
        <p>Seleccione el módulo más adecuado para el archivo de salud que desea cargar a su perfil, si el caso lo
          amerita podrá seleccionar un submodulo para categorizar aún más dicho archivo.</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="card-background-page">
    <ion-row>
      <ion-col col-12 no-padding text-center *ngFor="let item of tree">
        <ion-card [style.borderColor]="'#'+item.fondo_icono" (click)="selectedModule(item)">
          <ion-card-content no-padding>
            <ion-row>
              <p class="prescription" [style.backgroundColor]="'#'+item.fondo_icono">
                <ion-icon name="{{item.icon}}"></ion-icon>
              </p>
              <p text-wrap style="margin-top: 2px">{{item.text}}</p>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>