.ios, .md {

  page-select-module {

    .card-background-page {

      ion-card {
        position: relative;
        text-align: center;

        .prescription{
          width: 23px;
          height: 23px;
          border-radius: 50%;
          margin-right: 5px;
          ion-icon{
              position: relative;
              color: white;
              text-align: center;
              vertical-align: middle;
              padding-left: 1px;
              padding-top: 4px;
          }
        }
      }

    }

    @media  (min-width: 320px) {
      .card-background-page {
        .card-title {
          top: 9px !important;
          font-size: 1.2em !important;
        }

        .card-subtitle {
          font-size: .9em !important;
          top: 35px !important;
          padding: 0 10px !important;
        }
      }
    }

    @media  (min-width: 360px) {
      .card-background-page {
        .card-title {
          top: 9px !important;
          font-size: 1.6em !important;
        }

        .card-subtitle {
          font-size: 1em !important;
          top: 38px !important;
          padding: 0 10px !important;
        }
      }
    }

    @media  (min-width: 768px) {
      .card-background-page {
        .card-title {
          top: 26px !important;
          font-size: 2.7em !important;
        }

        .card-subtitle {
          font-size: 1.4em !important;
          top: 85px !important;
        }
      }
    }

  }

}