<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Reporte de Emergencia
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-12 col-xs-12 col-sm-10 col-md-8 col-lg-8 col-xl-8>

        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="16" [mapDraggable]="false">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
        <ion-card>
          <ion-card-content text-center>
            <p text-wrap>
              <strong>Su alerta y su ubicación actual han sido enviadas a sus contactos Midis app Salud.</strong>
            </p>
            <div *ngIf="!timeOutControl">
              <button ion-button (click)="load()">Volver a cargar</button>
            </div>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
