.ios, .md {

  page-password-recovery {

    ion-card {
      
      ion-icon[name="icon-recuperar_contrasena"] {
        font-size: 7rem;
      }

      ion-card-content {
        padding: 20px 15px;
    
        p {
          color: color($colors, dark);
        }
    
        button {
          text-transform: none;
        }
  
      }

    }

  }

}
