<ion-header>

  <ion-navbar color="azul-2">
    <ion-title text-center>{{'RECUPERAR_CLAVE.TITLE' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-12 col-xs-12 col-sm-10 col-md-8 col-lg-8 col-xl-8>

        <ion-card text-center padding-top>
          <ion-card-header>
            <ion-icon name="icon-recuperar_contrasena" color="danger"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <p>
              <strong>{{'RECUPERAR_CLAVE.SUBTITLE' | translate}}</strong>
              <br>
              <br>{{'RECUPERAR_CLAVE.TEXT' | translate}}
            </p>

            <ion-item>
              <ion-label color="azul-2">{{'RECUPERAR_CLAVE.PREGUNTA' | translate}}</ion-label>
              <ion-toggle [(ngModel)]="isValidateCod" checked="true"></ion-toggle>
            </ion-item>

            <form [formGroup]="recoveryForm" (ngSubmit)="submitForm(recoveryForm.value)"
              [style.display]="!isValidateCod ? 'block' : 'none'">
              <ion-item class="input-outline-rounded" margin-top margin-bottom>
                <ion-label>
                  <ion-icon name="icon-usuario" color="azul-2"></ion-icon>
                </ion-label>
                <ion-input type="email" value="" placeholder="Correo electrónido"
                  [formControl]="recoveryForm.controls['email']"
                  [ngClass]="{'error-border':!recoveryForm.controls['email'].valid}">
                </ion-input>
              </ion-item>
              <div class="error-box"
                *ngIf="recoveryForm.controls['email'].hasError('required') && recoveryForm.controls['email'].touched">
                {{'ERRORS.REQ' | translate}}</div>
              <div class="error-box"
                *ngIf="recoveryForm.controls['email'].hasError('maxlength') && recoveryForm.controls['email'].touched">
                {{'ERRORS.MAX' | translate:{value: 30} }}</div>
              <div class="error-box"
                *ngIf="recoveryForm.controls['email'].hasError('pattern') && recoveryForm.controls['email'].touched">
                {{'ERRORS.FORMAT' | translate}}</div>

              <button type="button" ion-button outline round small color="azul-2"
                [navPush]="login">{{'CANCELAR' | translate}}</button>
              <button type="submit" ion-button outline round small color="azul-2"
                [disabled]="!recoveryForm.valid">{{'ENVIAR' | translate}}</button>
            </form>

            <form [formGroup]="validateCodForm" (ngSubmit)="submitFormCod(validateCodForm.value)"
              [style.display]="isValidateCod ? 'block' : 'none'">
              <ion-item class="input-outline-rounded" margin-top margin-bottom>
                <ion-label>
                  <ion-icon name="icon-usuario" color="azul-2"></ion-icon>
                </ion-label>
                <ion-input type="email" value="" placeholder="Correo electrónido"
                  [formControl]="validateCodForm.controls['email']"
                  [ngClass]="{'error-border':!validateCodForm.controls['email'].valid}">
                </ion-input>
              </ion-item>
              <div class="error-box"
                *ngIf="validateCodForm.controls['email'].hasError('required') && validateCodForm.controls['email'].touched">
                {{'ERRORS.REQ' | translate}}</div>
              <div class="error-box"
                *ngIf="validateCodForm.controls['email'].hasError('maxlength') && validateCodForm.controls['email'].touched">
                {{'ERRORS.MAX' | translate:{value: 30} }}</div>
              <div class="error-box"
                *ngIf="validateCodForm.controls['email'].hasError('pattern') && validateCodForm.controls['email'].touched">
                {{'ERRORS.FORMAT' | translate}}</div>

              <ion-item class="input-outline-rounded" margin-top margin-bottom>
                <ion-label>
                  <ion-icon name="icon-usuario" color="azul-2"></ion-icon>
                </ion-label>
                <ion-input type="number" value="" placeholder="Código" [formControl]="validateCodForm.controls['cod']"
                  [ngClass]="{'error-border':!validateCodForm.controls['cod'].valid}">
                </ion-input>
              </ion-item>
              <div class="error-box"
                *ngIf="validateCodForm.controls['cod'].hasError('required') && validateCodForm.controls['cod'].touched">
                {{'ERRORS.REQ' | translate}}</div>

              <button type="button" ion-button outline round small color="azul-2"
                [navPush]="login">{{'CANCELAR' | translate}}</button>
              <button type="submit" ion-button outline round small color="azul-2"
                [disabled]="!validateCodForm.valid">{{'ENVIAR' | translate}}</button>
            </form>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>