<ion-header>
    <ion-navbar text-center color="azul-2">
        <ion-title>Crear cuenta</ion-title>
        <ion-buttons end>
            <button ion-button icon-only [navParams]="{ 'seccion': 'token' }" [navPush]="pageHelp">
                <ion-icon name="md-help-circle" color="white"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content text-center class="content">
    <ion-grid>

        <div class="box-info" style="display:flex; flex-direction: row; justify-content: center; align-items: center; font-size: 14px; margin-top:20px;margin-bottom:100px;padding:0px; ">
            <div style="padding-left: 3px">
                <ion-icon name="icon-info"></ion-icon>
            </div>
            <div style="padding-left:4px; width:100%; padding-bottom: 3px; padding-top: 3px;">
                Para <b>crear tu cuenta</b> debes obtener un código de registro por el medio de pago de tu preferencia, si ya tienes
                el código, ingrésalo y crea tu cuenta.
            </div>
        </div>

        <ion-row>
            <button ion-button block color="naranja" [disabled]="getToken" (click)="pay()">Obtener un código de
                registro</button>
        </ion-row>

        <ion-row>
            <button ion-button block color="azul-2" (click)="enableValidateToken()">Tengo un código de registro</button>
            <ion-grid *ngIf="getToken">
                <ion-row>
                    <ion-col col-11>
                        <ion-item lines>
                            <ion-input type="text" placeholder="Escribe aquí tu código de registro" text-center style="margin-right: 20px; font-size: 15px;"
                                value="{{tokenText}}" (input)='onInputTime($event.target.value)'>
                            </ion-input>
                            <ion-label no-margin color="verde" *ngIf="valid">
                                <ion-icon name="md-checkmark-circle-outline"></ion-icon>
                            </ion-label>
                            <ion-label no-margin color="rojo" *ngIf="invalid">
                                <ion-icon name="md-close"></ion-icon>
                            </ion-label>
                        </ion-item>
                    </ion-col>
                    <ion-col col-1 (click)="helpCode()">
                        <ion-icon name="md-help-circle" style="margin-top: 5px; font-size: 25px" color="gris"></ion-icon>
                    </ion-col>
                </ion-row>
                <ion-row justify-content-center text-center *ngIf="valid">
                    <button ion-button round small color="verde" (click)="register()">Validar</button>
                </ion-row>
            </ion-grid>

        </ion-row>

    </ion-grid>

</ion-content>