.ios, .md {

  page-validate_token {
    .button{
      margin-right: 10px;
      margin-left: 10px;
      margin-bottom: 5px;
      margin-top: 5px;
    }
    .content{
        overflow-y: hidden;
        background: url('../assets/imgs/fondo_token.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
  }

}
