<ion-header>

  <ion-navbar color="azul-2">
    <ion-title>{{'CROP.TITLE' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <angular-cropper #angularCropper [cropperOptions]="cropperOptions" [imageUrl]="image"></angular-cropper>

</ion-content>

<ion-footer>

  <ion-row justify-content-center>
    <ion-col col-2>
      <button ion-button clear icon-only (click)="rotate()">
        <ion-icon name="refresh" color="azul-2"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-2>
      <button ion-button clear icon-only (click)="move(0,-10)">
        <ion-icon name="arrow-round-up" color="azul-2"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-2>
      <button ion-button clear icon-only (click)="move(0,10)">
        <ion-icon name="arrow-round-down" color="azul-2"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-2>
      <button ion-button clear icon-only (click)="move(-10,0)">
        <ion-icon name="arrow-round-back" color="azul-2"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-2>
      <button ion-button clear icon-only (click)="move(10,0)">
        <ion-icon name="arrow-round-forward" color="azul-2"></ion-icon>
      </button>
    </ion-col>
  </ion-row>

  <ion-row justify-content-center>
    <button ion-button round color="azul-light" (click)="reset()"> {{'REINICIAR' | translate}} </button>
    <button ion-button round outline color="azul-2" (click)="save()">
      {{'ACEPTAR' | translate}}
    </button>
  </ion-row>

</ion-footer>