<ion-header>
  <ion-navbar color="azul-2">
    <button ion-button icon-only clear menuToggle color="light">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>
      <span>{{'RECUPERAR_CLAVE.CAMBIAR.TITLE' | translate}}</span>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-12 col-xs-12 col-sm-10 col-md-8 col-lg-8 col-xl-8>

        <ion-list>

          <ion-item>
            <ion-label floating color="azul-2">{{'RECUPERAR_CLAVE.CAMBIAR.ACTUAL' | translate}}*</ion-label>
            <ion-input type="password" value="" [formControl]="formChangePass.controls['password']"></ion-input>
          </ion-item>
          <div class="error-box"
            *ngIf="formChangePass.controls['password'].hasError('required') && formChangePass.controls['password'].touched">
            {{'ERRORS.REQ' | translate}}</div>
          <div class="error-box"
            *ngIf="formChangePass.controls['password'].hasError('minlength') && formChangePass.controls['password'].touched">
            {{'ERRORS.MIN' | translate:{value: 7} }}</div>
          <div class="error-box"
            *ngIf="formChangePass.controls['password'].hasError('maxlength') && formChangePass.controls['password'].touched">
            {{'ERRORS.MAX' | translate:{value: 15} }}</div>

          <ion-item>
            <ion-label floating color="azul-2">{{'RECUPERAR_CLAVE.CAMBIAR.NUEVA' | translate}}*</ion-label>
            <ion-input type="password" value="" [formControl]="formChangePass.controls['new_password']"></ion-input>
          </ion-item>
          <div class="error-box"
            *ngIf="formChangePass.controls['new_password'].hasError('required') && formChangePass.controls['new_password'].touched">
            {{'ERRORS.REQ' | translate}}</div>
          <div class="error-box"
            *ngIf="formChangePass.controls['new_password'].hasError('minlength') && formChangePass.controls['new_password'].touched">
            {{'ERRORS.MIN' | translate:{value: 7} }}</div>
          <div class="error-box"
            *ngIf="formChangePass.controls['new_password'].hasError('maxlength') && formChangePass.controls['new_password'].touched">
            {{'ERRORS.MAX' | translate:{value: 15} }}</div>

          <ion-item>
            <ion-label floating color="azul-2">{{'RECUPERAR_CLAVE.CAMBIAR.CONFIRMAR' | translate}}*</ion-label>
            <ion-input type="password" value="" [formControl]="formChangePass.controls['confirmPassword']"></ion-input>
          </ion-item>
          <div class="error-box"
            *ngIf="formChangePass.controls['confirmPassword'].hasError('required') && formChangePass.controls['confirmPassword'].touched">
            {{'ERRORS.REQ' | translate}}</div>
          <div class="error-box"
            *ngIf="formChangePass.controls['confirmPassword'].hasError('minlength') && formChangePass.controls['confirmPassword'].touched">
            {{'ERRORS.MIN' | translate:{value: 7} }}</div>
          <div class="error-box"
            *ngIf="formChangePass.controls['password'].hasError('maxlength') && formChangePass.controls['password'].touched">
            {{'ERRORS.MAX' | translate:{value: 15} }}</div>

          <ion-item text-center
            *ngIf="formChangePass.controls.confirmPassword.touched && formChangePass.hasError('mismatchedPasswords') && formChangePass.controls.password.valid">
            <div class="error-box">{{'ERRORS.CLAVE_DIST' | translate}}</div>
          </ion-item>

          <ion-buttons text-center margin-top>
            <button type="button" ion-button outline round small [disabled]="!formChangePass.valid"
              (click)="saveData()">{{'GUARDAR' | translate}}</button>
          </ion-buttons>


        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>