<ion-content no-padding>
  <div ion-fixed class="header_title_tabs">
    <h5 text-center>{{'ACTUALIZAR_PERFIL.CONTACTOS_FAM.TITLE' | translate}}</h5>
  </div>

  <div style="margin-top: 50px;">

    <ion-fab top right no-padding no-margin class="fab_margin-right" *ngIf="updateProfileService.dataFamily.length < 3">
      <button ion-fab (click)="presentModalFamily()" mini color="azul-2">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>


    <div class="contenedor_0_registros" *ngIf="updateProfileService.dataFamily.length==0">
      <div class="contenedor_icono_left">
        <ion-icon name="icon-info"></ion-icon>
      </div>
      <div>
        <p text-center text-wrap>{{'ACTUALIZAR_PERFIL.CONTACTOS_FAM.MSG' | translate}}</p>
      </div>
    </div>

    <ion-card no-padding no-margin *ngFor="let item of updateProfileService.dataFamily; let i = index"
      style="margin-bottom: 20px; width:100%">
      <ion-card-header no-padding>
        <ion-list>
          <ion-item text-wrap class="card_title_header">
            <span text-center>{{item.nombrefamiliar}} {{item.apellido1familiar}}
              {{item.apellido2familiar?item.apellido2familiar:''}} </span>
          </ion-item>
        </ion-list>
      </ion-card-header>
      <ion-list class="card_content_card">


        <ion-item text-wrap>
          <ion-icon name="md-locate" color="azul-2" item-start></ion-icon>
          {{item.direccionfamiliar}}
          ({{item.paisFamiliarcreNombre.trim()}}-{{item.estadoFamiliarcreNombre}}-{{item.ciudadFamiliarcreNombre}})
        </ion-item>

        <ion-item text-wrap>
          <ion-icon name="ios-people" color="azul-2" item-start></ion-icon>
          {{item.parentescoNombre}}
        </ion-item>

        <ion-item text-wrap *ngIf="item.emailfamiliar">
          <ion-icon name="ios-mail" color="azul-2" item-start></ion-icon>
          {{item.emailfamiliar}}
        </ion-item>
        <ion-item text-wrap>
          <ion-icon name="ios-phone-portrait" color="azul-2" item-start></ion-icon>
          {{item.celularIndicativo+' '+item.celular}}
        </ion-item>
        <ion-item text-wrap *ngIf="item.telefonofijofamiliar">
          <ion-icon name="ios-call" color="azul-2" item-start></ion-icon>
          {{item.celularIndicativo}} {{item.telefonofijofamiliarIndicativo?item.telefonofijofamiliarIndicativo:''}}
          {{item.telefonofijofamiliar}}
        </ion-item>


        <ion-item text-wrap>
          <button ion-button icon-only outline small item-end (click)="editFamily(item, i)">
            <ion-icon name="icon-editar"></ion-icon>
          </button>
          <button ion-button icon-only outline small item-end color="danger" (click)="deleteFamily(item.id_pk)">
            <ion-icon color="danger" name="icon-eliminar_1"></ion-icon>
          </button>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
</ion-content>