<ion-header>
  <ion-navbar color="azul-2">
    <button ion-button icon-only clear menuToggle color="light">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>¿Tienes una urgencia?</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <ion-card text-center [style.display]="timeOutControl ? 'block' : 'none'"> -->
  <ion-card text-center >
    <ion-card-content class="emergency-notification__header">
      <ion-grid>
        <ion-row>
          <ion-col col-4 *ngIf="avatar">
            <img [src]="avatar" [alt]="avatar" [imageViewer]="avatar">
          </ion-col>
          <ion-col col-8>
            <p>{{ name }}
              <br> {{ age }} años</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    <ion-card-content class="emergency-notification__content">
      <ion-grid>
        <ion-row>
          <ion-col>
            <p>Esta persona indica que se encuentra en una
              <strong>situación de emergencia.</strong>
            </p>
            <ion-icon name="icon-emergencia"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <!-- <ion-row [style.display]="timeOutControl ? 'block' : 'none'"> -->
      <ion-col text-center>
        <button type="button" ion-button outline round small icon-left color="azul-2" (click)="callToAfriend(user.tlf_contacto)">
          <ion-icon name="icon-reg_contacto_tel"></ion-icon> {{ user.nombres }}
        </button>
        <button type="button" ion-button outline round small icon-left color="azul-2" (click)="callToAfriend('123')">
          <ion-icon name="icon-reg_contacto_tel"></ion-icon>Servicio de
          <br> emergencia
        </button>
      </ion-col>
    </ion-row>
    <ion-row [style.display]="!timeOutControl ? 'block' : 'none'">
      <ion-col>
        <button ion-button (click)="loadNew()">Cargar de nuevo</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="16" [mapDraggable]="false">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
