.ios, .md {
  page-emergency-notification {

      ion-card {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }

      .emergency-notification__header {
        background-color: color($colors, naranja);

        img {
          padding: 2px;
          border: 1px solid #fff;
          border-radius: 50%;
          width: 50px;
          height: 50px;
        }

        p {
          color: #fff;
          font-weight: 400;
          font-size: 1.6rem;
          margin-top: 8px;
        }

      }

      .emergency-notification__content {

        p {
          color: color($colors, dark);
        }

        ion-icon {
          background-color: color($colors, amarillo);
          font-size: 4rem;
          color: #fff;
          border-radius: 50%;
          padding: 12px;
          position: absolute;
          top: -60px;
          right: -15px;
        }
      }

      agm-map {
        height: 300px;
      }

    }
  }
