<ion-content no-padding>
  <div ion-fixed class="header_title_tabs">
    <h5 text-center>{{'ACTUALIZAR_PERFIL.ASISTENCIA.TITLE' | translate}}</h5>
  </div>

  <div style="margin-top: 50px;">
    <ion-list [style.display]="!timeOutControl ? 'block' : 'none'" text-center>
      <button ion-button type="button" round outline small (click)="loadNew()">{{'RECARGAR' | translate}}</button>
    </ion-list>
    <ion-list [style.display]="timeOutControl ? 'block' : 'none'">

      <ion-item>
        <ion-label stacked color="azul-2">{{'ACTUALIZAR_PERFIL.ASISTENCIA.SOCIAL' | translate}}</ion-label>
        <ion-select id="eps" [formControl]="updateProfileService.updateHalthcareData.controls['eps']"
          placeholder="Seleccionar" multiple="true" cancelText="Cancelar" okText="Aceptar">
          <ion-option *ngFor="let item of eps" [value]="item.id_pk">{{ item.nombre }}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label stacked color="azul-2">{{'ACTUALIZAR_PERFIL.ASISTENCIA.LABORAL' | translate}}</ion-label>
        <ion-select [formControl]="updateProfileService.updateHalthcareData.controls['arl']" placeholder="Seleccionar"
          multiple="true" cancelText="Cancelar" okText="Aceptar">
          <ion-option *ngFor="let item of arl" [value]="item.id_pk">{{ item.nombre }}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label stacked color="azul-2">{{'ACTUALIZAR_PERFIL.ASISTENCIA.PREPAGADA' | translate}}</ion-label>
        <ion-input type="text" [formControl]="updateProfileService.updateHalthcareData.controls['prepaid_security']"
          placeholder="Ingresar..."></ion-input>
      </ion-item>
      <div class="error-box"
        *ngIf="updateProfileService.updateHalthcareData.controls['prepaid_security'].hasError('maxlength')     && updateProfileService.updateHalthcareData.controls['prepaid_security'].touched"
        padding-left>{{'ERRORS.MAX' | translate:{value:40} }}
      </div>
      <ion-item>
        <ion-label stacked color="azul-2">{{'ACTUALIZAR_PERFIL.ASISTENCIA.INSTITUCION' | translate}}</ion-label>
        <ion-input type="text" [formControl]="updateProfileService.updateHalthcareData.controls['institution']"
          placeholder="Ingresar..."></ion-input>
      </ion-item>
      <div class="error-box"
        *ngIf="updateProfileService.updateHalthcareData.controls['institution'].hasError('maxlength')     && updateProfileService.updateHalthcareData.controls['institution'].touched"
        padding-left>{{'ERRORS.MAX' | translate:{value:40} }}
      </div>
      <ion-item>
        <ion-label stacked color="azul-2">{{'ACTUALIZAR_PERFIL.ASISTENCIA.AMBULANCIA' | translate}}</ion-label>
        <ion-input type="text" [formControl]="updateProfileService.updateHalthcareData.controls['service_ambulance']"
          placeholder="Ingresar..."></ion-input>
      </ion-item>
      <div class="error-box"
        *ngIf="updateProfileService.updateHalthcareData.controls['service_ambulance'].hasError('maxlength')     && updateProfileService.updateHalthcareData.controls['service_ambulance'].touched"
        padding-left>{{'ERRORS.MAX' | translate:{value:40} }}
      </div>
      <ion-item>
        <ion-label stacked color="azul-2">{{'ACTUALIZAR_PERFIL.ASISTENCIA.TRASLADO' | translate}}</ion-label>
        <ion-input type="text"
          [formControl]="updateProfileService.updateHalthcareData.controls['service_special_transfer']"
          placeholder="Ingresar..."></ion-input>
      </ion-item>
      <div class="error-box"
        *ngIf="updateProfileService.updateHalthcareData.controls['service_special_transfer'].hasError('maxlength')     && updateProfileService.updateHalthcareData.controls['service_special_transfer'].touched"
        padding-left>{{'ERRORS.MAX' | translate:{value:40} }}
      </div>
      <!-- <div float-right margin-top margin-bottom padding-bottom padding-right>
      <button ion-button type="button" round outline small (click)="backStep()">Anterior</button>
      <button ion-button type="button" round outline small [disabled]="!updateProfileService.updateHalthcareData.valid" (click)="validateStep()">Siguiente</button>
    </div> -->

      <!-- <input type="button" ion-button (click)="backStep()" value="Anterior">
    <input type="button" ion-button [disabled]="!updateProfileService.updateHalthcareData.valid" (click)="validateStep()" value="Siguiente"> -->
      <div text-center margin-top margin-bottom padding-bottom padding-right>
        <!-- <button ion-button type="button" round outline small (click)="backStep()">Anterior</button> -->
        <button ion-button type="button" round outline small
          [disabled]="!updateProfileService.updateHalthcareData.valid"
          (click)="saveData()">{{'GUARDAR' | translate}}</button>
      </div>
    </ion-list>
  </div>
</ion-content>