<ion-header>
    <ion-navbar color="azul-2">
      <button ion-button icon-only clear menuToggle color="light">
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title text-center>Emergencias recibidas</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <ion-card text-center [style.display]="timeOutControl ? 'block' : 'none'">
      <ion-card-content class="emergency-notification__header">
        <ion-grid>
          <ion-row>
            <ion-col col-4 *ngIf="avatar">
              <img [src]="avatar" [alt]="avatar" [imageViewer]="avatar">
            </ion-col>
            <ion-col col-8 text-left>
              <p style="margin-bottom:0px;">{{ names }}</p>
                <p style="margin:0px; padding:0px;"><span *ngIf="age != null">{{ age }} años</span></p>
                <p style="margin:0px; padding:0px;"> <span *ngIf="fecha_nac">{{fecha_nac}}</span></p>
                <p style="margin:0px; padding:0px; font-size: 1.1rem;"><span *ngIf="created_at">{{ created_at }}</span></p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
      <ion-card-content class="emergency-notification__content">
        <ion-grid>
          <ion-row>
            <ion-col>
              <p>Esta persona indica que se encuentra en una
                <strong>situación de emergencia.</strong>
              </p>
              <ion-icon name="icon-emergencia"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  
    <ion-grid>
      <ion-row [style.display]="timeOutControl ? 'block' : 'none'">
        <ion-col col-2 text-center>          
        </ion-col>
        <ion-col col-4 text-center>
          <button *ngIf="tel != null" type="button" ion-button outline round small icon-left color="azul-2" (click)="callToAfriend(tel)">
            <ion-icon name="icon-reg_contacto_tel"></ion-icon> {{ name }}
          </button>
        </ion-col>
        <ion-col col-6 text-center>
          <button text-right type="button" ion-button outline round small icon-left color="azul-2" (click)="callToAfriend('123')">
            <ion-icon name="icon-reg_contacto_tel"></ion-icon>Servicio de
            <br> emergencia
          </button>
        </ion-col>
      </ion-row>
      <ion-row [style.display]="!timeOutControl ? 'block' : 'none'">
        <ion-col>
          <button ion-button (click)="loadNew()">Cargar de nuevo</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <agm-map [latitude]="latitud" [longitude]="longitud" [zoom]="16" [mapDraggable]="false">
            <agm-marker [latitude]="latitud" [longitude]="longitud"></agm-marker>
          </agm-map>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  