<ion-header>
  <ion-navbar color="azul-2">
    <ion-title text-center>Editar contacto familiar</ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="cancelModal()">
            <ion-icon item-right name="ios-close-outline"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list [style.display]="!timeOutControl ? 'block' : 'none'">
    <ion-item text-center>
      <button ion-button type="button" round outline small (click)="newLoad()">Recargar de nuevo</button>
    </ion-item>
  </ion-list>
  <ion-list [style.display]="timeOutControl ? 'block' : 'none'">
    <!--<ion-buttons end>
      <button ion-button icon-only outline small color="danger" (click)="deleteFamily()">
        <ion-icon name="icon-eliminar_1"></ion-icon>
      </button>
    </ion-buttons>-->

    <ion-item>
      <ion-label floating color="azul-2">Nombres* </ion-label>
      <ion-input type="text" [disabled]="pac_fk_midis!=null &&  pac_fk_midis!=undefined && pac_fk_midis!=''" [formControl]="updateProfileService.addFamilyData.controls['name']" ></ion-input>
    </ion-item>

    <div class="error-box" *ngIf="updateProfileService.addFamilyData.controls['name'].hasError('required') && updateProfileService.addFamilyData.controls['name'].touched">Este campo es requerido!</div>
    <div class="error-box" *ngIf="updateProfileService.addFamilyData.controls['name'].hasError('maxlength') && updateProfileService.addFamilyData.controls['name'].touched">Máximo caracteres 20!</div>

    <ion-item>
      <ion-label floating color="azul-2">Primer apellido*</ion-label>
      <ion-input type="text" [disabled]="pac_fk_midis!=null &&  pac_fk_midis!=undefined && pac_fk_midis!=''" [formControl]="updateProfileService.addFamilyData.controls['surname']"></ion-input>
    </ion-item>

    <div class="error-box" *ngIf="updateProfileService.addFamilyData.controls['surname'].hasError('required') && updateProfileService.addFamilyData.controls['surname'].touched">Este campo es requerido!</div>
    <div class="error-box" *ngIf="updateProfileService.addFamilyData.controls['surname'].hasError('maxlength') && updateProfileService.addFamilyData.controls['surname'].touched">Máximo caracteres 20!</div>

    <ion-item>
        <ion-label floating color="azul-2">Segundo apellido*</ion-label>
      <ion-input type="text" [disabled]="pac_fk_midis!=null &&  pac_fk_midis!=undefined && pac_fk_midis!=''" [formControl]="updateProfileService.addFamilyData.controls['second_surname']"></ion-input>
    </ion-item>

    <div class="error-box" *ngIf="updateProfileService.addFamilyData.controls['second_surname'].hasError('maxlength') && updateProfileService.addFamilyData.controls['second_surname'].touched">Máximo caracteres 20!</div>

    <ion-item>
      <ion-label floating color="azul-2">Email</ion-label>
      <ion-input type="email" [disabled]="pac_fk_midis!=null &&  pac_fk_midis!=undefined && pac_fk_midis!=''" [formControl]="updateProfileService.addFamilyData.controls['email']" [ngClass]="{'error-border':!updateProfileService.addFamilyData.controls['email'].valid}"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label floating color="azul-2">Parentesco*</ion-label>
      <ion-select #parentesco [(ngModel)]="person.relationShip" [formControl]="updateProfileService.addFamilyData.controls['parentesco']"
         cancelText="Cancelar" okText="Aceptar">
        <ion-option [value]="relation.id_pk" *ngFor="let relation of relationShips">{{ relation.nombre }}</ion-option>
      </ion-select>
    </ion-item>
    <div class="error-box" *ngIf="updateProfileService.addFamilyData.controls['parentesco'].hasError('required') && updateProfileService.addFamilyData.controls['parentesco'].touched">Este campo es requerido!</div>



    <!-- <div class="error-box" *ngIf="updateProfileService.addFamilyData.controls['email'].hasError('required') && updateProfileService.addFamilyData.controls['email'].touched">La email es requerido!</div> -->
    <div class="error-box" *ngIf="updateProfileService.addFamilyData.controls['email'].hasError('maxlength') && updateProfileService.addFamilyData.controls['email'].touched">Máximo caracteres es 30!</div>
    <div class="error-box" *ngIf="updateProfileService.addFamilyData.controls['email'].hasError('pattern') && updateProfileService.addFamilyData.controls['email'].touched">Formato no correcto!</div>

    <ion-item>
      <ion-label floating color="azul-2">Dirección</ion-label>
      <ion-input type="text" [disabled]="pac_fk_midis!=null &&  pac_fk_midis!=undefined && pac_fk_midis!=''" [formControl]="updateProfileService.addFamilyData.controls['address']" [ngClass]="{'error-border':!updateProfileService.addFamilyData.controls['address'].valid}"></ion-input>
    </ion-item>

    <!-- <div class="error-box" *ngIf="updateProfileService.addFamilyData.controls['address'].hasError('required') && updateProfileService.addFamilyData.controls['address'].touched">La dirección es requerido!</div> -->
    <div class="error-box" *ngIf="updateProfileService.addFamilyData.controls['address'].hasError('maxlength') && updateProfileService.addFamilyData.controls['address'].touched">Máximo caracteres 50!</div>


    <ion-item>
      <ion-label floating color="azul-2">País*</ion-label>
      <ion-select #country [disabled]="pac_fk_midis!=null &&  pac_fk_midis!=undefined && pac_fk_midis!=''" [(ngModel)]="person.country" [formControl]="updateProfileService.addFamilyData.controls['country']"
       (ionChange)="updateCountry($event)" cancelText="Cancelar" okText="Aceptar">
        <ion-option [value]="country.id_pk" *ngFor="let country of countrys">{{ country.nombre }}</ion-option>
      </ion-select>
    </ion-item>
    <div class="error-box" *ngIf="updateProfileService.addFamilyData.controls['country'].hasError('required') && updateProfileService.addFamilyData.controls['country'].touched">Este campo es requerido!</div>

    <ion-item>
      <ion-label floating color="azul-2">Estado/Provincia*</ion-label>
      <ion-select #state [disabled]="pac_fk_midis!=null &&  pac_fk_midis!=undefined && pac_fk_midis!=''" [formControl]="updateProfileService.addFamilyData.controls['department']" [(ngModel)]="person.department"
        (ionChange)="updateState($event)" [disabled]="!updateProfileService.addFamilyData.controls['country'].valid" cancelText="Cancelar" okText="Aceptar">
        <ion-option [value]="state.id_pk" *ngFor="let state of states">{{ state.nombre }}</ion-option>
      </ion-select>
    </ion-item>
    <div class="error-box" *ngIf="updateProfileService.addFamilyData.controls['department'].hasError('required') && updateProfileService.addFamilyData.controls['department'].touched">Este campo es requerido!</div>

    <!--<ion-item>
      <ion-label floating color="azul-2">Ciudad*</ion-label>
      <ion-select #city [formControl]="updateProfileService.addFamilyData.controls['municipality']" [(ngModel)]="person.municipality" cancelText="Cancelar" okText="Aceptar" (ionChange)="updateCity($event)">
        <ion-option [value]="city.id_pk" *ngFor="let city of cities">{{ city.nombre }}</ion-option>
      </ion-select>
    </ion-item> -->

    <div *ngIf="updateProfileService.citiesContact" [ngClass]="!updateProfileService.addFamilyData.controls['department'].valid || pac_fk_midis!=null &&  pac_fk_midis!=undefined && pac_fk_midis!=''?'disabled':'none' ">
      <ion-label floating color="azul-2" class="label-city">Ciudad*</ion-label>
      <ion-searchbar [(ngModel)]="searchTermCity" [formControl]="searchControl" (ionInput)="onSearchInput($event)" placeholder="Buscar ciudad"></ion-searchbar>
      <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
      </div>
      <div class="error-search-label" *ngIf="citySelected=='0' && searchTermCity ">Selecciona una opción:</div>

      <ion-list *ngIf="hidenList">
        <ion-item *ngFor="let city of cities;" (click)="filterCitySelected(city)">
          {{ city.nombre }}
        </ion-item>
      </ion-list>
      <div class="error-box" *ngIf="updateProfileService.addFamilyData.controls['municipality'].hasError('required') && updateProfileService.addFamilyData.controls['municipality'].touched">Este campo es requerido!</div>
    </div>
    <div class="error-search-label" *ngIf="!searchTermCity && searchControl.touched">Este campo es requerido!</div>

    <!-- <ion-item>
      <ion-label stacked color="azul-2">Celular</ion-label>
      <ion-input type="number" [formControl]="updateProfileService.addFamilyData.controls['cellphone']" [ngClass]="{'error-border':!updateProfileService.addFamilyData.controls['cellphone'].valid}"
        placeholder="{{ updateProfileService.indicativoCellphone }}__ __ __"></ion-input>
    </ion-item> -->

    <ion-grid class="ion-grid-group">
      <ion-row>
        <ion-col col-12>
          <ion-label stacked color="azul-2">Celular*</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-item col-2 class="col-left">
          <div class="input-group-addon">
            {{ indicativoCellphone }}
          </div>
        </ion-item>
        <ion-item col-10 class="col-center">
          <ion-input type="number" [disabled]="pac_fk_midis!=null &&  pac_fk_midis!=undefined && pac_fk_midis!=''" [formControl]="updateProfileService.addFamilyData.controls['cellphone']"></ion-input>
        </ion-item>
      </ion-row>
    </ion-grid>

    <div class="error-box" *ngIf="updateProfileService.addFamilyData.controls['cellphone'].hasError('required') && updateProfileService.addFamilyData.controls['cellphone'].touched">Este campo es requerido!</div>
    <div class="error-box" *ngIf="updateProfileService.addFamilyData.controls['cellphone'].hasError('maxlength') || updateProfileService.addFamilyData.controls['cellphone'].hasError('minlength') && updateProfileService.addFamilyData.controls['cellphone'].touched">El número de carácteres permitidos es de {{person_validation_phone.mask_celular}}</div>



    <!-- <ion-item>
      <ion-label stacked color="azul-2">Teléfono fijo</ion-label>
      <ion-input type="number" [formControl]="updateProfileService.addFamilyData.controls['phone']" [ngClass]="{'error-border':!updateProfileService.addFamilyData.controls['phone'].valid}"
        placeholder="{{ updateProfileService.indicativoPhone }}__ _ _"></ion-input>
    </ion-item> -->

    <ion-grid class="ion-grid-group">
      <ion-row>
        <ion-col col-12>
          <ion-label stacked color="azul-2">Teléfono fijo</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-item col-3 class="col-left">
          <div class="input-group-addon">
            {{ indicativoCellphone}}{{indicativoPhone?indicativoPhone:'' }}
          </div>
        </ion-item>
        <ion-item col-9 class="col-center">
        <ion-input type="number" [disabled]="pac_fk_midis!=null &&  pac_fk_midis!=undefined && pac_fk_midis!=''" [formControl]="updateProfileService.addFamilyData.controls['phone']" [ngClass]="{'error-border':!updateProfileService.addFamilyData.controls['phone'].valid}"></ion-input>
        </ion-item>
      </ion-row>
      <p text-center padding-right>Recuerda anteponer al teléfono fijo el indicativo de la ciudad correspondiente.</p>
    </ion-grid>

    <div class="error-box" *ngIf="updateProfileService.addFamilyData.controls['phone'].hasError('required') && updateProfileService.addFamilyData.controls['phone'].touched">Este campo es requerido</div>
    <div class="error-box" *ngIf="updateProfileService.addFamilyData.controls['phone'].hasError('maxlength') || updateProfileService.addFamilyData.controls['phone'].hasError('minlength') ">El número de carácteres permitidos es de  {{person_validation_phone.mask_fijo}}</div>


    <div text-center margin-top margin-bottom padding-bottom padding-rightt>
      <!--<button ion-button type="button" round outline small (click)="cancelAddMedical()">Cancelar</button>-->
      <button ion-button type="button" round outline small [disabled]="!updateProfileService.addFamilyData.valid" (click)="addMedical()">Actualizar</button>
    </div>

  </ion-list>

</ion-content>
