<ion-header>
    <ion-navbar hideBackButton="true" color="azul-2">
        <ion-title text-center>Crear cuenta</ion-title>
        <ion-buttons end>
            <button ion-button icon-only [navPush]="homePage">
                <ion-icon name="ios-home-outline"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content>

    <ion-tabs selectedIndex="0" tabsPlacement="top" #myTabs>

        <ion-tab tabIcon="icon-pacientes" tabTitle="" color="dark" [root]="tab1">

        </ion-tab>

        <ion-tab tabIcon="icon-usuarios" tabTitle="" [root]="tab2" color="dark" [enabled]="createAccountService.register.valid && !createAccountService._verifyAge || createAccountService.register.valid && createAccountService.register.controls['check_discapacidad'].value ? true: false"></ion-tab>

        <ion-tab tabIcon="icon-reg_contacto_tel" tabTitle="" [root]="tab3" color="dark" [enabled]="(createAccountService.register.valid && ( createAccountService._verifyAge && !createAccountService.register.controls['check_discapacidad'].value)) ||  createAccountService.register2.valid ">
        </ion-tab>
        <!-- [enabled]="createAccountService.register2.valid"-->
        <ion-tab tabIcon="icon-contrasena" tabTitle="" [root]="tab4" color="dark" [enabled]="((!createAccountService._verifyAge || createAccountService.register.controls['check_discapacidad'].value) && createAccountService.register2.valid && createAccountService.register3.valid) ||  (createAccountService._verifyAge && !createAccountService.register.controls['check_discapacidad'].value && createAccountService.register3.valid )">
        </ion-tab>

    </ion-tabs>


</ion-content>