.ios, .md {

  page-index {
    .tab-button[aria-selected="true"] .tab-button-icon {
      color: color($colors, danger);
    }

    .tabs .tab-button-icon {
      margin-bottom: 2px;
      color: color($colors, dark);
      min-width: 2.5rem;
      font-size: 2.3rem;
    }

    .tabs .tab-button {
      color: color($colors, dark);
    }
  }

}
