.md, .ios {

  page-reports {

    .segment .segment-button {
      text-transform: none;
    }

    ion-label {
      color: color($colors, primary);

      ion-icon {
        color: color($colors, dark);
      }

      &[ion-text] {
        color: color($colors, azul-2);
      }
    }

    .reports__table ion-row {
      color: color($colors, dark);

      &:nth-child(even) {
        background: rgba(209, 222, 228, 0.404);
        border-top: 1px solid darken(rgb(204,204,204), 15%);
        border-bottom: 1px solid darken(rgb(204,204,204), 15%);
        color: color($colors, dark);
      }
    }

    .reports__table__content ion-col {
      padding: 8px 5px;
    }

    .select-filter{
      max-width: initial !important;
    }

  }

}
