<ion-header>
  <ion-navbar color="azul-2">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Reportes</ion-title>
    <ion-buttons end>
      <button ion-button icon-only [navParams]="{ 'seccion': 'reportes' }" [navPush]="pageHelp">
        <!--<button ion-button icon-only (click)="popoverHelp($event)">-->
        <!--<ion-icon name="more"></ion-icon>-->
        <ion-icon name="md-help-circle" color="white"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-buttons text-center [style.display]="!timeOutControl ? 'block' : 'none'">
    <button ion-button type="button" round outline small (click)="loadNew()">Recargar</button>
  </ion-buttons>
  <div [style.display]="timeOutControl ? 'block' : 'none'">
    <div no-padding>
      <ion-segment [(ngModel)]="reportes">
        <ion-segment-button value="datosSalud" text-wrap>
          Datos de salud
        </ion-segment-button>
        <ion-segment-button value="eventosSalud" text-wrap>
          Eventos de salud
        </ion-segment-button>
        <ion-segment-button value="prescripciones" text-wrap>
          Prescripciones
        </ion-segment-button>
      </ion-segment>
    </div>

    <div [ngSwitch]="reportes">

      <ion-grid *ngSwitchCase="'datosSalud'" ngSelected="selected">
        <form (ngSubmit)="logForm()">
          <ion-row>
            <ion-col col-12>
              <ion-item>
                <ion-label color="azul-2" stacked>
                  Dato de salud
                </ion-label>
                <ion-select [(ngModel)]="todo.dato" name="dato" okText="Aceptar" cancelText="Cancelar"
                  placeholder="Seleccione...">
                  <ion-option *ngFor="let item of typesData" [value]="item.id_pk">{{ item.nombre }}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12 no-padding margin-top>
              <ion-label margin-left ion-text no-margin>
                Fecha
              </ion-label>
            </ion-col>
            <ion-col col-5 no-padding>
              <button ion-button icon-left small clear color="dark" (click)="picker.open()">
                <ion-icon name="icon-eventos"></ion-icon>
                <ion-datetime #picker [(ngModel)]="todo.fecha_ini" name="fecha_ini" displayFormat="DD/MM/YYYY"
                  pickerFormat="YYYY MM D" doneText="Aceptar" cancelText="Cancelar" style="font-size: 12px;">
                </ion-datetime>
              </button>
            </ion-col>
            <ion-col col-1 no-padding margin-left>
              <ion-label ion-text> a </ion-label>
            </ion-col>
            <ion-col col-5 no-padding>
              <button ion-button icon-left small clear color="dark" (click)="picker.open()">
                <ion-icon name="icon-eventos"></ion-icon>
                <ion-datetime #picker text-center [(ngModel)]="todo.fecha_fin" name="fecha_fin"
                  displayFormat="DD/MM/YYYY" pickerFormat="YYYY MM D" doneText="Aceptar" cancelText="Cancelar"
                  [max]="maxDate" style="font-size: 12px;"></ion-datetime>
              </button>
            </ion-col>
          </ion-row>
          <!--BOTÓN QUE EJECUTA LA PETICIÓN-->
          <ion-row>
            <ion-col text-center>
              <button ion-button type="submit" color="azul-2" outline block [disabled]="!todo.dato != 0">Buscar</button>
            </ion-col>
          </ion-row>
          <!---->

          <!--TABLA DATOS DE SALUD-->
          <ion-row *ngIf="consult_params['datos'] != undefined && consult_params['datos'].length != 0">
            <ion-col>
              <ion-grid class="reports__table">
                <ion-row>
                  <ion-col text-center wrap *ngFor="let item of consult_params['tipos_datos']">
                    <strong ion-text color="azul-2">{{ item.nombre }}</strong>
                  </ion-col>
                </ion-row>
                <ion-row class="reports__table__content" *ngFor="let item of consult_params['datos']">
                  <ion-col>{{item.fecha}}</ion-col>
                  <ion-col>{{item.hora}}</ion-col>
                  <ion-col *ngIf="item.estatura">{{item.estatura}}</ion-col>
                  <ion-col *ngIf="item.peso">{{item.peso}}</ion-col>
                  <ion-col *ngIf="item.imc">{{item.imc}}</ion-col>
                  <ion-col *ngIf="item.pres_art_s">{{item.pres_art_s}}</ion-col>
                  <ion-col *ngIf="item.pres_art_s">{{item.pres_art_d}}</ion-col>
                  <ion-col *ngIf="item.frec_card">{{item.frec_card}}</ion-col>
                  <ion-col *ngIf="item.frec_resp">{{item.frec_resp}}</ion-col>
                  <ion-col *ngIf="item.temp_corp">{{item.temp_corp}}</ion-col>
                  <ion-col *ngIf="item.glucemia">{{item.glucemia}}</ion-col>
                  <ion-col *ngIf="item.nombre_tipo_sangre">{{item.nombre_tipo_sangre}}</ion-col>
                  <ion-col *ngIf="item.pro_fk_cambio != null">Profesional</ion-col>
                  <ion-col *ngIf="item.pac_fk_cambio != null">Paciente</ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
          <!---->

          <!--GRÁFICA DATOS DE SALUD-->
          <canvas #datos_salud_chart style="width:100%;height: 300px;"></canvas>
          <!---->

        </form>
      </ion-grid>

      <ion-grid *ngSwitchCase="'eventosSalud'">
        <!--ITEM DE SELECCIÓN RANGO DE FECHAS PARA FILTRAR LA GRÁFICA EVENTOS DE SALUD-->
        <ion-row>
          <ion-col col-12 no-padding margin-top>
            <ion-label margin-left ion-text no-margin>
              Fecha
            </ion-label>
          </ion-col>
          <ion-col col-5 no-padding>
            <button ion-button icon-left small clear color="dark" (click)="picker.open()">
              <ion-icon name="icon-eventos"></ion-icon>
              <ion-datetime #picker [(ngModel)]="eventos.fecha_ini" name="fecha_ini" displayFormat="DD/MM/YYYY"
                pickerFormat="YYYY MM D" doneText="Aceptar" cancelText="Cancelar" style="font-size: 12px;">
              </ion-datetime>
            </button>
          </ion-col>
          <ion-col col-1 no-padding margin-left>
            <ion-label ion-text> a </ion-label>
          </ion-col>
          <ion-col col-5 no-padding>
            <button ion-button icon-left small clear color="dark" (click)="picker.open()">
              <ion-icon name="icon-eventos"></ion-icon>
              <ion-datetime #picker text-center [(ngModel)]="eventos.fecha_fin" name="fecha_fin"
                displayFormat="DD/MM/YYYY" pickerFormat="YYYY MM D" doneText="Aceptar" cancelText="Cancelar"
                [max]="maxDate" [min]="eventos.fecha_ini" style="font-size: 12px;"></ion-datetime>
            </button>
          </ion-col>
        </ion-row>
        <!---->

        <!--BOTON QUE EJECUTA LA PETICIÓN-->
        <ion-row>
          <ion-col text-center>
            <button ion-button color="azul-2" outline block (click)="getEventosChart()">Buscar</button>
          </ion-col>
        </ion-row>
        <!---->

        <!--GRÁFICA CONSTRUIDA A PARTIR DE LA PETICIÓN-->
        <canvas #eventos_salud_chart style="width:100%;height: 300px;"></canvas>
        <!---->

      </ion-grid>

      <ion-grid *ngSwitchCase="'prescripciones'">

        <!--ITEM DE SELECCIÓN RANGO DE FECHAS PARA FILTRAR LA GRÁFICA EVENTOS DE SALUD-->
        <ion-row>
          <ion-col col-12 no-padding margin-top>
            <ion-label margin-left ion-text no-margin>
              Fecha
            </ion-label>
          </ion-col>
          <ion-col col-5 no-padding>
            <button ion-button icon-left small clear color="dark" (click)="picker.open()">
              <ion-icon name="icon-eventos"></ion-icon>
              <ion-datetime #picker [max]="maxDate" [(ngModel)]="presc.fecha_ini" name="fecha_ini"
                displayFormat="DD/MM/YYYY" pickerFormat="YYYY MM D" doneText="Aceptar" cancelText="Cancelar"
                style="font-size: 12px;">
              </ion-datetime>
            </button>
          </ion-col>
          <ion-col col-1 no-padding margin-left>
            <ion-label ion-text> a </ion-label>
          </ion-col>
          <ion-col col-5 no-padding>
            <button ion-button icon-left small clear color="dark" (click)="picker.open()">
              <ion-icon name="icon-eventos"></ion-icon>
              <ion-datetime #picker text-center [(ngModel)]="presc.fecha_fin" name="fecha_fin"
                displayFormat="DD/MM/YYYY" pickerFormat="YYYY MM D" doneText="Aceptar" cancelText="Cancelar"
                [max]="maxDate" [min]="presc.fecha_ini" style="font-size: 12px;"></ion-datetime>
            </button>
          </ion-col>
        </ion-row>
        <!---->

        <!--BOTON QUE EJECUTA LA PETICIÓN-->
        <ion-row>
          <ion-col text-center>
            <button ion-button color="azul-2" outline block (click)="getPrescripcionesChart()">Buscar</button>
          </ion-col>
        </ion-row>
        <!---->

        <!--GRÁFICA CONSTRUIDA A PARTIR DE LA PETICIÓN-->
        <canvas #prescripciones_chart style="width:100%;height: 300px;"></canvas>
        <!---->

      </ion-grid>

    </div>
  </div>

</ion-content>