<ion-header>
    <ion-navbar color="azul-2">
        <ion-title text-center>Cargar documentos</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding text-center>

    <ion-grid>
        <ion-row justify-content-center>
            <ion-col col-12 col-xs-12 col-sm-10 col-md-8 col-lg-8 col-xl-8>

                <ion-list>
                    <ion-item>
                        <ion-label stacked color="azul-2">Tipo de documento</ion-label>
                        <ion-select name="type" placeholder="Seleccionar.." (ionChange)="selectedOption($event)" cancelText="Cancelar" okText="Aceptar">
                            <ion-option [value]="tipo" *ngFor="let tipo of lista">{{ tipo.nombre }}</ion-option>
                        </ion-select>
                    </ion-item>
                    <div class="error-box" *ngIf="formUploadDocuments.controls['type'].hasError('required') && formUploadDocuments.controls['type'].touched">Este campo es requerido!</div>
                    <ion-item *ngIf="arrayDatos.length > 0">
                        <ion-label stacked color="azul-2">Opciones</ion-label>
                        <ion-select name="options" placeholder="Seleccionar.." (ionChange)="selectedSecurityOption($event)" cancelText="Cancelar"
                            okText="Aceptar">
                            <ion-option [value]="dato" *ngFor="let dato of optionsArray">{{ dato.nombre }}</ion-option>
                        </ion-select>
                    </ion-item>

                    <div text-center>
                        <div *ngIf="imagePreview">
                            <button type="button" ion-button item-start (click)="deleteFile(1)">
                                <ion-icon name="icon-eliminar_1"></ion-icon>
                            </button>
                            <img [src]="imagePreview" alt="" />
                        </div>
                        <ion-row *ngIf="nameFile">
                            <ion-col col-12>
                                <button type="button" ion-button only-icon outline color="danger" small (click)="deleteFile(2)">
                                    <ion-icon name="icon-eliminar_1"></ion-icon>
                                </button>
                                <p>
                                    {{ nameFile }}
                                </p>
                            </ion-col>
                        </ion-row>
                        <button type="button" ion-button margin-top outline medium color="azul-2" (click)="tomarFoto()">
                            <ion-icon name="icon-camara"></ion-icon>
                        </button>
                        <button [hidden]="so_flag" type="button" ion-button margin-top outline medium color="azul-2" (click)="traerFoto()">
                            <ion-icon name="icon-adjuntos"></ion-icon>
                        </button>
                        <button [hidden]="!so_flag" type="button" ion-button margin-top outline medium color="verde" (click)="loadFile()">
                            <ion-icon name="icon-adjuntos"></ion-icon>
                        </button>
                    </div>

                    <ion-grid>
                        <ion-row>
                            <ion-col class="notification-alert notification-alert--info col-12 col-xs-12 col-sm-10 col-md-8 col-lg-8 col-xl-8">
                                <ion-row>
                                    <ion-col col-2 text-center>
                                        <ion-icon name="icon-info" color="azul-2"></ion-icon>
                                    </ion-col>
                                    <ion-col col-10 text-justify>
                                        <p>Adjunta aquí una foto actualizada de tus documentos, podrás tener acceso a ellos y facilitarás una rápida atención cuando sea necesaria.</p>
                                    </ion-col>
                                </ion-row>
                            </ion-col>
                        </ion-row>
                    </ion-grid>

                    <input type="file" id="adjunto" name="adjunto" style="display: none;" (change)="onUploadChange($event)" />
                    <!--EN EL DISABLED  [disabled]="!formUploadDocuments.valid || secconf == 0" -->
                    <button type="button" ion-button outline round small margin-top [disabled]="!enableSave" (click)="saveData()">Guardar</button>
                </ion-list>

            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>