.md, .ios {

  page-mis-documentos {

    .mis-documentos__info {
      background-color: color($colors, azul-2);
      border-radius: 5px;
      color: #fff;
      padding: 10px;
    }

    .error-box{
      color: color($colors, danger);
      text-align: left;
      padding: 0px 18px;
    }

  }

}
