.ios,
.md {
  page-update-photo-profile {
    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      padding: 6px;
      border: 1px solid color($colors, azul-2);
      object-fit: cover;
    }

    button {
      text-transform: none;
    }

    .arrow-modal.button-md{
      position: absolute;
      top: 5px;
    }

  }
}

.ios{
  .arrow-modal {
    position: absolute;
    top: -3px;
  }
}

.margin-l-20
{
  margin-left: 20%;
}
