<ion-header>
  <ion-navbar color="azul-2">
    <ion-buttons left>
      <button ion-button icon-only (click)="cancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{'ACTUALIZAR_PERFIL.FOTO.TITLE' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row margin-top>
      <ion-col col-12 text-center>
        <img [src]="photo" [imageViewer]="photo">
      </ion-col>
    </ion-row>

    <ion-row margin-top>
      <ion-col text-center>
        <button type="button" ion-button outline color="azul-2" (click)="loadImage()">
          <ion-icon name="icon-adjuntos"></ion-icon>
        </button>
        <button type="button" ion-button outline color="azul-2" (click)="tomarPhone()">
          <ion-icon name="icon-camara"></ion-icon>
        </button>

      </ion-col>
    </ion-row>

    <ion-row margin-top>
      <ion-col text-center>
        <button type="button" ion-button outline round color="azul-2" item-left (click)="accept()">
          {{'ACEPTAR' | translate}}
        </button>
      </ion-col>
    </ion-row>

    <ion-row class="box-info" text-center>
      <ion-col col-2 text-right>
        <ion-icon name="icon-info"></ion-icon>
      </ion-col>
      <ion-col col-10>
        <p>{{'ACTUALIZAR_PERFIL.FOTO.MSG' | translate}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
