<ion-list no-line>
  <button ion-item (click)="irMisDocumentos()">
    <ion-icon name="icon-doc-personales" color="dark"></ion-icon>
    {{'MIS_DOCUMENTOS.TITLE' | translate}}
  </button>
  <button ion-item (click)="close()">
    <ion-icon name="icon-cerrar" color="dark"></ion-icon>
    {{'LOGOUT' | translate}}
  </button>
</ion-list>
