<ion-header>
  <ion-navbar color="azul-2">
    <ion-title text-center>Adjunto</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="cancelModal()">
        <ion-icon item-right name="ios-close-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <div class="box-info" *ngIf="estado!= 'validado'" style="display:flex; flex-direction: row; justify-content: center; align-items: center; font-size: 12px;padding:0px; ">
    <div style="display:flex; flex-direction: row; justify-content: center; align-items: center;">
      <div>
        <ion-icon name="icon-info" style="margin-top: 0px;"></ion-icon>
      </div>
    </div>
    <div style="margin-left: 2px;width: 100%;text-align: center;    padding: 2px 0px;">
      Podrás adjuntar una foto o archivo que valide tu tipo de sangre
    </div>
  </div>
  <ion-grid *ngIf="estado!= 'validado'">
    <ion-row text-center margin-top>

      <ion-col text-center>
        <button type="button" [disabled]="carga_adjunto || carga_foto" ion-button outline color="azul-2" icon-only
          (click)="tomarPhone()">
          <ion-icon name="icon-camara"></ion-icon>
        </button>
      </ion-col>
      <!-- <ion-col *ngIf="documentsProviderService.imagesBase64.length > 0">
        <button type="button" ion-button color="azul-2" (click)="cancelLoadImages()">Cancelar imagenes</button>
      </ion-col> -->
      <ion-col text-center [hidden]="so_flag">
        <button [disabled]="carga_adjunto || carga_foto" type="button" ion-button outline color="azul-2" (click)="loadImages()">
          <ion-icon name="icon-adjuntos"></ion-icon>
        </button>
      </ion-col>
      <ion-col text-center [hidden]="!so_flag">
        <button type="button" [disabled]="carga_adjunto || carga_foto" item-right ion-button outline color="azul-2"
          (click)="loadFile()">
          <ion-icon name="icon-adjuntos"></ion-icon>
        </button>
        <!--accept='image/jpeg,image/jpg,image/png,application/pdf'-->
        <input type="file" #fileUpload id="fileUpload" (change)="onUploadChange($event)" style="display: none;" />
      </ion-col>
    </ion-row>
  </ion-grid>
  <p text-center *ngIf="!carga_foto && !carga_adjunto && estado!= 'validado' && !archivo_adjunto">Aún no se ha
    seleccionado ningun elemento</p>


  <ion-grid *ngFor="let img of documentsProviderService.arrayFiles; let i = index" style="padding:0px;font-size:12px;">
    <ion-row>
      <ion-col col-10 text-center>
        <ion-icon color="primary" name="{{verifyTypeFile( img.nameFile)?'icon-jpg':'icon-adjuntos'}}"></ion-icon>
        {{ img.nameFile }}
      </ion-col>
      <ion-col col-2>
        <!--<button type="button" ion-button outline color="danger" item-start (click)="deleteFile(i)">!-->
        <ion-icon color="danger" name="icon-eliminar_1" color="danger" item-start (click)="deleteFile(i)"></ion-icon>
        <!--</button>-->
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="base64Image" style="padding:0px;font-size:12px;">
    <ion-row>
      <ion-col col-12 text-center>
        <img [src]="base64Image" width="250" height="250">
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col col-12 text-center>
        <!--<button type="button" ion-button outline icon-only color="danger" (click)="cancelLoadImages()">-->
        <ion-icon color="danger" name="icon-eliminar_1" color="danger" (click)="cancelLoadImages()" text-center></ion-icon>
        <!--</button>-->
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card class="card-image" *ngIf="archivo_adjunto">
    <ion-card-header text-wrap no-padding class="terminos_pdf" style="max-height:218px;">
      <img [src]="archivo_adjunto" [imageViewer]="archivo_adjunto" [alt]="archivo_adjunto" *ngIf="verifyTypeFile(archivo_adjunto)">
      <pdf-viewer [src]="archivo_adjunto" [render-text]="true" [original-size]="true" [zoom]="0.35" [page]="1"
        [autoresize]="true" [show-all]="true" style="display: block;" *ngIf="!verifyTypeFile(archivo_adjunto)" (click)="reviewFile(archivo_adjunto)"
        (page-rendered)="pageRendered()"></pdf-viewer>
      <!--<p *ngIf="!verifyTypeFile(archivo_adjunto)" (click)="reviewFile(archivo_adjunto)">
                  {{splitFileName(archivo_adjunto)}}
                </p>-->
    </ion-card-header>
    <ion-card-content no-padding>
      <ion-grid no-padding>
        <ion-row no-padding>
          <ion-col text-left margin-left>
            <button type="button" ion-button outline clear icon-only small color="dark">
              <ion-icon name="icon-jpg" color="primary" *ngIf="verifyTypeFile(archivo_adjunto)"></ion-icon>
              <ion-icon name="icon-pdf" color="rojo" *ngIf="!verifyTypeFile(archivo_adjunto)"></ion-icon>
            </button>
            <span style="vertical-align: text-top;font-size: 12px;">
              <!--{{ (splitFileName(archivo_adjunto).length>10)? (splitFileName(archivo_adjunto) | slice:0:10)+'..':(splitFileName(archivo_adjunto)) }}-->
              {{splitFileName(archivo_adjunto)}}
            </span>
          </ion-col>
          <!-- <ion-col text-right margin-right>
                      <ion-row>
                        <ion-col no-padding >
                          <button type="button" ion-button outline clear icon-only small color="dark" (click)="download(archivo_adjunto)">
                            <ion-icon name="icon-exportar"></ion-icon>
                          </button>
                        </ion-col>
                      <ion-col no-padding >
                       <button type="button" ion-button outline clear icon-only small color="dark" (click)="shareQr(archivo_adjunto)">
                            <ion-icon name="icon-compartir"></ion-icon>
                          </button>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                    -->
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


  <!--<ion-buttons text-center>
    <button ion-button type="submit" outline round small icon-left [disabled]="!carga_adjunto && !carga_foto">
      <ion-icon name="icon-guardar"></ion-icon>
           Guardar
    </button>
  </ion-buttons>-->


  <button ion-button [disabled]="(!carga_adjunto && !carga_foto) || estado== 'validado'" block color="azul-2" style="position: fixed;left: 0;bottom: 0px;right: 0; padding: 10px 0px;"
    (click)="logForm()">
    <ion-icon name="icon-guardar" style="margin-left: 5px;"></ion-icon>
    &nbsp;&nbsp; Guardar
  </button>




</ion-content>