<ion-header>

  <ion-navbar color="verde">
    <ion-title text-center>Filtrar Informes</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="cancelFilter()">
        <ion-icon name="ios-close-outline" color="white"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content no-padding>

  <div class="box-info" style="display:flex; flex-direction: row; justify-content: center; align-items: center; font-size: 12px; margin-top:20px;margin-bottom:20px;padding:0px; ">
    <div style="padding-left: 3px">
      <ion-icon name="icon-info"></ion-icon>
    </div>
    <div text-center style="padding-left:4px; width:100%;">Modifique los campos que considere necesarios para filtrar su búsqueda.</div>
  </div>

  <ion-grid class="ion-grid-group">
    <ion-row>
      <ion-col col-12>
        <ion-label stacked color="azul-2">Rango de fechas</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-item col-4 class="col-left">
        <ion-label no-margin color="azul-2">
          <ion-icon name="icon-eventos"></ion-icon>
        </ion-label>
        <ion-datetime [max]="today" style="font-size: 12px;" displayFormat="DD/MM/YYYY" placeholder="dd/mm/aaaa" text-center value=""
          pickerFormat="YYYY MM D" [(ngModel)]="filter_fecha_inicio_busq" doneText="Aceptar" cancelText="Cancelar">
        </ion-datetime>
      </ion-item>
      <ion-item col-3 class="col-center" text-center>
        <div class="input-group-addon">
          a
        </div>
      </ion-item>
      <ion-item col-4 class="col-left">
        <ion-label no-margin color="azul-2">
          <ion-icon name="icon-eventos"></ion-icon>
        </ion-label>
        <ion-datetime [max]="today" style="font-size: 12px" displayFormat="DD/MM/YYYY" placeholder="dd/mm/aaaa" text-center value=""
          pickerFormat="YYYY MM D" [(ngModel)]="filter_fecha_fin_busq" doneText="Aceptar" cancelText="Cancelar">
        </ion-datetime>
      </ion-item>
    </ion-row>
  </ion-grid>

  <ion-item>
    <ion-label floating color="azul-2">Sub-categoría</ion-label>
    <ion-select [(ngModel)]="filter_prof_cons">
      <ion-option value=""> No aplicar esta sección de filtro </ion-option>
      <div *ngFor="let element of profesionales">
        <ion-option value="{{element.id_pk}}"> {{element.nombre + " " + element.apellido1}}</ion-option>
      </div>
    </ion-select>
  </ion-item>

  <ion-item text-center no-lines>
    <button ion-button color="azul-2" round outline small (click)="aplyFilter()">Buscar</button>
  </ion-item>

</ion-content>