<ion-content no-padding>
  <!--HEADER ESTÁTICO-->
  <div ion-fixed class="header_title_tabs">
    <h5 text-center>{{'ACTUALIZAR_PERFIL.PERSONAL.TITLE' | translate}}</h5>
  </div>
  <!---->

  <!--CONTENIDO DEL FORMULARIO-->
  <div style="margin-top: 50px;">

    <!--LA INFORMACIÓN NO SE CARGO CORRECTAMENTE-->
    <ion-list sticky [style.display]="!timeOutControl ? 'block' : 'none'" text-center>
      <button ion-button type="button" round outline small (click)="loadNew()">{{'RECARGAR' | translate}}</button>
    </ion-list>
    <!---->

    <!--LA INFORMACIÓN SE CARGO, CONTENIDO-->
    <ion-list [style.display]="timeOutControl ? 'block' : 'none'">

      <!--INFORMACIÓN PERSONAL, 48 HORAS-->
      <div [style.display]="isPersonalData ? 'block' : 'none'">

        <!--NOMBRES-->
        <ion-item>
          <ion-label floating color="azul-2">{{'ACTUALIZAR_PERFIL.PERSONAL.NOMBRES' | translate}}</ion-label>
          <ion-input type="text" value="" [formControl]="updateProfileService.updateDataPersonMain.controls['name']"
            [ngClass]="{'error-border':!updateProfileService.updateDataPersonMain.controls['name'].valid}">
          </ion-input>
        </ion-item>
        <div class="error-box"
          *ngIf="updateProfileService.updateDataPersonMain.controls['name'].hasError('required') && updateProfileService.updateDataPersonMain.controls['name'].touched">
          {{'ERRORS.REQ' | translate}}
        </div>
        <div class="error-box"
          *ngIf="updateProfileService.updateDataPersonMain.controls['name'].hasError('maxlength') && updateProfileService.updateDataPersonMain.controls['name'].touched">
          {{'ERRORS.MAX' | translate:{value: 20} }}
        </div>
        <div class="error-box"
          *ngIf="updateProfileService.updateDataPersonMain.controls['name'].hasError('pattern') && updateProfileService.updateDataPersonMain.controls['name'].touched">
          {{'ERRORS.LETRAS' | translate}}
        </div>
        <!---->

        <!--APELLIDOS-->
        <ion-item>
          <ion-label floating color="azul-2">{{'ACTUALIZAR_PERFIL.PERSONAL.APELLIDO_1' | translate}}</ion-label>
          <ion-input type="text" value="" [formControl]="updateProfileService.updateDataPersonMain.controls['surname']">
          </ion-input>
        </ion-item>
        <div class="error-box"
          *ngIf="updateProfileService.updateDataPersonMain.controls['surname'].hasError('required') && updateProfileService.updateDataPersonMain.controls['surname'].touched">
          {{'ERRORS.REQ' | translate}}</div>
        <div class="error-box"
          *ngIf="updateProfileService.updateDataPersonMain.controls['surname'].hasError('maxlength') && updateProfileService.updateDataPersonMain.controls['surname'].touched">
          {{'ERRORS.MAX' | translate:{value: 20} }}</div>
        <div class="error-box"
          *ngIf="updateProfileService.updateDataPersonMain.controls['surname'].hasError('pattern') && updateProfileService.updateDataPersonMain.controls['surname'].touched">
          {{'ERRORS.LETRAS' | translate}}</div>

        <ion-item>
          <ion-label floating color="azul-2">{{'ACTUALIZAR_PERFIL.PERSONAL.APELLIDO_2' | translate}}</ion-label>
          <ion-input type="text" value=""
            [formControl]="updateProfileService.updateDataPersonMain.controls['second_surname']"></ion-input>
        </ion-item>
        <div class="error-box"
          *ngIf="updateProfileService.updateDataPersonMain.controls['second_surname'].hasError('maxlength') && updateProfileService.updateDataPersonMain.controls['second_surname'].touched">
          {{'ERRORS.MAX' | translate:{value: 20} }}</div>
        <div class="error-box"
          *ngIf="updateProfileService.updateDataPersonMain.controls['second_surname'].hasError('pattern') && updateProfileService.updateDataPersonMain.controls['second_surname'].touched">
          {{'ERRORS.LETRAS' | translate}}</div>
        <!---->

        <!--PAÍS NACIMIENTO-->
        <ion-item>
          <ion-label floating color="azul-2">{{'ACTUALIZAR_PERFIL.PERSONAL.PAIS' | translate}}</ion-label>
          <ion-select [formControl]="updateProfileService.updateDataPersonMain.controls['country']"
            (ionChange)="updateCountry('1', $event)" okText="Aceptar" cancelText="Cancelar">
            <ion-option *ngFor="let country of countrys" [value]="country.id_pk">{{ country.nombre }}</ion-option>
          </ion-select>
        </ion-item>
        <div class="error-box"
          *ngIf="updateProfileService.updateDataPersonMain.controls['country'].hasError('required') && updateProfileService.updateDataPersonMain.controls['country'].touched">
          {{'ERRORS.PAIS_NAC' | translate}}</div>
        <!---->

        <!--DEPARTAMENTO NACIMIENTO-->
        <ion-item>
          <ion-label floating color="azul-2">{{'ACTUALIZAR_PERFIL.PERSONAL.ESTADO'}}</ion-label>
          <ion-select [disabled]="!updateProfileService.updateDataPersonMain.controls['country'].valid"
            [formControl]="updateProfileService.updateDataPersonMain.controls['department']"
            (ionChange)="updateState('1', $event)" okText="Aceptar" cancelText="Cancelar">
            <ion-option [value]="state.id_pk" *ngFor="let state of statesP">{{ state.nombre }}</ion-option>
          </ion-select>
        </ion-item>
        <div class="error-box"
          *ngIf="!updateProfileService.updateDataPersonMain.controls['department'].value && updateProfileService.updateDataPersonMain.controls['country'].touched">
          {{'ERRORS.ESTADO' | translate}}</div>
        <!---->

        <!--CIUDAD NACIMIENTO, BARRA BÚSQUEDA-->
        <div *ngIf="updateProfileService.citiesPersonalInformationMain"
          [ngClass]="updateProfileService.updateDataPersonMain.controls['department'].value?'':'disabled'">
          <ion-label floating color="azul-2" class="label-city">{{'ACTUALIZAR_PERFIL.PERSONAL.CIUDAD' | translate}}</ion-label>
          <ion-searchbar [(ngModel)]="searchTermCityP" [formControl]="searchControlP"
            (ionInput)="onSearchInput('1', $event)" placeholder="Buscar ciudad"></ion-searchbar>
          <div *ngIf="searchingP" class="spinner-container">
            <ion-spinner></ion-spinner>
          </div>
          <div class="error-search-label" *ngIf="citySelectedP=='0' && searchTermCityP ">{{'SELECCIONAR' | translate}}</div>
          <ion-list *ngIf="hidenList" style="margin: 0px !important;" class="lists">
            <ion-item *ngFor="let city of citiesP" (click)="filterCitySelected('1', city)">
              {{ city.nombre }}
            </ion-item>
          </ion-list>
          <div class="error-box"
            *ngIf="updateProfileService.updateDataPersonMain.controls['municipality'].hasError('required') && updateProfileService.updateDataPersonMain.controls['municipality'].touched">
            {{'ERRORS.CIUDAD' | translate}}</div>
        </div>
        <div class="error-search-label"
          *ngIf="!searchTermCityP && updateProfileService.updateDataPersonMain.controls['department'].valid">
          {{'ERRORS.CIUDAD' | translate}}
        </div>
        <!---->

        <!--FECHA NACIMIENTO-->
        <ion-item>
          <ion-label floating color="azul-2">{{'ACTUALIZAR_PERFIL.PERSONAL.FECHA_NAC' | translate}}</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="YYYY MM D" [max]="maxDate"
            [formControl]="updateProfileService.updateDataPersonMain.controls['birthdate']" doneText="Aceptar"
            cancelText="Cancelar"></ion-datetime>
        </ion-item>
        <div class="error-box"
          *ngIf="updateProfileService.updateDataPersonMain.controls['birthdate'].hasError('required') && updateProfileService.updateDataPersonMain.controls['birthdate'].touched">
          {{'ERRORS.REQ' | translate}}</div>
        <!---->

        <!--GÉNERO-->
        <ion-item>
          <ion-label color="azul-2">{{'ACTUALIZAR_PERFIL.PERSONAL.GENERO' | translate}}</ion-label>
        </ion-item>
        <ion-list radio-group [formControl]="updateProfileService.updateDataPersonMain.controls['gender']"
          style="border-bottom: gray 1px solid;">
          <ion-item no-lines>
            <ion-label class="opciones_sexo">{{'MASCULINO' | translate}}</ion-label>
            <ion-radio value="M"></ion-radio>
          </ion-item>
          <ion-item no-lines>
            <ion-label class="opciones_sexo">{{'FEMENINO' | translate}}</ion-label>
            <ion-radio value="F"></ion-radio>
          </ion-item>
        </ion-list>
        <!---->

      </div>
      <!---->

      <!--DATOS DE CONTACTO, SIEMPRE-->
      <div>
        <!--CORREO ELECTRÓNICO-->
        <ion-item>
          <ion-label floating color="azul-2">{{'ACTUALIZAR_PERFIL.PERSONAL.MAIL' | translate}}</ion-label>
          <ion-input type="email" value="" [formControl]="updateProfileService.updateDataPerson.controls['email']"
            [ngClass]="{'error-border':!updateProfileService.updateDataPerson.controls['email'].valid}"></ion-input>
        </ion-item>
        <div class="error-box"
          *ngIf="updateProfileService.updateDataPerson.controls['email'].hasError('required') && updateProfileService.updateDataPerson.controls['email'].touched">
          {{'ERRORS.REQ' | translate}}
        </div>
        <div class="error-box"
          *ngIf="updateProfileService.updateDataPerson.controls['email'].hasError('maxlength') && updateProfileService.updateDataPerson.controls['email'].touched">
          {{'ERRORS.MAX' | translate:{value: 30} }}
        </div>
        <div class="error-box"
          *ngIf="updateProfileService.updateDataPerson.controls['email'].hasError('pattern') && updateProfileService.updateDataPerson.controls['email'].touched">
          {{'ERRORS.FORMAT' | translate}}
        </div>
        <!---->

        <!--DOCUMENTO-->
        <div [style.display]="isPersonalData ? 'block' : 'none'">
          <ion-item>
            <ion-label floating color="azul-2">{{'ACTUALIZAR_PERFIL.PERSONAL.TIPO_DOCUMENTO' | translate}}</ion-label>
            <ion-select [formControl]="updateProfileService.updateDataPersonMain.controls['type_document']"
              okText="Aceptar" cancelText="Cancelar">
              <ion-option *ngFor="let type of typesDocument" [value]="type.id_pk">{{ type.nombre }}</ion-option>
            </ion-select>
          </ion-item>
          <div class="error-box"
            *ngIf="updateProfileService.updateDataPersonMain.controls['type_document'].hasError('required') && updateProfileService.updateDataPerson.controls['country'].touched">
            {{'ERRORS.REQ' | translate}}
          </div>
          <ion-item>
            <ion-label floating color="azul-2">{{'ACTUALIZAR_PERFIL.PERSONAL.DOCUMENTO' | translate}}</ion-label>
            <ion-input type="number"
              [disabled]="!updateProfileService.updateDataPersonMain.controls['type_document'].valid" value=""
              [formControl]="updateProfileService.updateDataPersonMain.controls['document']" placeholder=""></ion-input>
          </ion-item>
          <div class="error-box"
            *ngIf="!updateProfileService.updateDataPersonMain.controls['document'].valid && updateProfileService.updateDataPersonMain.controls['type_document'].touched">
            {{'ERRORS.REQ' | translate}}</div>
        </div>
        <!---->

        <!--PAíS-->
        <ion-item>
          <ion-label stacked color="azul-2">{{'ACTUALIZAR_PERFIL.PERSONAL.PAIS_RES' | translate}}</ion-label>
          <ion-select [formControl]="updateProfileService.updateDataPerson.controls['country']" placeholder="País"
            (ionChange)="updateCountry('0', $event)" [(ngModel)]="person.country" cancelText="Cancelar"
            okText="Aceptar">
            <ion-option *ngFor="let country of countrys" [value]="country.id_pk">{{ country.nombre }}</ion-option>
          </ion-select>
        </ion-item>
        <div class="error-box"
          *ngIf="updateProfileService.updateDataPerson.controls['country'].hasError('required') && updateProfileService.updateDataPerson.controls['country'].touched">
          {{'ERRORS.REQ' | translate}}
        </div>
        <!---->

        <!--DEPARTAMENTO-->
        <ion-item>
          <ion-label stacked color="azul-2">{{'ACTUALIZAR_PERFIL.PERSONAL.ESTADO' | translate}}*</ion-label>
          <ion-select [disabled]="!updateProfileService.updateDataPerson.controls['country'].valid"
            [formControl]="updateProfileService.updateDataPerson.controls['department']" placeholder="Departamento"
            (ionChange)="updateState('0', $event)" [(ngModel)]="person.department" cancelText="Cancelar"
            okText="Aceptar">
            <ion-option [value]="state.id_pk" *ngFor="let state of states">{{ state.nombre }}</ion-option>
          </ion-select>
        </ion-item>
        <div class="error-box"
          *ngIf="updateProfileService.updateDataPerson.controls['department'].hasError('required') && updateProfileService.updateDataPerson.controls['country'].touched">
          {{'ERRORS.REQ' | translate}}
        </div>
        <!---->

        <!--CIUDAD, BARRA DE BÚSQUEDA-->
        <div *ngIf="updateProfileService.citiesPersonalInformation"
          [ngClass]="updateProfileService.updateDataPerson.controls['department'].value?'':'disabled'">
          <ion-label floating color="azul-2" class="label-city">{{'ACTUALIZAR_PERFIL.PERSONAL.CIUDAD' | translate}}*</ion-label>
          <ion-searchbar [(ngModel)]="searchTermCity" name="searchTermCity" [formControl]="searchControl"
            (ionInput)="onSearchInput('0', $event)" placeholder="Buscar ciudad"></ion-searchbar>
          <div *ngIf="searching" class="spinner-container">
            <ion-spinner></ion-spinner>
          </div>
          <div class="error-search-label" *ngIf="citySelected=='0' && searchTermCity ">{{'SELECCIONAR' | translate}}</div>
          <ion-list *ngIf="hidenList" style="margin: 0px !important;" class="lists">
            <ion-item *ngFor="let city of cities;" (click)="filterCitySelected('0', city)" class="item-class">
              {{ city.nombre }}
            </ion-item>
          </ion-list>
          <div class="error-box"
            *ngIf="updateProfileService.updateDataPerson.controls['municipality'].hasError('required') && updateProfileService.updateDataPerson.controls['municipality'].touched">
            {{'ERRORS.REQ' | translate}}
          </div>
          <div class="error-search-label" *ngIf="!searchTermCity">{{'ERRORS.REQ' | translate}}</div>
        </div>
        <!---->

        <!--VEREDA
        <ion-item *ngIf="veredas.length > 0">
          <ion-label floating color="azul-2">Vereda</ion-label>
          <ion-select [formControl]="updateProfileService.updateDataPerson.controls['vereda']" [(ngModel)]="person.vereda"
            okText="Aceptar" cancelText="Cancelar">
            <ion-option [value]="">No aplica</ion-option>
            <ion-option [value]="vereda.id_pk" *ngFor="let vereda of veredas">{{ vereda.nombre }}</ion-option>
          </ion-select>
        </ion-item>
        -->

        <!--DIRECCIÓN-->
        <ion-item style="border-top: 1px solid #dedede;">
          <ion-label floating color="azul-2">{{'ACTUALIZAR_PERFIL.PERSONAL.DIRECCION' | translate}}</ion-label>
          <ion-input type="text" value="" [formControl]="updateProfileService.updateDataPerson.controls['address']"
            [ngClass]="{'error-border':!updateProfileService.updateDataPerson.controls['address'].valid}"></ion-input>
        </ion-item>
        <div class="error-box"
          *ngIf="updateProfileService.updateDataPerson.controls['address'].hasError('required') && updateProfileService.updateDataPerson.controls['address'].touched">
          {{'ERRORS.REQ' | translate}}</div>
        <div class="error-box"
          *ngIf="updateProfileService.updateDataPerson.controls['address'].hasError('maxlength') && updateProfileService.updateDataPerson.controls['address'].touched">
          {{'ERRORS.MAX' | translate:{value: 50} }}</div>
        <!---->

        <!--TELÉFONO CELULAR-->
        <ion-grid class="ion-grid-group">
          <ion-row>
            <ion-col col-12>
              <ion-label stacked color="azul-2">{{'ACTUALIZAR_PERFIL.PERSONAL.CELULAR' | translate}}</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-item col-3 class="col-left" text-center>
              <div class="input-group-addon">
                {{ indicativoCellphone }}
              </div>
            </ion-item>
            <ion-item col-9 class="col-center">
              <ion-input type="tel" value="" [formControl]="updateProfileService.updateDataPerson.controls['cellphone']"
                [ngClass]="{'error-border':!updateProfileService.updateDataPerson.controls['cellphone'].valid}">
              </ion-input>
            </ion-item>
          </ion-row>
        </ion-grid>
        <div class="error-box"
          *ngIf="updateProfileService.updateDataPerson.controls['cellphone'].hasError('required') && updateProfileService.updateDataPerson.controls['cellphone'].touched">
          {{'ERRORS.REQ' | translate}}</div>
        <div class="error-box"
          *ngIf="updateProfileService.updateDataPerson.controls['cellphone'].hasError('maxlength') || updateProfileService.updateDataPerson.controls['cellphone'].hasError('minlength')">
          {{'ERRORS.CARACTERES' | translate:{value: person_validation_phone.mask_celular} }}  </div>
        <!---->

        <!--TELÉFONO FIJO-->
        <ion-grid class="ion-grid-group">
          <ion-row>
            <ion-col col-12>
              <ion-label stacked color="azul-2">{{'ACTUALIZAR_PERFIL.PERSONAL.FIJO' | translate}}</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-item col-3 class="col-left" text-center>
              <div class="input-group-addon">
                {{indicativoCellphone}} {{indicativoPhone?indicativoPhone:'' }}
              </div>
            </ion-item>
            <ion-item col-9 class="col-center">
              <ion-input type="tel" value="" [formControl]="updateProfileService.updateDataPerson.controls['phone']"
                [ngClass]="{'error-border':!updateProfileService.updateDataPerson.controls['phone'].valid}"></ion-input>
            </ion-item>
          </ion-row>
          <p text-center padding-right>{{'ACTUALIZAR_PERFIL.MSG_FIJO' | translate}}
          </p>
        </ion-grid>
        <div class="error-box"
          *ngIf="updateProfileService.updateDataPerson.controls['phone'].hasError('maxlength') ||   updateProfileService.updateDataPerson.controls['phone'].hasError('minlength')">
          {{'ERRORS.CARACTERES' | translate:{value: person_validation_phone.mask_fijo} }}
        </div>
        <!---->

      </div>
      <!---->

      <!--BOTÓN GUARDAR-->
      <div text-center margin-top margin-bottom padding-bottom padding-right>
        <button ion-button type="button" round outline small (click)="saveData()"
          [disabled]="!updateProfileService.updateDataPerson.valid || !updateProfileService.updateDataPersonMain.valid">{{'GUARDAR' | translate}}</button>
      </div>
      <!---->

    </ion-list>
  </div>
  <!---->

</ion-content>