page-update-personal-information {

  .error-box{
    padding: 0 15px;
  }

  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .label-city{
    margin: 0 0 35px 15px !important;
  }

}
