.md, .ios {

  page-authorize-access {

    ion-card {
      width: 100%;
      border-radius: 0;
      color: #808080;

      .card-content {
        line-height: 1.8rem;
      }

      button {
        border-width: 2px;
        text-transform: none;
      }
    }

    ion-card.emergenciy-card {
      background-color: color($colors, azul-2);

      ion-icon {
        font-size: 5rem;
        color: color($colors, naranja);
        background-color: white;
        border-radius: 50%;
        padding: 13px 15px;

      }
    }

    ion-card:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

  }

}
