<ion-header>
  <ion-navbar color="azul-2">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>{{'AUTORIZAR.TITLE' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only [navParams]="{ 'seccion': 'autorizar_acceso' }" [navPush]="pageHelp">
        <!--<button ion-button icon-only (click)="popoverHelp($event)">-->
        <!--<ion-icon name="more"></ion-icon>-->
        <ion-icon name="md-help-circle" color="white"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding text-center>

  <ion-grid no-padding>
    <ion-row justify-content-center>
      <ion-col col-12 col-xs-12 col-sm-10 col-md-8 col-lg-8 col-xl-8>
        <ion-card class="emergenciy-card" no-margin>
          <ion-card-content>
            <ion-icon name="icon-autor-prof"></ion-icon>
          </ion-card-content>
        </ion-card>
        <ion-card no-margin>
          <ion-card-content>
            <p>{{'AUTORIZAR.CARD_1.TEXTO' | translate}}</p>
            <button type="button" ion-button margin-top outline round color="naranja"
              (click)="scanQrMedic()">{{'AUTORIZAR.CARD_1.BOTON' | translate}}</button>
          </ion-card-content>
        </ion-card>
        <ion-card no-margin>
          <ion-card-content>
            <p>{{'AUTORIZAR.CARD_2.TEXTO' | translate}}</p>
            <button type="button" ion-button margin-top outline round text-wrap color="verde"
              (click)="sendMailExt(0)">{{'AUTORIZAR.CARD_2.BOTON' | translate}}</button>
            <ion-row *ngIf="extMail">
              <ion-col col-10>
                <ion-input text-wrap id="emailExt" type="text" (input)='onInputTime($event.target.value)' text-wrap
                  text-center lines placeholder="Escriba el email del médico."></ion-input>
              </ion-col>
              <ion-col col-2>
                <button ion-button icon-only outline round small color="verde" (click)="sendMailExt(1)">
                  <ion-icon name="icon-compartir"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
        <ion-card no-margin>
          <ion-card-content>
            <p>{{'AUTORIZAR.CARD_3.TEXTO' | translate}}</p>
            <button type="button" ion-button margin-top outline round text-wrap color="azul-2" [navPush]="qrMidis"
              [navParams]="{data: 'autorizar'}">{{'AUTORIZAR.CARD_3.BOTON' | translate}}</button>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>