<ion-content padding>
  <ion-list>
    <ion-item *ngIf="errors.length != 0">
      <p class="error-box" *ngIf="errors.usuario != undefined">{{ errors.usuario[0]}}</p>
      <p class="error-box" *ngIf="errors.email != undefined">{{ errors.email[0]}}</p>
      <p class="error-box" *ngIf="errors.documento != undefined">{{ errors.documento[0]}}</p>
    </ion-item>

    <ion-item>
      <ion-label floating color="azul-2" >Email*</ion-label>
      <ion-input type="email" value="" [formControl]="createAccountService.register4.controls['email']" [ngClass]="{'error-border':!createAccountService.register2.controls['email'].valid}"></ion-input>
    </ion-item>

    <div class="error-box" *ngIf="createAccountService.register4.controls['email'].hasError('required') && createAccountService.register4.controls['email'].touched">Este campo es requerido!</div>
    <div class="error-box" *ngIf="createAccountService.register4.controls['email'].hasError('maxlength') && createAccountService.register4.controls['email'].touched">Maximo caracteres 60!</div>
    <div class="error-box" *ngIf="createAccountService.register4.controls['email'].hasError('pattern') && createAccountService.register4.controls['email'].touched">Formato no es correcto!</div>

    <ion-item>
      <ion-label floating  color="azul-2" >Usuario*</ion-label>
      <ion-input type="text" value="" [formControl]="createAccountService.register4.controls['user']" [ngClass]="{'error-border':!createAccountService.register4.controls['user'].valid}"></ion-input>
    </ion-item>

    <div class="error-box" *ngIf="createAccountService.register4.controls['user'].hasError('required') && createAccountService.register4.controls['user'].touched">Este campo es requerido!</div>
    <div class="error-box" *ngIf="createAccountService.register4.controls['user'].hasError('maxlength') && createAccountService.register4.controls['user'].touched">Maximo caracteres 25!</div>
    <div class="error-box" *ngIf="createAccountService.register4.controls['user'].hasError('minlength') && createAccountService.register4.controls['user'].touched">Minimo caracteres 5!</div>

    <ion-item>
      <ion-label floating color="azul-2">Contraseña*</ion-label>
      <ion-input type="password" value="" [formControl]="createAccountService.register4.controls['password']"></ion-input>
    </ion-item>
    <div class="error-box" *ngIf="createAccountService.register4.controls['password'].hasError('required') && createAccountService.register4.controls['password'].touched">Este campo es requerido!</div>
    <div class="error-box" *ngIf="createAccountService.register4.controls['password'].hasError('minlength') && createAccountService.register4.controls['password'].touched">Mínimo caracteres contraseña 7!</div>
    <div class="error-box" *ngIf="createAccountService.register4.controls['password'].hasError('maxlength') && createAccountService.register4.controls['password'].touched">Máximo caracteres contraseña 15!</div>
    <div class="error-box" *ngIf="createAccountService.register4.controls['password'].hasError('pattern') && createAccountService.register4.controls['password'].touched">Tu clave debe contener por lo menos un número y una letra. Sin simbolos</div>

    <ion-item>
      <ion-label floating color="azul-2">Confirmar contraseña*</ion-label>
      <ion-input type="password" value="" [formControl]="createAccountService.register4.controls['confirmPassword']"></ion-input>
    </ion-item>
    <div class="error-box" *ngIf="createAccountService.register4.controls['confirmPassword'].hasError('required') && createAccountService.register4.controls['confirmPassword'].touched">Este campo es requerido!</div>
    <div class="error-box" *ngIf="createAccountService.register4.controls['confirmPassword'].hasError('minlength') && createAccountService.register4.controls['confirmPassword'].touched">Mínimo caracteres confirmar contraseña 7!</div>
    <div class="error-box" *ngIf="createAccountService.register4.controls['password'].hasError('maxlength') && createAccountService.register4.controls['password'].touched">Máximo caracteres confirmar contraseña 15!</div>


    <ion-item margin-bottom *ngIf="createAccountService.register4.controls.confirmPassword.touched && createAccountService.register4.hasError('mismatchedPasswords') && createAccountService.register4.controls.password.valid">
      <div class="error-box">Las contraseñas no coinciden</div>
    </ion-item>

    <ion-label padding-top margin-top no-margin text-center (click)="termsConditions()" color="azul-2">
      Pulse aquí para leer los términos y condiciones
    </ion-label>

    <ion-item class="terminos-check">
      <ion-checkbox [checked]="acceptTerms"
                    [(ngModel)]="acceptTerms"
                    [formControl]="createAccountService.register4.controls['accept_Terms']">
      </ion-checkbox>
      <ion-label text-wrap color="dark">He leido el contrato y acepto los términos y condiciones</ion-label>
    </ion-item>

    <div class="error-box" *ngIf="createAccountService.register4.controls['accept_Terms'].hasError('required') && createAccountService.register4.controls['accept_Terms'].touched"><u>Debe aceptar los terminos y condiciones!</u></div>


    <div text-center margin-top margin-bottom>
      <button ion-button type="button" color="azul-2" round outline small (click)="validateStepBack()">Anterior</button>
      <button ion-button type="button" color="azul-2" round outline small [disabled]="!createAccountService.register4.valid || !acceptTerms" (click)="saveData()">Guardar</button>
    </div>

    <!-- <input type="button" ion-button (click)="validateStepBack()" value="Anterior">
    <input type="button" ion-button [disabled]="!createAccountService.register4.valid || !acceptTerms" (click)="saveData()" value="Guardar"> -->
  </ion-list>

</ion-content>
