.md, .ios {
  page-contact-details {
    // .error-box{
    //   color: rgb(213, 89, 28);
    // }

    .error-box{
      padding: 0 15px;
    }
    .spinner-container {
      width: 100%;
      text-align: center;
      padding: 10px;
    }

    .label-city{
      margin: 0 0 35px 15px !important;
    }
  }
}
