<ion-content padding>
  <div ion-fixed class="header_title_tabs">
    <h5 text-center>DATOS DE CONTACTO</h5>
  </div>

  <div style="margin-top: 50px;">
    <ion-list>

      <ion-grid class="ion-grid-group">
        <ion-row>
          <ion-col col-12>
            <ion-label stacked color="azul-2">Celular*</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-item col-2 class="col-left">
            <div class="input-group-addon">
              {{ indicativoCellphone }}
            </div>
          </ion-item>
          <ion-item col-10 class="col-center">
            <ion-input type="number" [formControl]="createAccountService.register3.controls['cellphone']" [ngClass]="{'error-border':!createAccountService.register3.controls['cellphone'].valid}"></ion-input>
          </ion-item>
        </ion-row>
      </ion-grid>
      <div class="error-box" *ngIf="createAccountService.register3.controls['cellphone'].hasError('required')  && createAccountService.register3.controls['cellphone'].touched">Este
        campo es requerido!</div>
      <div class="error-box" *ngIf="createAccountService.register3.controls['cellphone'].hasError('maxlength') || createAccountService.register3.controls['cellphone'].hasError('minlength') && createAccountService.register3.controls['cellphone'].touched">El
        número de carácteres permitidos es de {{createAccountService.person_validation_phone.mask_celular}} </div>

      <ion-grid class="ion-grid-group">
        <ion-row>
          <ion-col col-12>
            <ion-label stacked color="azul-2">Teléfono fijo</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-item col-3 class="col-left">
            <div class="input-group-addon">
              {{ indicativoCellphone}} {{indicativoPhone?indicativoPhone:'' }}
            </div>
          </ion-item>
          <ion-item col-9 class="col-center">
            <ion-input type="number" value="" [formControl]="createAccountService.register3.controls['phone']"
              [ngClass]="{'error-border':!createAccountService.register3.controls['phone'].valid}"></ion-input>
          </ion-item>
        </ion-row>
        <p text-center padding-right>Recuerda anteponer al teléfono fijo el indicativo de la ciudad correspondiente.</p>
      </ion-grid>

      <div class="error-box" *ngIf="createAccountService.register3.controls['phone'].hasError('maxlength') || createAccountService.register3.controls['phone'].hasError('minlength')  && createAccountService.register3.controls['phone'].touched">El
        número de carácteres permitidos es de {{createAccountService.person_validation_phone.mask_fijo}}
      </div>
      <div text-center margin-top margin-bottom>
        <button ion-button type="button" color="azul-2" round outline small (click)="validateStepBack()">Anterior</button>
        <button ion-button type="button" color="azul-2" round outline small [disabled]="!createAccountService.register3.valid"
          (click)="validateStep()">Siguiente</button>
      </div>

    </ion-list>
  </div>
</ion-content>