page-modal-edit-medical {
  .error-box{
    padding-left: 15px;
  }

  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .label-city{
    margin: 0 0 35px 15px !important;
  }
}
