<ion-header>
  <ion-navbar color="azul-2">
    <ion-title text-center>{{'ACTUALIZAR_PERFIL.CONTACTOS_MED.EDIT.TITLE' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="cancelModal()">
        <ion-icon item-right name="ios-close-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list [style.display]="!timeOutControl ? 'block' : 'none'">
    <ion-item text-center>
      <button ion-button type="button" round outline small (click)="newLoad()">{{'RECARGAR' | translate}}</button>
    </ion-item>
  </ion-list>
  <ion-list [style.display]="timeOutControl ? 'block' : 'none'">
    <ion-item>
      <ion-label floating color="azul-2">{{'ACTUALIZAR_PERFIL.CONTACTOS_MED.NOMBRES' | translate}}</ion-label>
      <ion-input type="text" [formControl]="updateProfileService.addMedicalData.controls['name']"></ion-input>
    </ion-item>

    <div class="error-box"
      *ngIf="updateProfileService.addMedicalData.controls['name'].hasError('required') && updateProfileService.addMedicalData.controls['name'].touched">
      {{'ERRORS.REQ' | translate}}</div>
    <div class="error-box"
      *ngIf="updateProfileService.addMedicalData.controls['name'].hasError('maxlength') && updateProfileService.addMedicalData.controls['name'].touched">
      {{'ERRORS.MAX' | translate:{value: 20} }}</div>

    <ion-item>
      <ion-label stacked color="azul-2">{{'ACTUALIZAR_PERFIL.CONTACTOS_MED.APELLIDOS' | translate}}</ion-label>
      <ion-input type="text" [formControl]="updateProfileService.addMedicalData.controls['second_surname']"></ion-input>
    </ion-item>

    <div class="error-box"
      *ngIf="updateProfileService.addMedicalData.controls['second_surname'].hasError('required') && updateProfileService.addMedicalData.controls['second_surname'].touched">
      {{'ERRORS.REQ' | translate}}</div>
    <div class="error-box"
      *ngIf="updateProfileService.addMedicalData.controls['second_surname'].hasError('maxlength') && updateProfileService.addMedicalData.controls['second_surname'].touched">
      {{'ERRORS.MAX' | translate:{value: 50} }}</div>


    <ion-item>
      <ion-label floating color="azul-2">{{'ACTUALIZAR_PERFIL.CONTACTOS_MED.MAIL' | translate}}</ion-label>
      <ion-input type="email" [formControl]="updateProfileService.addMedicalData.controls['email']"
        [ngClass]="{'error-border':!updateProfileService.addMedicalData.controls['email'].valid}"></ion-input>
    </ion-item>

    <!-- <div class="error-box" *ngIf="updateProfileService.addMedicalData.controls['email'].hasError('required') && updateProfileService.addMedicalData.controls['email'].touched">La email es requerido!</div> -->
    <div class="error-box"
      *ngIf="updateProfileService.addMedicalData.controls['email'].hasError('maxlength') && updateProfileService.addMedicalData.controls['email'].touched">
      {{'ERRORS.MAX' | translate:{value: 30} }}</div>
    <div class="error-box"
      *ngIf="updateProfileService.addMedicalData.controls['email'].hasError('pattern') && updateProfileService.addMedicalData.controls['email'].touched">
      {{'ERRORS.FORMAT' | translate}}</div>


    <!-- <div class="error-box" *ngIf="updateProfileService.addMedicalData.controls['address'].hasError('required') && updateProfileService.addMedicalData.controls['address'].touched">La dirección es requerido!</div> -->
    <div class="error-box"
      *ngIf="updateProfileService.addMedicalData.controls['address'].hasError('maxlength') && updateProfileService.addMedicalData.controls['address'].touched">
      {{'ERRORS.MAX' | translate:{value: 50} }}</div>


    <ion-item>
      <ion-label floating color="azul-2">{{'ACTUALIZAR_PERFIL.CONTACTOS_MED.PAIS' | translate}}</ion-label>
      <ion-select #country [(ngModel)]="person.country"
        [formControl]="updateProfileService.addMedicalData.controls['country']" placeholder="País"
        (ionChange)="updateCountry($event)" cancelText="Cancelar" okText="Aceptar">
        <ion-option [value]="country.id_pk" *ngFor="let country of countrys">{{ country.nombre }}</ion-option>
      </ion-select>
    </ion-item>
    <div class="error-box"
      *ngIf="updateProfileService.addMedicalData.controls['country'].hasError('required') && updateProfileService.addMedicalData.controls['country'].touched">
      {{'ERRORS.REQ' | translate}}</div>

    <ion-item>
      <ion-label floating color="azul-2">{{'ACTUALIZAR_PERFIL.CONTACTOS_MED.ESTADO' | translate}}</ion-label>
      <ion-select #state [formControl]="updateProfileService.addMedicalData.controls['department']"
        [(ngModel)]="person.department" (ionChange)="updateState($event)" cancelText="Cancelar" okText="Aceptar">
        <ion-option [value]="state.id_pk" *ngFor="let state of states">{{ state.nombre }}</ion-option>
      </ion-select>
    </ion-item>
    <div class="error-box"
      *ngIf="updateProfileService.addMedicalData.controls['department'].hasError('required') && updateProfileService.addMedicalData.controls['department'].touched">
      {{'ERRORS.REQ' | translate}}</div>

    <div *ngIf="updateProfileService.citiesContact"
      [ngClass]="!updateProfileService.addMedicalData.controls['department'].valid?'disabled':'none'">
      <ion-label floating color="azul-2" class="label-city">{{'ACTUALIZAR_PERFIL.CONTACTOS_MED.CIUDAD' | translate}}</ion-label>
      <ion-searchbar [(ngModel)]="searchTermCity" [formControl]="searchControl" (ionInput)="onSearchInput($event)"
        placeholder="Buscar ciudad"></ion-searchbar>
      <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
      </div>
      <div class="error-search-label" *ngIf="citySelected=='0' && searchTermCity ">{{'SELECCIONAR' | translate}}</div>
      <ion-list *ngIf="hideList">
        <ion-item *ngFor="let city of cities;" (click)="filterCitySelected(city)">
          {{ city.nombre }}
        </ion-item>
      </ion-list>
      <div class="error-box"
        *ngIf="updateProfileService.addMedicalData.controls['municipality'].hasError('required') && updateProfileService.addMedicalData.controls['municipality'].touched">
        {{'ERRORS.REQ' | translate}}</div>
    </div>
    <div class="error-search-label" *ngIf="!searchTermCity && searchControl.touched">{{'ERRORS.REQ' | translate}}</div>

    <ion-item>
      <ion-label floating color="azul-2">{{'ACTUALIZAR_PERFIL.CONTACTOS_MED.DIRECCION' | translate}}</ion-label>
      <ion-input type="text" [formControl]="updateProfileService.addMedicalData.controls['address']"
        [ngClass]="{'error-border':!updateProfileService.addMedicalData.controls['address'].valid}"></ion-input>
    </ion-item>

    <ion-grid class="ion-grid-group">
      <ion-row>
        <ion-col col-12>
          <ion-label stacked color="azul-2">{{'ACTUALIZAR_PERFIL.CONTACTOS_MED.CELULAR' | translate}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-item col-2 class="col-left">
          <div class="input-group-addon">
            {{ indicativoCellphone }}
          </div>
        </ion-item>
        <ion-item col-10 class="col-center">
          <ion-input type="number" [formControl]="updateProfileService.addMedicalData.controls['cellphone']"
            [ngClass]="{'error-border':!updateProfileService.addMedicalData.controls['cellphone'].valid}"
            placeholder=""></ion-input>
        </ion-item>
      </ion-row>
    </ion-grid>
    <div class="error-box"
      *ngIf="updateProfileService.addMedicalData.controls['cellphone'].hasError('required') && updateProfileService.addMedicalData.controls['cellphone'].touched">
      {{'ERRORS.REQ' | translate}}</div>
    <div class="error-box"
      *ngIf="updateProfileService.addMedicalData.controls['cellphone'].hasError('maxlength') || updateProfileService.addMedicalData.controls['cellphone'].hasError('minlength') && updateProfileService.addMedicalData.controls['cellphone'].touched">
      {{'ERRORS.CHARACTERS' | translate:{value: person_validation_phone.mask_celular} }} </div>

    <ion-grid class="ion-grid-group">
      <ion-row>
        <ion-col col-12>
          <ion-label stacked color="azul-2">{{'ACTUALIZAR_PERFIL.CONTACTOS_MED.FIJO' | translate}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-item col-3 class="col-left">
          <div class="input-group-addon">
            {{ indicativoCellphone}}{{indicativoPhone?indicativoPhone:'' }}
          </div>
        </ion-item>
        <ion-item col-9 class="col-center">
          <ion-input type="number" [formControl]="updateProfileService.addMedicalData.controls['phone']"
            [ngClass]="{'error-border':!updateProfileService.addMedicalData.controls['phone'].valid}"></ion-input>
        </ion-item>
      </ion-row>
      <p text-center padding-right>{{'ACTUALIZAR_PERFIL.MSG_FIJO' | translate}}</p>
    </ion-grid>



    <div class="error-box"
      *ngIf="updateProfileService.addMedicalData.controls['phone'].hasError('required') && updateProfileService.addMedicalData.controls['phone'].touched">
      {{'ERRORS.REQ' | translate}}</div>
    <div class="error-box"
      *ngIf="updateProfileService.addMedicalData.controls['phone'].hasError('maxlength') ||   updateProfileService.addMedicalData.controls['phone'].hasError('minlength')">
      {{'ERRORS.CHARACTERS' | translate:{value: person_validation_phone.mask_fijo} }}
    </div>

    <!--<div class="error-box" *ngIf="updateProfileService.addMedicalData.controls['cellphone'].hasError('required') && updateProfileService.addMedicalData.controls['cellphone'].touched">La Celular es requerido!</div>-->

    <ion-item>
      <ion-label stacked color="azul-2">{{'ACTUALIZAR_PERFIL.CONTACTOS_MED.TIPO_PROFESION' | translate}}</ion-label>
      <ion-select #tipoProfessional [(ngModel)]="tipoProfesion"
        [formControl]="updateProfileService.addMedicalData.controls['tipo_prof']"
        (ionChange)="selectedTypeProfesion($event)" cancelText="Cancelar" okText="Aceptar">
        <ion-option [value]="type.id_pk" *ngFor="let type of typeprofesion">{{ type.nombre }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked color="azul-2">{{'ACTUALIZAR_PERFIL.CONTACTOS_MED.PROFESION' | translate}}</ion-label>
      <ion-select #profession [disabled]="!updateProfileService.addMedicalData.controls['tipo_prof']"
        [(ngModel)]="profesion" [formControl]="updateProfileService.addMedicalData.controls['profesion']"
        (ionChange)="selectedProfesion($event)" cancelText="Cancelar" okText="Aceptar">
        <ion-option [value]="profesion.id_pk" *ngFor="let profesion of profesiones">{{ profesion.nombre }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="especialidades.length!=0">
      <ion-label stacked color="azul-2">{{'ACTUALIZAR_PERFIL.CONTACTOS_MED.ESPECIALIDAD' | translate}}</ion-label>
      <ion-select #speciality [(ngModel)]="especialidad"
        [formControl]="updateProfileService.addMedicalData.controls['especialidad']" cancelText="Cancelar"
        okText="Aceptar">
        <ion-option [value]="especialidad.id_pk" *ngFor="let especialidad of especialidades">{{ especialidad.nombre }}
        </ion-option>
      </ion-select>
    </ion-item>


    <div text-center margin-top margin-bottom padding-bottom padding-right>
      <!--<button ion-button type="button" round outline small (click)="cancelAddMedical()">Cancelar</button>-->
      <button ion-button type="button" round outline small [disabled]="!updateProfileService.addMedicalData.valid"
        (click)="addMedical()">{{'ACTUALIZAR' | translate}}</button>
    </div>

  </ion-list>

</ion-content>