.ios, .md {
  page-create-antecedent {

    .antecedente__banner {

      img {
        object-fit: cover;
      }

      ion-icon {
        position: relative;
        top: -5.5rem;
        left: 62%;
        font-size: 5rem;
        color: #fff;
      }
    }

    ion-select{
      color: color($colors, gris);
    }
    ion-input{
      color: color($colors, gris);
    }
    ion-datetime{
      color: color($colors, gris);
    }
    ion-textarea{
      color: color($colors, gris);
    }

    .testClass {
      .toast-wrapper.toast-bottom {
        background-color: color($colors, danger) !important;
        color: #fff;
        text-align: center;
      }
    }
    
    .error-box{
      padding-left: 15px;
    }

    @media  (min-width: 320px) {
      .antecedente__banner {
        max-height: 50px;

        ion-icon {
          top: -3.8rem;
          font-size: 3.5rem;
        }
      }
    }

    @media  (min-width: 412px) {
      .antecedente__banner {
        max-height: 62px;

        ion-icon {
          top: -5.5rem;
          font-size: 5rem;
        }
      }
    }

    @media  (min-width: 600px) {
      .antecedente__banner {
        max-height: 90px;
      }
    }

    @media  (min-width: 768px) {

      .antecedente__banner {
        max-height: 120px;

        ion-icon {
          top: -8.5rem;
          font-size: 8rem;
        }
      }

      .notification-alert {
        ion-item.notification-alert__radio {
          width: 55%;
        }
      }
    }

    @media  (min-width: 1024px) {

      .antecedente__banner {
        max-height: 156px;

        ion-icon {
          top: -10.5rem;
          font-size: 10rem;
        }

      }
    }

    .titleRadioGroup{
      margin-left: 15px;
      padding-top: 5px;
      font-size: 17px;
      color: color($colors, azul-2);
    }
  }
}
