<ion-header>
  <ion-navbar color="secondary" text-center>
    <ion-title>
      <div innerHTML="{{ navParams.get('subType').text }}" *ngIf="navParams.get('subType') != undefined"></div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>

  <div class="antecedente__banner">
    <img src="assets/imgs/banner_antecedentes.png" alt="Antecedentes">
    <ion-icon name="{{navParams.get('antecedent').clase_icon}}"></ion-icon>
  </div>

  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-12 col-xs-12 col-sm-10 col-md-8 col-lg-8 col-xl-8>

        <ion-buttons [style.display]="!timeOutControl ? 'block' : 'none'" text-center>
          <button ion-button type="button" color="azul-2" round outline small (click)="loadNew()">Recargar</button>
        </ion-buttons>

        <form [formGroup]="formAntecedent" (ngSubmit)="logForm()" [style.display]="timeOutControl ? 'block' : 'none'" padding-horizontal>

          <!--METODO NUEVO-->
          <div *ngFor="let element of elements; let i = index" style="margin: 0">

            <!--GRUPO DE RADIOS-->
            <ion-list radio-group *ngIf="element.grupo.tipo_campo === 'radio' && !visibilityElement[i]" [formControlName]="element.grupo.name_campo">
              <p class="titleRadioGroup">{{element.title}}:</p>
              <ion-item *ngFor="let option of element.options" style="margin-left: 5px;">
                <ion-label text-wrap color="gris">{{option.grupo.desc_campo}}</ion-label>
                <ion-radio value="{{ option.grupo.valor_radio }}" (click)="checkRadio(option.grupo)"></ion-radio>
              </ion-item>
            </ion-list>
            <!---->

            <ion-item *ngIf="!visibilityElement[i] && element.grupo.tipo_campo != 'radio'">

              <!--TITULO DE LOS CAMPOS INDIVIDUALES-->
              <ion-label text-wrap *ngIf="element.grupo.tipo_campo != 'radio' && element.grupo.ruta_ajax == null " color="azul-2">{{ element.grupo.desc_campo }}</ion-label>
              <!---->

              <!--CAMPOS SENCILLOS-->
              <ion-input type="text" *ngIf="element.grupo.tipo_campo === 'text' && element.grupo.plugin == null" [formControlName]="element.grupo.name_campo"></ion-input>

              <ion-input type="number" *ngIf="element.grupo.tipo_campo === 'text' && element.grupo.plugin == 'T'" [formControlName]="element.grupo.name_campo"></ion-input>

              <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="D MMM YYYY" [max]="maxDate" doneText="Aceptar" cancelText="Cancelar"
                *ngIf="element.grupo.tipo_campo === 'text' && element.grupo.plugin == 'D' " [formControlName]="element.grupo.name_campo">
              </ion-datetime>
              <!---->

              <!--CAMPO CON OBJ.CHANGE, SIN DATOS NI RUTA AJAX-->
              <ion-select *ngIf="element.grupo.tipo_campo === 'select' && element.datos == null && element.objChange != null && element.grupo.ruta_ajax == null"
                cancelText="Cancelar" okText="Aceptar" [formControlName]="element.grupo.name_campo" (ionChange)="onSelectedItem($event, element.grupo.name_campo, element.objChange.nomb_tabla)">
                <ion-option *ngFor="let data of filterSearchChanges" value="{{data.id_pk}}">{{ data.nombre }}</ion-option>
              </ion-select>
              <!---->

              <!-- CAMPO CON OBJ.CHANGE Y DATOS-->
              <ion-select *ngIf="element.grupo.tipo_campo === 'select' && element.datos != null && element.objChange != null && element.grupo.ruta_ajax == null"
                cancelText="Cancelar" okText="Aceptar" [formControlName]="element.grupo.name_campo" (ionChange)="onSelectedItem($event, element.grupo.name_campo, element.objChange.nomb_tabla)">
                <ion-option text-wrap *ngFor="let data of element.datos" value="{{data.id_pk}}">{{ data.nombre }}</ion-option>
              </ion-select>
              <!---->

              <!--SE EJECUTA DESPUÉS DE UN OBJ.CHANGE-->
              <ion-select *ngIf="(element.grupo.tipo_campo === 'select' && element.datos === null) && (element.objChange === null && element.grupo.ruta_ajax === null)"
                cancelText="Cancelar" okText="Aceptar" [formControlName]="element.grupo.name_campo">
                <ion-option text-wrap *ngFor="let item of selectDimanic" [value]="item.id_pk">{{ item.nombre }}</ion-option>
              </ion-select>

              <!--CAMPO CON ÚNICAMENTE DATOS-->
              <ion-select *ngIf="element.grupo.tipo_campo === 'select' && element.datos != null" cancelText="Cancelar" okText="Aceptar"
                [formControlName]="element.grupo.name_campo">
                <ion-option text-wrap *ngFor="let data of element.datos" value="{{data.id_pk}}">{{ data.nombre }}</ion-option>
              </ion-select>

            </ion-item>

            <!--BUSCADOR-->
            <ion-item no-padding no-margin *ngIf="element.grupo.tipo_campo === 'select' && element.datos == null && element.grupo.ruta_ajax != null"
              style="display:none;">
              <ion-input type="hidden" [(ngModel)]='arrayModelHidden[i]' [formControlName]="element.grupo.name_campo"></ion-input>
            </ion-item>
            <ion-item no-padding no-margin *ngIf="element.grupo.tipo_campo === 'select' && element.datos == null && element.grupo.ruta_ajax != null">
              <ion-searchbar [(ngModel)]='arrayModel[i]' (ionInput)="resultsFilterAjax(element.grupo.ruta_ajax, $event)" [title]="arrayModel[i]"
                formControlName="searchText" [placeholder]='element.grupo.desc_campo' text-wrap></ion-searchbar>
            </ion-item>
            <ion-list *ngIf="element.grupo.tipo_campo === 'select' && element.datos == null && element.grupo.ruta_ajax != null">
              <ion-item *ngFor="let item of resultsServiceAjax" (click)="itemSelectedFilter(item, i, element )" text-wrap>
                <p>
                  {{ item.text }}
                </p>
              </ion-item>
              <ion-item *ngIf="resultsServiceAjax.length == 0 && !isSearchFilter">
                <p>
                  No se han encontrado resultados...
                </p>
              </ion-item>
            </ion-list>
            <!---->

          </div>

          <!--METODO NUEVO-->

          <ion-item>
            <ion-label floating color="azul-2">Descripción*</ion-label>
            <ion-textarea formControlName="description" [ngClass]="{'error-border':!formAntecedent.controls['description'].valid}"></ion-textarea>
          </ion-item>
          <div class="error-box" *ngIf="formAntecedent.controls['description'].hasError('required') && formAntecedent.controls['description'].touched">Este campo es requerido!</div>
          <br/>

          <ion-col class="col-12 col-xs-12">
            <ion-item>
              <ion-label color="primary">
                <b>*Privacidad:</b>
              </ion-label>
            </ion-item>
          </ion-col>
          <ion-row radio-group formControlName="privateAnt">
            <ion-col class="col-6 col-xs-6">
              <ion-item class="notification-alert__radio">
                <ion-label color="azul-2">Privado</ion-label>
                <ion-radio value="1" color="azul-2"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col class="col-6 col-xs-6">
              <ion-item class="notification-alert__radio">
                <ion-label color="azul-2">Público</ion-label>
                <ion-radio value="0" color="naranja-2" checked="true"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>


          <ion-grid>
            <ion-row>
              <ion-col class="notification-alert col-12 col-xs-12 col-sm-10 col-md-8 col-lg-8 col-xl-8">

                <ion-row>
                  <ion-col col-2 text-center>
                    <ion-icon name="icon-no_cargados" color="naranja-2"></ion-icon>
                  </ion-col>
                  <ion-col col-10>
                    <p>Si lo marca como privado no podrá ser visualizado por terceros ni en situación de emergencia, excepto
                      el profesional de salud</p>
                  </ion-col>
                </ion-row>

              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-item *ngIf="arrayPhonesAntecedent">
            <button type="button" ion-button item-start (click)="deleteFileImg()">
              <ion-icon name="icon-eliminar_1"></ion-icon>
            </button>
            <img [src]="arrayPhonesAntecedent" [imageViewer]="arrayPhonesAntecedent" alt="">
          </ion-item>

          <ion-grid *ngIf="patientProviderService.verifyAlmacenamiento()">
            <ion-row>
              <ion-col col-6 text-right>
                <button type="button" item-right ion-button outline color="azul-2" (click)="loadFile()">
                  <ion-icon name="icon-adjuntos"></ion-icon>
                </button>
                <input type="file" #fileUpload id="fileUpload" (change)="onUploadChange($event)" style="display: none;" />
                <!--ESTE PERMITE CARGAR FOTOS DE GALERIA CON EDITOR INTERNO CROP
                <button type="button" ion-button outline color="azul-2" (click)="loadImage()">
                  <ion-icon name="icon-adjuntos"></ion-icon>
                </button>
                -->
              </ion-col>
              <ion-col col-6>
                <button type="button" color="azul-2" ion-button item-left outline icon-only (click)="tomarPhone()">
                  <ion-icon name="icon-camara"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="nameFile">
              <ion-col col-12>
                <button type="button" ion-button item-start (click)="deleteFile()">
                  <ion-icon name="icon-eliminar_1"></ion-icon>
                </button>
                <p>
                  {{ nameFile }}
                </p>
              </ion-col>
            </ion-row>
          </ion-grid>

          <p *ngIf="!patientProviderService.verifyAlmacenamiento()" text-center>
            <ion-icon name="information-circle" color="danger"></ion-icon> No tiene almacenamiento para cargar archivos</p>

          <button ion-button type="submit" block outline round [disabled]="!formAntecedent.valid">Aceptar</button>
        </form>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>