.ios, .md {
  page-home {
    .notificaciones_num {
      background-color: #fff;
      color: #6bb9f0;
      border-radius: 6px;
      padding: 5px 3px;
      font-size: 3rem;
      width: 46px;
      height: 43px;
      text-align: center;

      &::after {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 4px;
        background-color: #fff;
        position: absolute;
        top: 43px;
        transform: rotate(45deg);
        left: 23px;
      }

      ion-badge {
        padding: 5px;
        min-width: 10px;
        font-size: 1.2rem;
        position: absolute;
        top: -4px;
        left: 43px;
        border-radius: 50%;
        background-color: color($colors, amarillo);
      }
    }

    .midis-hoy__buttons {
      color: #fff;
      background-color: color($colors, azul-2);

      ion-icon[name="icon-qr-margin"] {
        font-size: 3rem;

        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);

        &::after {
          content: "";
          border: 1px solid color($colors, naranja);
          position: relative;
          right: 50%;
          top: -2px;
        }
      }

      h6 {
        margin-top: .6rem;
      }

      ion-col:nth-child(2) {
        background-color: color($colors, primary);

        ion-icon[name="icon-emergencia"] {
          padding: 6px 7px;
          border-radius: 50%;
          background-color: color($colors, naranja);
          margin-top: 5px;
          font-size: 2.4rem;
        }
      }
    }

    .card-background-page {
      .card-datos {
        ion-icon {
          padding-top: 4px;
        }
      }

      ion-card {
        position: relative;
        text-align: center;
        width: 100%;
        // max-height: 18.45vh;
        // min-height: 18.45vh;
        border-radius: 0;
        cursor: pointer;
        background-repeat: no-repeat;
        background-size: cover;

        .card-title {
          position: absolute;
          top: 15%;
          font-size: 1.6em;
          width: 100%;
          color: #fff;
        }

        .card-subtitle {
          font-size: 1em;
          position: absolute;
          top: 52%;
          width: 100%;
          color: #fff;
        }

        &.autorizar {
          ion-icon {
            font-size: 2.5em;
          }

          small {
            margin-left: -20px;
          }
        }

        button.btn__datos-salud {
          font-size: 1.8rem;

          ion-icon {
            font-size: 3.5rem;
          }
        }

        ion-card-content.content__datos-salud {
          color: #808080;
        }
      }

      .grid {
        padding: 0;
      }
    }

    /* Publicidad */

    ion-slides {
      height: auto;
      // max-height: 18.3vh;
      // min-height: 18.3vh;
      background-size: cover;

      .publicidad_img {
        background-size: cover;
        background-repeat: no-repeat;
        // max-height: 18.3vh;
        // min-height: 18.3vh;
      }
    }

    .slide-zoom {
      background: #e6e6e6;
    }

    .thumb-img {
      padding: 10px;
    }

    .orale{
      display: block !important;
      object-fit: cover;
    }

    [ion-fixed] {
      height: 100%;
    }

    @media (min-width: 320px) {

      .card-background-page {

        .card-notificaciones,
        .card-datos,
        .card-autorizar {
          min-height: 18vh;
          max-height: 18vh;
        }

        .grid-midis-hoy__buttons,
        .midis-hoy__buttons,
        .slider-publicidad {
          min-height: 18.46vh;
          max-height: 18.46vh;  

          .publicidad_img {
            min-height: 18.46vh;
            max-height: 18.46vh;
          }
        }

        .midis-hoy__buttons {

          ion-col:nth-child(2) {    
            ion-icon[name="icon-emergencia"] {
              margin-top: 15px;
            }
          }
          
          ion-icon {
            font-size: 3rem;
            margin-top: 10px;
          }

          h6 {
            font-size: 1.4rem;
            margin-top: .3rem;
          }
        }

        .card-notificaciones {
          .card-title {
            font-size: 1.8rem;
          }
        }

        .card-autorizar {
          box-shadow: none;

          .card-title {
            top: 17%;
            font-size: 1.3em;
          }
        }
  
        ion-card {

          ion-card-header {
            padding-top: 6px;
          }

          button.btn__datos-salud {
            font-size: 1.6rem;

            ion-icon {
              font-size: 3rem;
            }
          }
        }
      }

    }

    @media (min-width: 360px) {

      .card-background-page {

        .card-notificaciones,
        .card-datos,
        .card-autorizar {
          min-height: 18.2vh;
          max-height: 18.2vh;
        }

        .grid-midis-hoy__buttons,
        .midis-hoy__buttons,
        .slider-publicidad {
          min-height: 18.46vh;
          max-height: 18.46vh;

          .publicidad_img {
            min-height: 18.46vh;
            max-height: 18.46vh;
          }
        }

        .card-notificaciones {
          .card-title {
            font-size: 2rem;
            top: 22%;
          }
        }

        .card-autorizar {
          .card-title {
            top: 16%;
            font-size: 1.6em;
          }
        }

        .midis-hoy__buttons {
          ion-icon[name="icon-qr-margin"] {
            font-size: 3.2rem;  
          }

          h6 {
            font-size: 1.6rem;
            margin-top: .3rem;
          }
        }
  
        ion-card {
          ion-card-header {
            padding-top: 18px;
          }

          button.btn__datos-salud {
            font-size: 1.7rem;

            ion-icon {
              font-size: 3.5rem;
            }
          }
        }
      }

    }

    @media (min-width: 375px) {

      .card-background-page {
        .midis-hoy__buttons {
          ion-col:nth-child(2) {    
            ion-icon[name="icon-emergencia"] {
              margin-top: 18px;
            }
          }
        }
      }
    
    }

    @media (min-width: 600px) {

      .card-background-page {
        .midis-hoy__buttons {
          ion-col:nth-child(2) {    
            ion-icon[name="icon-emergencia"] {
              margin-top: 40px;
            }
          }
        }
      }
    
    }

    @media (min-width: 768px) {

      .notificaciones_num {
        font-size: 5rem;
        width: 71px;
        height: 68px;
  
        &::after {
          width: 15px;
          height: 15px;
          top: 65px;
          left: 32px;
        }
  
        ion-badge {
          min-width: 15px;
          font-size: 1.4rem;
          left: 63px;
        }
      }

      .card-background-page {

        .card-notificaciones,
        .card-datos,
        .card-autorizar {
          min-height: 19vh;
          max-height: 19vh;
        }

        .grid-midis-hoy__buttons,
        .midis-hoy__buttons,
        .slider-publicidad {
          min-height: 19.1vh;
          max-height: 19.1vh;

          .publicidad_img {
            min-height: 19.1vh;
            max-height: 19.1vh;
          }
        }

        .card-notificaciones {
          .card-title {
            font-size: 3.6rem;
            top: 21%;
          }
        }

        .card-autorizar {
          .card-title {
            top: 20%;
            font-size: 2.5em;
          }
        }

        .card-title {
          margin-top: 1%;
        }

        .midis-hoy__buttons {
          ion-icon {
            font-size: 4.8rem;
          }

          h6 {
            font-size: 2.6rem;
          }

          ion-col:nth-child(2) {
    
            ion-icon[name="icon-emergencia"] {
              padding: 9px 10px;
              margin-top: 28px;
              font-size: 3.4rem;
            }
          }
        }

        ion-card {

          button.btn__datos-salud {
            font-size: 3rem;

            ion-icon {
              font-size: 4rem;
            }
          }

          ion-card-content.content__datos-salud {
            font-size: 2rem;
          }
        }
      }

      /* Publicidad */

      ion-slides {
        max-height: 250px;
        min-height: 250px;

        .publicidad_img {
          max-height: 250px;
          min-height: 250px;
        }
      }
    }

    @media (min-width: 800px) {

      .card-datos {
        padding-top: 60px;
      }

      .midis-hoy__buttons ion-col:last-child {
        padding-top: 75px;
      }

    }

  }
}
