<ion-header>
  <ion-navbar color="azul-2">
    <button ion-button menuToggle [ngClass]="menu_home">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>
      {{'HOME.TITLE' | translate}}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only [navParams]="{ 'seccion': 'home' }" [navPush]="pageHelp">
        <ion-icon name="md-help-circle" color="white"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page" no-scroll>

  <ion-card class="card-notificaciones" no-margin [navPush]="notifications" style="background-image: url(assets/imgs/midis_hoy_notificaciones.png)">
    <div class="card-title">
      <ion-grid>
        <ion-row>
          <ion-col col-7 col-xs-7 col-sm-6 col-md-7 col-lg-7 col-xl-7 *ngIf="patientProviderService.getCurrentUser() != undefined"
            text-right>
            <span>{{'SALUDO' | translate:{nombre: patientProviderService.getCurrentUser().nombres} }}</span>
            <br>
            <small text-center>{{'HOME.CARD_1.NOTIFICACIONES' | translate}}</small>
          </ion-col>
          <ion-col col-5 col-xs-5 col-sm-6 col-md-5 col-lg-5 col-xl-5 text-left>
            <div class="notificaciones_num">
              <strong>{{num_notify}}</strong>
              <ion-badge item-end>
                <ion-icon name="icon-notificaciones"></ion-icon>
              </ion-badge>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card>

  <ion-card class="card-datos" color="light" no-margin>
    <ion-card-header text-center no-padding padding-top>
      <button class="btn__datos-salud" ion-button icon-left clear full color="azul-2" [navPush]="datosSalud">
        <ion-icon name="icon-datos-salud"></ion-icon>
        {{'HOME.CARD_2.TITLE' | translate}}
      </button>
    </ion-card-header>
    <ion-card-content class="content__datos-salud" text-center *ngIf="patientProviderService.height && patientProviderService.weight && patientProviderService.imc">
      <ion-icon name="icon-estatura"></ion-icon>
      {{ patientProviderService.height }} cm |
      <ion-icon name="icon-peso"></ion-icon>
      {{ patientProviderService.weight }} Kg | {{'HOME.CARD_2.IMC' | translate:{imc: patientProviderService.imc} }}
    </ion-card-content>
    <ion-card-content class="content__datos-salud" [navPush]="datosSalud" text-center *ngIf="!patientProviderService.height && !patientProviderService.weight && !patientProviderService.imc">
      <p>{{'HOME.CARD_2.UPLOAD' | translate}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-autorizar autorizar" no-margin [navPush]="authorizeAccess" style="background-image: url(assets/imgs/midis_hoy_autorizar.png)">
    <ion-grid class="card-title">
      <ion-row>
        <ion-col col-4 col-xs-4 col-md-5 col-lg-5>
          <ion-icon name="icon-autor-prof" float-right></ion-icon>
        </ion-col>
        <ion-col col-8 col-xs-8 col-md-7 col-lg-7>
          <div float-left>
            <strong>{{'HOME.CARD_3.TITLE' | translate}}</strong>
            <br>
            <small>{{'HOME.CARD_3.SUBTITLE' | translate}}</small>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-grid class="grid-midis-hoy__buttons">
    <ion-row text-center align-items-stretch class="midis-hoy__buttons">
      <ion-col align-self-center (click)="scan()">
        <ion-icon name="icon-qr-margin"></ion-icon>
        <h6>{{'HOME.CARD_4.TITLE_1' | translate}}</h6>
      </ion-col>
      <ion-col [navPush]="emergencias">
        <ion-icon name="icon-emergencia"></ion-icon>
        <h6>
          {{'HOME.CARD_4.TITLE_2' | translate}}
        </h6>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-slides class="slider-publicidad" *ngIf="imagesPublicity && imagesPublicity.length" autoplay="5000" loop="true" pager="true">
    <ion-slide *ngFor="let imagen of imagesPublicity">
      <div class="publicidad_img" [ngStyle]="{'background-image':' url(' + imagen?.archivo_mobile + ')', 'background-size':'contain', 'background-color':'#fff'}"></div>
    </ion-slide>
  </ion-slides>

</ion-content>