.ios, .md {

  page-page-help {

    ion-content {

      .time-line {
        margin-left: 40px;
        ion-row{
          margin-top: -10px;
          margin-bottom: 30px;
        }
        b{
          color: #1E8AC2;
        }
        .bubble{
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-left: -40px;
          background-color: color($colors, azul-2);
          ion-icon{
              color: white;
              text-align: center;
              vertical-align: middle;
              align-content: center;
              font-size: 30px;
              padding-left: 5px;
              padding-top: 5px;
          }
        }
        .row-content{
          margin-top: -60px;
          .title{
            font-size: 20px;
            margin-top: -55px;
            margin-left: 10px;
            color: #262626;
          }
          .subtitle{
            font-size: 15px;
            margin-top: -10px;
            margin-left: -20px;
          }
          .content{
            font-size: 15px;
            margin-top: -55px;
            margin-left: 10px;
          }
        }
        .row-picture{
          margin-top: -40px;
          margin-left: -20px;
        }
      }

      .toolbar-background {
        background: #fff;
        border-color: transparent;
      }

      .ajustar_background_image{
        height: 100%;
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        background-size: cover;
        background-position: center center;
      }

      .slide-zoom {
        height: 100%;
      }

      .slide-title {
        margin-top: 2.8rem;
        color: color($colors, azul-2);
      }

      .slide-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .swiper-pagination-bullet-active {
        background: #fff;
      }

      .ios_help.help-button {
        __position: absolute;
        __top: 6%;
        __right: 2%;
        position: absolute;
        top: 3%;
        right: -6px;
      }


      .android_help.help-button {
        __position: absolute;
        __top: 6%;
        __right: 2%;
        position: absolute;
        top: 6px;
        right: -6px;
      }



      .sub_text_cuadro{
        width: 90%;
        position: absolute;
        bottom: 47px;
        border: none;
        text-align: center;
        font-size:17px;
      }

      .button-ios {
        font-size: 1.2rem;
      }

      .swiper-slide, .slide-zoom  {
        text-align: initial;
      }

      .button[icon-only] {
          padding: 0;
          min-width: .9em;
          background: transparent;
          box-shadow: none;
      }
   

    /*  @media screen and (max-width: 1200px) {

  
       }
       
      @media screen and (max-width: 992px) { 
        



       }*/

      @media only screen and (min-width: 768px) {
        /* para almacenamiento*/



        .icon_wizzard.font-117{
          font-size:178px;
        } 

          .sub_text_cuadro{
            font-size: 28px !important;
          }




         .titulo_wizzard{
            __font-size: 30px;
            font-size: 58px;
            margin-top:35px;
          }
          .icon_wizzard{
            __font-size: 61px; 
             font-size: 135px;
          }

          .subtitulo_wizzard{
            font-size: 32px;
          }
          .titulo_wizzard_border_top{
            font-size: 32px;
            __padding-top: 24px;
            width:82%;
          }

          .texto_wizzard_1{
            font-size: 32px;
            __width: 426px;
            width: 69%;

          }

      }


      @media only screen and (min-width: 1024px) {


        /* para almacenamiento*/
        .icon_wizzard.font-117{
          font-size:300px;
        } 

         .titulo_wizzard{
            font-size: 73px;
            margin-top:35px;
          }
          .icon_wizzard{
            __font-size: 61px; 
             font-size: 167px;
          }

          .subtitulo_wizzard{
            font-size: 44px;
          }

          .sub_text_cuadro{
            font-size: 38px !important;
          }

          .titulo_wizzard_border_top{
            font-size: 44px;
            __padding-top: 24px;
            width:82%;
          }

          .texto_wizzard_1{
            font-size: 44px;
                __width: 544px;
                width: 70%;
          }

      }

      @media screen and (max-width: 320px) { 
          .sub_text_cuadro{
            font-size: 15.2px;
          }
          .sub_text_cuadro{
              bottom:47px;
          }



      }

      @media  (min-width: 375px) and (max-width: 414px) { 
          .sub_text_cuadro{
            font-size: 17px !important;
          }
      }

      @media  (min-width: 375px) and (max-height: 667px) { 
          .sub_text_cuadro{
            font-size: 17px !important;
          }

          .sub_text_cuadro{
              bottom:63px;
          }


      }
      
    }

  }

}