<ion-content no-padding>
  <ion-buttons end [ngClass]="version" class="help-button">
    <button *ngIf="!login" ion-button icon-only (click)="close()" color="white">
      <ion-icon name="md-close-circle"></ion-icon>
    </button>
    <button *ngIf="login" ion-button icon-only (click)="close()">
      <ion-icon name="md-close-circle" style="color: #1E8AC2"></ion-icon>
    </button>
  </ion-buttons>
  <!--AYUDAS TÍPICAS-->
  <ion-slides *ngIf="!login" pager initialSlide="0" #mySlider (ionSlideTap)="slideToNext()" (ionSlideNextStart)="ionSlideNextStart()">
    <ion-slide *ngFor="let item of aEstilosTexto;" text-center [ngStyle]="{'background-image': 'url('+item.background_image+')'}"
      class="ajustar_background_image">
      <div class="{{item.class_contenedor}}">
        <div *ngIf="item.icons_aditional">
          <ion-icon *ngFor="let icon of item.icons_aditional" [name]="icon" style="margin-right: 10px; color: white; font-size: 50px; margin-bottom: 20px;"></ion-icon>
        </div>
        <ion-icon *ngIf="item.icon" [name]="item.icon" [ngClass]="item.class_icon"></ion-icon>
        <p class="{{item.class_titulo_wizzard}}" [innerHTML]="sanitizer.bypassSecurityTrustHtml(item.titulo_wizzard)"></p>
        <p *ngIf="item.subtitulo_wizzard" class="{{item.class_subtitulo_wizzard}}" [innerHTML]="sanitizer.bypassSecurityTrustHtml(item.subtitulo_wizzard)"></p>
        <p *ngIf="item.texto_wizzard" class="{{item.class_texto_wizzard}}" [innerHTML]="sanitizer.bypassSecurityTrustHtml(item.texto_wizzard)"></p>
        <div *ngIf="item.texto_options" no-padding style="margin-left: 10px; margin-right: 10px;" class="{{item.class_texto_options}}">
          <ion-row *ngFor="let option of item.texto_options">
            <ion-col col-1>
              <ion-icon name="md-checkmark" style="color:#f8ac59"></ion-icon>
            </ion-col>
            <ion-col col-11 style="margin-top: -20px;">
              <p style="color: white;" [innerHTML]="option"></p>
            </ion-col>
          </ion-row>
        </div>
        <div *ngIf="item.icons_aditional_down">
          <ion-icon *ngFor="let icon of item.icons_aditional_down" [name]="icon" style="margin-right: 10px; color: white; font-size: 30px; margin-bottom: 20px;"></ion-icon>
        </div>
      </div>
    </ion-slide>
  </ion-slides>

  <!--AYUDA LOGIN-->

  <ion-list class="time-line" *ngIf="login">

    <ion-row>
      <ion-grid>
        <ion-row class="row-content" style="margin-top: 20px;">
          <ion-col col-12>
            <p class="bubble">
              <ion-icon name="icon-midis_contorno"></ion-icon>
            </p>
            <p class="title">Te damos la Bienvenida a Midis app <b>Salud</b></p>
            <p class="subtitle">Una aplicación que te permitirá tener disponible toda tu información de salud cuando la
              necesites.
            </p>
          </ion-col>
        </ion-row>
        <ion-row class="row-picture">
          <ion-col col-12>
            <img src="assets/imgs/help_login_1.jpg">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>

    <ion-row>
      <ion-grid>
        <ion-row class="row-content">
          <ion-col col-12>
            <p class="bubble">
              <ion-icon name="icon-pacientes" style="padding-left: 9px;"></ion-icon>
            </p>
            <p class="content">Al crear tu cuenta tendrás un usuario y contraseña con los cuales acceder, si aún no
              tienes unos, ve a <b>crear cuenta</b>.
            </p>
          </ion-col>
        </ion-row>
        <ion-row class="row-picture">
          <ion-col col-12>
            <img src="assets/imgs/help_login_2.jpg">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>

    <ion-row>
      <ion-grid>
        <ion-row class="row-content">
          <ion-col col-12>
            <p class="bubble">
              <ion-icon name="md-help" style="padding-left: 12px;"></ion-icon>
            </p>
            <p class="content">En cada pantalla, encontrarás una ayuda, que te permitirá comprender que hacer <b>detalladamente</b>.</p>
          </ion-col>
        </ion-row>
        <ion-row class="row-picture">
          <ion-col col-12>
            <img src="assets/imgs/help_login_3.jpg">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>

    <ion-row>
      <ion-grid>
        <ion-row class="row-content">
          <ion-col col-12>
            <p class="bubble">
              <ion-icon name="icon-qr-margin" style="font-size: 25px; padding-top: 8px; padding-left: 8px;"></ion-icon>
            </p>
            <p class="title">Una vez tengas tu <b>código QR</b>.</p>
            <p class="subtitle">Midis app Salud puede ayudar a <b>SALVAR TU VIDA</b> en esos momentos inesperados.</p>
          </ion-col>
        </ion-row>
        <ion-row class="row-picture">
          <ion-col col-12>
            <img src="assets/imgs/help_login_4.jpg">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>

    <ion-row>
      <ion-grid>
        <ion-row class="row-content">
          <ion-col col-12>
            <p class="bubble">
              <ion-icon name="icon-editar_perfil"></ion-icon>
            </p>
            <p class="title"><b>Invierte tiempo</b> registrando tu información de salud.</p>
            <p class="subtitle">Tener tu información actualizada te permitirá recibir una atención más oportuna.</p>
          </ion-col>
        </ion-row>
        <ion-row class="row-picture">
          <ion-col col-12>
            <img src="assets/imgs/help_login_5.jpg">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>

  </ion-list>

</ion-content>