<ion-header>
  <ion-navbar color="azul-2">
    <ion-title text-center>Mis archivos de salud</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-list *ngIf="!timeOutControl">
    <ion-item text-center>
      <button ion-button type="button" round outline small (click)="loadNew()">Recargar</button>
    </ion-item>
  </ion-list>

  <ion-grid>
    <ion-row class="box-info" text-center margin-horizontal>
      <ion-col col-2 text-right>
        <ion-icon name="icon-info"></ion-icon>
      </ion-col>
      <ion-col col-10>
        <p>{{mensaje}}</p>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col col-12 col-xs-12 col-sm-10 col-md-8 col-lg-8 col-xl-8>

        <form [formGroup]="formUploadHealth" (ngSubmit)="logForm()" *ngIf="timeOutControl">
          <ion-list>
            <ion-item *ngIf="categories.length > 0">
              <ion-label color="azul-2" floating>
                Categoría
              </ion-label>
              <ion-select formControlName="category" cancelText="Cancelar" okText="Aceptar">
                <ion-option *ngFor="let category of categories" [value]="category.id_pk">{{ category.nombre }}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label color="azul-2" floating>
                <h6>Fecha del archivo*</h6>
              </ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="YYYY MM D" cancelText="Cancelar" doneText="Aceptar"
                formControlName="date_file"></ion-datetime>
            </ion-item>
            <div class="error-box" *ngIf="formUploadHealth.controls['date_file'].hasError('required') && formUploadHealth.controls['date_file'].touched">Este
              campo es requerido!</div>
            <ion-item>
              <ion-label color="azul-2" floating>
                <h6>Institución*</h6>
              </ion-label>
              <ion-input formControlName="institution"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="azul-2" floating>
                <h6>Profesional de salud</h6>
              </ion-label>
              <ion-input formControlName="profesional_health"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="azul-2" floating>
                <h6>Observaciones*</h6>
              </ion-label>
              <ion-input text-wrap formControlName="observation"></ion-input>
            </ion-item>

            <div class="error-box" *ngIf="formUploadHealth.controls['observation'].hasError('required') && formUploadHealth.controls['observation'].touched">Este
              campo es requerido!</div>

          </ion-list>

          <ion-grid>

            <ion-col class="col-12 col-xs-12">
              <ion-item>
                <ion-label color="primary">Privacidad*</ion-label>
              </ion-item>
            </ion-col>
            <ion-row radio-group formControlName="privateHealth">
              <ion-col class="col-6 col-xs-6">
                <ion-item>
                  <ion-label color="azul-2">Privado</ion-label>
                  <ion-radio value="1" color="azul-2"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col class="col-6 col-xs-6">
                <ion-item>
                  <ion-label color="azul-2">Público</ion-label>
                  <ion-radio value="0" color="naranja-2" checked="true"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col class="notification-alert col-12 col-xs-12 col-sm-10 col-md-8 col-lg-8 col-xl-8">

                <ion-row>
                  <ion-col col-2 text-center>
                    <ion-icon name="icon-no_cargados" color="naranja-2"></ion-icon>
                  </ion-col>
                  <ion-col col-10>
                    <span ion-text color="dark">
                      Si lo marca como privado no podrá ser visualizado por terceros, excepto el profesional de salud
                    </span>
                  </ion-col>
                </ion-row>

              </ion-col>
            </ion-row>

            <ion-row text-center margin-top>

              <ion-col text-center>
                <button type="button" ion-button outline color="azul-2" icon-only (click)="tomarPhone()">
                  <ion-icon name="icon-camara"></ion-icon>
                </button>
              </ion-col>
              <!-- <ion-col *ngIf="documentsProviderService.imagesBase64.length > 0">
                <button type="button" ion-button color="azul-2" (click)="cancelLoadImages()">Cancelar imagenes</button>
              </ion-col> -->
              <ion-col text-center [hidden]="so_flag">
                <button type="button" ion-button outline color="azul-2" (click)="loadImages()">
                  <ion-icon name="icon-adjuntos"></ion-icon>
                </button>
              </ion-col>
              <ion-col text-center [hidden]="!so_flag">
                <button type="button" item-right ion-button outline color="azul-2" (click)="loadFile()">
                  <ion-icon name="icon-adjuntos"></ion-icon>
                </button>
                <!--accept='image/jpeg,image/jpg,image/png,application/pdf'-->
                <input type="file" #fileUpload id="fileUpload" (change)="onUploadChange($event)" style="display: none;" />
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid *ngFor="let img of documentsProviderService.arrayFiles; let i = index">
            <ion-col col-9>
              <ion-icon color="primary" name="icon-adjuntos"></ion-icon> {{ img.nameFile }}
            </ion-col>
            <ion-col col-9>
              <button type="button" ion-button outline color="danger" item-start (click)="deleteFile(i)">
                <ion-icon color="danger" name="icon-eliminar_1"></ion-icon>
              </button>
            </ion-col>
          </ion-grid>

          <ion-grid *ngIf="documentsProviderService.imagesBase64.length > 0">
            <ion-row>
              <ion-col col-12 *ngFor="let imgBase64 of documentsProviderService.imagesBase64" text-center>
                <img [src]="imgBase64">
              </ion-col>
            </ion-row>
            <ion-row justify-content-center>
              <ion-col col-12 *ngIf="documentsProviderService.imagesBase64.length > 0" text-center>
                <button type="button" ion-button outline icon-only color="danger" (click)="cancelLoadImages()">
                  <ion-icon color="danger" name="icon-eliminar_1"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid *ngIf="base64Image">
            <ion-row>
              <ion-col col-12 text-center>
                <img [src]="base64Image">
              </ion-col>
            </ion-row>
            <ion-row justify-content-center>
              <ion-col col-12 text-center>
                <button type="button" ion-button outline icon-only color="danger" (click)="cancelLoadImages()">
                  <ion-icon color="danger" name="icon-eliminar_1"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-buttons text-center>
            <button ion-button type="submit" outline round small icon-left [disabled]="!formUploadHealth.valid">
              <ion-icon name="icon-guardar"></ion-icon>
              Guardar
            </button>
          </ion-buttons>

        </form>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>