<ion-header>
  <ion-navbar color="azul-2" text-center>
    <ion-title text-center>Términos y condiciones</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="cancelModal()">
        <ion-icon item-right name="ios-close-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <!--
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <p><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</strong></p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col col-6>
        <button ion-button
                outline
                round
                color="azul-2"
                (click)="cancelModal()">
          Cancelar
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button
                outline
                round
                color="secondary"
                (click)="acceptModal()">
          Aceptar
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>-->

  <ion-card class="card-image" *ngIf="archivo_adjunto">
    <ion-card-header text-wrap no-padding class="terminos_pdf">
      <img [src]="archivo_adjunto" [imageViewer]="archivo_adjunto" [alt]="archivo_adjunto" *ngIf="verifyTypeFile(archivo_adjunto)">
      <pdf-viewer [src]="archivo_adjunto" [render-text]="true" [original-size]="true" [zoom]="0.35" [page]="1"
        [autoresize]="true" [show-all]="true" style="display: block;" *ngIf="!verifyTypeFile(archivo_adjunto)" (click)="reviewFile(archivo_adjunto)"
        (page-rendered)="pageRendered()"></pdf-viewer>
      <!--<p *ngIf="!verifyTypeFile(archivo_adjunto)" (click)="reviewFile(archivo_adjunto)">
                  {{splitFileName(archivo_adjunto)}}
                </p>-->
    </ion-card-header>
    <ion-card-content no-padding>
      <ion-grid no-padding>
        <ion-row no-padding>
          <ion-col text-left margin-left>
            <button type="button" ion-button outline clear icon-only small color="dark">
              <ion-icon name="icon-jpg" color="primary" *ngIf="verifyTypeFile(archivo_adjunto)"></ion-icon>
              <ion-icon name="icon-pdf" color="rojo" *ngIf="!verifyTypeFile(archivo_adjunto)"></ion-icon>
            </button>
            <span style="vertical-align: text-top;">
              <!--{{ (splitFileName(archivo_adjunto).length>10)? (splitFileName(archivo_adjunto) | slice:0:10)+'..':(splitFileName(archivo_adjunto)) }}-->
              {{splitFileName(archivo_adjunto)}}
            </span>
          </ion-col>
          <ion-col text-right margin-right>
            <ion-row>
              <ion-col no-padding>
                <button type="button" ion-button outline clear icon-only small color="dark" (click)="download(archivo_adjunto)">
                  <ion-icon name="icon-exportar"></ion-icon>
                </button>
              </ion-col>
              <ion-col no-padding>
                <button *ngIf="!isIos" type="button" ion-button outline clear icon-only small color="dark" (click)="shareQr(archivo_adjunto)">
                  <ion-icon name="icon-compartir"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


  <!-- <ion-grid *ngIf="showButtons">

              <ion-row text-center>
                <ion-col col-6>
                  <button ion-button
                          outline
                          round
                          color="secondary"
                          (click)="acceptModal()">
                    Aceptar
                  </button>
                </ion-col>

                <ion-col col-6>
                  <button ion-button
                          outline
                          round
                          color="azul-2"
                          (click)="cancelModal()">
                    Cancelar
                  </button>
                </ion-col>

              </ion-row>
            </ion-grid>-->

</ion-content>