<ion-header>
  <ion-navbar color="azul-2">
    <ion-title text-center>Mis archivos de salud</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-refresher (ionRefresh)="reloadListHealthFile($event)">
      <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      ></ion-refresher-content>
  </ion-refresher>

  <ion-label [style.backgroundColor]="'#'+healthData.fondo_icono" color="light" text-center no-margin>
    <ion-icon [name]="healthData.icon"></ion-icon>
    {{ healthData.text }}
  </ion-label>

  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-12 col-xs-12 col-sm-10 col-md-8 col-lg-8 col-xl-8>

        <ion-card *ngFor="let list of documentsProviderService.listHealthFile; let i = index" (click)="detailHealthData(i, list)" margin-top>
          <ion-card-content>
            <ion-grid no-padding>
              <ion-row>
                <ion-col col-9>
                  <p><b>Fecha del estudio:</b> {{ list.fecha }}</p>
                  <p><b>Tipo de estudio:</b> {{ list.observacion }}</p>
                </ion-col>
                <ion-col col-3 text-left>
                  <ion-badge color="azul-2" *ngIf="list.estado == 'validado' ">Validado</ion-badge>
                  <ion-badge color="danger" *ngIf="list.estado == 'no validado' ">No validado</ion-badge>
                  <ion-badge color="naranja-2" *ngIf="list.estado == 'pendiente' ">Por validar</ion-badge>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>

        <div *ngIf="documentsProviderService.listHealthFile.length == 0" text-center>
          <div>
            <img  [src]="imageNoData">
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
