.ios, .md {

  page-list-file-health {

    ion-label {
      padding: 8px 8px 8px 20px;
      font-size: 1.6rem;
      ion-icon {
        font-size: 2.2rem;
        margin-right: 5px;
      }
    }

    ion-card {
      border-radius: 1px 1px 8px 8px;

      ion-card-content {
        padding: 10px;

        p {
          font-size: 1.3rem;
        }

        ion-badge {
          font-size: 1.1rem;
          border-radius: 10px;
          font-weight: 400;
        }
      }
    }

    h5 {
      color: color($colors, naranja);
    }

  }

}
