.md, .ios {

  page-personal-information {
    .error-box{
      padding: 0 15px;
    }
    .spinner-container {
      width: 100%;
      text-align: center;
      padding: 10px;
    }

    .label-city{
      margin: 0 0 35px 15px !important;
    }

    .hide {
      display: none;
    }

    .opciones_sexo{
      font-size: 14px;
      padding-left: 15px;

    }
    
  }

}
