<ion-content>
  <div ion-fixed class="header_title_tabs">
    <h5 text-center>DATOS PERSONALES</h5>
  </div>

  <div style="margin-top: 50px;">
    <ion-list [style.display]="!createAccountService.timeOutControl ? 'block' : 'none'">
      <ion-item text-center>
        <button ion-button type="button" round outline small (click)="createAccountService.newLoad()">Cargar de nuevo</button>
      </ion-item>
    </ion-list>

    <ion-list [style.display]="!timeOutControl ? 'block' : 'none'">
      <ion-item text-center>
        <button ion-button type="button" round outline small (click)="newLoad()">Cargar de nuevo</button>
      </ion-item>
    </ion-list>

    <ion-list [style.display]="createAccountService.timeOutControl && timeOutControl ? 'block' : 'none'">
      <ion-item>
        <ion-label floating color="azul-2">Nombres*</ion-label>
        <ion-input type="text" value="" [formControl]="createAccountService.register.controls['name']" [ngClass]="{'error-border':!createAccountService.register.controls['name'].valid}"></ion-input>
      </ion-item>
      <div class="error-box" *ngIf="createAccountService.register.controls['name'].hasError('required') && createAccountService.register.controls['name'].touched">Este
        campo es requerido!</div>
      <div class="error-box" *ngIf="createAccountService.register.controls['name'].hasError('maxlength') && createAccountService.register.controls['name'].touched">Maximo
        de caracteres es 20!</div>
      <div class="error-box" *ngIf="createAccountService.register.controls['name'].hasError('pattern') && createAccountService.register.controls['name'].touched">Este
        campo sólo debe contener letras</div>

      <ion-item>
        <ion-label floating color="azul-2">Primer apellido*</ion-label>
        <ion-input type="text" value="" [formControl]="createAccountService.register.controls['surname']"></ion-input>
      </ion-item>

      <div class="error-box" *ngIf="createAccountService.register.controls['surname'].hasError('required') && createAccountService.register.controls['surname'].touched">Este
        campo es requerido!</div>
      <div class="error-box" *ngIf="createAccountService.register.controls['surname'].hasError('maxlength') && createAccountService.register.controls['surname'].touched">Maximo
        de caracteres es 20!</div>
      <div class="error-box" *ngIf="createAccountService.register.controls['surname'].hasError('pattern') && createAccountService.register.controls['surname'].touched">Este
        campo sólo debe contener letras</div>
      <ion-item>
        <ion-label floating color="azul-2">Segundo apellido</ion-label>
        <ion-input type="text" value="" [formControl]="createAccountService.register.controls['second_surname']"></ion-input>
      </ion-item>

      <!-- <div class="error-box" *ngIf="createAccountService.register.controls['second_surname'].hasError('required') && createAccountService.register.controls['second_surname'].touched">Segundo apellido requerido!</div> -->
      <div class="error-box" *ngIf="createAccountService.register.controls['second_surname'].hasError('maxlength') && createAccountService.register.controls['second_surname'].touched">Máximo
        de caracteres es 20!</div>
      <div class="error-box" *ngIf="createAccountService.register.controls['second_surname'].hasError('pattern') && createAccountService.register.controls['second_surname'].touched">Este
        campo sólo debe contener letras</div>

      <ion-item>
        <ion-label floating color="azul-2">Fecha de nacimiento*</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="YYYY MM D" [max]="maxDate" [formControl]="createAccountService.register.controls['birthdate']"
          (ionChange)="updateAge($event)" doneText="Aceptar" cancelText="Cancelar"></ion-datetime>
      </ion-item>

      <div class="error-box" *ngIf="createAccountService.register.controls['birthdate'].hasError('required') && createAccountService.register.controls['birthdate'].touched">Este
        campo es requerido!</div>

      <ion-item>
        <ion-label color="azul-2">Sexo*</ion-label>
      </ion-item>

      <ion-list radio-group [formControl]="createAccountService.register.controls['gender']" style="border-bottom: gray 1px solid;">
        <ion-item no-lines>
          <ion-label class="opciones_sexo">Masculino</ion-label>
          <ion-radio value="M" checked></ion-radio>
        </ion-item>
        <ion-item no-lines>
          <ion-label class="opciones_sexo">Femenino</ion-label>
          <ion-radio value="F"></ion-radio>
        </ion-item>
      </ion-list>

      <!--
    <ion-item>
      <ion-label color="azul-2">Sexo*</ion-label>
      <ion-select [(ngModel)]="gender" placeholder="Seleccione" [formControl]="createAccountService.register.controls['gender']" okText="Aceptar" cancelText="Cancelar">
        <ion-option value="M" >Masculino</ion-option>
        <ion-option value="F">Femenino</ion-option>
      </ion-select>
    </ion-item>
-->

      <div class="error-box" *ngIf="createAccountService.register.controls['gender'].hasError('required') && createAccountService.register.controls['gender'].touched">Este
        campo es requerido!</div>
      <!--
    <ion-item>
      <ion-label color="azul-2">Discapacidad*</ion-label>
    </ion-item>
-->
      <ion-item [ngClass]="check_discapacidad?'item_erase_border':''">
        <ion-label color="azul-2">¿Tienes alguna discapacidad?</ion-label>
        <ion-select [(ngModel)]="check_discapacidad" [formControl]="createAccountService.register.controls['check_discapacidad']"
          (ionChange)="fn_ruleDiscapacidad(check_discapacidad)">
          <ion-option [value]="true">Sí</ion-option>
          <ion-option [value]="false">No</ion-option>
        </ion-select>
      </ion-item>

      <!-- Alternativa para selección de discapacidad con Toggle
    <ion-item [ngClass]="check_discapacidad?'item_erase_border':''">
      <ion-label color="azul-2">¿Tiene alguna discapacidad?</ion-label>
      <ion-toggle ng-true-value="Sí" ng-false-value="No" [(ngModel)]="check_discapacidad" [formControl]="createAccountService.register.controls['check_discapacidad']"
        (ionChange)="fn_ruleDiscapacidad(check_discapacidad)"></ion-toggle>
    </ion-item>
    -->

      <ion-item *ngIf="check_discapacidad" [ngClass]="check_discapacidad?'item_erase_border':''">
        <ion-label floating color="azul-2">Seleccione el tipo de discapacidad*</ion-label>
        <ion-select [formControl]="createAccountService.register.controls['discapacidad']" [(ngModel)]="discapacidad"
          okText="Aceptar" cancelText="Cancelar">
          <ion-option *ngFor="let item  of createAccountService.discapacidad" [value]="item.id_pk">{{ item.nombre }}</ion-option>
        </ion-select>
      </ion-item>

      <div class="error-box" *ngIf="check_discapacidad && createAccountService.register.controls['discapacidad'].hasError('required')  && createAccountService.register.controls['discapacidad'].touched">Este
        campo es requerido!</div>

      <ion-item *ngIf="check_discapacidad" [ngClass]="!createAccountService.register.controls['discapacidad'].valid?'disabled':''"
        style="border-bottom: gray 1px solid;">
        <ion-label floating color="azul-2">Describa su discapacidad*</ion-label>
        <ion-input type="text" value="" [formControl]="createAccountService.register.controls['discapacidad_desc']"></ion-input>
        <div class="error-box" *ngIf="createAccountService.register.controls['discapacidad_desc'].hasError('required')">Este
          campo es requerido!</div>

      </ion-item>
      <div class="error-box" *ngIf="check_discapacidad && createAccountService.register.controls['discapacidad_desc'].hasError('required') && createAccountService.register.controls['discapacidad_desc'].touched">Este
        campo es requerido!</div>





      <ion-item>
        <ion-label floating color="azul-2">País de residencia*</ion-label>
        <ion-select [formControl]="createAccountService.register.controls['country']" (ionChange)="updateCountry($event)"
          [(ngModel)]="person.country" okText="Aceptar" cancelText="Cancelar">
          <ion-option *ngFor="let country of createAccountService.countrys" [value]="country.id_pk">{{ country.nombre
            }}</ion-option>
        </ion-select>
      </ion-item>

      <div class="error-box" *ngIf="createAccountService.register.controls['country'].hasError('required') && createAccountService.register.controls['country'].touched">Es
        campo es requerido!</div>



      <ion-item>
        <ion-label floating color="azul-2">Estado/Provincia*</ion-label>
        <ion-select [disabled]="createAccountService.register.controls['country'].errors" [formControl]="createAccountService.register.controls['department']"
          (ionChange)="updateState($event)" [(ngModel)]="person.department" okText="Aceptar" cancelText="Cancelar">
          <ion-option [value]="state.id_pk" *ngFor="let state of states">{{ state.nombre }}</ion-option>
        </ion-select>
      </ion-item>

      <div class="error-box" *ngIf="createAccountService.register.controls['department'].hasError('required') && createAccountService.register.controls['department'].touched">Estado/Provincia
        requerido!</div>

      <div *ngIf="createAccountService.citiesPersonalInformation">
        <ion-label floating color="azul-2" class="label-city">Ciudad*</ion-label>
        <ion-searchbar [(ngModel)]="searchTermCity" [formControl]="searchControl" (ionInput)="onSearchInput($event)"
          placeholder="Buscar ciudad"></ion-searchbar>
        <div *ngIf="searching" class="spinner-container">
          <ion-spinner></ion-spinner>
        </div>
        <div class="error-search-label" *ngIf="citySelected=='0' && searchTermCity ">Selecciona una opción:</div>

        <ion-list *ngIf="hidenList" style="margin: 0px !important;" class="lists">
          <ion-item *ngFor="let city of cities" (click)="filterCitySelected(city)">
            {{ city.nombre }}
          </ion-item>
        </ion-list>
        <div class="error-box" *ngIf="createAccountService.register.controls['municipality'].hasError('required') && createAccountService.register.controls['municipality'].touched">La
          ciudad es requerida!</div>
        <div class="error-search-label" *ngIf="!searchTermCity && searchControl.touched">Este campo es requerido!</div>
        <div class="error-box" *ngIf="createAccountService.register.controls['municipality'].hasError('pattern') && createAccountService.register.controls['municipality'].touched">Este
          campo sólo debe contener letras</div>
      </div>

      <!--
    <ion-item *ngIf="!createAccountService.register.controls['country'].errors">
      <ion-label>¿Es este su país de nacimiento?</ion-label>
      <ion-checkbox [(ngModel)]="reside_actualmente" [formControl]="createAccountService.register.controls['reside_actualmente']"></ion-checkbox>
    </ion-item>
    -->

      <ion-item *ngIf="!createAccountService.register.controls['country'].errors" [ngClass]="reside_actualmente?'item_erase_border':''">
        <ion-label color="azul-2">¿Es este su país de nacimiento?</ion-label>
        <ion-select [(ngModel)]="reside_actualmente" [formControl]="createAccountService.register.controls['reside_actualmente']">
          <ion-option [value]="true">Sí</ion-option>
          <ion-option [value]="false">No</ion-option>
        </ion-select>
      </ion-item>

      <!--INFO VEREDA
      <ion-item *ngIf="veredas.length > 0">
        <ion-label floating color="azul-2">Vereda</ion-label>
        <ion-select [formControl]="createAccountService.register.controls['vereda']" [(ngModel)]="person.vereda" okText="Aceptar"
          cancelText="Cancelar">
          <ion-option [value]="vereda.id_pk" *ngFor="let vereda of veredas">{{ vereda.nombre }}</ion-option>
        </ion-select>
      </ion-item>
      -->


      <ion-item>
        <ion-label floating color="azul-2">Tipo documento*</ion-label>
        <ion-select [disabled]="createAccountService.register.controls['country'].errors" [formControl]="createAccountService.register.controls['type_document']"
          okText="Aceptar" cancelText="Cancelar">
          <ion-option *ngFor="let type of typesDocument" [value]="type.id_pk">{{ type.nombre }}</ion-option>
        </ion-select>
      </ion-item>





      <div class="error-box" *ngIf="createAccountService.register.controls['type_document'].hasError('required') && createAccountService.register.controls['type_document'].touched">Este
        campo es requerido o seleccione algun país primero!</div>

      <ion-item>
        <ion-label floating color="azul-2">Documento*</ion-label>
        <ion-input [disabled]="createAccountService.register.controls['type_document'].errors" type="number" value=""
          [formControl]="createAccountService.register.controls['document']" placeholder=""></ion-input>
      </ion-item>

      <div class="error-box" *ngIf="createAccountService.register.controls['document'].hasError('required') && createAccountService.register.controls['document'].touched">Este
        campo es requerido!</div>
      <div class="error-box" *ngIf="createAccountService.register.controls['document'].hasError('maxlength') && createAccountService.register.controls['document'].touched">Maximo
        de caracteres es 15!</div>

      <div text-center margin-top margin-right margin-bottom>
        <!-- <button ion-button type="button" color="azul-2" round outline small>Cancelar</button> -->
        <button ion-button type="button" color="azul-2" round outline small [disabled]="!createAccountService.register.valid"
          (click)="validateStep()">Siguiente</button>
      </div>

      <!-- <input type="button" ion-button [disabled]="!createAccountService.register.valid" (click)="validateStep()" value="Continuar"> -->

    </ion-list>
  </div>
</ion-content>