@font-face {
  font-family: 'icomoon';
  src: url('../assets/fonts/icomoon/icomoon.eot?3e91zf');
  src: url('../assets/fonts/icomoon/icomoon.eot?3e91zf#iefix') format('embedded-opentype'),
  url('../assets/fonts/icomoon/icomoon.ttf?3e91zf') format('truetype'),
  url('../assets/fonts/icomoon/icomoon.woff?3e91zf') format('woff'),
  url('../assets/fonts/icomoon/icomoon.svg?3e91zf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin makeIcon($arg, $val) {
  .ion-ios-#{$arg}:before ,
  .ion-ios-#{$arg}-circle:before ,
  .ion-ios-#{$arg}-circle-outline:before ,
  .ion-ios-#{$arg}-outline:before ,
  .ion-md-#{$arg}:before ,
  .ion-md-#{$arg}-circle:before ,
  .ion-md-#{$arg}-circle-outline:before ,
  .ion-md-#{$arg}-outline:before {
    font-family: "icomoon" !important;
    content: $val;
  }
}


@include makeIcon(icon-lapiz-editar-notificaciones-bn, '\e9ee');
@include makeIcon(icon-lapiz-editar-notificaciones-bn-contorno, '\e9ee');
@include makeIcon(icon-qr-margin, '\e9ed');
@include makeIcon(icon-res-citologia, '\e9ec');
@include makeIcon(icon-crear-cuenta, '\e9eb');
@include makeIcon(icon-codigo-naranja, '\e9e3');
@include makeIcon(icon-candado, '\ea04');
@include makeIcon(icon-almacenamiento-dos, '\ea03');
@include makeIcon(icon-citologia, '\e9de');
@include makeIcon(icon-embarazo, '\e9df');
@include makeIcon(icon-perimetro-cefalico, '\e9e0');
@include makeIcon(icon-menstruacin, '\e9e1');
@include makeIcon(icon-metro, '\e9e6');
@include makeIcon(icon-perimetro-abdominal, '\e9e7');
@include makeIcon(icon-perimetro-cuello, '\e9e8');
@include makeIcon(icon-perimetro-pelvico, '\e9e9');
@include makeIcon(icon-perimetro-toracico, '\e9ea');
@include makeIcon(icon-solicitud, '\e9dd');
@include makeIcon(icon-visualizar-instit2, '\e9dc');
@include makeIcon(icon-visualizar-instit, '\e9db');
@include makeIcon(icon-visualizar-insti, '\e9da');
@include makeIcon(icon-flecha-notificaciones-bn, '\e9f9');
@include makeIcon(icon-consultas2, '\e9d8');
@include makeIcon(icon-flecha-prescripciones, '\e9d7');
@include makeIcon(icon-mano, '\e9d9');
@include makeIcon(icon-ayuda, '\e9d6');
@include makeIcon(icon-info, '\e9d5');
@include makeIcon(icon-DCM, '\e95e');
@include makeIcon(icon-DOC, '\e967');
@include makeIcon(icon-flecha-lado, '\e95d');
@include makeIcon(icon-flecha-abajo, '\e95a');
@include makeIcon(icon-doc-personales, '\e959');
@include makeIcon(icon-autor-prof, '\e958');
@include makeIcon(icon-gestionar-usuarios, '\e956');
@include makeIcon(icon-gestionar-responsable, '\e955');
@include makeIcon(icon-responsable-entidad, '\e957');
@include makeIcon(icon-ficha-medica-texto, '\e9d4');
@include makeIcon(icon-asistencia, '\e9d1');
@include makeIcon(icon-auxilio, '\e9d2');
@include makeIcon(icon-fallecimiento, '\e9d3');
@include makeIcon(icon-responsable, '\e9d0');
@include makeIcon(icon-xls, '\e96c');
@include makeIcon(icon-actualizar, '\e900');
@include makeIcon(icon-actualizar-perfil, '\e901');
@include makeIcon(icon-adjuntos, '\e902');
@include makeIcon(icon-admiracion, '\e903');
@include makeIcon(icon-agregar, '\e904');
@include makeIcon(icon-alertas, '\e905');
@include makeIcon(icon-almacenamiento, '\e906');
@include makeIcon(icon-antec, '\e907');
@include makeIcon(icon-antecedentes_a, '\e908');
@include makeIcon(icon-anular, '\e909');
@include makeIcon(icon-anular_a, '\e90a');
@include makeIcon(icon-app_salud, '\e90b');
@include makeIcon(icon-arrastrar, '\e90c');
@include makeIcon(icon-audio, '\e90d');
@include makeIcon(icon-bancos_salud, '\e90e');
@include makeIcon(icon-basurero, '\e90f');
@include makeIcon(icon-brazo_der, '\e910');
@include makeIcon(icon-brazo_izq, '\e911');
@include makeIcon(icon-buscar, '\e912');
@include makeIcon(icon-camara, '\e913');
@include makeIcon(icon-carne-vac, '\e914');
@include makeIcon(icon-cerrar, '\e915');
@include makeIcon(icon-citologico, '\e916');
@include makeIcon(icon-compartir, '\e917');
@include makeIcon(icon-config, '\e918');
@include makeIcon(icon-confirmacion, '\e919');
@include makeIcon(icon-confirmacion-guardado, '\e91a');
@include makeIcon(icon-cons, '\e91b');
@include makeIcon(icon-consentimientos, '\e91c');
@include makeIcon(icon-contacto_familiar, '\e91d');
@include makeIcon(icon-contrasena, '\e91e');
@include makeIcon(icon-contrasea, '\e91f');
@include makeIcon(icon-datos-salud, '\e920');
@include makeIcon(icon-DB, '\e921');
@include makeIcon(icon-DB1, '\e922');
@include makeIcon(icon-directorio, '\e923');
@include makeIcon(icon-doc_previos, '\e924');
@include makeIcon(icon-doc_salud, '\e925');
@include makeIcon(icon-editar, '\e926');
@include makeIcon(icon-editar_perfil, '\e927');
@include makeIcon(icon-eliminar, '\e928');
@include makeIcon(icon-eliminar_1, '\e929');
@include makeIcon(icon-eliminar_b, '\e92a');
@include makeIcon(icon-eliminar-cuenta, '\e92b');
@include makeIcon(icon-emergencia, '\e92c');
@include makeIcon(icon-enlace, '\e92d');
@include makeIcon(icon-entidad, '\e92e');
@include makeIcon(icon-est_diagn, '\e92f');
@include makeIcon(icon-estatura, '\e930');
@include makeIcon(icon-eventos, '\e931');
@include makeIcon(icon-exportar, '\e932');
@include makeIcon(icon-Ficha-medica, '\e933');
@include makeIcon(icon-frec_cardiaca, '\e934');
@include makeIcon(icon-frec_respiratoria, '\e935');
@include makeIcon(icon-gest_usuarios, '\e936');
@include makeIcon(icon-glucemia, '\e937');
@include makeIcon(icon-grupo_sang, '\e938');
@include makeIcon(icon-guardar, '\e939');
@include makeIcon(icon-guardar_masivo, '\e93a');
@include makeIcon(icon-guardar_varios, '\e93b');
@include makeIcon(icon-historial, '\e93c');
@include makeIcon(icon-historial_salud, '\e93d');
@include makeIcon(icon-imprimir, '\e93e');
@include makeIcon(icon-info_adicional, '\e93f');
@include makeIcon(icon-inst-contacto, '\e940');
@include makeIcon(icon-instituciones, '\e941');
@include makeIcon(icon-internaciones, '\e942');
@include makeIcon(icon-interrogacion, '\e943');
@include makeIcon(icon-intervenciones, '\e944');
@include makeIcon(icon-inyec_carne, '\e945');
@include makeIcon(icon-jpg, '\e946');
@include makeIcon(icon-licenciamiento, '\e947');
@include makeIcon(icon-limpiar, '\e948');
@include makeIcon(icon-lugar-residencia, '\e949');
@include makeIcon(icon-menos, '\e94a');
@include makeIcon(icon-midis, '\e94b');
@include makeIcon(icon-midis_contorno, '\e94c');
@include makeIcon(icon-midis_hoy, '\e94d');
@include makeIcon(icon-midis_texto, '\e94e');
@include makeIcon(icon-modulos, '\e94f');
@include makeIcon(icon-no_cargados, '\e950');
@include makeIcon(icon-notificaciones, '\e951');
@include makeIcon(icon-pacientes, '\e952');
@include makeIcon(icon-parametrizacion, '\e953');
@include makeIcon(icon-pdf, '\e954');
@include makeIcon(icon-peso, '\e95b');
@include makeIcon(icon-phone, '\e95c');
@include makeIcon(icon-prescripciones, '\e95f');
@include makeIcon(icon-presion-arterial, '\e960');
@include makeIcon(icon-profesionales, '\e961');
@include makeIcon(icon-qr, '\e962');
@include makeIcon(icon-recomendaciones, '\e963');
@include makeIcon(icon-recuperar_contrasena, '\e964');
@include makeIcon(icon-reg_contacto_tel, '\e965');
@include makeIcon(icon-reportes, '\e966');
@include makeIcon(icon-save, '\e968');
@include makeIcon(icon-sede-entidad, '\e969');
@include makeIcon(icon-sedes, '\e96a');
@include makeIcon(icon-sistema, '\e96b');
@include makeIcon(icon-super_admin, '\e96d');
@include makeIcon(icon-tabla, '\e96e');
@include makeIcon(icon-tablas, '\e96f');
@include makeIcon(icon-temper_corporal, '\e970');
@include makeIcon(icon-tratamientos, '\e971');
@include makeIcon(icon-urgencias, '\e972');
@include makeIcon(icon-usuario, '\e973');
@include makeIcon(icon-usuarios, '\e974');
@include makeIcon(icon-vacuna_2-4, '\e975');
@include makeIcon(icon-vacuna_5-6, '\e976');
@include makeIcon(icon-vacuna_5-7, '\e977');
@include makeIcon(icon-vacuna_11, '\e978');
@include makeIcon(icon-vacuna_12, '\e979');
@include makeIcon(icon-vacuna_15-18, '\e97a');
@include makeIcon(icon-vacuna_adulto, '\e97b');
@include makeIcon(icon-vacuna_embarazo, '\e97c');
@include makeIcon(icon-vacuna_neonatos, '\e97d');
@include makeIcon(icon-vacuna_prescrita, '\e97e');
@include makeIcon(icon-vacuna_puerperio, '\e97f');
@include makeIcon(icon-ver-todas, '\e980');
@include makeIcon(icon-ver-todas_texto, '\e981');
@include makeIcon(icon-video, '\e982');
@include makeIcon(icon-visualizar, '\e983');
@include makeIcon(icon-urg_enfermedad_general, '\e984');
@include makeIcon(icon-urg_evento_catastrofico, '\e985');
@include makeIcon(icon-urg_laboral, '\e986');
@include makeIcon(icon-urg_obstetrica, '\e987');
@include makeIcon(icon-urg_transito, '\e988');
@include makeIcon(icon-trat_complementarios, '\e989');
@include makeIcon(icon-trat_farmaceuticos, '\e98a');
@include makeIcon(icon-trat_fisioterapia, '\e98b');
@include makeIcon(icon-trat_medicina_nuclear, '\e98c');
@include makeIcon(icon-trat_oncologicos, '\e98d');
@include makeIcon(icon-trat_quimioterapia, '\e98e');
@include makeIcon(icon-trat_radioterapia, '\e98f');
@include makeIcon(icon-trat_rehabilitaciones, '\e990');
@include makeIcon(icon-interv_ambulatoria, '\e991');
@include makeIcon(icon-interv_consulta_externa, '\e992');
@include makeIcon(icon-interv_internacion, '\e993');
@include makeIcon(icon-geriatria, '\e994');
@include makeIcon(icon-hospitalizacion, '\e995');
@include makeIcon(icon-internacion_salud_mental, '\e996');
@include makeIcon(icon-uci, '\e997');
@include makeIcon(icon-ucin, '\e998');
@include makeIcon(icon-anatomia_patologica, '\e999');
@include makeIcon(icon-cefalocaudales, '\e99a');
@include makeIcon(icon-estudios_especialidad, '\e99b');
@include makeIcon(icon-imagenes, '\e99c');
@include makeIcon(icon-laboratorios, '\e99d');
@include makeIcon(icon-vacuna_2-42, '\e99e');
@include makeIcon(icon-vacuna_5-62, '\e99f');
@include makeIcon(icon-vacuna_5-72, '\e9a0');
@include makeIcon(icon-vacuna_112, '\e9a1');
@include makeIcon(icon-vacuna_122, '\e9a2');
@include makeIcon(icon-vacuna_15-182, '\e9a3');
@include makeIcon(icon-vacuna_adulto2, '\e9a4');
@include makeIcon(icon-vacuna_embarazo2, '\e9a5');
@include makeIcon(icon-vacuna_neonatos2, '\e9a6');
@include makeIcon(icon-vacuna_puerperio2, '\e9a7');
@include makeIcon(icon-cert_defun, '\e9a8');
@include makeIcon(icon-cert_imp_corp, '\e9a9');
@include makeIcon(icon-cert_incap_lab, '\e9aa');
@include makeIcon(icon-controles_prenatales, '\e9ab');
@include makeIcon(icon-crecimiento_desarrollo, '\e9ac');
@include makeIcon(icon-enf_cronicas, '\e9ad');
@include makeIcon(icon-ficha_nacimiento, '\e9ae');
@include makeIcon(icon-otros, '\e9af');
@include makeIcon(icon-salud_auditiva, '\e9b0');
@include makeIcon(icon-salud_escolar, '\e9b1');
@include makeIcon(icon-salud_odonto, '\e9b2');
@include makeIcon(icon-salud_reprod, '\e9b3');
@include makeIcon(icon-salud_visual, '\e9b4');
@include makeIcon(icon-seg_enf_actual, '\e9b5');
@include makeIcon(icon-seg_enf_trans, '\e9b6');
@include makeIcon(icon-vacunacion, '\e9b7');
@include makeIcon(icon-atenciones, '\e9b8');
@include makeIcon(icon-chequeos, '\e9b9');
@include makeIcon(icon-cons-med, '\e9ba');
@include makeIcon(icon-donacion_organos, '\e9bf');
@include makeIcon(icon-muerte_digna, '\e9c0');
@include makeIcon(icon-celulas_madre, '\e9c1');
@include makeIcon(icon-cordon_placenta, '\e9c2');
@include makeIcon(icon-donacion_sangre, '\e9c3');
@include makeIcon(icon-espermatozoides, '\e9c4');
@include makeIcon(icon-hueso, '\e9c5');
@include makeIcon(icon-alergicos, '\e9c6');
@include makeIcon(icon-ant_transf_sanguinea, '\e9c7');
@include makeIcon(icon-auto_medicacion, '\e9c8');
@include makeIcon(icon-discapacidad, '\e9c9');
@include makeIcon(icon-disp_corporales, '\e9ca');
@include makeIcon(icon-embarazo_en_curso, '\e9cb');
@include makeIcon(icon-enf_actuales, '\e9cc');
@include makeIcon(icon-gineco_obstetricos, '\e9cd');
@include makeIcon(icon-habitos_saludables, '\e9ce');
@include makeIcon(icon-medicacion_actual, '\e9cf');
@include makeIcon(icon-patologicos_familiares, '\e9e2');
@include makeIcon(icon-quirurgicos, '\e9e4');
@include makeIcon(icon-toxicologicos, '\e9e5');