// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #2769A0,
  secondary:  #009880,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #808080,
  azul-2:     #1E8AC2,
  verde:      #74BF44,
  violeta:    #8D2832,
  amarillo:   #F7BE32,
  morado:     #8E44AD,
  azul-dark:  #0A3043,
  azul-light: #6BB9F0,
  gris:       #808285,
  rojo:       #D91E18,
  naranja:    #EF6D34,
  naranja-2:  #f8ac59
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$alert-ios-button-font-size: 15px;
$alert-ios-button-min-height: 30px;
$alert-ios-button-margin: 8px;
$alert-ios-button-min-width: 42%;


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$alert-md-head-text-align: center;
$alert-md-head-padding-top:	18px;
$alert-md-head-padding-bottom:	18px;



// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";
@import "icomoon";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
