<ion-list no-line>
  <button ion-item (click)="click('DOWNLOAD')">
    <ion-row>
      <ion-icon name="md-download" color="dark"></ion-icon>
      <h5 text-wrap>Descargar todo</h5>
    </ion-row>
  </button>
  <button ion-item (click)="click('SELECT')">
    <ion-row>
      <ion-icon name="md-checkbox-outline" color="dark"></ion-icon>
      <h5 text-wrap>Seleccionar</h5>
    </ion-row>
  </button>
  <button ion-item (click)="click('SHARE')">
    <ion-row>
      <ion-icon name="share-alt" color="dark"></ion-icon>
      <h5 text-wrap>Profesional externo</h5>
    </ion-row>
  </button>
</ion-list>