<ion-list no-line>
  <button ion-item [navParams]="{typePage: typePage}" [navPush]="pageHelp">
    <ion-icon name="icon-ayuda" color="dark"></ion-icon>
    {{'AYUDA' | translate}}
  </button>
</ion-list>