<ion-header>
  <ion-navbar color="azul-2">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>{{ 'ALMACENAMIENTO.TITLE' | translate:{value: 'EL MONO'} }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only [navParams]="{ 'seccion': 'almacenamiento' }" [navPush]="pageHelp">
        <ion-icon name="md-help-circle" color="white"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>

  <ion-buttons text-center *ngIf="!timeOutControl">
    <button ion-button type="button" round outline small (click)="loadNew()">{{'RECARGAR' | translate}}</button>
  </ion-buttons>

  <!--CONTENIDO-->
  <ion-grid no-padding>

    <ion-row justify-content-center>
      <ion-col col-12 col-xs-12 col-sm-10 col-md-8 col-lg-8 col-xl-8>
        <!--CABECERA-->
        <ion-card class="auth-card" no-margin>
          <ion-card-content>
            <ion-row justify-content-center>
              <ion-icon name="icon-almacenamiento"></ion-icon>
            </ion-row>
          </ion-card-content>
        </ion-card>

        <!--CONSUMO-->
        <ion-card class="consumo">
          <p text-wrap>{{ 'ALMACENAMIENTO.CONSUMO' | translate }}</p>
          <ion-row justify-content-center>
            <strong text-wrap>{{infoStorage.consumo}} Mb</strong>
          </ion-row>
        </ion-card>

        <!--ADQUIRIDO USUARIO-->
        <ion-row>
          <ion-col class="header_storage" style="background-color: #2769A0" col-12 no-padding>
            <h6 padding-left>
              <ion-icon name="icon-pacientes"></ion-icon> {{ 'ALMACENAMIENTO.PACIENTE' | translate }}
            </h6>
          </ion-col>
          <ion-card>
            <ion-row class="row_img">
              <img [src]="infoStorage.img_usuario">
              <p>{{infoStorage.nombre_usuario}}</p>
            </ion-row>
            <p class="text_storage"><b>{{ 'ALMACENAMIENTO.ADQUIRIDO' | translate }}</b>
              {{infoStorage.fecha_ini_usuario}}</p>
            <p class="text_storage"><b>{{ 'ALMACENAMIENTO.CADUCADO' | translate }}</b> {{infoStorage.fecha_fin_usuario}}
            </p>
          </ion-card>
        </ion-row>

        <!--INSTITUCION / PROFESIONAL-->
        <ion-row *ngIf="infoInst.length > 0">
          <ion-col class="header_storage" style="background-color: #74BF44" col-12 no-padding>
            <h6 padding-left>
              <ion-icon name="icon-instituciones"></ion-icon> {{ 'ALMACENAMIENTO.INSTITUCION' | translate }}
            </h6>
          </ion-col>
          <ion-card *ngFor="let inst of infoInst">
            <ion-row class="row_img">
              <img [src]="inst.get_institucion.logo">
              <p>{{inst.get_institucion.nombre_comercial}}</p>
            </ion-row>
            <p class="text_storage"><b>{{ 'ALMACENAMIENTO.ADQUIRIDO' | translate }}</b> {{inst.fecha_adquirida}}</p>
            <p class="text_storage"><b>{{ 'ALMACENAMIENTO.CADUCADO' | translate }}</b> {{inst.fecha_caducidad}}</p>
          </ion-card>
        </ion-row>

        <!--ENTIDAD RESPONSABLE-->
        <ion-row *ngIf="infoEntities.length > 0">
          <ion-col class="header_storage" style="background-color: #8E44AD" col-12 no-padding>
            <h6 padding-left>
              <ion-icon name="icon-pacientes"></ion-icon> {{ 'ALMACENAMIENTO.ENTIDAD' | translate }}
            </h6>
          </ion-col>
          <ion-card *ngFor="let entity of infoEntities">
            <ion-row class="row_img">
              <img [src]="entity.get_institucion.logo">
              <p>{{entity.get_institucion.nombre_comercial}}</p>
            </ion-row>
            <p class="text_storage"><b>{{ 'ALMACENAMIENTO.ADQUIRIDO' | translate }}</b> {{entity.fecha_adquirida}}</p>
            <p class="text_storage"><b>{{ 'ALMACENAMIENTO.CADUCADO' | translate }}</b> {{entity.fecha_caducidad}}</p>
          </ion-card>
        </ion-row>

      </ion-col>
    </ion-row>
  </ion-grid>
  <!---->

</ion-content>

<ion-footer>
  <!--RENOVAR, PAYU-->
  <ion-row style="margin-top: -80px;">
    <ion-col col-12 col-xs-12 col-sm-10 col-md-8 col-lg-8 col-xl-8 text-center>
      <ion-chip class="chip-midis" (click)="renovarAlmacenamiento()">
        <ion-icon name="md-refresh"></ion-icon>
        <ion-label color="primary">{{ 'RENOVAR' | translate }}</ion-label>
      </ion-chip>
    </ion-col>
  </ion-row>
</ion-footer>