// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



@font-face {
font-family: Bariol Bold;
src: url('../assets/Bariol_Bold.otf');
}
@font-face {
font-family: Roboto Regular;
src: url('../assets/Roboto-Regular.ttf');
}

.ios .toolbar-title {
  text-overflow: inherit;
  white-space: normal;
  text-align: left;
  text-align: center;
}

.md .toolbar-title {
  text-overflow: inherit;
  white-space: normal;
  text-align: left;
  text-align: center;
}

.md, .ios {


  .ion-toolbar {
    padding-left: 0;
    padding-right: 0;
  }

  .toolbar-title {
    font-size: 1.6rem;
    margin-left: -20px;
  }

  /* Img profile */

  .porcentaje_perfil_menu {    
    min-width: 30px;
    max-width: 30px;
    width: 30px;
  }
  .margin-chulo-rigth.h8v{
   height: 8vh;
  }
  .margin-chulo-rigth.h12v{
   height: 12vh;
  }
  .margin-chulo-rigth.h24v{
    height: 28vh;
   }
  .margin-chulo-rigth.h3v{
   height: 3vh;
  }
  .margin-chulo-rigth.h7_1_v{
   height: 7.1vh;
  }
  .margin-chulo-rigth.h4v{
   height: 4vh;
  }


  .margin-chulo-rigth.h5v{
   height: 5vh;
  }
  .margin-chulo-rigth{
    margin-right: 5px;
    float: left;
  }


  .opciones_sexo{
    font-size: 14px;
    padding-left: 15px;
  }

  .opcion_actualizar div{
    margin-left: -6px;
    overflow: visible;    
  }

  .login-container .error-box{
    margin-top: -9px;
    margin-bottom: 3px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 12px;
  }

  .header_title_tabs{
    background-color: #f8f8f8;
    display: flex;
    width: 500px;
    height: 40px;
    border-bottom: 1.5px solid #c7c6c6;

    h5{
      color: color($colors, azul-2);
      font-size: 1.5rem;
      font-weight: bold;
      margin-left: 15px;
    }
  }



  .bar-button-ios{
    font-size: 1.2rem;
  }


   ion-header button[ion-button].menu_home.bar-buttons { 
    width: 48px; 
    height: 48px; 
    border-radius: 50%; 
    background-color: rgba(192,192,192, 0.2);

    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5); 
    animation: pulse 1.5s infinite; 
    
   } 

  ion-header button[ion-button].menu_home.bar-buttons:hover {
    animation: none;
  }

  @keyframes pulse {
    0% {
    transform: scale(0.9);
    }
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(90, 153, 212, 0);
    }
      100% {
      transform: scale(0.9);
      box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }
  }




  .error-search-label {
      margin: 0px 15px;
      color: #ed5565;
      padding-bottom: 4px;
      border-bottom: 1px solid #dedede;
  }
  .fab_margin-right{
    margin: 23px -15px 0px 0px;
  }

  .disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  .contenedor_0_registros{
  display: flex;
    width: 98%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    __height: 60px;
    background-color: #6bb9f0;
    border-radius: 6px;
    height: 50px;
  }
  .contenedor_icono_left{
    margin-left: 10px;
    margin-right: 10px;
  }

   .contenedor_icono_left > ion-icon{
   
  font-size: 3.5rem; 
  color:white;
   }
   .contenedor_0_registros > div p{
  color:white;
   }
   
  .icon_wizzard.font-117{
    font-size:117px;
  } 

  .w_74p{
    width:74%;

  }
  .w_76p{
    width:76%;

  }

  .w_75{
    width:75%;
  }
  .w_60{
    width:60%;
  }
  .w_58{
    width:58% !important;
  }

  .w_70{
    width:70%;
  }

  .w_82p{
    width:82% !important;
  }
  .w_83p{
    width:83% !important;
  }

  .w_90p{
    width:90% !important;
  }

  .fs15{
    font-size:15px;
  }

  .15_1_px{
    font-size:15.9px;
  }

  .contenedor_primer_slide{
    display:flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
  }

  .midis_hoy{
    top: 70px;
    position: absolute;
  }

  .options_hoy{
    width: 90%;
    bottom: 20px;
    position: absolute;
  }

  .titulo_wizzard{
    color: white;
    font-family: Bariol Bold;
    __font-size: 3rem;
    __font-size: 2.2rem;
    font-size: 30px;
    border-bottom: 1px solid white;
    padding-bottom: 24px;
    width:79%;
    text-align:center;


  }
  .icon_wizzard{
    color:white;
    font-size: 61px; 
  }

  .subtitulo_wizzard{
     color: white;
    font-family: Roboto Regular;
    font-size: 20px;
  }
  .titulo_wizzard_border_top{
    color: white;
    font-family: Roboto Regular;
    font-size: 22px;
    border-top: 1px solid white;
    padding-top: 24px;
    width:82%;
    text-align:center;
  }

  .texto_wizzard_1{
    color:white;
    font-family:Roboto Regular;
    font-size: 17.9px;
    width: 246px;
    padding-top: 0px;
    margin-top: 0px;
    text-align:center;

  }

  .font-177{
    font-size: 177px;
  }
  .font-89{
    font-size: 89px;
  }

  .m_0{
    margin:0px;
  }

  .mt_0{
    margin-top:0px !important;
  }

  .mt_20{
    margin-top:20px;
  }
  .mt_27{
    margin-top:27px;
  }
  .mt_2p{
    margin-top: 2%;
  }
  mt_4p{
    margin-top: 4%;
  }

  .no_border{
      border:none;
  }

  .border_bottom{
    border:none;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
  }

  .justify{
    text-align: justify;
  }
  .w_80p{
    width: 80%;
  }
  
  .w_81p{
    width: 81%;
  }  
  .w_86p{
    width: 86%;
  }
  .w_72p{
    width: 72%;
  }
  .w_73,.w_73p{
    width: 73%;
  }
  .w_75p{
    width: 75% !important;
  }

  .w_66{
    width: 66% !important;
  }  
  .w_66p{
    width: 66%;
  }    
  .w_60p{
    width: 60%;
  }  
  .w_50p{
    width: 50%;
  }
  .w_51p{
    width: 51%;
  }
  .w_53p{
    width: 53%;
  }
  .w_65p{
    width: 65%;
  }

      

  .w_40p{
      width: 40%;
  }

  .chulos_wizzard_acPerfil{
    color:#f6be30;
  }

  .texto_wizzard{
    font-size: 18.8px;
    width: 253px;  

  }


  .icon_medio{
    color: white;
    font-size: 194px;
  }
  .mt_13p{
    margin-top: 13%;
  }

  .mt_0p{
    margin-top:0%;
  }

  .mb_20p{
    margin-bottom:20%;
  }

  .mt_menos_8{
      margin-top: -8%;
  }
  
  .raya_qr {
    font-size: 152px;

    &::after {
    content: "";
    border-top: 5px solid #EF6D34;
    position: absolute;
    left: 28.6%;
    top: 45%;
    /* bottom: 0; */
    /* height: 1px; */
    width: 44%;
    }
  }

  .no_border{
   border: none;
  }

  .box-info {
    border-radius: 6px;
    background-color: #6bb9f0;
    color: #fff;
    border-radius: 3px;
    margin-top: 20px;
    padding-left: 12px;
    padding-right: 12px;

    ion-col {
      padding-top: 0;
      padding-bottom: 0; 
    }

    ion-icon {
      font-size: 3.5rem;
      margin-top: 6px;
    }

    p {
      color: #fff;
      text-align: left;
      padding-left: 5px;
      margin-top: 8px;
      margin-bottom: 8px; 
    }
  }

 /* Candado antecedentes */


    
    .w250{
      width:250px;
    }


    width-100 {
      width: 100%;
    }

     .marginr-auto {
      margin-right: auto !important;
    }

    .marginl-auto {
      margin-left: auto !important;
    }

    .alineamiento-flexbox {
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
    }

    .txt-color-azul-oscuro{
      color:#1E8AC2;
    }


    .candado-antecedentes {  
      font-size: 12px;
      margin-right: 4px;
    /* line-height: 0px; */
    }

    .badge-estado-ant{
      margin-right: -10px !important;
      font-size: 12.4px;    
    }

    .badge-estado-ant{
      __margin-right: -10px;
    }



    .contenedor-badge-icon{
      float:right;
      margin-top:-4px;
    }

  


  /*.item-inner {
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #dedede;
  }*/

  .card_title_header{
    border-bottom: solid 2px lightgray!important;
    border-top: solid 2px lightgray!important;

  }
  .card_title_header span{
    __font-weight: bold;
    /* border-bottom: solid; */
    color: #1E8AC2;
    font-size:1.8rem;;
    text-transform: capitalize;

  }

  .card_content_card .label{
    color:#808080 !important;
    font-size:1.5rem;
  }


  ion-item[hidden]{
   display: none !important;
  }


  /* Styles for alerts */

  .alert-wrapper {

    .alert-head {
      background-color: color($colors, azul-2);

      .alert-title {
        color: color($colors, light);
        font-size: 1.6rem;

        /*&::before {
          font-family: "icomoon" !important;
          content: "\e929";
          margin-right: 10px;
          font-size: 2rem;
        }*/
      }
    }
  
    .alert-message {
      padding-top: 15px;
      text-align: center;
    }
  
    .alert-button-group {
      justify-content: center;
      border-top: 1px solid color($colors, dark);

      .alert-button {
        color: color($colors, azul-2);
        border: 1px solid color($colors, azul-2);
        border-radius: 67px;
        font-weight: 400;
        padding: 5px 12px;
        text-transform: none;
      }
    }
  
    .alert-radio-group {
  
      .alert-radio-label {
        color: color($colors, dark);
      }
  
    }

  }

  .flecha-min
  {
    font-size: 1.5rem !important;
    min-height: 1.5rem;
    color: #fff;
    background-color: #1E8AC2;
    border-radius: 100%;
    position: absolute;
    top: 15px;
    left: 10%;
  }

  ion-card.card-image {
    border-radius: 1px 1px 8px 8px;

    ion-card-header {
      max-height: 120px;
      img {
        object-fit: contain;
      }
    }

    ion-grid {
      background-color: #ddd;
    }
  }

  .popover-menu {
    .popover-content {
      top: 60px !important;
      left: 100px !important;
    }
  }

  .popover-ficha-medica {
    .popover-content {
      top: 60px !important;
      left: 100px !important;
    }
  }

  .popover-content {

    ion-list {
      margin: 0;

      button {
        .item-inner {
          border-bottom: none;

          ion-label {
            margin: 8px 8px 8px 0;
            padding-top: 2px;
            padding-bottom: 2px;

            ion-icon {
              font-size: 1.4em;
              color: #333;
              margin-right: 8px;
            }
          }
        }
      }
    }
  }

  p {
    color: color($colors, dark);
  }

  .input-outline-rounded {
    margin-bottom: 12px;
    border-radius: 64px;
    border: 1px solid color($colors, dark);

    ion-icon {
      margin-top: 2px;
    }
  }

  .input-outline-rounded.item-block {
    min-height: 3rem;

    .label,
    .label,
    .text-input,
    .text-input {
      margin: 5px 8px 5px 0;
    }
  }


  .error-box {
    margin: 5px 0 20px;
    color: #ed5565;
  }

  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: #40beb3;
    -webkit-box-shadow: inset 0 -1px 0 0 #40beb3;
    box-shadow: inset 0 -1px 0 0 #40beb3;
  }

  .profile {

    margin-top: 10px;

      img{
          width: 50px;
          height: 50px;
          border-radius: 100%;
          object-fit: cover;
          margin-left: 10px;
      }

      .profile__title {
        margin-left: 2px;
      }


      button {
        text-transform: none;
      }

  }

  button.item-ios:not([detail-none]) .item-inner {
    background-image: none;
  }

  .sidemenu button {
    font-size: 1.5rem;
    margin-left: 5px;

    &:first-child, &:nth-child(1), &:nth-child(5), &:nth-child(7), &:nth-child(9), &:nth-child(12) {
      border-bottom: 1px solid #ddd;
    }

    &:nth-child(9) {
      ion-icon[name="icon-emergencia"] {
        padding: 4px 5px 5px 5px;
        background-color: #EF6D34;
        border-radius: 50%;
        color: #fff;
        font-size: 1.9rem;
      }

      item-inner {
        margin-left: 8px;
      }
    }

    .item-inner {
      margin-left: 15px;
    }

    ion-icon {
      font-size: 2.4rem;
    }
  }

  button.item-ios,
  button.item-md {
    color: #333;
  }

  h5.crear-cuenta__title {
    color: color($colors, azul-2);
    font-size: 1.6rem;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color:white;
  }

  ion-chip.chip-midis {
    cursor: pointer;
    color: #fff;
    border: 1px solid color($colors, azul-2);
    background-color: #fff;

    ion-icon {
      width: 50px;
      height: 50px;
      font-size: 3rem;
      line-height: 46px;
      position: relative;
      top: -10px;
      left: -2px;
    }
  }

  .successToast {
    .toast-wrapper {
      background-color: #40beb3 !important;
      .toast-message {
        color: #fff;
        text-align: center;
      }
    }
  }

  .warningToast {
    .toast-wrapper {
      background-color: #f8ac59 !important;
      .toast-message {
        color: #fff;
        text-align: center;
      }
    }
  }

  .errorToast {
    .toast-wrapper {
      background-color: #ed5565 !important;
      .toast-message {
        color: #fff;
        text-align: center;
      }
    }
  }
   ion-select .select-text{ white-space: pre-line; }
  .alert-ios .alert-radio-label, .alert-ios .alert-checkbox-label{ white-space: pre-line;}
  .alert-md .alert-radio-label, .alert-md .alert-checkbox-label{ white-space: pre-line;}
  .alert-wp .alert-radio-label, .alert-wp .alert-checkbox-label{ white-space: pre-line;}

  .ion-grid-group{
    margin-left: 13px !important;
    .col-left{
      padding: 0;
      .input-group-addon{
        font-size: 16px;
        color: #808080;
      }
    }
    .col-center{
      padding-top: 0;
      padding-left: 0;
      padding-bottom: 0;
      font-size: 16px;
      .text-input-md, .text-input-ios{
        margin: 7px 8px 7px 0px;
      }
    }
  }

  .item-inner{
    padding-right: 0 !important;
  }

  // Estilos para los titulos de Antecedesntes y ficha medica

  .gineco-obstetrico__title {
    background-color: color($colors, azul-2);
    color: #fff;
    h6 {
      margin-top: 1rem;
      font-size: 1.4rem;
    }
  }

  .pres_cargadas_banner {
    background-color: color($colors, azul-2);
    color: #fff !important;

    h6 {
      display: flex;
      margin-top: 1rem;
      font-size: 1.4rem;
      color: #fff !important;
      margin-bottom: .8rem;
      ion-icon {
        margin-right: 5px;
      }
    }
  }

  .recomendaciones_banner {
    background-color: color($colors, secondary);
    color: #fff !important;

    h6 {
      display: flex;
      margin-top: 1rem;
      font-size: 1.4rem;
      color: #fff !important;
      margin-bottom: .8rem;
      ion-icon {
        margin-right: 5px;
      }
    }
  }

  .antecedentes-alerta__title {
    background-color: color($colors, rojo);
    color: #fff !important;

    h6 {
      display: flex;
      margin-top: 1rem;
      font-size: 1.4rem;
      color: #fff !important;
      margin-bottom: .8rem;
      ion-icon {
        margin-right: 5px;
      }
    }
  }

  .antecedentes-asistenciales__title {
    background-color: color($colors, azul-2);
    color: #fff !important;

    h6 {
      display: flex;
      margin-top: 1rem;
      font-size: 1.4rem;
      color: #fff !important;
      margin-bottom: .8rem;
      ion-icon {
        margin-right: 5px;
      }
    }
  }

  .otros-antecedentes__title {
    background-color: #ffcc30;
    color: #fff;

    h6 {
      display: flex;
      margin-top: 1rem;
      font-size: 1.4rem;
      ion-icon {
        margin-right: 5px;
      }
    }
  }

  .habitos-saludables__title {
    background-color: #1c84c6;
    color: #fff;

    h6 {
      display: flex;
      margin-top: 1rem;
      font-size: 1.4rem;
      ion-icon {
        margin-right: 5px;
      }
    }
  }

  .ultimo-evento__title {
    background-color: #74BF44;
    color: #fff;

    h6 {
      -moz-display: flex;
      -webkit-display: flex;
      -o-display: flex;
      display: flex;
      margin-top: 1rem;
      font-size: 1.4rem;
      ion-icon {
        margin-right: 5px;
      }
    }
  }

  /*.contacto-medico__title {
    background-color: #40beb3;

    h6 {
      color: #fff;
      -moz-display: flex;
      -webkit-display: flex;
      -o-display: flex;
      display: flex;
      margin-top: 1rem;
      font-size: 1.4rem;
      ion-icon {
        margin-right: 5px;
      }
    }
  }*/

  .contacto-medico__title {
    background-color:color($colors, naranja);

    h6 {
      display: flex;
      margin-top: 1rem;
      font-size: 1.4rem;
      color: #fff !important;
      margin-bottom: .8rem;
      ion-icon {
        margin-right: 5px;
      }
    }
  }

 .contacto-personal__title {
    background-color: #40beb3;

    h6 {
      display: flex;
      margin-top: 1rem;
      font-size: 1.4rem;
      color: #fff !important;
      margin-bottom: .8rem;
      ion-icon {
        margin-right: 5px;
      }
    }
  }




   // Estilos para los mensajes informativos 

   .notification-alert {

    border: 1px solid color($colors, naranja-2);
    border-radius: 5px;

    p {
      margin: 0;
      margin-bottom: 5px;
    }

    ion-icon {
      font-size: 3.3rem;
      margin-top: 6px;
    }

    ion-item {
      padding-left: 8px;

      .item-inner {
        border: none;
      }

      ion-label {
        margin: 0;
        font-size: 1.5rem;
      }

      ion-radio.radio {
        margin: 0;
      }
    }

    &.notification-alert--info {
      border: 1px solid color($colors, azul-2);
    }   

  }

  /* =========================================== */

  .box-info {
    background-color: #6bb9f0;
    color: #fff;
    border-radius: 3px;
    margin-top: 20px;
    padding-left: 12px;
    padding-right: 12px;

    ion-col {
      padding-top: 0;
      padding-bottom: 0; 
    }

    ion-icon {
      font-size: 3.5rem;
      margin-top: 6px;
    }

    p {
      color: #fff;
      text-align: left;
      padding-left: 5px;
      margin-top: 8px;
      margin-bottom: 8px; 
    }
  }

  // Estilos para particularidades

  .no-border-botttom .item-inner {
    border-bottom: none;
  }

  @media (min-width: 320px) {
    .profile {
      img {
        width: 45px;
        height: 45px;
        margin-left: 0;
        margin-top: 5px;
      }

      .profile__title {
        margin-left: 10px;
        font-size: 1.5rem;
      }

      .profile__title + ion-icon {
        font-size: 1.5rem;
        margin-left: 8px;
      }
    }

    // Estilos para ficha médica

    .popover-ficha-medica {
      .popover-content {
        top: 45px !important;
        left: 115px !important;
      }
    }
  }

  @media (min-width: 360px) {
    .profile {

      img {
        width: 50px;
        height: 50px;
        margin-left: 10px;
        margin-top: 0;
      }

      .profile__title {
        margin-left: 12px;
        font-size: 1.6rem;
      }

      .profile__title + ion-icon {
        font-size: 1.7rem;
      }

    }

    // Estilos para ficha médica

    .popover-ficha-medica {
      .popover-content {
        top: 45px !important;
        left: 115px !important;
      }
    }
  }

  @media (min-width: 375px) {

    .popover-ficha-medica {
      .popover-content {
        left: 165px !important;
      }
    }

  }

  @media (min-width: 412px) {

    .popover-ficha-medica {
      .popover-content {
        left: 200px !important;
      }
    }

  }

  @media (min-width: 600px) {

    .popover-ficha-medica {
      .popover-content {
        left: 340px !important;
      }
    }

  }

  @media (min-width: 768px) {

    .popover-ficha-medica {
      .popover-content {
        left: 560px !important;
      }
    }

  }

  @media (min-width: 800px) {

    .popover-ficha-medica {
      .popover-content {
        top: 50px !important;
        left: 540px !important;
      }
    }

  }

  @media (min-width: 992px) {

    .popover-ficha-medica {
      .popover-content {
        top: 60px !important;
        left: 820px !important;
      }
    }

  }

}
