<ion-menu [content]="content" *ngIf="loginProviderService.getCurrentUser().usuario != undefined">
    <ion-header>
        <ion-toolbar color="azul-2">
            <div class="profile">
                <ion-grid no-padding>
                    <ion-row no-padding>
                        <ion-col col-3 text-right>
                          <img class="profile-picture" (click)="updatePhoto_profile(patientProviderService.avatar)" [src]="patientProviderService.avatar"/>
                        </ion-col>
                        <ion-col col-9>
                          <!-- <button ion-button clear block text-wrap text-left no-padding color="light" (click)="presentPopover($myEvent)"> -->
                            <div class="profile__title" ion-text text-wrap text-left no-padding color="light">
                              <span>{{'SALUDO' | translate:{nombre: patientProviderService.getCurrentUser().nombres} }}</span>
                              <br>
                              <small>{{ patientProviderService.getCurrentUser().correo }}</small>
                            </div>
                            <!-- <ion-icon name="icon-flecha-abajo" item-right></ion-icon> -->
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list no-lines class="sidemenu">
            <button ion-item lines (click)="openPage(home)">
              <ion-icon name="icon-midis_hoy" item-start></ion-icon>
              {{'HOME.TITLE' | translate}}
            </button>
            <button ion-item (click)="openPage(indexUpdateProfile)" class="opcion_actualizar perfil">
              <img class="porcentaje_perfil_menu" [src]="porcentaje_perfil" item-start>
              <!-- <img src="assets/imgs/cargando.png" class="porcentaje_perfil_menu"  (load)="loaded = false" [hidden]="loaded" item-start>
              <img [src]="porcentaje_perfil" class="porcentaje_perfil_menu" (load)="loaded = true" alt=""  item-start> -->
              {{'ACTUALIZAR_PERFIL.TITLE' | translate}}
            </button>
            <button ion-item (click)="openPage(indexAntecedent)">
              <ion-icon name="icon-antecedentes_a" item-start></ion-icon>
              {{'ANTECEDENTES.TITLE' | translate}}
            </button>
            <button ion-item (click)="openPage(datosSalud)">
              <ion-icon name="icon-datos-salud" item-start></ion-icon>
              {{'DATOS_SALUD.TITLE' | translate}}
            </button>            
            <button ion-item (click)="openPage(verDocs)">
              <!-- <ion-icon name="icon-notif-documentos" item-start></ion-icon> -->
              <!-- <ion-icon name="icon-doc-personales" item-start></ion-icon> -->
              <ion-icon name="icon-doc-personales" item-start></ion-icon>
              <ion-icon class="flecha-min" name="icon-flecha-notificaciones-bn" item-start></ion-icon>
              {{'MIS_DOCUMENTOS.TITLE' | translate}}
            </button>
            <button ion-item (click)="openPage(fichaMedica)">
              <ion-icon name="icon-Ficha-medica" item-start></ion-icon>
              {{'FICHA_MEDICA.TITLE' | translate}}
            </button>
            <button ion-item (click)="openPage(reportes)">
              <ion-icon name="icon-reportes" item-start></ion-icon>
                {{'REPORTES.TITLE' | translate}}
            </button>  
            <button ion-item (click)="openPage(qrMidis)">
              <ion-icon name="icon-qr" item-start></ion-icon>
                {{'QR.TITLE' | translate}}
            </button>
            <button ion-item (click)="openPage(reportarEmergecia)">
              <ion-icon name="icon-emergencia" item-start></ion-icon>
                {{'EMERGENCIAS.TITLE' | translate}}
            </button>                
            <button ion-item (click)="openPage(documentosPrevios)">
              <ion-icon name="icon-doc_previos" item-start></ion-icon>
              {{'ARCHIVOS.TITLE' | translate}}
            </button>
            <button ion-item (click)="openPage(midisSalud)">
              <ion-icon name="icon-midis_contorno" item-start></ion-icon>
                {{'MIDIS_SALUD.TITLE' | translate}}
            </button>
            <button ion-item (click)="openPage(appSalud)">
              <ion-icon name="icon-app_salud" item-start></ion-icon>
                {{'APP_SALUD.TITLE' | translate}}
            </button>
            <button ion-item (click)="openPage(almacenamiento)">
              <ion-icon name="icon-almacenamiento" item-start></ion-icon>
                {{'ALMACENAMIENTO.TITLE' | translate}}
            </button>
            <button ion-item (click)="openPage(settings)">
              <ion-icon name="icon-contrasena" item-start></ion-icon>
                {{'CONFIG.TITLE' | translate}}
            </button>
            <button ion-item (click)="logOut()">
              <ion-icon name="icon-cerrar" item-start></ion-icon>
              {{'LOGOUT' | translate}}
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
