<ion-list no-line>
  <button ion-item (click)="download()">
    <ion-icon name="icon-exportar" color="dark"></ion-icon>
    Descargar
  </button>
  <button ion-item (click)="shareFichaMedical()">
    <ion-icon name="icon-compartir" color="dark"></ion-icon>
    Compartir
  </button>
  <!--<button ion-item [navParams]="{typePage: imgHelp}" [navPush]="pageHelp" (click)="close()">
    <ion-icon name="icon-ayuda" color="dark"></ion-icon>
    Ayuda
  </button>-->
</ion-list>
