.ios,
.md {
  page-ficha-medica {
    ion-navbar {
      /*ion-buttons {
        button {
          font-size: 2.2rem;
          margin-right: 1.2rem;
        }
      }*/
    }

    ion-badge {
      border-radius: 10px;
      font-weight: 400;
    }

    .img_prof{
      border-radius: 50%;
    }

    .profile-picture {
      border-radius: 50%;
      padding: 2px;
      border: 1px solid #ffffff;
      width: 70px;
      height: 70px;
      margin-top: 10px;
      object-fit: cover;
    }

    .ficha-medica__header {
      background-color: color($colors, azul-light);
      color: #ffffff;
      margin-top: 10px;
      padding: 10px;

      h5 {
        margin-bottom: 0;
      }

      h6 {
        margin-top: 5px;
      }

      .ficha-medica__header__item {
        border-bottom: 1px solid #fff;

        &:last-child {
          border: none;
        }

        ion-icon {
          font-size: 1.4rem;
        }

        span {
          font-size: 1.2rem;
        }
      }
    }

    .antecedentes-alerta ion-card,
    .otros-antecedentes ion-card,
    .habitos-saludables ion-card {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      color: #808285;

      ion-card-content {
        h4 {
          color: color($colors, azul-2);
          font-weight: bold;
        }

        p {
          color: #808285;
        }

        img {
          width: 50px;
          height: 50px;
        }
      }
    }

    .gineco-obstetrico {
      color: #808285;

      ion-row span {
        font-size: 1.4rem;
      }

      strong {
        color: color($colors, azul-2);
        margin-right: 10px;
      }
    }

    .spinner-container {
      width: 100%;
      text-align: center;
      padding: 10px;
    }
  }
}
