<ion-header>
  <ion-navbar color="azul-2" text-center>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Ficha médica única digital</ion-title>
    <ion-buttons end>
      <button ion-button icon-only [navParams]="{ 'seccion': 'ficha_unica' }" [navPush]="pageHelp">
      <!--<button ion-button icon-only (click)="popoverHelp($event)">-->
        <!--<ion-icon name="more"></ion-icon>-->
         <ion-icon name="md-help-circle" color="white"></ion-icon>
      </button>
      <button ion-button icon-only (click)="popoverShare($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <div *ngIf="patientProviderService.spinnerFichaMedica" class="spinner-container">
    <ion-spinner></ion-spinner> Descargando...
  </div>
  <ion-buttons text-center [style.display]="!timeOutControl ? 'block' : 'none'">
    <button ion-button type="button" round outline small (click)="loadNew()">Recargar</button>
  </ion-buttons>
  <ion-grid no-padding [style.display]="timeOutControl ? 'block' : 'none'">
    <ion-row class="ficha-medica__header">
      <ion-col col-12>
        <ion-row justify-content-center>
          <ion-col col-3>
            <img class="profile-picture" [src]="avatar" [imageViewer]="avatar" />
          </ion-col>
          <ion-col col-6 text-left>
            <h5>{{ names }}</h5>
            <h6>{{ edad }} </h6>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-12>
        <ion-row class="ficha-medica__header__item" *ngIf="datos_spa.estatura && datos_spa.peso">
          <ion-col *ngIf="datos_spa.estatura">
            <ion-icon name="icon-estatura"></ion-icon>
            <span><b>Estatura</b> {{ datos_spa.estatura }} cm</span>
          </ion-col>
          <ion-col *ngIf="datos_spa.peso">
            <ion-icon name="icon-peso"></ion-icon>
            <span><b>Peso</b> {{ datos_spa.peso }} kg</span>
          </ion-col>
        </ion-row>
        <!-- <ion-row [navPush]="datosSalud" text-center *ngIf="!datos_spa.estatura && !datos_spa.peso && !datos_spa.imc">
          <ion-col col-12>
            <span color="light" margin-top margin-bottom>Cargar datos de salud...</span>
          </ion-col>
        </ion-row> -->
        <ion-row class="ficha-medica__header__item" *ngIf="datos_spa.imc && indiceMC">
          <ion-col *ngIf="datos_spa.imc">
            <span><b>IMC</b> {{ datos_spa.imc }}</span>
          </ion-col>
          <ion-col *ngIf="indiceMC">
            <ion-icon name="pie"></ion-icon>
            <span no-margin>{{ indiceMC }}</span>
          </ion-col>
        </ion-row>
        <ion-row class="ficha-medica__header__item"  *ngIf="typeRH.nombre && (datos_spa.pres_art_s && datos_spa.pres_art_d)">
          <ion-col *ngIf="typeRH.nombre">
            <ion-icon name="icon-grupo_sang"></ion-icon>
            <span><b>Tipo desangre</b> {{ typeRH.nombre }}</span>
          </ion-col>
          <ion-col *ngIf="datos_spa.pres_art_s && datos_spa.pres_art_d">
            <ion-icon name="icon-presion-arterial"></ion-icon>
            <span><b>Presión Arterial</b> {{ datos_spa.pres_art_s+'/'+datos_spa.pres_art_d }}</span>
          </ion-col>
        </ion-row>
        <ion-row class="ficha-medica__header__item" *ngIf="datos_spa.frec_card && datos_spa.frec_resp">
          <ion-col *ngIf="datos_spa.frec_card">
            <ion-icon name="icon-frec_cardiaca"></ion-icon>
            <span><b>Frec. Cardiaca</b> {{ datos_spa.frec_card }}</span>
          </ion-col>
          <ion-col *ngIf="datos_spa.frec_resp">
            <ion-icon name="icon-frec_respiratoria"></ion-icon>
            <span><b>Frec. Respiratoria</b> {{ datos_spa.frec_resp}}</span>
          </ion-col>
        </ion-row>
        <ion-row class="ficha-medica__header__item" *ngIf="datos_spa.temp_corp && datos_spa.glucemia">
          <ion-col *ngIf="datos_spa.temp_corp">
            <ion-icon name="icon-temper_corporal"></ion-icon>
            <span><b>Temp. Corporal</b> {{ datos_spa.temp_corp }} °C</span>
          </ion-col>
          <ion-col *ngIf="datos_spa.glucemia">
            <ion-icon name="icon-glucemia"></ion-icon>
            <span><b>Glucemia</b> {{ datos_spa.glucemia }} mg/dl</span>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="gineco-obstetrico" *ngIf="currentUser.genero == 'F' && datosGO">
      <ion-col class="gineco-obstetrico__title" col-12>
        <h6 padding-left>
          Datos gineco-obstétricos
        </h6>
      </ion-col>
      <ion-row padding-horizontal padding>
        <ion-col col-12>
          <div *ngIf="datosGO.semanas_gest">
            <strong>Embarazo:</strong> Si</div>
          <div *ngIf="!datosGO.semanas_gest">
            <strong>Embarazo:</strong> No</div>
        </ion-col>
        <ion-col col-12 *ngIf="datosGO.fec_posible_parto">
          <strong>Fecha posible parto:</strong>
          <!-- <ion-icon name="icon-eventos"></ion-icon> -->
          <span>{{datosGO.fec_posible_parto}}</span>
        </ion-col>
        <ion-col col-12 *ngIf="datosGO.semanas_gest">
          <strong>Semanas de gestación:</strong>
          <!-- <ion-icon name="icon-eventos"></ion-icon> -->
          <span>{{datosGO.semanas_gest}}</span>
        </ion-col>
        <ion-col col-12 *ngIf="datosGO.fec_ult_citologia !== ''">
          <strong>Fecha última citología:</strong>
          <span>{{datosGO.fec_ult_citologia}}</span>
        </ion-col>
        <ion-col col-12 *ngIf="datosGO.result_citologia !== ''">
          <strong>Resultado:</strong>
          <span>{{datosGO.result_citologia}}</span>
        </ion-col>
      </ion-row>
    </ion-row>

    <ion-row class="antecedentes-alerta" *ngIf="antecedent_alert.length > 0">
      <ion-col class="antecedentes-alerta__title" col-12 align-self-center >
        <h6 padding-left>
          <ion-icon name="icon-antecedentes_a"></ion-icon>
          Antecedentes de alerta
        </h6>
      </ion-col>


      <ion-col col-12 *ngFor="let item of antecedent_alert;let i = index">

      <ion-card text-left>
        <ion-card-content>
          <ion-grid no-padding>

            <div class="alineamiento-flexbox width-100">
                <div class="marginr-auto alineamiento-flexbox">
                  <div class="alineamiento-flexbox">
                    <h4>{{ item.antPac.get_tipo_antecedente.nombre }}</h4>                  
                  </div> 
                </div>
                <div class="marginl-auto alineamiento-flexbox">
                    <div class="alineamiento-flexbox">
  
                       <p><ion-badge class="badge-estado-ant" style="margin-right: -10px;" color="azul-2" *ngIf="item.antPac.validado == 'validado' "><ion-icon class="candado-antecedentes" [name]="item.antPac.privado=='1'?'lock':''" [color]="white"></ion-icon> Validado</ion-badge></p>
                       <p><ion-badge class="badge-estado-ant" style="margin-right: -10px;" color="danger" *ngIf="item.antPac.validado == 'no validado' "><ion-icon class="candado-antecedentes" [name]="item.antPac.privado=='1'?'lock':''" [color]="white"></ion-icon> No validado</ion-badge></p>
                      <p> <ion-badge class="badge-estado-ant" style="margin-right: -10px;" color="naranja-2" *ngIf="item.antPac.validado == 'pendiente' "><ion-icon class="candado-antecedentes" [name]="item.antPac.privado=='1'?'lock':''" [color]="white"></ion-icon>  Por validar</ion-badge></p>
                    </div>
                </div>
            </div>
            <ion-row>
                <ion-col col-12>
                  <p>
                    <span *ngFor="let campo of item.campos; let i = index">
                      <span *ngIf="campo.desc_campo != '' || campo.desc_campo != null || campo.desc_campo != undefined">
                        <span *ngIf="campo.desc_valor"><b>{{campo.desc_campo}}:</b> {{ campo.desc_valor }} <br></span>
                      </span>
                    </span>
                    <b *ngIf="item.antPac.referencia != null">Descripción:</b> {{ item.antPac.referencia }}<br>
                  </p>
                  <p>
                    <strong>Fecha:</strong> {{ formatDate(item.antPac.get_tipo_antecedente.created_at) }}
                  </p>
                  <p *ngIf="item.antPac.pac_fk_cambio != null ">
                      <strong>Cargado por:</strong> Paciente</p>
                    <p *ngIf="item.antPac.pro_fk_cambio != null ">
                      <strong>Cargado por:</strong> Profesional</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="otros-antecedentes" *ngIf="othersAntecedent.length > 0">
      <ion-col class="otros-antecedentes__title" col-12>
        <h6 padding-left>
          <ion-icon name="icon-antecedentes_a"></ion-icon> Otros antecedentes</h6>
      </ion-col>
      <ion-col col-12 *ngIf="othersAntecedent.length == 0" text-center>
        <p>
          <ion-icon name="information-circle" color="danger"></ion-icon> No tiene cargado intervenciones</p>
      </ion-col>


      <ion-col col-12 *ngFor="let item of othersAntecedent;let i = index">

      <ion-card text-left>
        <ion-card-content>
          <ion-grid no-padding>

            <div class="alineamiento-flexbox width-100">
                <div class="marginr-auto alineamiento-flexbox">
                  <div class="alineamiento-flexbox">
                      <h4> {{ item.antPac.get_tipo_antecedente.nombre }}</h4>
                  </div> 
                </div>
                <div class="marginl-auto alineamiento-flexbox">
                    <div class="alineamiento-flexbox">
  
                       <p><ion-badge class="badge-estado-ant" style="margin-right: -10px;" color="azul-2" *ngIf="item.antPac.validado == 'validado' "><ion-icon class="candado-antecedentes" [name]="item.antPac.privado=='1'?'lock':''" [color]="white"></ion-icon> Validado</ion-badge></p>
                       <p><ion-badge class="badge-estado-ant" style="margin-right: -10px;" color="danger" *ngIf="item.antPac.validado == 'no validado' "><ion-icon class="candado-antecedentes" [name]="item.antPac.privado=='1'?'lock':''" [color]="white"></ion-icon> No validado</ion-badge></p>
                      <p> <ion-badge class="badge-estado-ant" style="margin-right: -10px;" color="naranja-2" *ngIf="item.antPac.validado == 'pendiente' "><ion-icon class="candado-antecedentes" [name]="item.antPac.privado=='1'?'lock':''" [color]="white"></ion-icon>  Por validar</ion-badge></p>
                    </div>
                </div>
            </div>
            <ion-row>
                <ion-col col-12>
                  <p>
                    <span *ngFor="let campo of item.campos; let i = index">
                      <span *ngIf="campo.desc_campo != '' || campo.desc_campo != null || campo.desc_campo != undefined">
                        <span *ngIf="campo.desc_valor"><b>{{campo.desc_campo}}:</b> {{ campo.desc_valor }}</span> 
                      </span>
                    </span>
                    <b *ngIf="item.antPac.referencia != null">Descripción:</b> {{ item.antPac.referencia }}<br>
                  </p>
                  <p>
                    <strong>Fecha:</strong> {{ formatDate(item.antPac.get_tipo_antecedente.created_at) }}
                  </p>
                  <p *ngIf="item.antPac.pac_fk_cambio != null ">
                    <strong>Cargado por:</strong> Paciente</p>
                  <p *ngIf="item.antPac.pro_fk_cambio != null ">
                    <strong>Cargado por:</strong> Profesional</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
      </ion-col>
    </ion-row>


    <ion-row class="habitos-saludables" *ngIf="healthyHabits.length > 0">
      <ion-col class="habitos-saludables__title" col-12>
        <h6 padding-left>
          <ion-icon name="icon-antecedentes_a"></ion-icon> Hábitos saludables</h6>
      </ion-col>

    <ion-col *ngFor="let item of healthyHabits;let i = index" col-12>

      <ion-card text-left>
        <ion-card-content>
          <ion-grid no-padding>

            <div class="alineamiento-flexbox width-100">
                <div class="marginr-auto alineamiento-flexbox">
                  <div class="alineamiento-flexbox">
                     <h4>{{ item.antPac.get_tipo_antecedente.nombre }}</h4>
                  </div> 
                </div>
                <div class="marginl-auto alineamiento-flexbox">
                    <div class="alineamiento-flexbox">
  
                       <p><ion-badge class="badge-estado-ant" style="margin-right: -10px;" color="azul-2" *ngIf="item.antPac.validado == 'validado' "><ion-icon class="candado-antecedentes" [name]="item.antPac.privado=='1'?'lock':''" [color]="white"></ion-icon> Validado</ion-badge></p>
                       <p><ion-badge class="badge-estado-ant" style="margin-right: -10px;" color="danger" *ngIf="item.antPac.validado == 'no validado' "><ion-icon class="candado-antecedentes" [name]="item.antPac.privado=='1'?'lock':''" [color]="white"></ion-icon> No validado</ion-badge></p>
                      <p> <ion-badge class="badge-estado-ant" style="margin-right: -10px;" color="naranja-2" *ngIf="item.antPac.validado == 'pendiente' "><ion-icon class="candado-antecedentes" [name]="item.antPac.privado=='1'?'lock':''" [color]="white"></ion-icon>  Por validar</ion-badge></p>
                    </div>
                </div>
            </div>
            <ion-row>
                <ion-col col-12>
                  <p>
                    <span *ngFor="let campo of item.campos; let i = index">
                      <span *ngIf="campo.desc_campo != '' || campo.desc_campo != null || campo.desc_campo != undefined">
                        <span *ngIf="campo.desc_valor"><b>{{campo.desc_campo}}:</b> {{ campo.desc_valor }} </span>
                      </span>
                    </span>
                    <b *ngIf="item.antPac.referencia != null">Descripción:</b> {{ item.antPac.referencia }}
                  </p>
                  <p>
                    <strong>Fecha:</strong> {{ formatDate(item.antPac.get_tipo_antecedente.created_at) }}
                  </p>
                  <p *ngIf="item.antPac.pac_fk_cambio != null ">
                    <strong>Cargado por:</strong> Paciente</p>
                  <p *ngIf="item.antPac.pro_fk_cambio != null ">
                    <strong>Cargado por:</strong> Profesional</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
      </ion-col>
    </ion-row>


      <!--<ion-col *ngFor="let item of healthyHabits;let i = index" col-12>
        <ion-card>
          <ion-card-content>
              <ion-grid no-padding>
                  <ion-row>
                    <ion-col col-9>
                        <h4>{{ item.antPac.get_tipo_antecedente.nombre }}</h4>
                        <p>
                          <span *ngFor="let campo of item.campos; let i = index">
                            <span *ngIf="campo.desc_campo != '' || campo.desc_campo != null || campo.desc_campo != undefined">
                              <b>{{campo.desc_campo}}:</b> {{ campo.desc_valor }} <br>
                            </span>
                          </span>
                          <b *ngIf="item.antPac.referencia != null">Descripción:</b> {{ item.antPac.referencia }}
                        </p>
                        <p>
                          <strong>Fecha:</strong> {{ formatDate(item.antPac.get_tipo_antecedente.created_at) }}
                        </p>
                        <p *ngIf="item.antPac.pac_fk_cambio != null ">
                          <strong>Cargado por:</strong> Paciente</p>
                        <p *ngIf="item.antPac.pro_fk_cambio != null ">
                          <strong>Cargado por:</strong> Profesional</p>
                    </ion-col>
                    <ion-col col-3>
                      <ion-badge color="azul-2" *ngIf="item.antPac.validado == 'validado' ">Validado</ion-badge>
                      <ion-badge color="danger" *ngIf="item.antPac.validado == 'no validado' ">No validado</ion-badge>
                      <ion-badge color="naranja-2" *ngIf="item.antPac.validado == 'pendiente' ">Por validar</ion-badge>
                    </ion-col>
                  </ion-row>
              </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>-->

    <ion-row class="habitos-saludables" *ngIf="lastEvent.id_pk != undefined">
      <ion-col class="ultimo-evento__title" col-12>
        <h6 padding-left>
          <ion-icon name="icon-cons"></ion-icon> Ultimo evento de salud
        </h6>
      </ion-col>

      <ion-col col-12 *ngIf="lastEvent.id_pk != undefined">
        <ion-card>
          <ion-card-content>
            <ion-row>
              <ion-col col-3 *ngIf="logoInstitution">
                <img [src]="logoInstitution">
              </ion-col>
              <ion-col col-9 *ngIf="nameInstitution">
                <h4 margin-top>{{ nameInstitution }}</h4>
              </ion-col>
              <ion-col col-3 *ngIf="!logoInstitution">
                <img class="img_prof" src="./assets/imgs/prof_ext.jpg">
              </ion-col>
              <ion-col col-9 *ngIf="!nameInstitution">
                <h4 margin-top>Profesional externo</h4>
              </ion-col>
              <ion-col col-12>
                <p>
                  <strong>Fecha del evento: </strong> {{ lastEvent.fecha }}
                </p>
                <p>
                  <strong>Motivo: </strong> {{ lastEvent.motivo }}
                </p>
                <div *ngFor="let diagn of diagnostic">
                  <p>
                    <strong>Diágnostico presuntivo: </strong> {{ diagn.nombre }}
                  </p>
                </div>
                <p>
                  <strong>Tipo de evento: </strong> {{ typeEvent }}
                </p>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>

    <!-- <ion-row>
      <ion-card>
        <ion-card-header color="secondary">
          <ion-icon name="heart"></ion-icon>
          Último evento de salud
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <ion-col col-3>
              <img class="profile-picture" round [src]="avatar" />
            </ion-col>
            <ion-col col-9>
              <ion-row>
                <ion-col col-12>
                  Centro medico del norte
                </ion-col>
                <ion-col col-12>
                  Alejandra Londoño Jimenez / Medico General
                </ion-col>
                <ion-col col-12>
                  <strong>Motivo: </strong> Sensación de fatiga, dolor y sudoración
                  <br>
                  <strong>Diagnostico presuntivo: </strong> Hipogliceias reactivas alimentarias
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <button clear color="primary" icon-start ion-button>
                    <ion-icon name="star"></ion-icon>
                    Consulta externa
                  </button>
                </ion-col>
                <ion-col text-center>
                  <button clear color="primary" icon-start ion-button>
                    <ion-icon name="musical-notes"></ion-icon>
                    Ver detalle
                  </button>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-card-content>

      </ion-card>
    </ion-row> -->
  </ion-grid>

</ion-content>
