<ion-header>
  <ion-navbar color="azul-2">
    <button ion-button icon-only clear menuToggle color="light">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Mis archivos de salud</ion-title>
    <ion-buttons end>
      <button ion-button icon-only [navParams]="{ 'seccion': 'mis_archivos_salud' }" [navPush]="pageHelp">
      <!--<button ion-button icon-only (click)="popoverHelp($event)">-->
        <!--<ion-icon name="more"></ion-icon>-->
         <ion-icon name="md-help-circle" color="white"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding text-center>
  <ion-buttons margin-top text-center *ngIf="!timeOutControl">
    <button ion-button type="button" outline round small (click)="loadNew()">Recargar</button>
  </ion-buttons>
  <ion-grid text-center *ngIf="timeOutControl">

    <ion-row *ngIf="haveStorage">
      <ion-col>
        <ion-chip class="chip-midis" (click)="uploadHealthFile()">
          <ion-icon name="icon-doc_previos" color="primary"></ion-icon>
          <ion-label color="primary">Cargar documentos</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>

    <div *ngIf="!haveStorage && !haveHalthFile" text-center>
      <ion-chip class="chip-midis" [navPush]="almacenamiento">
        <ion-icon name="icon-almacenamiento"></ion-icon>
        <ion-label color="primary">Adquirir</ion-label>
      </ion-chip>
      <div>
        <img  src="assets/imgs/archivos_salud_sin_alm.png" (load)="loaded = false" [hidden]="loaded">
      </div>
    </div>

    <div *ngIf="haveStorage && !haveHalthFile && imagesArchivosSaludPublicity">
      <img  src="assets/imgs/archivos_salud_sin_alm.png">
    </div>
    
    <ion-grid class="card-background-page" *ngIf="haveHalthFile">
      <ion-row>
        <ion-col col-6 col-xs-6 col-sm-6 col-md-4 no-padding text-center *ngFor="let item of treehealthFile">
          <ion-card [style.borderColor]="'#'+item.fondo_icono" (click)="listFileHealth(item)">
            <ion-card-content no-padding>
              <img src="{{ item.imagen }}" />
              <div class="card-title">
                <ion-icon item-left name="{{ item.icon }}"></ion-icon>
              </div>
              <div class="card-subtitle" text-wrap innerHTML="{{ item.text }}"></div>
            </ion-card-content>
          </ion-card>
          <ion-badge *ngIf="item.cont != 0" class="notifications-badge">{{item.cont}}</ion-badge>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-grid>
</ion-content>
