<ion-header>
  <ion-navbar color="azul-2">
    <button ion-button icon-only clear menuToggle color="light">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center text-wrap>¿Tienes una urgencia?</ion-title>
    <ion-buttons end>
      <button ion-button icon-only [navParams]="{ 'seccion': 'emergencia' }" [navPush]="pageHelp">
        <!--<button ion-button icon-only (click)="popoverHelp($event)">-->
        <!--<ion-icon name="more"></ion-icon>-->
        <ion-icon name="md-help-circle" color="white"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-padding text-center>

  <ion-buttons *ngIf="!timeOutControl">
    <button ion-button margin-top round color="naranja" (click)="loadNew()">Recargar</button>
  </ion-buttons>

  <ion-grid *ngIf="timeOutControl" no-padding>
    <div *ngIf="patientProviderService.getCurrentUser() == null && isShowListUser" class="box-info" style="display:flex; flex-direction: row; justify-content: center; align-items: center; font-size: 14px; margin-top:20px;margin-bottom:20px;padding:0px;">
      <div style="padding-left: 3px">
        <ion-icon name="icon-info"></ion-icon>
      </div>
      <div text-center style="padding-left:4px; width:100%;">
        Seleccione de la lista de usuarios que <b>han iniciado sesión en este disposivo</b>, aquel del cual desee
        conocer su información básica.
      </div>
    </div>
    <ion-row justify-content-center *ngIf="patientProviderService.getCurrentUser() == null && isShowListUser">
      <ion-col col-12 col-xs-12 col-sm-10 col-md-8 col-lg-8 col-xl-8>
        <ion-list>
          <ion-item-sliding *ngFor="let user of patientProviderService.users; let i = index" (click)="login(user)">
            <ion-item>
              <ion-avatar item-start>
                <img src="{{user.avatar}}">
              </ion-avatar>
              <h2>{{ user.name }}</h2>
              <p color="azul-2">{{ user.username }}</p>
            </ion-item>
            <ion-item-options side="right" icon-left>
              <button ion-button color="danger" (click)="deleteUser(user, i)">
                <ion-icon name="icon-eliminar_1"></ion-icon>
                Eliminar
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row justify-content-center *ngIf="patientProviderService.getCurrentUser() != null || (moreOneUser && !isShowListUser)">
      <ion-col col-12 col-xs-12 col-sm-10 col-md-8 col-lg-8 col-xl-8>
        <!-- <ion-card class="emergenciy-card" no-margin *ngIf="!moreOneUser"> -->
        <ion-card class="emergenciy-card" no-margin>
          <ion-card-content>
            <ion-icon name="icon-emergencia"></ion-icon>
          </ion-card-content>
        </ion-card>
        <ion-card no-margin *ngIf="!moreOneUser">
          <ion-card-content>
            <p>Avisa que te encuentras en situación de urgencia a tus contactos registrados.</p>
            <button type="button" ion-button margin-top outline round color="naranja" (click)="checkLocation()"
              [disabled]="isDisabledUrgencia">Reportar urgencia</button>
            <p *ngIf="isDisabledUrgencia">
              <ion-icon name="information-circle" color="danger"></ion-icon>
              No tienes contactos médicos o familiares configurados. Actualiza tu perfil.
            </p>
          </ion-card-content>
        </ion-card>
        <ion-card no-margin *ngIf="!moreOneUser">
          <ion-card-content>
            <p>Visualiza aquellas urgencias que han sido reportadas con su respectiva ubicación.</p>
            <button type="button" ion-button margin-top outline round [navPush]="emergenciasRecibidas" [navParams]="{ 'respuesta': respRecibidas, 'longitud': longRecibidas }"
              color="amarillo" [disabled]="!enableButton">Urgencias recibidas</button>
          </ion-card-content>
        </ion-card>
        <ion-card no-margin *ngIf="patientProviderService.getCurrentUser() != null || moreOneUser">
          <ion-card-content>
            <p>Agiliza tus atenciones permitiendo visualizar tu información básica de salud.</p>
            <button type="button" ion-button margin-top outline round color="azul-2" (click)="showInformationPac(true)"
              [disabled]="isDisabledShowInfo">Mostrar mi información básica</button>
            <p *ngIf="isDisabledShowInfo">
              <ion-icon name="information-circle" color="danger"></ion-icon>
              No cuentas con información suficiente
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="patientProviderService.getCurrentUser() == null && !isShowListUser">
    <img src="assets/imgs/emergencias_pub.jpg">
  </div>

</ion-content>