.ios, .md {

  page-emergencias {

    ion-avatar img {
      object-fit: contain;
    }

    ion-card {
      width: 100%;
      border-radius: 0;
      color: #808080;

      .card-content {
        line-height: 1.8rem;
      }

      button {
        border-width: 2px;
        text-transform: none;
      }
    }

    ion-card.emergenciy-card {
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: #F26D34;

      ion-icon {
        font-size: 3rem;
        color: #ffffff;
        background-color: #ffcc30;
        border-radius: 50%;
        padding: 13px 15px;
      }
    }

    @media (min-width: 768px) {
      ion-content {
        padding-top: 50px;
      }
    }

  }

}
