<ion-content no-padding>


  <ion-card no-padding no-margin style="width:100%">
    <!--<ion-input type="hidden" [value]="item.paisProfesional" disabled="true"></ion-input>
      <ion-input type="hidden" [value]="item.estadoProfesional" disabled="true"></ion-input>
      <ion-input type="hidden" [value]="item.ciudadProfesional" disabled="true"></ion-input>
      <ion-input type="hidden" [value]="item.tipo_prof" disabled="true"></ion-input>
      <ion-input type="hidden" [value]="item.profesion" disabled="true"></ion-input>
      <ion-input type="hidden" [value]="item.especialidad" disabled="true"></ion-input>
      <ion-input type="hidden" [value]="item.id_pk"></ion-input>-->
    <!--<ion-card-header no-padding >
    <ion-list >
      <ion-item text-wrap class="card_title_header" >
        <span text-center>{{ medical.nombres + ' ' + medical.apellidos }} </span>
      </ion-item>
    </ion-list>
    </ion-card-header>-->
    <ion-list class="card_content_card">

      <ion-row style="margin-bottom:20px;">
        <ion-col class="contacto-personal__title" col-12>
          <h6 padding-left ion-text color="light">
            <ion-icon name="icon-contacto_familiar"></ion-icon> Mis datos personales
          </h6>
        </ion-col>

      </ion-row>

      <ion-item text-wrap *ngIf="isVisibleResidence">
        <ion-icon name="md-locate" color="azul-2" item-start></ion-icon>
        {{ (paciente.direccion != null ? paciente.direccion : '' ) + ' (' +
        (paciente.get_ciudad_res?paciente.get_ciudad_res.nombre+'-':'') +
        (paciente.get_estado_res?paciente.get_estado_res.nombre + '-':'') +
        (paciente.get_pais_res?paciente.get_pais_res.nombre:'') }} )
      </ion-item>
      <!--<ion-item text-wrap>
        <ion-icon name="ios-people" color="azul-2" item-start></ion-icon>
        {{item.parentescoNombre}}
      </ion-item>-->



      <!--<ion-item text-wrap >
        <ion-icon name="ios-mail" color="azul-2" item-start></ion-icon>
        {{ medical.email1 }}
      </ion-item>-->
      <ion-item text-wrap>
        <ion-icon name="ios-phone-portrait" color="azul-2" item-start></ion-icon>
        {{ paciente.tlf_contacto }}
      </ion-item>
      <ion-item text-wrap *ngIf="paciente.tlf_domicilio ">
        <ion-icon name="ios-call" color="azul-2" item-start></ion-icon>
        {{ paciente.tlf_domicilio }}
      </ion-item>

    </ion-list>
  </ion-card>


  <!--
  <ion-grid no-padding>
    <ion-row class="data-health__item" padding-horizontal>
      <ion-card>
        <ion-card-content>
      <ion-col col-12 *ngIf="isVisibleResidence" class="p0">
        <ion-label>Dirección / Lugar de residencia</ion-label>
        <span>{{ (paciente.direccion != null ? paciente.direccion : '' ) + ' ' + paciente.get_ciudad_res.nombre + ', ' + paciente.get_estado_res.nombre + ', ' + paciente.get_pais_res.nombre }} </span>
      </ion-col>
      <ion-col col-6 class="p0">
        <ion-label>
          País de origen
        </ion-label>
        <span>{{ paciente.get_pais_res.nombre }}</span>
      </ion-col>
      <ion-col col-6>
        <ion-label>
          Teléfono
        </ion-label>
        <span>{{ paciente.tlf_domicilio }}</span>
      </ion-col>
      
      </ion-card-content>
    </ion-card>

    </ion-row>-->

  <ion-row *ngIf="paciente.get_datos_familiares.length!=0" style="margin-bottom:20px;">
    <ion-col class="antecedentes-asistenciales__title" col-12>
      <h6 padding-left ion-text color="light">
        <ion-icon name="icon-contacto_familiar"></ion-icon> Contacto familiar
      </h6>
    </ion-col>

  </ion-row>




  <ion-card no-padding no-margin *ngFor="let family of paciente.get_datos_familiares" style="margin-left: 10px;
    margin-right: 10px;margin-bottom: 20px;">
    <!--<ion-input type="hidden" [value]="item.paisProfesional" disabled="true"></ion-input>
      <ion-input type="hidden" [value]="item.estadoProfesional" disabled="true"></ion-input>
      <ion-input type="hidden" [value]="item.ciudadProfesional" disabled="true"></ion-input>
      <ion-input type="hidden" [value]="item.tipo_prof" disabled="true"></ion-input>
      <ion-input type="hidden" [value]="item.profesion" disabled="true"></ion-input>
      <ion-input type="hidden" [value]="item.especialidad" disabled="true"></ion-input>
      <ion-input type="hidden" [value]="item.id_pk"></ion-input>-->
    <ion-card-header no-padding>
      <ion-list>
        <ion-item text-wrap class="card_title_header">
          <span text-center>{{ family.nombres + ' ' + family.apellido1 + ' ' + (family.apellido2 == null ? '' :
            family.apellido2) }} </span>
        </ion-item>
      </ion-list>
    </ion-card-header>
    <ion-list class="card_content_card">


      <ion-item text-wrap *ngIf="isVisibleDataFamily">
        <ion-icon name="md-locate" color="azul-2" item-start></ion-icon>
        {{ family.direccion }} ({{family.get_ciudad.nombre}}-{{family.get_estado.nombre}}-{{family.get_pais.nombre}})
      </ion-item>

      <!--<ion-item text-wrap>
        <ion-icon name="ios-people" color="azul-2" item-start></ion-icon>
        {{item.parentescoNombre}}
      </ion-item>-->
      <ion-item text-wrap>
        <ion-icon name="ios-people" color="azul-2" item-start></ion-icon>
        {{family.get_parentesco.nombre}}
      </ion-item>

      <ion-item text-wrap *ngIf="isVisibleDataFamily && family.email">
        <ion-icon name="ios-mail" color="azul-2" item-start></ion-icon>
        {{ family.email }}
      </ion-item>
      <ion-item text-wrap>
        <ion-icon name="ios-phone-portrait" color="azul-2" item-start></ion-icon>
        {{ family.celular }}
      </ion-item>
      <ion-item text-wrap *ngIf="family.telefono">
        <ion-icon name="ios-call" color="azul-2" item-start></ion-icon>
        {{ family.telefono }}
      </ion-item>

    </ion-list>
  </ion-card>





  <ion-row *ngIf="paciente.get_datos_asist_profesional.length!=0" style="margin-bottom:20px;">
    <ion-col class="contacto-medico__title" col-12>
      <h6 padding-left ion-text color="light">
        <ion-icon name="icon-profesionales"></ion-icon> Contacto médico
      </h6>
    </ion-col>

  </ion-row>



  <ion-card no-padding no-margin *ngFor="let medical of paciente.get_datos_asist_profesional" style="margin-left: 10px;
    margin-right: 10px;margin-bottom: 20px;">
    <!--<ion-input type="hidden" [value]="item.paisProfesional" disabled="true"></ion-input>
      <ion-input type="hidden" [value]="item.estadoProfesional" disabled="true"></ion-input>
      <ion-input type="hidden" [value]="item.ciudadProfesional" disabled="true"></ion-input>
      <ion-input type="hidden" [value]="item.tipo_prof" disabled="true"></ion-input>
      <ion-input type="hidden" [value]="item.profesion" disabled="true"></ion-input>
      <ion-input type="hidden" [value]="item.especialidad" disabled="true"></ion-input>
      <ion-input type="hidden" [value]="item.id_pk"></ion-input>-->
    <ion-card-header no-padding>
      <ion-list>
        <ion-item text-wrap class="card_title_header">
          <span text-center>{{ medical.nombres + ' ' + medical.apellidos }} </span>
        </ion-item>
      </ion-list>
    </ion-card-header>
    <ion-list class="card_content_card">


      <ion-item text-wrap *ngIf="isVisibleDataMedical">
        <ion-icon name="md-locate" color="azul-2" item-start></ion-icon>
        {{ medical.direccion }}
        ({{medical.get_ciudad.nombre}}-{{medical.get_estado.nombre}}-{{medical.get_pais.nombre}})
      </ion-item>

      <!--<ion-item text-wrap>
        <ion-icon name="ios-people" color="azul-2" item-start></ion-icon>
        {{item.parentescoNombre}}
      </ion-item>-->



      <ion-item text-wrap *ngIf="isVisibleDataMedical && medical.email1">
        <ion-icon name="ios-mail" color="azul-2" item-start></ion-icon>
        {{ medical.email1 }}
      </ion-item>
      <ion-item text-wrap>
        <ion-icon name="ios-phone-portrait" color="azul-2" item-start></ion-icon>
        {{ medical.tlf_celular }}
      </ion-item>
      <ion-item text-wrap *ngIf="medical.tlf_domicilio">
        <ion-icon name="ios-call" color="azul-2" item-start></ion-icon>
        {{medical.tlf_domicilio }}
      </ion-item>

    </ion-list>
  </ion-card>

</ion-content>