.ios, .md {
  page-contact-information-scan {

    .p0{
      padding:0px;
     }

    .card-content-md {
      padding: 0px 16px 22px 16px;
    }

    ion-row:first-child {
      *border-bottom: 2px solid #bbb;
    }

    ion-col {
      h4 {
        color: color($colors, azul-2);
      }
    }

    .data-health__item {
      color: color($colors, dark);

      ion-label {
        color: color($colors, azul-2);
        font-weight: bold;
      }

      span {
        padding-bottom: 1px;
        padding-left: 4px;
        border-bottom: 0.5px solid color($colors, azul-2);
      }
    }

  }
}
