<ion-header>
  <ion-navbar color="azul-2">
    <ion-title text-center>{{'ACTUALIZAR_PERFIL.CONTACTOS_MED.ADD.TITLE' | translate}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="cancelModal()">
        <ion-icon item-right name="ios-close-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list [style.display]="!timeOutControl ? 'block' : 'none'">
    <ion-item text-center>
      <button ion-button type="button" round outline small (click)="newLoad()">{{'RECARGAR' | translate}}</button>
    </ion-item>
  </ion-list>
  <ion-list [style.display]="timeOutControl ? 'block' : 'none'">

    <!-- <ion-item>
      <ion-label color="azul-2">Contacto existe</ion-label>
      <ion-toggle [(ngModel)]="isContactFamily" checked="true"></ion-toggle>
    </ion-item> -->

    <div>
      <form [formGroup]="updateProfileService.existFamily" (ngSubmit)="familyExist()">
        <!--<ion-item>
          <ion-label floating color="azul-2">País*</ion-label>
          <ion-select [formControl]="updateProfileService.existFamily.controls['country']"
            cancelText="Cancelar" okText="Aceptar" (ionChange)="updateCountrySearch($event)">
            <ion-option [value]="country" *ngFor="let country of countrys">{{ country.nombre }}</ion-option>
          </ion-select>
        </ion-item>
        <div class="error-box" *ngIf="updateProfileService.existFamily.controls['country'].hasError('required') && updateProfileService.existFamily.controls['country'].touched">Este campo es requerido!</div>-->
        <ion-item>
          <ion-label floating color="azul-2">País*</ion-label>
          <ion-select #country [(ngModel)]="person.country"
            [formControl]="updateProfileService.addMedicalData.controls['country']" cancelText="Cancelar"
            okText="Aceptar" (ionChange)="updateCountry($event)">
            <ion-option [value]="country.id_pk" *ngFor="let country of countrys">{{ country.nombre }}</ion-option>
          </ion-select>
        </ion-item>
        <div class="error-box"
          *ngIf="updateProfileService.addMedicalData.controls['country'].hasError('required') && updateProfileService.addMedicalData.controls['country'].touched">
          Este campo es requerido!</div>

        <ion-grid class="ion-grid-group">
          <ion-row>
            <ion-col col-12>
              <ion-label stacked color="azul-2">Celular*</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-item col-2 class="col-left">
              <div class="input-group-addon">
                {{ indicativoCellphone }}
              </div>
            </ion-item>
            <ion-item col-10 class="col-center">
              <ion-input type="number" [disabled]="!updateProfileService.addMedicalData.controls['country'].valid"
                value="" [formControl]="updateProfileService.addMedicalData.controls['cellphone']"></ion-input>
            </ion-item>
            <div class="error-box"
              *ngIf="updateProfileService.addMedicalData.controls['cellphone'].hasError('required') && updateProfileService.addMedicalData.controls['cellphone'].touched">
              Este campo es requerido!</div>
          </ion-row>
          <div class="error-box"
            *ngIf="updateProfileService.addMedicalData.controls['cellphone'].hasError('maxlength') || updateProfileService.addMedicalData.controls['cellphone'].hasError('minlength') && updateProfileService.addMedicalData.controls['cellphone'].touched">
            El número de carácteres permitidos es de {{person_validation_phone.mask_celular}} </div>
        </ion-grid>
        <!--<ion-item>
          <ion-label floating color="azul-2">Celular*</ion-label>
          <ion-input type="number" [formControl]="updateProfileService.existFamily.controls['document']" [ngClass]="{'error-border':!updateProfileService.existFamily.controls['document'].valid}"></ion-input>
        </ion-item>
        <div class="error-box" *ngIf="updateProfileService.existFamily.controls['document'].hasError('required') && updateProfileService.existFamily.controls['document'].touched">Este campo es requerido!</div>
        <div class="error-box" *ngIf="updateProfileService.existFamily.controls['document'].hasError('maxlength') && updateProfileService.existFamily.controls['document'].touched">Máximo caracteres 20!</div>-->
        <div text-center margin-top padding-right>
          <button ion-button type="submit" round outline small
            [disabled]="!updateProfileService.addMedicalData.controls['country'].valid || !updateProfileService.addMedicalData.controls['cellphone'].valid">Buscar</button>
        </div>
      </form>
    </div>


    <ion-grid no-padding [ngStyle]="{'display': bHizoBusqueda?'none':'block'}">
      <ion-row class="box-info" text-center>
        <ion-col col-2 text-center>
          <ion-icon name="icon-info"></ion-icon>
        </ion-col>
        <ion-col col-10>
          <p text-justify>Mediante número célular puede buscar si su contacto ya esta registrado, automáticamente se
            cargará su información pública. De lo contrario registre los datos de su contacto completamente.</p>
        </ion-col>
      </ion-row>
    </ion-grid>



    <div [ngStyle]="{'display': bHizoBusqueda?'block':'none'}">

      <ion-grid no-padding>
        <ion-row class="box-info" text-center *ngIf="bMedicoEncontrado==false">
          <ion-col col-2 text-center>
            <ion-icon name="icon-info"></ion-icon>
          </ion-col>
          <ion-col col-10>
            <p text-justify>No se ha encontrado un contacto médico con el número celular ingresado, a continuación
              puedes crear un contacto médico.</p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-item>
        <ion-label floating color="azul-2">Nombres*</ion-label>
        <ion-input type="text" [disabled]="bMedicoEncontrado"
          [formControl]="updateProfileService.addMedicalData.controls['name']"></ion-input>
      </ion-item>

      <div class="error-box"
        *ngIf="updateProfileService.addMedicalData.controls['name'].hasError('required') && updateProfileService.addMedicalData.controls['name'].touched">
        Este campo es requerido!</div>
      <div class="error-box"
        *ngIf="updateProfileService.addMedicalData.controls['name'].hasError('maxlength') && updateProfileService.addMedicalData.controls['name'].touched">
        Máximo caracteres 20!</div>
      <div class="error-box"
        *ngIf="updateProfileService.addMedicalData.controls['name'].hasError('pattern') && updateProfileService.addMedicalData.controls['name'].touched">
        Este campo sólo debe contener letras</div>

      <ion-item>
        <ion-label floating color="azul-2">Apellidos*</ion-label>
        <ion-input type="text" [disabled]="bMedicoEncontrado"
          [formControl]="updateProfileService.addMedicalData.controls['second_surname']"></ion-input>
      </ion-item>

      <div class="error-box"
        *ngIf="updateProfileService.addMedicalData.controls['second_surname'].hasError('required') && updateProfileService.addMedicalData.controls['second_surname'].touched">
        Este campo es requerido!</div>
      <div class="error-box"
        *ngIf="updateProfileService.addMedicalData.controls['second_surname'].hasError('maxlength') && updateProfileService.addMedicalData.controls['second_surname'].touched">
        Máximo caracteres 50!</div>
      <div class="error-box"
        *ngIf="updateProfileService.addMedicalData.controls['second_surname'].hasError('pattern') && updateProfileService.addMedicalData.controls['second_surname'].touched">
        Este campo sólo debe contener letras</div>

      <ion-item>
        <ion-label floating color="azul-2">Email</ion-label>
        <ion-input type="email" [disabled]="bMedicoEncontrado"
          [formControl]="updateProfileService.addMedicalData.controls['email']"
          [ngClass]="{'error-border':!updateProfileService.addMedicalData.controls['email'].valid}"></ion-input>
      </ion-item>

      <!-- <div class="error-box" *ngIf="updateProfileService.addMedicalData.controls['email'].hasError('required') && updateProfileService.addMedicalData.controls['email'].touched">La email es requerido!</div> -->
      <div class="error-box"
        *ngIf="updateProfileService.addMedicalData.controls['email'].hasError('maxlength') && updateProfileService.addMedicalData.controls['email'].touched">
        Máximo caracteres 30!</div>
      <div class="error-box"
        *ngIf="updateProfileService.addMedicalData.controls['email'].hasError('pattern') && updateProfileService.addMedicalData.controls['email'].touched">
        Formato no correcto!</div>



      <ion-item>
        <ion-label floating color="azul-2">Estado/Provincia*</ion-label>
        <ion-select #state [disabled]="bMedicoEncontrado"
          [formControl]="updateProfileService.addMedicalData.controls['department']" [(ngModel)]="person.department"
          (ionChange)="updateState($event)" cancelText="Cancelar" okText="Aceptar">
          <ion-option [value]="state.id_pk" *ngFor="let state of states">{{ state.nombre }}</ion-option>
        </ion-select>
      </ion-item>
      <div class="error-box"
        *ngIf="updateProfileService.addMedicalData.controls['department'].hasError('required') && updateProfileService.addMedicalData.controls['department'].touched">
        Este campo es requerido!</div>



      <!-- <ion-item>
          <ion-label floating color="azul-2">Ciudad*</ion-label>
          <ion-select #city [formControl]="updateProfileService.addMedicalData.controls['municipality']" [(ngModel)]="person.municipality"
            cancelText="Cancelar" okText="Aceptar" (ionChange)="updateCity($event)">
            <ion-option [value]="city.id_pk" *ngFor="let city of cities">{{ city.nombre }}</ion-option>
          </ion-select>
        </ion-item> -->
      <div [ngClass]="!updateProfileService.addMedicalData.controls['department'].valid?'disabled':'none'"
        *ngIf="updateProfileService.citiesContact" [ngStyle]="{'display': bMedicoEncontrado?'none':'block'}">
        <ion-label floating color="azul-2" class="label-city">Ciudad*</ion-label>
        <ion-searchbar id="SearchCity" [(ngModel)]="searchTermCity" [disabled]="true" [formControl]="searchControl"
          (ionInput)="onSearchInput($event)" placeholder="Buscar ciudad"></ion-searchbar>
        <div *ngIf="searching" class="spinner-container">
          <ion-spinner></ion-spinner>
        </div>
        <div class="error-search-label" *ngIf="citySelected=='0' && searchTermCity ">Selecciona una opción:</div>
        <ion-list *ngIf="hidenList" style="margin: 0px !important;" class="lists">
          <ion-item *ngFor="let city of cities;" (click)="filterCitySelected(city)">
            {{ city.nombre }}
          </ion-item>
        </ion-list>
        <div class="error-box"
          *ngIf="updateProfileService.addMedicalData.controls['municipality'].hasError('required') && updateProfileService.addMedicalData.controls['municipality'].touched">
          Este campo es requerido!</div>
        <div class="error-search-label" *ngIf="!searchTermCity && searchControl.touched">Este campo es requerido!</div>
      </div>

      <ion-item [ngStyle]="{'display': bMedicoEncontrado?'block':'none'}">
        <ion-label floating color="azul-2">Ciudad</ion-label>
        <ion-input type="text" [disabled]="true" [value]="searchTermCity"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating color="azul-2">Dirección</ion-label>
        <ion-input type="text" [disabled]="bMedicoEncontrado"
          [formControl]="updateProfileService.addMedicalData.controls['address']"
          [ngClass]="{'error-border':!updateProfileService.addMedicalData.controls['address'].valid}"></ion-input>
      </ion-item>

      <!-- <div class="error-box" *ngIf="updateProfileService.addMedicalData.controls['address'].hasError('required') && updateProfileService.addMedicalData.controls['address'].touched">La dirección es requerido!</div> -->
      <div class="error-box"
        *ngIf="updateProfileService.addMedicalData.controls['address'].hasError('maxlength') && updateProfileService.addMedicalData.controls['address'].touched">
        Máximo caracteres 50!</div>



      <!-- <ion-item>
          <ion-label stacked color="azul-2">Celular</ion-label>
          <ion-input type="number" [formControl]="updateProfileService.addMedicalData.controls['cellphone']" [ngClass]="{'error-border':!updateProfileService.addMedicalData.controls['cellphone'].valid}"
            ></ion-input>
        </ion-item> -->






      <!-- <ion-item>
          <ion-label stacked color="azul-2">Telefono</ion-label>
          <ion-input type="number" [formControl]="updateProfileService.addMedicalData.controls['phone']" [ngClass]="{'error-border':!updateProfileService.addMedicalData.controls['phone'].valid}"></ion-input>
        </ion-item> -->

      <ion-grid class="ion-grid-group">
        <ion-row>
          <ion-col col-12>
            <ion-label stacked color="azul-2">Teléfono fijo</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-item col-3 class="col-left">
            <div class="input-group-addon">
              {{ indicativoCellphone }} {{indicativoPhone?indicativoPhone:''}}
            </div>
          </ion-item>
          <ion-item col-9 class="col-center">
            <ion-input type="number" value="" [disabled]="bMedicoEncontrado"
              [formControl]="updateProfileService.addMedicalData.controls['phone']"></ion-input>
          </ion-item>
        </ion-row>
        <p text-center padding-right>Recuerda anteponer al teléfono fijo el indicativo de la ciudad correspondiente.</p>
      </ion-grid>

      <!--<div class="error-box" *ngIf="updateProfileService.addMedicalData.controls['cellphone'].hasError('required') && updateProfileService.addMedicalData.controls['cellphone'].touched">La Celular es requerido!</div>-->
      <div class="error-box"
        *ngIf="updateProfileService.addMedicalData.controls['phone'].hasError('required') && updateProfileService.addMedicalData.controls['phone'].touched">
        Este campo es requerido</div>
      <div class="error-box"
        *ngIf="updateProfileService.addMedicalData.controls['phone'].hasError('maxlength') ||   updateProfileService.addMedicalData.controls['phone'].hasError('minlength')">
        El número de carácteres permitidos es de {{person_validation_phone.mask_fijo}}
      </div>

      <ion-item>
        <ion-label floating color="azul-2">Tipo profesión</ion-label>
        <ion-select [(ngModel)]="person.typeProfessional"
          [formControl]="updateProfileService.addMedicalData.controls['tipo_prof']"
          (ionChange)="selectedTypeProfesion($event)" cancelText="Cancelar" okText="Aceptar">
          <ion-option [value]="type.id_pk" *ngFor="let type of typeprofesion">{{ type.nombre }}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item [hidden]="!updateProfileService.addMedicalData.controls['tipo_prof'].value">
        <ion-label floating color="azul-2">Profesión</ion-label>
        <ion-select [(ngModel)]="person.professional"
          [formControl]="updateProfileService.addMedicalData.controls['profesion']"
          (ionChange)="selectedProfesion($event)" cancelText="Cancelar" okText="Aceptar">
          <ion-option [value]="profesion.id_pk" *ngFor="let profesion of profesiones">{{ profesion.nombre }}
          </ion-option>
        </ion-select>
      </ion-item>
      <ion-item [hidden]="!updateProfileService.addMedicalData.controls['profesion'].value || especialidades.length==0">
        <ion-label floating color="azul-2">Especialidad</ion-label>
        <ion-select [(ngModel)]="person.speciality"
          [formControl]="updateProfileService.addMedicalData.controls['especialidad']" cancelText="Cancelar"
          okText="Aceptar">
          <ion-option [value]="especialidad.id_pk" *ngFor="let especialidad of especialidades">{{ especialidad.nombre }}
          </ion-option>
        </ion-select>
      </ion-item>

      <div text-center margin-top margin-bottom padding-bottom padding-right>
        <!--<button ion-button type="button" round outline small (click)="cancelAddMedical()">Cancelar</button>-->
        <button ion-button type="button" round outline small (click)="addMedical()">{{'AGREGAR' | translate}}</button>
      </div>
    </div> <!-- end validation -->
  </ion-list>
</ion-content>