<ion-header>

  <ion-navbar [color]="navbar_color" text-center>
    <ion-title>{{data.tipo_presc.nombre}}</ion-title>
    <!--
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
    -->
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-grid style="padding-left: 30px">

    <ion-row *ngIf="data.estado == 'pendiente'">
      <ion-col col-12 col-xs-12 col-sm-10 col-md-8 col-lg-8 col-xl-8 text-center>
        <ion-chip class="chip-midis" (click)="uploadResults(data)">
          <ion-icon name="{{data.tipo_presc.get_modulo.icono}}"></ion-icon>
          <ion-label *ngIf="this.data.tipo_presc.id_pk != 4" color="primary">Cargar resultado</ion-label>
          <ion-label *ngIf="this.data.tipo_presc.id_pk == 4" color="primary">Iniciar tratamiento</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>

    <ion-row no-padding style="border-bottom: solid 1px lightgray" *ngIf="data.estado == 'pendiente'">
      <ion-col col-12>
        <p>
          <b style="color: #1E8AC2">EVENTO DE SALUD</b>
        </p>
        <ion-row>
          <img src="{{logoInst}}" class="icon_institucion_es">
          <p>{{nombreInst}}</p>
        </ion-row>
        <p>
          <b>Fecha del evento:</b> {{datePresc}}
        </p>
        <p>
          {{profesional}}
        </p>
        <p>
          <b>Motivo:</b> {{motivo}}
        </p>
        <p>
          <b>Diagnóstico presuntivo:</b> {{diagnostico}}
        </p>
        <p>
          <b>Tipo de evento:</b> {{tipoEvento}}
        </p>
      </ion-col>
    </ion-row>

    <ion-row no-padding>
      <ion-col col-12>
        <p>
          <b style="color: #1E8AC2">PRESCRIPCIÓN</b>
        </p>
        <p>
          <b>Tipo de estudio:</b> {{data.subtipo_pres.nombre}}
        </p>
        <!--DESCRIPCIÓN-->
        <p *ngIf="data.descripcion != 'MidisAppSalud_HaveDetails_Inc' && data.descripcion != 'MidisAppSalud_HaveDetails_Cons'">
          <b>Descripción:</b> {{data.descripcion}}
        </p>
        <!--SI ES UNA INCAPACIDAD-->
        <ion-grid no-padding *ngIf="data.descripcion == 'MidisAppSalud_HaveDetails_Inc'">
          <ion-row style="text-align: left; white-space: pre-wrap;">
            <p><b>Días: </b>{{data.dias}}</p>
          </ion-row>
          <ion-row style="text-align: left; white-space: pre-wrap;">
            <p><b>Fecha de inicio: </b>{{data.fecha_de_inicio}}</p>
          </ion-row>
          <ion-row style="text-align: left; white-space: pre-wrap;">
            <p><b>Fecha de finalización: </b>{{data.fecha_de_finalizacion}}</p>
          </ion-row>
        </ion-grid>
        <!--SI ES UNA ASISTENCIA A CONSULTA-->
        <ion-grid no-padding *ngIf="data.descripcion == 'MidisAppSalud_HaveDetails_Cons'">
          <ion-row style="text-align: left; white-space: pre-wrap;">
            <p><b>Fecha: </b>{{data.fecha_cons}}</p>
          </ion-row>
          <ion-row style="text-align: left; white-space: pre-wrap;">
            <p><b>Hora de inicio: </b>{{data.hora_de_inicio}}</p>
          </ion-row>
          <ion-row style="text-align: left; white-space: pre-wrap;">
            <p><b>Hora de finalización: </b>{{data.hora_de_finalizacion}}</p>
          </ion-row>
        </ion-grid>

        <p>
          <b>Indicación:</b> {{data.observacion}}
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row justify-content-center *ngIf="data.estado == 'cargada' && data.get_resultados.length > 0">
    <ion-col class="result_banner" col-12 no-padding>
      <h6 padding-left> RESULTADO | INFORME </h6>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="data.estado == 'cargada' && data.get_resultados.length > 0">
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row *ngIf="data.get_resultados[0].get_institucion != null">
            <img src="{{data.get_resultados[0].get_institucion.logo}}" class="icon_institucion">
            <p>{{data.get_resultados[0].get_institucion.nombre_comercial}}</p>
          </ion-row>
          <ion-row *ngIf="data.get_resultados[0].ins_ext != null">
            <ion-icon name="icon-instituciones" style="color: gray" class="icon_institucion"></ion-icon>
            <p *ngIf="data.get_resultados[0].ins_ext">{{data.get_resultados[0].ins_ext}}</p>
            <p *ngIf="!data.get_resultados[0].ins_ext">Institución externa</p>
          </ion-row>
          <p *ngIf="data.get_resultados[0].fecha_carga != null">
            <b>Fecha de carga:</b> {{data.get_resultados[0].fecha_carga}}
          </p>
          <p *ngIf="data.get_resultados[0].fecha_ini_toma != null">
            <b>Fecha de inicio:</b> {{data.get_resultados[0].fecha_ini_toma}}
          </p>
          <p *ngIf="profResultados != 'Nombre no encontrado' && data.tpc_fk != 4">
            <b>Profesional:</b> {{profResultados}}
          </p>
          <p>
            <b>Cargado por:</b> {{cargaResultados}}
          </p>

          <ion-row *ngIf="data.get_resultados[0].dicom == null || data.get_resultados[0].dicom == 0">
            <ion-card class="card-image" *ngFor="let elemento of data.get_resultados">
              <ion-card-header text-wrap no-padding>

                <img [src]="elemento.ruta_archivo" [imageViewer]="elemento.ruta_archivo" [alt]="elemento.ruta_archivo"
                  *ngIf="verifyTypeFile(elemento.archivo)">
                <pdf-viewer [src]="elemento.ruta_archivo" [render-text]="false" [original-size]="true" [zoom]="0.35"
                  [page]="1" [autoresize]="true" [show-all]="true" style="display: block;" *ngIf="!verifyTypeFile(elemento.archivo)"
                  (click)="reviewFile(elemento.ruta_archivo)" (page-rendered)="pageRendered()"></pdf-viewer>
              </ion-card-header>
              <ion-card-content no-padding>
                <ion-grid no-padding>
                  <ion-row no-padding>
                    <ion-col text-left margin-left>
                      <button type="button" ion-button outline clear icon-only small color="dark">
                        <ion-icon name="icon-pdf" color="danger" *ngIf="!verifyTypeFile(elemento.ruta_archivo)"></ion-icon>
                        <ion-icon name="icon-jpg" color="primary" *ngIf="verifyTypeFile(elemento.ruta_archivo)"></ion-icon>
                      </button>
                    </ion-col>
                    <ion-col text-right margin-right>
                      <ion-row>
                        <ion-col no-padding>
                          <button *ngIf="!isIos" type="button" ion-button outline clear icon-only small color="dark"
                            (click)="share(elemento.ruta_archivo)">
                            <ion-icon name="icon-compartir"></ion-icon>
                          </button>
                        </ion-col>
                        <ion-col no-padding>
                          <button type="button" ion-button outline clear icon-only small color="dark" (click)="download(elemento.ruta_archivo)">
                            <ion-icon name="icon-exportar"></ion-icon>
                          </button>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-row>

          <ion-row *ngIf="data.get_resultados[0].dicom == 1">
            <ion-card>
              <div id="contenido-dicom">
                <div id="dwv">
                  <div class="toolbar"></div>
                  <div class="layerContainer">
                    <canvas class="imageLayer"></canvas>
                  </div>
                </div>
                <input type="range" id="sliceRange" value="0">
              </div>
            </ion-card>
          </ion-row>
        </ion-grid>

      </ion-card-content>
    </ion-card>
  </ion-row>


</ion-content>