page-presc-detail {
    .result_banner{
        background-color: #2769A0;
        color: #fff !important;

        h6 {
            display: flex;
            margin-top: 1rem;
            font-size: 1.4rem;
            color: #fff !important;
            margin-bottom: .8rem;
        }
    }
    .box_info_cargar{
        display:flex; 
        flex-direction: row; 
        justify-content: center; 
        align-items: center; 
        font-size: 12px; 
        margin-top:20px;
        margin-bottom:20px;
        padding:0px;
        border-radius: 6px;
        background-color: #2769A0;
        color: #fff;
        border-radius: 3px;
        margin-top: 20px;
        padding-left: 12px;
        padding-right: 12px;
        align-content: center;
    }

    .icon_institucion{
        width: 16px;
        height: 16px;
        border-radius: 50%;
        margin-right: 5px;
        text-align: center;
        vertical-align: middle;
    }

    .icon_institucion_es{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 5px;
        text-align: center;
        vertical-align: middle;
    }
}
