.ios, .md {

  page-basic-patient-information {

    ion-grid {
      padding: 0 5px;

      ion-col {
        padding: 0 5px;
      }
      img {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        padding: 2px;
        border: 1px solid color($colors, azul-2);
        object-fit: cover;
        margin-top: 8px;
        margin-bottom: 6px;
      }

      h6 {
        color: #333;
        margin-bottom: 0;
        margin-top: 12px;
        font-size: 1.4rem;
      }

      b {
        color: #333;
        margin-bottom: 0;
        font-size: 1.3rem;
      }

      p {
        margin-top: 0;
        margin-bottom: 8px;
      }
    }

    .tabs-md .tab-button[aria-selected=true] {
      color: color($colors, azul-2);
      border-bottom: 2px solid color($colors, azul-2);
      min-height: 3.6rem;
    }

    .tabs-md .tab-button {
      min-height: 3.6rem;
    }

  }

}
