<ion-header>
  <ion-navbar color="azul-2">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>{{ 'INFO_BASICA.TITLE' | translate }}</ion-title>
  </ion-navbar>

  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-4 text-right>
        <img [src]="avatar" [imageViewer]="avatar">
      </ion-col>
      <ion-col col-6>
        <h6>{{ name }}</h6>
        <b>{{ infoPac.get_tipo_documento.abreviado  + '  ' +  infoPac.doc_iden_pk }}</b>
        <b style="display:block;">{{'INFO_BASICA.EDAD' | translate: { edad: edad } }}</b>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>

  <ion-tabs selectedIndex="0" tabsPlacement="top" #myTabs>
    <ion-tab [tabTitle]="'INFO_BASICA.TAB_1' | translate"
              [root]="tab1"
              small></ion-tab>
    <ion-tab [tabTitle]="'INFO_BASICA.TAB_2' | translate"
              [root]="tab2"
              small></ion-tab>
  </ion-tabs>

</ion-content>
