<ion-header>

  <ion-navbar color="verde">
    <ion-title text-center>Midis salud</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-grid>
    <ion-row>
      <ion-item text-center no-lines style="box-shadow: 1px 2px lightgray; border-left: solid 1px lightgray"
        *ngIf="element.get_sede_institucion">
        <img src="{{element.get_sede_institucion.get_institucion.logo}}" class="icon_institucion">
        <span style="color: gray;" class="institucion">
          {{element.get_sede_institucion.nombre}}
        </span>
      </ion-item>
    </ion-row>
    <ion-row style="margin-left: 10px" no-padding>
      <ion-col col-6 style="padding-bottom: 0px">
        <p style="color: #1E8AC2;">Fecha</p>
        <p class="data_border">{{date}}</p>
      </ion-col>
      <ion-col col-6 style="padding-bottom: 0px">
        <p style="color: #1E8AC2;">Hora</p>
        <p class="data_border">{{hour}}</p>
      </ion-col>
      <ion-col>
        <p style="color: #1E8AC2;">Profesional de la salud</p>
        <p class="data_border">{{profesional}}</p>

        <p style="color: #1E8AC2;">M.P.</p>
        <p class="data_border">{{element.get_profesional.full_matriculas}}</p>

        <p style="color: #1E8AC2;">Tipo de evento</p>
        <p class="data_border">{{element.get_tipo_consulta.nombre}}</p>

        <p style="color: #1E8AC2;">Atendido por</p>
        <p class="data_border">{{element.atendido_por}}</p>
      </ion-col>
    </ion-row>

    <ion-row style="margin-left: 10px; border-top: solid 1px lightgray" no-padding>
      <ion-col>
        <p style="color: #1E8AC2;">Motivo</p>
        <p class="data_border">{{element.motivo}}</p>

        <p style="color: #1E8AC2;">Informe</p>
        <p class="data_border">{{element.informe}}</p>

        <p style="color: #1E8AC2;">Diagnóstico presuntivo</p>
        <p class="data_border">{{diagnostico_presuntivo}}</p>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-row justify-content-center *ngIf="dataPrescriptions && dataPrescriptions.length != 0">
    <ion-col class="prescripcion_banner" col-12 no-padding>
      <h6 padding-left> PRESCRIPCIONES </h6>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="dataDetailsResponse">
    <ion-card *ngFor="let elemento of dataPrescriptions; let i = index" (click)="detailPrescripcion(elemento)">
      <ion-card-content>
        <ion-grid no-padding>

          <ion-row *ngIf="elemento.estado == 'cargada'">
            <ion-col col-9 *ngIf="elemento.get_resultados.length > 0">
              <ion-row>
                <ion-row *ngIf="elemento.get_resultados[0].ins_ext && elemento.get_resultados[0].ins_ext != null">
                  <p class="icon_institucion_presc">
                    <ion-icon name="icon-instituciones" class="icon_inst_presc"></ion-icon>
                  </p>
                  <p style="margin-top: 2px">{{elemento.get_resultados[0].ins_ext}}</p>
                </ion-row>
                <ion-row *ngIf="elemento.get_resultados[0].get_institucion && elemento.get_resultados[0].get_institucion != null">
                  <img src="{{elemento.get_resultados[0].get_institucion.logo}}" class="icon_institucion_presc">
                  <p style="margin-top: 2px">{{elemento.get_resultados[0].get_institucion.nombre_comercial}}</p>
                </ion-row>
                <ion-row *ngIf="elemento.get_resultados[0].fecha_ini_toma != null && elemento.get_resultados[0].fecha_ini_toma" style="margin-bottom: 10px">
                  <p style="margin-left: 5px;">
                    <b>Fecha de inicio: </b>{{elemento.get_resultados[0].fecha_ini_toma}}
                  </p>
                </ion-row>
                <ion-row *ngIf="elemento.get_resultados[0].fecha_carga != null && elemento.get_resultados[0].fecha_carga" style="margin-bottom: 10px">
                  <p style="margin-left: 5px;">
                    <b>Fecha de carga: </b>{{elemento.get_resultados[0].fecha_carga}}
                  </p>
                </ion-row>
              </ion-row>

            </ion-col>
            <ion-col col-3>
              <p class="alineamiento-flexbox">
                <ion-badge style="font-size: 10px;" class="badge-estado-ant" color="azul-2">Cargada</ion-badge>
              </p>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-9>
              <ion-row>
                <p class="prescription" [style.backgroundColor]="'#'+elemento.tipo_presc.get_modulo.fondo_icono">
                  <ion-icon name="{{elemento.tipo_presc.get_modulo.icono}}"></ion-icon>
                </p>
                <p text-wrap style="margin-top: 2px">{{elemento.tipo_presc.nombre}}</p>
              </ion-row>
            </ion-col>
            <ion-col col-3 *ngIf="elemento.estado == 'pendiente'">
              <p class="alineamiento-flexbox">
                <ion-badge style="font-size: 10px;" class="badge-estado-ant" color="naranja-2">Pendiente</ion-badge>
              </p>
            </ion-col>
            <ion-row col-12>
              <p *ngIf="elemento.tpc_fk != 3">
                <b>Tipo: </b>
                {{elemento.subtipo_pres.nombre}}
              </p>
              <p *ngIf="elemento.tpc_fk == 3">
                <b>Tipo de estudio: </b>
                {{elemento.subtipo_pres.nombre}}
              </p>
            </ion-row>

            <ion-row col-12 *ngIf="elemento.descripcion != 'MidisAppSalud_HaveDetails_Inc' && elemento.descripcion != 'MidisAppSalud_HaveDetails_Cons'">
              <p>
                <b>Descripción: </b>{{elemento.descripcion}}
              </p>
            </ion-row>
            <!--SI ES UNA INCAPACIDAD-->
            <ion-grid no-padding *ngIf="elemento.descripcion == 'MidisAppSalud_HaveDetails_Inc'">
              <ion-row style="text-align: left; white-space: pre-wrap;">
                <p><b>Días: </b>{{elemento.dias}}</p>
              </ion-row>
              <ion-row style="text-align: left; white-space: pre-wrap;">
                <p><b>Fecha de inicio: </b>{{elemento.fecha_de_inicio}}</p>
              </ion-row>
              <ion-row style="text-align: left; white-space: pre-wrap;">
                <p><b>Fecha de finalización: </b>{{elemento.fecha_de_finalizacion}}</p>
              </ion-row>
            </ion-grid>
            <!--SI ES UNA ASISTENCIA A CONSULTA-->
            <ion-grid no-padding *ngIf="elemento.descripcion == 'MidisAppSalud_HaveDetails_Cons'">
              <ion-row style="text-align: left; white-space: pre-wrap;">
                <p><b>Fecha: </b>{{elemento.fecha_cons}}</p>
              </ion-row>
              <ion-row style="text-align: left; white-space: pre-wrap;">
                <p><b>Hora de inicio: </b>{{elemento.hora_de_inicio}}</p>
              </ion-row>
              <ion-row style="text-align: left; white-space: pre-wrap;">
                <p><b>Hora de finalización: </b>{{elemento.hora_de_finalizacion}}</p>
              </ion-row>
            </ion-grid>

          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-row>

</ion-content>