page-midis-detail {
    .icon_institucion{
        width: 50px;
        height: 50px;
        display: inline-block;
        vertical-align: middle;
    }
    .icon_institucion_presc{
        width: 23px;
        height: 23px;
        border-radius: 50%;
        margin-right: 5px;
        background-color: gray;
    }
    .icon_inst_presc{
        position: relative;
        color: white;
        text-align: center;
        vertical-align: middle;
        padding-left: 4px;
        padding-top: 2px;
    }
    .institucion{
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
    }
    .data_border{
        border-bottom: 1px solid #6BB9F0;
        border-left: 1px solid #6BB9F0;
        padding-left: 5px;
    }
    .prescripcion_banner{
        background-color: #2769A0;
        color: #fff !important;

        h6 {
            display: flex;
            margin-top: 1rem;
            font-size: 1.4rem;
            color: #fff !important;
            margin-bottom: .8rem;
        }
    }
    .prescription{
        width: 23px;
        height: 23px;
        border-radius: 50%;
        margin-right: 5px;

        ion-icon{
            position: relative;
            color: white;
            text-align: center;
            vertical-align: middle;
            padding-left: 4px;
            padding-top: 4px;
        }

    }
}
