<ion-header>
  <ion-navbar color="azul-2">
    <ion-title text-center>{{'RECUPERAR_CLAVE.TITLE' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-12 col-xs-12 col-sm-10 col-md-8 col-lg-8 col-xl-8>

        <ion-card>
          <ion-card-content text-center>
            <img src="assets/imgs/logo_midis.png" alt="Midis">
          </ion-card-content>
          <ion-card-content>
            <form [formGroup]="recoveryForm" (ngSubmit)="submitForm(recoveryForm.value)">
              <ion-item>
                <ion-label>{{'RECUPERAR_CLAVE.FORM.NUEVA' | translate}}
                  <br>{{'RECUPERAR_CLAVE.FORM.CLAVE' | translate}}</ion-label>
                <ion-input type="password" value="" placeholder="Nueva contraseña"
                  [formControl]="recoveryForm.controls['password']"></ion-input>
              </ion-item>
              <div class="error-box"
                *ngIf="recoveryForm.controls['password'].hasError('required') && recoveryForm.controls['password'].touched">
                {{'ERRORS.REQ' | translate}}</div>
              <div class="error-box"
                *ngIf="recoveryForm.controls['password'].hasError('minlength') && recoveryForm.controls['password'].touched">
                {{'ERRORS.MIN' | translate:{value: 7} }}</div>
              <div class="error-box"
                *ngIf="recoveryForm.controls['password'].hasError('maxlength') && recoveryForm.controls['password'].touched">
                {{'ERRORS.MAX' | translate:{value: 15} }} </div>
                <ion-item>
                  <ion-label>{{'RECUPERAR_CLAVE.FORM.CONFIRMAR' | translate}}
                    <br>{{'RECUPERAR_CLAVE.FORM.CLAVE' | translate}}</ion-label>
                  <ion-input type="password" value="" placeholder="Confirmar contraseña"
                    [formControl]="recoveryForm.controls['confirmPassword']"></ion-input>
                </ion-item>
                <div class="error-box"
                  *ngIf="recoveryForm.controls['confirmPassword'].hasError('required') && recoveryForm.controls['confirmPassword'].touched">
                  {{'ERRORS.REQ' | translate}}</div>
                <div class="error-box"
                  *ngIf="recoveryForm.controls['confirmPassword'].hasError('minlength') && recoveryForm.controls['confirmPassword'].touched">
                  {{'ERRORS.MIN' | translate:{value: 7} }}</div>
                <div class="error-box"
                  *ngIf="recoveryForm.controls['password'].hasError('maxlength') && recoveryForm.controls['password'].touched">
                  {{'ERRORS.MAX' | translate:{value: 15} }}</div>
                <ion-item margin-bottom text-center
                  *ngIf="recoveryForm.controls.confirmPassword.touched && recoveryForm.hasError('mismatchedPasswords') && recoveryForm.controls.password.valid">
                  <div class="error-box">{{'ERRORS.CLAVE_DIST' | translate}}</div>
                </ion-item>
                <div text-center>
                  <button type="button" ion-button color="azul-2" small outline round
                    (click)="cancel()">{{'CANCELAR' | translate}}</button>
                  <button type="submit" ion-button color="azul-2" small outline round
                    [disabled]="!recoveryForm.valid">{{'GUARDAR' | translate}}</button>
                </div>
            </form>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>