.ios, .md {

  page-password-recovery-form {

    ion-card {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;

      ion-card-content:first-child {
        border-bottom: 1px solid #ddd;

        img {
          width: 120px;
          height: auto;
          margin-left: 28%;
        }
      }

      ion-label {
        font-size: 1.2rem;
        text-align: right;
        color: color($colors, dark);
      }

      ion-input {
        border-radius: 2px;
      }
    }

    button {
      text-transform: none;
    }

  }

}
