<ion-content class="tutorial-page">

  <!--<ion-slides pager centeredSlides>

    <ion-slide *ngFor="let slide of slides" ng-init="slide.archivo = assets/imgs/cargando.png">



      <img  src="assets/imgs/cargando.png" (load)="loaded = false" [hidden]="loaded">
      <img [src]="slide.archivo" class="slide-image" (load)="loaded = true"/>


    </ion-slide>

    <ion-slide text-center>

      <img  src="assets/imgs/cargando.png" (load)="loaded = false" [hidden]="loaded">
      <img [src]="lastSlide" class="slide-image" (load)="loaded = true"/>

      <button ion-button outline round
              (click)="iniciar()"
              class="welcome-button">
        Comenzar
      </button>
    </ion-slide>

  </ion-slides>-->


  <ion-buttons end class="help-button">
    <button ion-button icon-only  color="white" (click)="close()" >
      <ion-icon name="md-close-circle"></ion-icon>
      <!--<ion-icon name="icon-actualizar-perfil"></ion-icon>-->
    </button>
  </ion-buttons>
  <ion-slides pager initialSlide="0" #mySlider (ionSlideTap)="slideToNext()" (ionSlideNextStart)="ionSlideNextStart()">

    <ion-slide *ngFor="let item of slides;" text-center  [ngStyle]="{'background-image': 'url('+item.background_image+')'}" class="ajustar_background_image">

      <!--<img [src]="imageTutorialHelp" alt="Tutorial de ayuda" class="slide-image">-->


      <div class="{{item.class_contenedor}}" >
        <ion-icon *ngIf="item.icon"  [name]="item.icon" [ngClass]="item.class_icon"></ion-icon>
        <p class="{{item.class_titulo_wizzard}}" [innerHTML]="sanitizer.bypassSecurityTrustHtml(item.titulo_wizzard)"></p>
        <ion-icon *ngIf="item.icon_medio"  [name]="item.icon_medio" [ngClass]="item.icon_medio_class"></ion-icon>


        <p *ngIf="item.subtitulo_wizzard" class="{{item.class_subtitulo_wizzard}}" [innerHTML]="sanitizer.bypassSecurityTrustHtml(item.subtitulo_wizzard)"></p>
        <p class="{{item.class_texto_wizzard}}"  [innerHTML]="sanitizer.bypassSecurityTrustHtml(item.texto_wizzard)"></p>
      </div>
    </ion-slide>

    <!--<ion-slide text-center navPop [ngStyle]="{'background-image': 'url('+imageTutorialHelp+')'}" class="ajustar_background_image">
        <ion-icon [name]="item.icon" class="{{item.class_icon}}"></ion-icon>

        <p   [innerHTML]="item.texto_wizzard"></p>

      <ion-buttons end class="help-button">
        <button ion-button icon-only navPop color="white">
          <ion-icon name="md-close-circle"></ion-icon>
        </button>
      </ion-buttons>


    </ion-slide>-->

    <!-- <ion-slide text-center>

      <img *ngIf="imgHelp == 'emergencyHelp'" src="assets/imgs/app_salud.png" alt="Ayuda Emergencia">

      <img *ngIf="imgHelp == 'appSaludHelp'" src="assets/imgs/autorizar.png" alt="Ayuda App Salud">
    
      <img *ngIf="imgHelp == 'updateProfileHelp'" src="assets/imgs/app_salud.png" alt="Ayuda Actualizar Perfil">
      
      <img *ngIf="imgHelp == 'documentsHelp'" src="assets/imgs/autorizar.png" alt="Ayuda Mis Archivos de Salud">
    
      <img *ngIf="imgHelp == 'healthDataHelp'" src="assets/imgs/app_salud.png" alt="Ayuda Datos de Salud">
      
      <img *ngIf="imgHelp == 'reportsHelp'" src="assets/imgs/autorizar.png" alt="Ayuda Reportes">
      
      <img *ngIf="imgHelp == 'midisAppHelp'" src="assets/imgs/app_salud.png" alt="Ayuda Midis Salud">
      
      <img *ngIf="imgHelp == 'qrMidisHelp'" src="assets/imgs/autorizar.png" alt="Ayuda Código QR Midis">
      
      <img *ngIf="imgHelp == 'storageHelp'" src="assets/imgs/app_salud.png" alt="Ayuda Almacenamiento">
      
      <img *ngIf="imgHelp == 'settingsHelp'" src="assets/imgs/autorizar.png" alt="Ayuda Configuraciones">
      
      <img *ngIf="imgHelp == 'authorizeAccessHelp'" src="assets/imgs/app_salud.png" alt="Ayuda Autorizar Acceso">
      
      <img *ngIf="imgHelp == 'medicalRecordHelp'" src="assets/imgs/autorizar.png" alt="Ayuda Ficha Médica">

      <ion-buttons>
        <button ion-button outline round navPop class="welcome-button">
          Volver
        </button>
      </ion-buttons>
    </ion-slide> -->

  </ion-slides>








</ion-content>
