.ios, .md {

  page-welcome {

    ion-content {
      .toolbar-background {
        background: #fff;
        border-color: transparent;
      }

      .ajustar_background_image{
        height: 100%;
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        background-size: cover;
        background-position: center center;
      }

      .slide-zoom {
        height: 100%;
      }

      .slide-title {
        margin-top: 2.8rem;
        color: color($colors, azul-2);
      }

      .slide-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .swiper-pagination-bullet-active {
        background: #fff;
      }

      .help-button {
        __position: absolute;
        __top: 6%;
        __right: 2%;
        position: absolute;
      top: 6px;
      right: -6px;
      }

      .swiper-slide, .slide-zoom  {
        text-align: initial;
      }

      .button[icon-only] {
          padding: 0;
          min-width: .9em;
          background: transparent;
          box-shadow: none;
      }




   

    /*  @media screen and (max-width: 1200px) {

  
       }
       
      @media screen and (max-width: 992px) { 
        



       }*/

      @media only screen and (min-width: 768px) {

          .icon_wizzard {
              font-size: 300px;
          }

          .raya_qr::after {
             content: "";
            border-top: 9px solid #EF6D34;
            position: absolute;
            left: 35.6%;
            top: 47%;
            /* bottom: 0; */
            /* height: 1px; */
            width: 29%;
          }

          .icon_medio {
              font-size: 240px ;
          }

         .titulo_wizzard{
            __font-size: 30px;
            font-size: 58px;
            margin-top: 7%;
          }

          .w_66 {
              width: 53% !important;
          }

          .subtitulo_wizzard{
            font-size: 32px;
          }
          .titulo_wizzard_border_top{
            font-size: 32px;
            __padding-top: 24px;
            width:82%;
          }

          .texto_wizzard_1{
            font-size: 32px;
            width: 56%;
          }

      }


      @media only screen and (min-width: 1024px) {

          .icon_wizzard {
              font-size: 312px;
          }

          .raya_qr::after {
              border-top: 12px solid #EF6D34;
              left: 32.6%;
              width: 33%;
          }


          .icon_medio {
              font-size: 350px ;
          }


         .titulo_wizzard{
            font-size: 73px;
            margin-top:35px;
          }
    

          .subtitulo_wizzard{
            font-size: 44px;
          }
          .titulo_wizzard_border_top{
            font-size: 44px;
            __padding-top: 24px;
            width:82%;
          }

          .texto_wizzard_1{
            font-size: 44px;
            width: 65%;
          }

      }

       /*@media screen and (max-width: 576px) { 

      }
*/

      
    }

  }

}