<ion-header>
  <ion-navbar color="secondary" text-center>
    <ion-title>Antecedentes</ion-title>
    <ion-buttons>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="!timeOutControl" text-center>
    <button ion-button type="button" round outline small (click)="loadNew()">Recargar</button>
  </ion-list>

  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-12 col-xs-12 col-sm-10 col-md-8 col-lg-8>
        <ion-card>
          <ion-card-header text-left border-botttom>
            <b>{{subcategoryAntecedents.nombre}}</b>
          </ion-card-header>
          <ion-list>
            <ion-item style="border-bottom: 1px solid lightgray; margin-bottom: 2px;" *ngFor="let child of subcategoryAntecedents.nodes">
              <ion-row (click)="subTypeAntecedent(child, subcategoryAntecedents)">
                <ion-col col-10>
                  <p text-wrap>{{ child.text }}</p>
                </ion-col>
                <ion-col col-2>
                  <ion-icon name="icon-flecha-lado" float-right style="vertical-align: middle; display: inline-block;"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-list>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>