.ios, .md {

    page-subcategory-antecedent {

        ion-card {

            ion-list {
                border-top: 1px solid #bbb;
                
                ion-icon {
                    color: #bbb;
                    transform: rotateX(180deg);
                }
            }

        }

        ion-label {
            margin: 0 8px 0 0;
            padding-top: 5px;
        }        

    }

}