<ion-header>
  <ion-navbar color="azul-2">
    <ion-title text-center>Mis archivos de salud</ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-padding>
  <ion-label *ngIf="healthData.get_modulo_padre.fondo_icono" [style.backgroundColor]="'#'+healthData.get_modulo_padre.fondo_icono"
    color="light" text-center no-margin padding>
    <ion-icon *ngIf="healthData.get_modulo_hijo && healthData.get_modulo_hijo.icono" [name]="healthData.get_modulo_hijo.icono"
      margin-right></ion-icon>
    <ion-icon *ngIf="healthData.get_modulo_hijo == null" [name]="healthData.get_modulo_padre.icono"
      margin-right></ion-icon>
    <span *ngIf="healthData.get_modulo_hijo != null">{{ healthData.get_modulo_hijo.nombre }}</span>
    <span *ngIf="healthData.get_modulo_hijo == null">{{ healthData.get_modulo_padre.nombre }}</span>
  </ion-label>


  <ion-grid padding-horizontal>
    <ion-row justify-content-center>

      <ion-col col-12 col-xs-12 col-sm-10 col-md-8 col-lg-8 col-xl-8>

        <ion-buttons end>
          <button ion-button color="danger" icon-only outline small (click)="deleteHealthData(healthData.id_pk)">
            <ion-icon name="icon-eliminar_1"></ion-icon>
          </button>
          <!-- <button ion-button icon-only outline small [color]="isPrivate ? 'azul-dark' : 'primary'" (click)="privacityHealthData()">
            <ion-icon name="icon-editar"></ion-icon>
          </button> -->
        </ion-buttons>

      </ion-col>

      <ion-col col-12 col-xs-12 col-sm-10 col-md-8 col-lg-8 col-xl-8>

        <ion-label text-wrap color="azul-2">
          <h5>{{ healthData.get_modulo_padre.nombre }} {{ (healthData.get_modulo_hijo != null ? ' | ' +
            healthData.get_modulo_hijo.nombre
            : '') }}</h5>
        </ion-label>

        <ion-label color="dark">
          <h5>{{ healthData.estado }}</h5>
        </ion-label>

        <ion-list>

          <ion-item>
            <ion-label stacked color="azul-2">Fecha</ion-label>
            <ion-input type="text" [value]="healthData.fecha" disabled="true"></ion-input>
          </ion-item>

          <ion-item *ngIf="healthData.institucion != 'null'">
            <ion-label stacked color="azul-2">Institución</ion-label>
            <ion-input type="text" [value]="healthData.institucion" disabled="true"></ion-input>
          </ion-item>

          <ion-item *ngIf="healthData.profesional_salud != 'null'">
            <ion-label stacked color="azul-2">Profesional de salud</ion-label>
            <ion-input type="text" [value]="healthData.profesional_salud" disabled="true"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked color="azul-2">Observaciones</ion-label>
            <ion-textarea text-wrap type="text" [value]="healthData.observacion" disabled="true"></ion-textarea>
          </ion-item>

          <!-- <ion-item *ngFor="let file of healthData.get_adjuntos_archivos_salud" (click)="reviewFile(file.archivo_foto, file.archivo_adjunto)">
                <img [src]="file.archivo_foto" [alt]="file.archivo_foto" [imageViewer]="file.archivo_foto" *ngIf="file.archivo_foto != null"> -->
          <!--<iframe [src]="file.archivo_adjunto" frameborder="0"></iframe>-->
          <!-- <img [src]="file.archivo_adjunto" [alt]="file.archivo_foto" [imageViewer]="file.archivo_adjunto" *ngIf="file.archivo_adjunto != null && verifyTypeFile(file.archivo_adjunto)">
                <p *ngIf="file.archivo_adjunto != null && !verifyTypeFile(file.archivo_adjunto)"><ion-icon name="icon-pdf"></ion-icon>{{splitFileName(file.archivo_adjunto)}}</p>
            </ion-item> -->

        </ion-list>

      </ion-col>
      <form [formGroup]="formPrivacity" (ngSubmit)="logForm()">
        <ion-col class="col-12 col-xs-12">
          <ion-item>
            <ion-label color="primary">Privacidad*</ion-label>
          </ion-item>
        </ion-col>
        <ion-row radio-group>
          <ion-col class="col-6 col-xs-6">
            <ion-item>
              <ion-label color="azul-2">Privado</ion-label>
              <ion-radio value="1" color="azul-2" [checked]="isPrivate" (click)="servicePrivacityHealthData()"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col class="col-6 col-xs-6">
            <ion-item>
              <ion-label color="azul-2">Público</ion-label>
              <ion-radio value="0" color="naranja-2" [checked]="!isPrivate" (click)="servicePrivacityHealthData()"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>

      </form>

      <ion-col col-12 col-xs-12 col-sm-10 col-md-8 col-lg-8 col-xl-8 class="notification-alert">

        <ion-row>
          <ion-col col-2 text-center>
            <ion-icon name="icon-no_cargados" color="naranja-2"></ion-icon>
          </ion-col>
          <ion-col col-10>
            <span ion-text color="dark">
              Si lo marca como privado no podrá ser visualizado por terceros, excepto el profesional de salud
            </span>
          </ion-col>
        </ion-row>

      </ion-col>

      <ion-col col-12 col-xs-12 col-sm-10 col-md-8 col-lg-8 col-xl-8>
        <ion-card *ngIf="filesDicom.length > 0">
          <ion-card-header text-wrap no-padding>
            <div id="contenido-dicom">
              <div id="dwv">
                <div class="toolbar"></div>
                <div class="layerContainer">
                  <canvas class="imageLayer"></canvas>
                </div>
              </div>
              <input type="range" id="sliceRange" value="0">
            </div>
          </ion-card-header>

          <!-- <ion-card-content no-padding >
            <ion-grid no-padding>
              <ion-row no-padding>
                <ion-col text-left margin-left>
                  <button type="button" ion-button outline clear icon-only small color="dark">
                    <ion-icon name="icon-trat_radioterapia" color="azul-dark"></ion-icon>
                  </button>
                </ion-col>
                <ion-col text-right margin-right>
                  <ion-row>
                    <ion-col no-padding>
                      <button type="button" ion-button outline clear icon-only small color="dark">
                        <ion-icon name="icon-exportar"></ion-icon>
                      </button>
                    </ion-col>
                    <ion-col no-padding>
                      <button type="button" ion-button outline clear icon-only small color="dark">
                        <ion-icon name="icon-compartir"></ion-icon>
                      </button>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content> -->
        </ion-card>

        <!--Imagenes-->
        <ion-card class="card-image" *ngFor="let file of filesImg">
          <ion-card-header text-wrap no-padding>
            <img [src]="file" [imageViewer]="file">
          </ion-card-header>
          <ion-card-content no-padding>
            <ion-grid no-padding>
              <ion-row no-padding>
                <ion-col text-left margin-left>
                  <button type="button" ion-button outline clear icon-only small color="dark">
                    <ion-icon name="icon-jpg" color="primary"></ion-icon>
                  </button>
                  <span style="vertical-align: text-top">
                    {{ (splitFileName(file).length>10)? (splitFileName(file) | slice:0:10)+'..':(splitFileName(file))
                    }}
                  </span>
                </ion-col>
                <ion-col text-right margin-right>
                  <ion-row>
                    <ion-col no-padding>
                      <button type="button" ion-button outline clear icon-only small color="dark" (click)="download(file)">
                        <ion-icon name="icon-exportar"></ion-icon>
                      </button>
                    </ion-col>
                    <ion-col no-padding>
                      <button *ngIf="!isIos" type="button" ion-button outline clear icon-only small color="dark"
                        (click)="shareQr(file)">
                        <ion-icon name="icon-compartir"></ion-icon>
                      </button>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>

        <!--end Imagenes-->

        <!-- Archivos pdf -->
        <ion-card class="card-image" *ngFor="let file of filesPdf">
          <ion-card-header text-wrap no-padding>
            <pdf-viewer [src]="file" [external-link-target]="none" [render-text]="false" [original-size]="true" [zoom]="0.1"
              [page]="1" [show-all]="true" style="display: block;"></pdf-viewer>
          </ion-card-header>
          <ion-card-content no-padding>
            <ion-grid no-padding>
              <ion-row no-padding>
                <ion-col text-left margin-left>
                  <button type="button" ion-button outline clear icon-only small color="dark">
                    <ion-icon name="icon-pdf" color="rojo"></ion-icon>
                  </button>
                  <span style="vertical-align: text-top">
                    <!-- <span style="vertical-align: text-top" (click)="reviewFile(file)"> -->
                    {{ (splitFileName(file).length>10)? (splitFileName(file) | slice:0:10)+'..':(splitFileName(file))
                    }}
                  </span>
                </ion-col>
                <ion-col text-right margin-right>
                  <ion-row>
                    <ion-col no-padding>
                      <button type="button" ion-button outline clear icon-only small color="dark" (click)="download(file)">
                        <ion-icon name="icon-exportar"></ion-icon>
                      </button>
                    </ion-col>
                    <ion-col no-padding>
                      <button *ngIf="!isIos" type="button" ion-button outline clear icon-only small color="dark"
                        (click)="shareQr(file)">
                        <ion-icon name="icon-compartir"></ion-icon>
                      </button>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
        <!--end Archivos pdf-->

        <!-- Archivos word -->
        <ion-card class="card-image" *ngFor="let file of filesWord">
          <ion-card-header text-wrap no-padding *ngIf="file">
            <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(file)" webkitallowfullscreen mozallowfullscreen
              allowfullscreen width="100%" height="100%" style="border: none;" frameborder="0" scrolling="0"></iframe>
          </ion-card-header>
          <ion-card-content no-padding>
            <ion-grid no-padding>
              <ion-row no-padding>
                <ion-col text-left margin-left>
                  <button type="button" ion-button outline clear icon-only small color="dark">
                    <ion-icon name="icon-info_adicional" color="primary"></ion-icon>
                  </button>
                  <span style="vertical-align: text-top" (click)="reviewFile(file)">
                    {{ (splitFileName(file).length>10)? (splitFileName(file) | slice:0:10)+'..':(splitFileName(file))
                    }}
                  </span>
                </ion-col>
                <ion-col text-right margin-right>
                  <ion-row>
                    <ion-col no-padding>
                      <button type="button" ion-button outline clear icon-only small color="dark" (click)="download(file)">
                        <ion-icon name="icon-exportar"></ion-icon>
                      </button>
                    </ion-col>
                    <ion-col no-padding>
                      <button *ngIf="!isIos" type="button" ion-button outline clear icon-only small color="dark"
                        (click)="shareQr(file)">
                        <ion-icon name="icon-compartir"></ion-icon>
                      </button>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
        <!-- Archivos word -->
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>