.ios,
.md {
	page-datos-salud {
		.segment .segment-button {
			text-transform: none;
		}
		ion-label {
			color: color($colors, primary);
			ion-icon {
				color: color($colors, dark);
			}
			&[ion-text] {
				color: color($colors, azul-2);
			}
		}

		//CSS UTILIZADOS EN RENOVACIÓN//////

		.card {
			width: 100%;
			height: 300px !important;
			font-size: 14px;
			margin-bottom: 20px;
			perspective: 600px;
			border-radius: 10px;
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
			transition: transform 0.5s;
			transform-style: preserve-3d;
			

			ion-card{
				height: 100% !important;
			}
		}
		
		.card__face {
			width: 100%;
     		height: 100%;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: absolute;
			backface-visibility: hidden;
			margin: 0 !important;
			padding: 0 !important;

			ion-grid{
				width: 100%;
				height: 100%;
				ion-row{
					width: 100%;
					height: 100%;
				}
			}
		}
		.front {
			z-index: -1;
    	}
		.back {
			transform: rotateY(180deg);
		}
		
		.left_banner{
			color: white;
			font-size: 2.5vh;
			ion-icon{
				font-size: 2.5em;
				padding-top: 10%;
				
			}
			ion-label{
				color: white;
				margin-left: 2px;
			}
			ion-row{
				align-items: center;
				ion-row{
					display: inline-block;
				}
			}
		}

		ion-input, ion-datetime{
			border-bottom: 1px solid lightgrey;
		}

		.icon_graph {
			color: #389efc;
			width: 25px;
			height: 25px;
			font-size: 1.6em
		}
		
		//////////////////////////////////

		.card_scene{
			perspective: 600px;
			border-radius: 10px;
			backface-visibility: hidden;
			box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
			margin: 0 !important;
			padding: 0 !important;
		}

    

    .card.is-flipped {
			transform: rotateY(180deg);
    }
    
		

    .section_item {
			position: relative;
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
		}



		.reports__table ion-row {
			color: color($colors, dark);
			&:nth-child(even) {
				background: rgb(204, 204, 204);
				border-top: 1px solid darken(rgb(204, 204, 204), 15%);
				border-bottom: 1px solid darken(rgb(204, 204, 204), 15%);
				color: color($colors, dark);
			}
		}
		.reports__table__content ion-col {
			padding: 8px 5px;
		}
		.select-filter {
			max-width: initial !important;
		}
		.segment .segment-button {
			text-transform: none;
		}
		button[clear] {
			text-transform: none;
		}
		ion-item {
			padding-left: 0;
		}
		.item-md.item-block .item-inner,
		.item-ios.item-block .item-inner {
			border-color: color($colors, azul-2);
		}
		.text-small {
			padding-bottom: 5px;
		}
		ion-label {
			ion-icon {
				padding-top: 2px;
			}
		}
		.datetime-md {
			padding: 13px 8px 13px 5px;
		}
		.SwipedTabs-indicatorSegment {
			-webkit-transition: 0.3s all;
			-moz-transition: 0.3s all;
			-o-transition: 0.3s all;
			transition: 0.3s all;
			transform-origin: top 0 left 0;
			height: 1px;
			position: relative;
			top: -1px;
			background-color: #2769A0 !important;
		}
		.SwipedTabs-tabs ion-segment-button {
			border: none !important;
			color: gray !important;
			background-color: white !important;
		}
		.SwipedTabs-tabs ion-segment-button.SwipedTabs-activeTab {
			color: #1E8AC2 !important;
		}
		.SwipedTabs-tabs {
			border-bottom: solid 1px #e6e6e6 !important;
		}
		[ion-fixed] {
			height: 100%;
		}
		.select-filter {
			max-width: initial !important;
		}
		ion-item.radio-medium .input-wrapper {
			max-width: 34%;
		}
		
		.flip_flecha {
			font-weight: bold;
			font-size: 25px;
			color: white;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			left: 50%;
		}
		.flip_sgte {
			background: #389efc;
			position: absolute;
			top: 50%;
			-webkit-transform: translate(0%, -50%);
			transform: translate(0%, -50%);
			right: 0px;
			height: 50px;
			width: 25px;
			-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
			border-radius: 5px;
		}
		.flip_back {
			background: #389efc;
			position: absolute;
			top: 50%;
			transform: translate(0%, -50%);
			right: 0px;
			height: 50px;
			width: 25px;
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
			border-radius: 5px;
			z-index: 9;
		}
		tr:nth-child(even) {
			background: #dcdcdc;
		}
		tr:nth-child(odd) {
			background: #FFF;
		}
		
		
    
		
		.icon_left {
			font-size: 2.5em;
		}
		.text_icon {
			font-size: 0.9em;
			padding-left: 3px;
			padding-right: 3px;
		}
		.section_icon {
			width: 30%;
			height: 100%;
			background: #1E8AC2;
			color: white;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.section_form {
			width: 70%;
			height: 100%;
			border-bottom: 1px solid #cbcbcb;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.text-informative {
			color: #389efc;
			font-size: 1.2em;
		}
		.sub-text-informative {
			font-size: 0.8em;
			color: #389efc;
			font-weight: bold;
		}
		.text-caption {
			color: #A0A0A0;
			font-size: 0.7em;
		}
		ion-datetime {
			font-size: 13px;
		}
		ion-textarea {
			font-size: 13px;
		}
		.place-iondate:-ms-input-placeholder {
			color: red;
			width: 50px;
		}
		.place-iondate::-webkit-input-placeholder {
			color: red;
			width: 50px;
		}
		.table_style {
			padding: 0px;
			font-size: 11px;
			margin-top: 5px;
			border: 1px solid #dcdcdc
		}
		.texto_y_cuadro {
			display: flex;
			justify-content: center;
			align-items: flex-end;
		}
		.icons_save .son_icon_save_stats {
			font-size: 1.5em !important;
		}
		.icons_save {
			position: absolute;
			bottom: 5px;
			right: 5px;
		}
		.icons_stats {
			position: absolute;
			top: 5px;
			right: 5px;
		}
		.icons_stats_badge {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: flex-end;
		}
		.icons_stats .icon-save {
			font-size: 1.4em;
		}
		.icon_medium {
			position: absolute;
			top: 100%;
			transform: translate(0, -50%);
			right: 5px;
			z-index: 9999!important;
			background: white;
			padding: 10px 0px;
		}
		.save_medium {
			position: relative;
			top: 100%;
			transform: translate(0, -50%);
			right: 5px;
			z-index: 9999!important;
			background: white;
			padding: 10px 0px;
		}
		.icon_medium .son_icon_save_stats {
			background-color: white;
			z-index: 9999!important;
		}
		.icon_medium .son_icon_save_stats {
			background-color: white;
			z-index: 9999!important;
		}
		
		.container_dates {
			display: flex;
			flex-direction: row;
		}
		.container_grafica {
			height: 100%;
			max-height: 185px;
			overflow-y: scroll;
		}
		.tr {
			border: 1px solid #dcdcdc;
		}
		.p5 {
			padding: 5px;
		}
	}
}