<ion-header>
  <ion-navbar color="azul-2" text-center>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Datos de salud</ion-title>
    <ion-buttons end>
      <button ion-button icon-only [navParams]="{ 'seccion': 'datos_salud' }" [navPush]="pageHelp">
        <ion-icon name="md-help-circle" color="white"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content scroll="false">

  <ion-buttons text-center margin-top [style.display]="!timeOutControl ? 'block' : 'none'">
    <button ion-button type="button" outline round small (click)="loadNew()">Recargar</button>
  </ion-buttons>

  <div no-padding [style.display]="timeOutControl ? 'block' : 'none'">
    <ion-segment class="SwipedTabs-tabs">
      <ion-segment-button value="basic" color="azul-2" (click)="selectTab(0)"
        [ngClass]='{ "SwipedTabs-activeTab" : ( this.SwipedTabsSlider  && ( this.SwipedTabsSlider.getActiveIndex() === 0 || (  2 -1 === 0&& this.SwipedTabsSlider.isEnd()))) }'>
        Básicos
      </ion-segment-button>
      <ion-segment-button value="gine-ibstetricos" *ngIf="genero == 'F'" color="azul-2" (click)="selectTab(1)"
        [ngClass]='{ "SwipedTabs-activeTab" : ( this.SwipedTabsSlider  && ( this.SwipedTabsSlider.getActiveIndex() === 1 || (  2 -1 === 1&& this.SwipedTabsSlider.isEnd()))) }'>
        Gineco-obstetricos
      </ion-segment-button>
    </ion-segment>
    <div id='indicator' class="SwipedTabs-indicatorSegment" [ngStyle]="{'width.%': (100/(genero == 'F' ? 2 : 1))}">
    </div>
  </div>

  <ion-slides *ngIf="timeOutControl" #SwipedTabsSlider (ionSlideDrag)="animateIndicator($event)"
    (ionSlideWillChange)="updateIndicatorPosition()" class="swiper-no-swiping"
    (ionSlideDidChange)="updateIndicatorPosition()" (pan)="updateIndicatorPosition()" [pager]="false">

    <!--DATOS BÁSICOS-->
    <ion-slide>
      <ion-content ion-fixed>

        <!--MENSAJE INFORMATIVO-->
        <div class="box-info"
          style="display:flex; flex-direction: row; justify-content: center; align-items: center; font-size: 12px; padding-top:20px;margin-bottom:20px;padding:0px; ">
          <div style="padding-left: 3px">
            <ion-icon name="icon-info"></ion-icon>
          </div>
          <div style="padding-left:4px; width:100%;">Es importante completar tus datos de salud. Puedes hacer control
            diario o periódico y obtener reportes.
          </div>
        </div>

        <!--TIPO DE SANGRE Y GLUCEMIA-->
        <div id="scena_sangre" class="card">
          <!--FRONTAL-->
          <ion-card no-padding class="card__face front">

            <!--Maquetación card frontal-->
            <ion-grid no-padding justify-content-center>

              <ion-row>

                <!--LATERAL IZQUIERDO, ICONOS Y TÍTULOS-->
                <!--Se define el color de la barra lateral y se segmenta en la cantidad de columnas deseada por % -->
                <ion-col col-4 style="background-color: #78ba49" class="left_banner">
                  <!--Segmento tipo de sangre-->
                  <ion-row style="width: 100%; height: 50%">
                    <ion-row style="width: 100%; height: 50%;">
                      <ion-icon name="icon-grupo_sang"></ion-icon>
                    </ion-row>
                    <ion-label text-wrap>
                      Tipo de sangre
                    </ion-label>
                  </ion-row>
                  <!--Segmento glucemia-->
                  <ion-row style="width: 100%; height: 50%;">
                    <ion-row style="width: 100%; height: 50%;">
                      <ion-icon name="icon-glucemia"></ion-icon>
                    </ion-row>
                    <ion-label text-wrap>
                      Glucemia
                    </ion-label>
                  </ion-row>
                </ion-col>

                <!--CONTENIDO-->
                <!--Se segmenta de igual manera la cantidad de columnas deseadas, cada segmento tiene su contenido-->
                <ion-col col-8>
                  <!--Segmento tipo de sangre-->
                  <ion-row style="width: 100%; height: 50%; padding-bottom: 5px;">
                    <!--Estado de la validación del tipo de sangre-->
                    <ion-row style="width: 100%; height: 33.33%;">
                      <div class="icons_stats" style="float: right;">
                        <ion-badge class="badge-estado-ant" color="azul-2" *ngIf="estado== 'validado'"
                          style="margin-right:0px;">Validado
                        </ion-badge>
                        <ion-badge class="badge-estado-ant" color="danger" *ngIf="estado == 'no validado'"
                          style="margin-right:0px;">
                          no validado
                        </ion-badge>
                        <ion-badge class="badge-estado-ant" color="naranja-2" *ngIf="estado== 'pendiente'"
                          style="margin-right:0px;">Por
                          validar
                        </ion-badge>
                      </div>
                    </ion-row>
                    <!--Contenido del segmento, elementos.-->
                    <ion-row style="width: 100%; height: 60%;">
                      <ion-col col-6>
                        <ion-item>
                          <ion-select name="tipo_sangre" text-center [(ngModel)]="tipo_sangre"
                            [disabled]="estado == 'validado'" (ionChange)="setBlood_group($event)" cancelText="Cancelar"
                            okText="Aceptar" placeholder="Seleccione el tipo de sangre" class="select-filter">
                            <ion-option *ngFor="let item of blood_groups" [value]="item.id_pk">{{ item.nombre }}
                            </ion-option>
                          </ion-select>
                        </ion-item>
                      </ion-col>
                      <ion-col col-2>
                        <div style="margin-left:10px; margin-bottom: 5px;" (click)="help('1')">
                          <ion-icon name="md-help-circle" end style="margin-top: 10px; font-size: 20px" color="gris">
                          </ion-icon>
                        </div>
                      </ion-col>
                      <ion-col col-2>
                        <ion-icon style="margin-left: 10px; margin-top: 7px; font-size: 3.5vh" name="icon-guardar"
                          *ngIf="estado != 'validado'" [ngClass]="!tipo_sangre?'disabled':none" color="azul-2"
                          (click)="saveItem('tsa_fk','OPC_TIPO_SANGRE')">
                        </ion-icon>
                      </ion-col>
                      <ion-col col-2>
                        <div style="margin-left: 10px;" (click)="fn_modalAdjunto()"
                          [ngClass]="!tipo_sangre || !sangreLocalStorage?'disabled':none">
                          <ion-icon name="ios-attach" color="azul-2" style="font-size: 5vh"></ion-icon>
                        </div>
                      </ion-col>

                    </ion-row>
                    <!--Titulo del archivo adjunto, de existir-->
                    <ion-row style="width: 100%; height: 10%; margin-left: 20px;">
                      <div class="text-caption" *ngIf="archivo_adjunto">
                        <em text-wrap>{{archivo_adjunto.split("/").pop()}}</em>
                      </div>
                    </ion-row>
                  </ion-row>

                  <!--Segmento glucemia-->
                  <ion-row style="width: 100%; height: 50%; border-top: 1px solid lightgray; padding-bottom: 5px;">
                    <!--Icono de grafica que rota la card-->
                    <ion-row style="width: 100%; height: 20%;">
                      <div class="icons_stats" style="top: 50%;">
                        <ion-icon name="stats" class="icon_graph" (click)="clickCard('scena_sangre','OPC_GLUCEMIA',1)">
                        </ion-icon>
                      </div>
                    </ion-row>

                    <!--Contenido del segmento, elementos-->
                    <ion-row style="width: 100%; height: 60%;">
                      <ion-col col-10>
                        <ion-item>
                          <ion-input class="text-small" text-center type="number" placeholder="mg/dl" name="glycemia"
                            [(ngModel)]="basicModel.glycemia">
                          </ion-input>
                        </ion-item>
                      </ion-col>
                      <ion-col col-2>
                        <div class="text_icon">
                          <!--mg/dl-->
                          <ion-icon name="icon-guardar" [ngClass]="!basicModel.glycemia?'disabled':none" color="azul-2"
                            style="margin-top: 10px; font-size: 3.5vh" (click)="saveItem('glucemia','OPC_GLUCEMIA')">
                          </ion-icon>
                        </div>
                      </ion-col>
                    </ion-row>

                    <!--Último registro-->
                    <ion-row style="width: 100%; height: 20%; margin-left: 20px;">
                      <ion-row style="width: 100%; height: 50%;">
                        <div class="text-caption" *ngIf="ultimate_register?.glucemia">
                          <em>Último registro {{ultimate_register.glucemia.fecha}}</em>
                        </div>
                      </ion-row>
                      <ion-row style="width: 100%; height: 50%;">
                        <div class="text-caption" *ngIf="ultimate_register?.glucemia">
                          <em><b>{{ultimate_register.glucemia.valor}}
                              {{ultimate_register.glucemia.unidad_medida}}</b></em>
                        </div>
                      </ion-row>
                    </ion-row>
                  </ion-row>
                </ion-col>


              </ion-row>

            </ion-grid>

          </ion-card>
          <!--RESPALDO-->
          <ion-card class="card__face back">
            <ion-card-content>
              <div class="container_dates">
                <div style="width:100%;">
                  <ion-item style="position:relative;">
                    <ion-label margin-left color="azul-2" style="width: 100%;position: absolute;left: 0px;top: -4px;">
                      <ion-icon name="icon-eventos"></ion-icon>
                    </ion-label>
                    <ion-datetime no-padding name="fecha_ini_glu" [max]="fec_fin_glu" (ionChange)="getChart(1)"
                      [(ngModel)]="fec_ini_glu" style="width: 100%; text-align: center;" displayFormat="DD/MM/YYYY"
                      pickerFormat="D MMM YYYY" doneText="Aceptar" cancelText="Cancelar"></ion-datetime>
                  </ion-item>
                </div>
                <div style="display:flex; flex-direction:row; justify-content: center;align-items: center;">
                  &nbsp; &nbsp; &nbsp;
                </div>
                <div style="width:100%;">
                  <ion-item>
                    <ion-label margin-left color="azul-2" style="width: 100%;position: absolute;left: 0px;top: -4px;">
                      <ion-icon name="icon-eventos"></ion-icon>
                    </ion-label>
                    <ion-datetime no-padding name="fecha_fin_glu" text-center (ionChange)="getChart(1)"
                      [(ngModel)]="fec_fin_glu" style="width: 100%; text-align: center;" displayFormat="DD/MM/YYYY"
                      pickerFormat="D MMM YYYY" doneText="Aceptar" cancelText="Cancelar" [max]="maxDate">
                    </ion-datetime>
                  </ion-item>
                </div>
                <div class="flip_back" (click)="clickCard('scena_sangre')">
                  <ion-icon name="ios-arrow-back" class="flip_flecha"></ion-icon>
                </div>
              </div>
              <div class="container_grafica">
                <div class="box-info"
                  style="display:flex; flex-direction: row; justify-content: center; align-items: center; font-size: 12px; margin:0px;padding:0px;"
                  *ngIf="!aChart[1]">
                  <div style="padding-left: 3px">
                    <ion-icon name="icon-info"></ion-icon>
                  </div>
                  <div style="padding-left:4px; width:100%;">No existen registros en este periodo de tiempo</div>
                </div>
                <canvas #dato_glucemia_chart style="width:100%; height: 100%;"></canvas>
              </div>
            </ion-card-content>
          </ion-card>
        </div>

        <!--ESTATURA, PESO, IMC-->
        <div id="scena_imc" class="card">
          <!--FRONTAL-->
          <ion-card no-padding class="card__face front">

            <!--Maquetación card frontal-->
            <ion-grid no-padding justify-content-center>

              <ion-row>

                <!--LATERAL IZQUIERDO, ICONOS Y TÍTULOS-->
                <!--Se define el color de la barra lateral y se segmenta en la cantidad de columnas deseada por % -->
                <ion-col col-4 class="left_banner" style="background-color: #ed6d38">
                  <!--Segmento tipo de sangre-->
                  <ion-row style="width: 100%;" [ngStyle]="{'height': indiceMC?'100px':'150px'}">
                    <ion-row style="width: 100%; height: 60%;">
                      <ion-icon name="icon-estatura"></ion-icon>
                    </ion-row>
                    <ion-label text-wrap style="width: 100%; height: 40%;">
                      Estatura
                    </ion-label>
                  </ion-row>
                  <!--Segmento glucemia-->
                  <ion-row style="width: 100%;" [ngStyle]="{'height': indiceMC?'100px':'150px'}">
                    <ion-row style="width: 100%; height: 60%;">
                      <ion-icon name="icon-peso"></ion-icon>
                    </ion-row>
                    <ion-label text-wrap style="width: 100%; height: 40%;">
                      Peso
                    </ion-label>
                  </ion-row>
                  <!--Segmento imc-->
                  <ion-row style="width: 100; height: 83.33px;" *ngIf="indiceMC">
                    <ion-row style="width: 100%; height: 60%;">
                      <ion-icon name="pie"></ion-icon>
                    </ion-row>
                    <ion-label text-wrap style="width: 100%; height: 40%;">
                      IMC
                    </ion-label>
                  </ion-row>
                </ion-col>

                <!--CONTENIDO-->
                <!--Se segmenta de igual manera la cantidad de columnas deseadas, cada segmento tiene su contenido-->
                <ion-col col-8>
                  <!--Segmento estatura-->
                  <ion-row style="width: 100%; padding-bottom: 5px; padding-bottom: 5px;"
                    [ngStyle]="{'height': indiceMC?'100px':'150px'}">
                    <!--Icono de grafica que rota la card-->
                    <ion-row style="width: 100%; height: 20%;">
                      <div *ngIf="indiceMC" class="icons_stats" style="top: 0px;">
                        <ion-icon name="stats" class="icon_graph" (click)="clickCard('scena_imc','OPC_ESTATURA',0)">
                        </ion-icon>
                      </div>
                    </ion-row>

                    <!--Contenido del segmento, elementos-->
                    <ion-row style="width: 100%; height: 60%;">
                      <ion-col col-10>
                        <ion-item>
                          <ion-input type="number" text-center placeholder="cm" name="height"
                            [(ngModel)]="basicModel.height">
                          </ion-input>
                        </ion-item>
                      </ion-col>
                      <ion-col col-2>
                        <div class="text_icon">
                          <!--cm-->
                          <ion-icon name="icon-guardar" [ngClass]="!basicModel.height?'disabled':none" color="azul-2"
                            style="margin-top: 10px; font-size: 3.5vh" (click)="saveItem('estatura','OPC_ESTATURA')">
                          </ion-icon>
                        </div>
                      </ion-col>
                    </ion-row>

                    <!--Último registro-->
                    <ion-row style="width: 100%; height: 20%; margin-left: 20px; ">
                      <ion-row style="width: 100%; height: 50%;">
                        <div class="text-caption" *ngIf="ultimate_register?.estatura">
                          <em>Último registro {{ultimate_register.estatura.fecha}}</em>
                        </div>
                      </ion-row>
                      <ion-row style="width: 100%; height: 50%;">
                        <div class="text-caption" *ngIf="ultimate_register?.estatura">
                          <em><b>{{ultimate_register.estatura.valor}}
                              {{ultimate_register.estatura.unidad_medida}}</b></em>
                        </div>
                      </ion-row>
                    </ion-row>
                  </ion-row>

                  <!--Segmento peso-->
                  <ion-row style="width: 100%; border-top: 1px solid lightgray; padding-bottom: 5px;"
                    [ngStyle]="{'height': indiceMC?'100px':'150px'}">
                    <!--Icono de grafica que rota la card-->
                    <ion-row style="width: 100%; height: 20%;">
                      <div *ngIf="indiceMC" class="icons_stats" style="top: 100px !important;">
                        <ion-icon name="stats" class="icon_graph" (click)="clickCard('scena_imc','OPC_PESO',0)">
                        </ion-icon>
                      </div>
                    </ion-row>

                    <!--Contenido del segmento, elementos-->
                    <ion-row style="width: 100%; height: 60%;">
                      <ion-col col-10>
                        <ion-item>
                          <ion-input type="number" text-center placeholder="kg" name="weight"
                            [(ngModel)]="basicModel.weight">
                          </ion-input>
                        </ion-item>
                      </ion-col>
                      <ion-col col-2>
                        <div class="text_icon">
                          <!--kg-->
                          <ion-icon name="icon-guardar" [ngClass]="!basicModel.weight?'disabled':none" color="azul-2"
                            style="margin-top: 10px; font-size: 3.5vh" (click)="saveItem('peso','OPC_PESO')">
                          </ion-icon>
                        </div>
                      </ion-col>
                    </ion-row>

                    <!--Último registro-->
                    <ion-row style="width: 100%; height: 20%; margin-left: 20px; ">
                      <ion-row style="width: 100%; height: 50%;">
                        <div class="text-caption" *ngIf="ultimate_register?.peso">
                          <em>Último registro {{ultimate_register.peso.fecha}}</em>
                        </div>
                      </ion-row>
                      <ion-row style="width: 100%; height: 50%;">
                        <div class="text-caption" *ngIf="ultimate_register?.peso">
                          <em><b>{{ultimate_register.peso.valor}} {{ultimate_register.peso.unidad_medida}}</b></em>
                        </div>
                      </ion-row>
                    </ion-row>
                  </ion-row>

                  <!--Segmento IMC-->
                  <ion-row *ngIf="indiceMC"
                    style="width: 100%; height: 100px !important; border-top: 1px solid lightgray; padding-bottom: 5px;">

                    <!--Contenido del segmento, elementos-->
                    <ion-row style="width: 100%; height: 100%;">
                      <ion-row style="width: 100%; height: 60%;">
                        <ion-label class="text-informative">
                          {{ultimate_register?.imc.valor}}
                        </ion-label>
                      </ion-row>
                      <ion-row style="width: 100%; height: 40%;">
                        <ion-label class="sub-text-informative" [navPush]="classificationIMC">
                          <u>{{ indiceMC }}</u>
                        </ion-label>
                      </ion-row>
                    </ion-row>
                  </ion-row>
                </ion-col>


              </ion-row>

            </ion-grid>

          </ion-card>
          <!--RESPALDO-->
          <ion-card class="card__face back">
            <ion-card-content>
              <div class="container_dates">
                <div style="width:100%;">
                  <ion-item style="position:relative;">
                    <ion-label margin-left color="azul-2" style="width: 100%;position: absolute;left: 0px;top: -4px;">
                      <ion-icon name="icon-eventos"></ion-icon>
                    </ion-label>
                    <ion-datetime no-padding name="fecha_ini_basicos" [max]="fec_fin_glu" (ionChange)="getChart(0)"
                      [(ngModel)]="fec_ini_glu" style="width: 100%; text-align: center;" displayFormat="DD/MM/YYYY"
                      pickerFormat="D MMM YYYY" doneText="Aceptar" cancelText="Cancelar"></ion-datetime>
                  </ion-item>
                </div>
                <div style="display:flex; flex-direction:row; justify-content: center;align-items: center;">
                  &nbsp; &nbsp; &nbsp;
                </div>
                <div style="width:100%;">
                  <ion-item>
                    <ion-label margin-left color="azul-2" style="width: 100%;position: absolute;left: 0px;top: -4px;">
                      <ion-icon name="icon-eventos"></ion-icon>
                    </ion-label>
                    <ion-datetime no-padding name="fecha_fin_basicos" text-center (ionChange)="getChart(0)"
                      [(ngModel)]="fec_fin_glu" style="width: 100%; text-align: center;" displayFormat="DD/MM/YYYY"
                      pickerFormat="D MMM YYYY" doneText="Aceptar" cancelText="Cancelar" [max]="maxDate">
                    </ion-datetime>
                  </ion-item>
                </div>
                <div class="flip_back" (click)="clickCard('scena_imc')">
                  <ion-icon name="ios-arrow-back" class="flip_flecha"></ion-icon>
                </div>
              </div>
              <div class="container_grafica">
                <div class="box-info"
                  style="display:flex; flex-direction: row; justify-content: center; align-items: center; font-size: 12px; margin:0px;padding:0px;"
                  *ngIf="!aChart[0]">
                  <div style="padding-left: 3px">
                    <ion-icon name="icon-info"></ion-icon>
                  </div>
                  <div style="padding-left:4px; width:100%;">No existen registros en este periodo de tiempo</div>
                </div>
                <canvas #dato_salud_chart style="width:100%; height: 100%;"></canvas>
              </div>
            </ion-card-content>
          </ion-card>
        </div>

        <!--PRESIÓN ARTERIAL-->
        <div id="scena_presion" class="card">
          <!--FRONTAL-->
          <ion-card no-padding class="card__face front">

            <!--Maquetación card frontal-->
            <ion-grid no-padding justify-content-center>

              <ion-row style="width: 100%; height: 80% !important;">

                <!--LATERAL IZQUIERDO, ICONOS Y TÍTULOS-->
                <!--Se define el color de la barra lateral y se segmenta en la cantidad de columnas deseada por % -->
                <ion-col col-4 class="left_banner" style="background-color: #1E8AC2">
                  <!--Segmento sistólica-->
                  <ion-row style="width: 100%; height: 125px !important;">
                    <ion-row style="width: 100%; height: 50%;">
                      <ion-icon name="icon-presion-arterial"></ion-icon>
                    </ion-row>
                    <ion-label text-wrap style="width: 100%; height: 50%;">
                      P.Arterial Sistólica
                    </ion-label>
                  </ion-row>
                  <!--Segmento diastólica-->
                  <ion-row style="width: 100%; height: 125px !important">
                    <ion-row style="width: 100%; height: 50%;">
                      <ion-icon name="icon-presion-arterial"></ion-icon>
                    </ion-row>
                    <ion-label text-wrap style="width: 100%; height: 50%;">
                      P.Arterial Diastólica
                    </ion-label>
                  </ion-row>
                </ion-col>

                <!--CONTENIDO-->
                <!--Se segmenta de igual manera la cantidad de columnas deseadas, cada segmento tiene su contenido-->
                <ion-col col-8>
                  <!--Segmento sistólica-->
                  <ion-row style="width: 100%; height: 125px !important; padding-bottom: 5px; padding-bottom: 5px;">
                    <!--Icono de grafica que rota la card-->
                    <ion-row style="width: 100%; height: 20%;">
                      <div class="icons_stats" style="top: 0px;">
                        <ion-icon name="stats" class="icon_graph"
                          (click)="clickCard('scena_presion','OPC_PRESION_ARTERIAL',2)">
                        </ion-icon>
                      </div>
                    </ion-row>

                    <!--Contenido del segmento, elementos-->
                    <ion-row style="width: 100%; height: 60%;">
                      <ion-col col-10>
                        <ion-item>
                          <ion-input type="number" name="pa_s" text-center [(ngModel)]="basicModel.pa_s"
                            placeholder="mm/Hg">
                          </ion-input>
                        </ion-item>
                      </ion-col>
                    </ion-row>

                    <!--Último registro-->
                    <ion-row style="width: 100%; height: 20%; margin-left: 20px; ">
                      <ion-row style="width: 100%; height: 50%;">
                        <div class="text-caption" *ngIf="ultimate_register?.pres_art_s">
                          <em>Último registro {{ultimate_register.pres_art_s.fecha}}</em>
                        </div>
                      </ion-row>
                      <ion-row style="width: 100%; height: 50%;">
                        <div class="text-caption" *ngIf="ultimate_register?.pres_art_s">
                          <em><b>{{ultimate_register.pres_art_s.valor}}
                              {{ultimate_register.pres_art_s.unidad_medida}}</b></em>
                        </div>
                      </ion-row>
                    </ion-row>
                  </ion-row>

                  <!--Segmento diastólica-->
                  <ion-row style="width: 100%; height: 125px !important; border-top: 1px solid lightgray; padding-bottom: 5px;">

                    <!--Contenido del segmento, elementos-->
                    <ion-row style="width: 100%; height: 70%;">
                      <ion-col col-10>
                        <ion-item>
                          <ion-input type="number" name="pa_d" text-center [(ngModel)]="basicModel.pa_d"
                            placeholder="mm/Hg">
                          </ion-input>
                        </ion-item>
                      </ion-col>
                      <ion-col col-2>
                        <div class="text_icon">
                          <ion-icon name="icon-guardar" [ngClass]="!basicModel.pa_s || !basicModel.pa_d?'disabled':none"
                            color="azul-2" style="margin-top: 10px; font-size: 3.5vh"
                            (click)="saveItem('pres_art_s','OPC_PRESION_ARTERIAL')">
                          </ion-icon>
                        </div>
                      </ion-col>
                    </ion-row>

                    <!--Último registro-->
                    <ion-row style="width: 100%; height: 30% !important; margin-left: 20px; ">
                      <ion-row style="width: 100%; height: 50%;">
                        <div class="text-caption" *ngIf="ultimate_register?.pres_art_d">
                          <em>Último registro {{ultimate_register.pres_art_d.fecha}}</em>
                        </div>
                      </ion-row>
                      <ion-row style="width: 100%; height: 50%;">
                        <div class="text-caption" *ngIf="ultimate_register?.pres_art_d">
                          <em><b>{{ultimate_register.pres_art_d.valor}}{{ultimate_register.pres_art_d.unidad_medida}}</b></em>
                        </div>
                      </ion-row>
                    </ion-row>
                  </ion-row>
                </ion-col>

              </ion-row>

              <ion-row style="width: 100%; height: 50px !important; border-top: 1px solid lightgray;">
                <ion-item>
                  <ion-label text-wrap text-center style="color: gray; font-size: small;">Diligencie ambos campos para
                    poder guardar en el histórico de su perfil.</ion-label>
                </ion-item>
              </ion-row>

            </ion-grid>

          </ion-card>
          <!--RESPALDO-->
          <ion-card class="card__face back">
            <ion-card-content>
              <div class="container_dates">
                <div style="width:100%;">
                  <ion-item style="position:relative;">
                    <ion-label margin-left color="azul-2" style="width: 100%;position: absolute;left: 0px;top: -4px;">
                      <ion-icon name="icon-eventos"></ion-icon>
                    </ion-label>
                    <ion-datetime no-padding name="fecha_ini_pre" [max]="fec_fin_glu" (ionChange)="getChart(2)"
                      [(ngModel)]="fec_ini_glu" style="width: 100%; text-align: center;" displayFormat="DD/MM/YYYY"
                      pickerFormat="D MMM YYYY" doneText="Aceptar" cancelText="Cancelar"></ion-datetime>
                  </ion-item>
                </div>
                <div style="display:flex; flex-direction:row; justify-content: center;align-items: center;">
                  &nbsp; &nbsp; &nbsp;
                </div>
                <div style="width:100%;">
                  <ion-item>
                    <ion-label margin-left color="azul-2" style="width: 100%;position: absolute;left: 0px;top: -4px;">
                      <ion-icon name="icon-eventos"></ion-icon>
                    </ion-label>
                    <ion-datetime no-padding name="fecha_fin_pre" text-center (ionChange)="getChart(2)"
                      [(ngModel)]="fec_fin_glu" style="width: 100%; text-align: center;" displayFormat="DD/MM/YYYY"
                      pickerFormat="D MMM YYYY" doneText="Aceptar" cancelText="Cancelar" [max]="maxDate">
                    </ion-datetime>
                  </ion-item>
                </div>
                <div class="flip_back" (click)="clickCard('scena_presion')">
                  <ion-icon name="ios-arrow-back" class="flip_flecha"></ion-icon>
                </div>
              </div>
              <div class="container_grafica">
                <div class="box-info"
                  style="display:flex; flex-direction: row; justify-content: center; align-items: center; font-size: 12px; margin:0px;padding:0px;"
                  *ngIf="!aChart[2]">
                  <div style="padding-left: 3px">
                    <ion-icon name="icon-info"></ion-icon>
                  </div>
                  <div style="padding-left:4px; width:100%;">No existen registros en este periodo de tiempo</div>
                </div>
                <canvas #dato_presion_chart style="width:100%; height: 100%;"></canvas>
              </div>
            </ion-card-content>
          </ion-card>
        </div>

        <!--MENSAJE INFORMATIVO, DATOS PROFESIONAL DE SALUD-->
        <div class="box-info"
          [hidden]="!ultimate_register?.temp_corp  && !ultimate_register?.frec_card && !ultimate_register?.frec_resp"
          style="display:flex; flex-direction: row; justify-content: center; align-items: center; font-size: 12px; margin-bottom:20px;padding:0px;">
          <div style="padding-left: 3px">
            <ion-icon name="icon-info"></ion-icon>
          </div>
          <div style="padding-left:4px; width:100%;">Los siguientes datos solo los actualiza el profesional de salud
          </div>
        </div>

        <!--FRECUENCIA CARDIACA-->
        <div id="scena_frecuencia" class="card"
          [hidden]="!ultimate_register?.frec_card || !ultimate_register?.frec_resp">
          <!--FRONTAL-->
          <ion-card no-padding class="card__face front">

            <!--Maquetación card frontal-->
            <ion-grid no-padding justify-content-center>

              <ion-row>

                <!--LATERAL IZQUIERDO, ICONOS Y TÍTULOS-->
                <!--Se define el color de la barra lateral y se segmenta en la cantidad de columnas deseada por % -->
                <ion-col col-4 class="left_banner" style="background-color: #009880">
                  <!--Segmento sistólica-->
                  <ion-row style="width: 100%; height: 50%;">
                    <ion-row style="width: 100%; height: 50%;">
                      <ion-icon name="icon-frec_cardiaca"></ion-icon>
                    </ion-row>
                    <ion-label text-wrap style="width: 100%; height: 50%;">
                      Frecuencia Cardíaca
                    </ion-label>
                  </ion-row>
                  <!--Segmento diastólica-->
                  <ion-row style="width: 100%; height: 50%;">
                    <ion-row style="width: 100%; height: 50%;">
                      <ion-icon name="icon-frec_respiratoria"></ion-icon>
                    </ion-row>
                    <ion-label text-wrap style="width: 100%; height: 50%;">
                      Frecuencia Respiratoria
                    </ion-label>
                  </ion-row>
                </ion-col>

                <!--CONTENIDO-->
                <!--Se segmenta de igual manera la cantidad de columnas deseadas, cada segmento tiene su contenido-->
                <ion-col col-8>
                  <!--Segmento cardíaca-->
                  <ion-row style="width: 100%; height: 50%; padding-bottom: 5px; padding-bottom: 5px;">
                    <!--Icono de grafica que rota la card-->
                    <ion-row style="width: 100%; height: 20%;">
                      <div class="icons_stats" style="top: 0px;">
                        <ion-icon name="stats" class="icon_graph"
                          (click)="clickCard('scena_frecuencia','OPC_FREC_CARD',3)">
                        </ion-icon>
                      </div>
                    </ion-row>

                    <!--Contenido del segmento, elementos-->
                    <ion-row style="width: 100%; height: 60%;">
                      <ion-col col-10>
                        <ion-item>
                          <ion-input type="number" name="pa_s" text-center [(ngModel)]="basicModel.fc" disabled="true"
                            placeholder="F.Cardíaca">
                          </ion-input>
                        </ion-item>
                        <div class="text_icon">
                          lat/m
                        </div>
                      </ion-col>
                    </ion-row>

                    <!--Último registro-->
                    <ion-row style="width: 100%; height: 20%; margin-left: 20px; ">
                      <ion-row style="width: 100%; height: 50%;">
                        <div class="text-caption" *ngIf="ultimate_register?.frec_card">
                          <em>Último registro {{ultimate_register.frec_card.fecha}}</em>
                        </div>
                      </ion-row>
                      <ion-row style="width: 100%; height: 50%;">
                        <div class="text-caption" *ngIf="ultimate_register?.frec_card">
                          <em><b>{{ultimate_register.frec_card.valor}}{{ultimate_register.frec_card.unidad_medida}}</b></em>
                        </div>
                      </ion-row>
                    </ion-row>
                  </ion-row>

                  <!--Segmento respiratoria-->
                  <ion-row style="width: 100%; height: 50%; border-top: 1px solid lightgray; padding-bottom: 5px;">
                    <!--Icono de grafica que rota la card-->
                    <ion-row style="width: 100%; height: 20%;">
                    </ion-row>

                    <!--Contenido del segmento, elementos-->
                    <ion-row style="width: 100%; height: 60%;">
                      <ion-col col-10>
                        <ion-item>
                          <ion-input type="number" name="pa_d" text-center [(ngModel)]="basicModel.pa_d"
                            placeholder="mm/Hg">
                          </ion-input>
                        </ion-item>
                      </ion-col>
                      <ion-col col-2>
                        <div class="text_icon">
                          <ion-icon name="icon-guardar" [ngClass]="!basicModel.pa_s || !basicModel.pa_d?'disabled':none"
                            color="azul-2" style="margin-top: 10px; font-size: 3.5vh"
                            (click)="saveItem('scena_frecuencia','OPC_PRESION_ARTERIAL')">
                          </ion-icon>
                        </div>
                      </ion-col>
                    </ion-row>

                    <!--Último registro-->
                    <ion-row style="width: 100%; height: 20%; margin-left: 20px; ">
                      <ion-row style="width: 100%; height: 50%;">
                        <div class="text-caption" *ngIf="ultimate_register?.pres_art_d">
                          <em>Último registro {{ultimate_register.pres_art_d.fecha}}</em>
                        </div>
                      </ion-row>
                      <ion-row style="width: 100%; height: 50%;">
                        <div class="text-caption" *ngIf="ultimate_register?.pres_art_d">
                          <em><b>{{ultimate_register.pres_art_d.valor}}{{ultimate_register.pres_art_d.unidad_medida}}</b></em>
                        </div>
                      </ion-row>
                    </ion-row>
                  </ion-row>
                </ion-col>

              </ion-row>

            </ion-grid>

          </ion-card>
          <!--RESPALDO-->
          <ion-card class="card__face back">
            <ion-card-content>
              <div class="container_dates">
                <div style="width:100%;">
                  <ion-item style="position:relative;">
                    <ion-label margin-left color="azul-2" style="width: 100%;position: absolute;left: 0px;top: -4px;">
                      <ion-icon name="icon-eventos"></ion-icon>
                    </ion-label>
                    <ion-datetime no-padding name="fecha_ini_pre" [max]="fec_fin_glu" (ionChange)="getChart(3)"
                      [(ngModel)]="fec_ini_frec" style="width: 100%; text-align: center;" displayFormat="DD/MM/YYYY"
                      pickerFormat="D MMM YYYY" doneText="Aceptar" cancelText="Cancelar"></ion-datetime>
                  </ion-item>
                </div>
                <div style="display:flex; flex-direction:row; justify-content: center;align-items: center;">
                  &nbsp; &nbsp; &nbsp;
                </div>
                <div style="width:100%;">
                  <ion-item>
                    <ion-label margin-left color="azul-2" style="width: 100%;position: absolute;left: 0px;top: -4px;">
                      <ion-icon name="icon-eventos"></ion-icon>
                    </ion-label>
                    <ion-datetime no-padding name="fecha_fin_pre" text-center (ionChange)="getChart(3)"
                      [(ngModel)]="fec_fin_frec" style="width: 100%; text-align: center;" displayFormat="DD/MM/YYYY"
                      pickerFormat="D MMM YYYY" doneText="Aceptar" cancelText="Cancelar" [max]="maxDate">
                    </ion-datetime>
                  </ion-item>
                </div>
                <div class="flip_back" (click)="clickCard('scena_frecuencia')">
                  <ion-icon name="ios-arrow-back" class="flip_flecha"></ion-icon>
                </div>
              </div>
              <div class="container_grafica">
                <div class="box-info"
                  style="display:flex; flex-direction: row; justify-content: center; align-items: center; font-size: 12px; margin:0px;padding:0px;"
                  *ngIf="!aChart[3]">
                  <div style="padding-left: 3px">
                    <ion-icon name="icon-info"></ion-icon>
                  </div>
                  <div style="padding-left:4px; width:100%;">No existen registros en este periodo de tiempo</div>
                </div>
                <canvas #dato_frecuencia_chart style="width:100%; height: 100%;"></canvas>
              </div>
            </ion-card-content>
          </ion-card>
        </div>

        <!--TEMPERATURA CORPORAL-->
        <div id="scena_temperatura" class="card" [hidden]="!ultimate_register?.temp_corp">
          <!--FRONTAL-->
          <ion-card no-padding class="card__face front">

            <!--Maquetación card frontal-->
            <ion-grid no-padding justify-content-center>

              <ion-row>

                <!--LATERAL IZQUIERDO, ICONOS Y TÍTULOS-->
                <!--Se define el color de la barra lateral y se segmenta en la cantidad de columnas deseada por % -->
                <ion-col col-4 class="left_banner" style="background-color: #2d6aa4">
                  <!--Segmento temperatura-->
                  <ion-row style="width: 100%; height: 100%;">
                    <ion-row style="width: 100%; height: 50%;">
                      <ion-icon name="icon-temper_corporal"></ion-icon>
                    </ion-row>
                    <ion-label text-wrap style="width: 100%; height: 100%;">
                      Temperatura Corporal
                    </ion-label>
                  </ion-row>
                </ion-col>

                <!--CONTENIDO-->
                <!--Se segmenta de igual manera la cantidad de columnas deseadas, cada segmento tiene su contenido-->
                <ion-col col-8>
                  <!--Segmento temperatura-->
                  <ion-row style="width: 100%; height: 100%; padding-bottom: 5px;">
                    <!--Icono de grafica que rota la card-->
                    <ion-row style="width: 100%; height: 20%;">
                      <div class="icons_stats" style="top: 0px;">
                        <ion-icon name="stats" class="icon_graph"
                          (click)="clickCard('scena_temperatura','OPC_TEMP_CORP',4)">
                        </ion-icon>
                      </div>
                    </ion-row>

                    <!--Contenido del segmento, elementos-->
                    <ion-row style="width: 100%; height: 60%;">
                      <ion-col col-10>
                        <ion-item>
                          <ion-input type="number" name="tc" text-center [(ngModel)]="basicModel.tc" disabled="true"
                            placeholder="T.Corporal">
                          </ion-input>
                        </ion-item>
                        <div class="text_icon">
                          °C
                        </div>
                      </ion-col>
                    </ion-row>

                    <!--Último registro-->
                    <ion-row style="width: 100%; height: 20%; margin-left: 20px; ">
                      <ion-row style="width: 100%; height: 50%;">
                        <div class="text-caption" *ngIf="ultimate_register?.temp_corp">
                          <em>Último registro {{ultimate_register.temp_corp.fecha}}</em>
                        </div>
                      </ion-row>
                      <ion-row style="width: 100%; height: 50%;">
                        <div class="text-caption" *ngIf="ultimate_register?.temp_corp">
                          <em><b>{{ultimate_register.temp_corp.valor}}{{ultimate_register.temp_corp.unidad_medida}}</b></em>
                        </div>
                      </ion-row>
                    </ion-row>
                  </ion-row>
                </ion-col>

              </ion-row>

            </ion-grid>

          </ion-card>
          <!--RESPALDO-->
          <ion-card class="card__face back">
            <ion-card-content>
              <div class="container_dates">
                <div style="width:100%;">
                  <ion-item style="position:relative;">
                    <ion-label margin-left color="azul-2" style="width: 100%;position: absolute;left: 0px;top: -4px;">
                      <ion-icon name="icon-eventos"></ion-icon>
                    </ion-label>
                    <ion-datetime no-padding name="fecha_ini_pre" [max]="fec_fin_glu" (ionChange)="getChart(4)"
                      [(ngModel)]="fec_ini_temp" style="width: 100%; text-align: center;" displayFormat="DD/MM/YYYY"
                      pickerFormat="D MMM YYYY" doneText="Aceptar" cancelText="Cancelar"></ion-datetime>
                  </ion-item>
                </div>
                <div style="display:flex; flex-direction:row; justify-content: center;align-items: center;">
                  &nbsp; &nbsp; &nbsp;
                </div>
                <div style="width:100%;">
                  <ion-item>
                    <ion-label margin-left color="azul-2" style="width: 100%;position: absolute;left: 0px;top: -4px;">
                      <ion-icon name="icon-eventos"></ion-icon>
                    </ion-label>
                    <ion-datetime no-padding name="fecha_fin_pre" text-center (ionChange)="getChart(4)"
                      [(ngModel)]="fec_fin_temp" style="width: 100%; text-align: center;" displayFormat="DD/MM/YYYY"
                      pickerFormat="D MMM YYYY" doneText="Aceptar" cancelText="Cancelar" [max]="maxDate">
                    </ion-datetime>
                  </ion-item>
                </div>
                <div class="flip_back" (click)="clickCard('scena_temperatura')">
                  <ion-icon name="ios-arrow-back" class="flip_flecha"></ion-icon>
                </div>
              </div>
              <div class="container_grafica">
                <div class="box-info"
                  style="display:flex; flex-direction: row; justify-content: center; align-items: center; font-size: 12px; margin:0px;padding:0px;"
                  *ngIf="!aChart[4]">
                  <div style="padding-left: 3px">
                    <ion-icon name="icon-info"></ion-icon>
                  </div>
                  <div style="padding-left:4px; width:100%;">No existen registros en este periodo de tiempo</div>
                </div>
                <canvas #dato_temp_chart style="width:100%; height: 100%;"></canvas>
              </div>
            </ion-card-content>
          </ion-card>
        </div>

      </ion-content>

    </ion-slide>

    <!--PESTAÑA GINECOBSTETRICOS-->
    <ion-slide *ngIf="genero == 'F'">

      <ion-content ion-fixed>

        <!--MENSAJE INFORMATIVO-->
        <div class="box-info"
          style="display:flex; flex-direction: row; justify-content: center; align-items: center; font-size: 12px; margin-top:20px;margin-bottom:20px;padding:0px; ">
          <div style="padding-left: 3px">
            <ion-icon name="icon-info"></ion-icon>
          </div>
          <div style="padding-left:4px; width:100%;">Realice seguimiento de su ciclo menstrual y/o de gestación
            manteniendo actualizada su información.
          </div>
        </div>

        <!--ULTIMA MENSTRUACION-->
        <div id="scena_menstrual" class="card">
          <!--FRONTAL-->
          <ion-card no-padding class="card__face front">

            <!--Maquetación card frontal-->
            <ion-grid no-padding justify-content-center>

              <ion-row>

                <!--LATERAL IZQUIERDO, ICONOS Y TÍTULOS-->
                <!--Se define el color de la barra lateral y se segmenta en la cantidad de columnas deseada por % -->
                <ion-col col-4 class="left_banner" style="background-color: #8d2832">
                  <!--Segmento menstruacion-->
                  <ion-row style="width: 100%; height: 100%;">
                    <ion-row style="width: 100%; height: 50%;">
                      <ion-icon name="icon-menstruacin" style="padding-top: 75px;"></ion-icon>
                    </ion-row>
                    <ion-row style="width: 100%; height: 50%;">
                      <ion-label text-wrap>
                        Fecha última menstruación
                      </ion-label>
                    </ion-row>
                  </ion-row>
                </ion-col>

                <!--CONTENIDO-->
                <!--Se segmenta de igual manera la cantidad de columnas deseadas, cada segmento tiene su contenido-->
                <ion-col col-8>
                  <!--Segmento menstruacion-->
                  <ion-row style="width: 100%; height: 100%; padding-bottom: 5px;">
                    <!--Icono de grafica que rota la card-->
                    <ion-row style="width: 100%; height: 20%;">
                      <div class="icons_stats" style="top: 0px;">
                        <ion-icon name="icon-tablas" class="icon_graph"
                          (click)="clickCard('scena_menstrual','OPC_FUM',0,'tabla')">
                        </ion-icon>
                      </div>
                    </ion-row>

                    <!--Contenido del segmento, elementos-->
                    <ion-row style="width: 100%; height: 30%; padding-left: 15%;">
                      <ion-col col-10>
                        <ion-item>
                          <ion-label no-padding no-margin>
                            <ion-icon name="icon-eventos" color="azul-2"></ion-icon>
                          </ion-label>
                          <ion-datetime class="place-iondate" displayFormat="DD/MM/YYYY" style="font-size:13px"
                            text-center pickerFormat="D MMM YYYY" [max]="maxDate" cancelText="Cancelar"
                            doneText="Aceptar" [(ngModel)]="ginecoObstetricos.date_u_m" name="date_u_m"
                            [min]="min_date_u_m" (ionChange)="updateIsEmbarazo()" placeholder="Fecha inicio">
                          </ion-datetime>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                    <ion-row style="width: 100%; height: 30%; padding-left: 15%;">
                      <ion-col col-10>
                        <ion-item>
                          <ion-label no-padding no-margin>
                            <ion-icon name="icon-eventos" color="azul-2"></ion-icon>
                          </ion-label>
                          <ion-datetime displayFormat="DD/MM/YYYY" text-center style="font-size:13px"
                            pickerFormat="D MMM YYYY" [max]="maxDate" cancelText="Cancelar" doneText="Aceptar"
                            [min]="min_date_u_m" [(ngModel)]="ginecoObstetricos.date_u_m_fin" name="date_u_m_fin"
                            (ionChange)="updateIsEmbarazo()" placeholder="Fecha fin">
                          </ion-datetime>
                        </ion-item>
                      </ion-col>
                    </ion-row>

                    <!--Último registro-->
                    <ion-row style="width: 80%; height: 20%; margin-left: 20px; ">
                      <ion-row style="width: 100%; height: 50%;">
                        <div class="text-caption" *ngIf="ultimate_register_gineco?.fum_fin">
                          <em>Último registro {{ultimate_register_gineco.fum_fin.valor}}</em>
                        </div>
                      </ion-row>
                      <ion-row style="width: 100%; height: 50%;">
                        <div class="text-caption" *ngIf="ultimate_register_gineco?.fum_fin">
                          <em><b>{{ultimate_register_gineco.fum_fin.fecha}}
                              {{ultimate_register_gineco.fum_fin.unidad_medida}}</b></em>
                        </div>
                      </ion-row>
                      <ion-row style="width: 80%; height: 20%">
                        <div class="icons_save">
                          <ion-icon name="icon-guardar"
                            [ngClass]="!ginecoObstetricos.date_u_m_fin || !ginecoObstetricos.date_u_m?'disabled':none"
                            class="son_icon_save_stats icon-save" color="azul-2"
                            (click)="saveItem('fum','OPC_FUM','gineco')"></ion-icon>
                        </div>
                      </ion-row>
                    </ion-row>
                  </ion-row>
                </ion-col>

              </ion-row>

            </ion-grid>

          </ion-card>
          <!--RESPALDO-->
          <ion-card class="card__face back">
            <ion-card-content>
              <div class="container_dates">
                <div style="width:100%;">
                  <ion-item style="position:relative;">
                    <ion-label margin-left color="azul-2" style="width: 100%;position: absolute;left: 0px;top: -4px;">
                      <ion-icon name="icon-eventos"></ion-icon>
                    </ion-label>
                    <ion-datetime no-padding name="fec_ini_fum" [max]="fec_fin_fum" (ionChange)="getTable(0)"
                      [(ngModel)]="fec_ini_temp" style="width: 100%; text-align: center;" displayFormat="DD/MM/YYYY"
                      pickerFormat="D MMM YYYY" doneText="Aceptar" cancelText="Cancelar"></ion-datetime>
                  </ion-item>
                </div>
                <div style="display:flex; flex-direction:row; justify-content: center;align-items: center;">
                  &nbsp; &nbsp; &nbsp;
                </div>
                <div style="width:100%;">
                  <ion-item>
                    <ion-label margin-left color="azul-2" style="width: 100%;position: absolute;left: 0px;top: -4px;">
                      <ion-icon name="icon-eventos"></ion-icon>
                    </ion-label>
                    <ion-datetime no-padding name="fec_fin_fum" text-center (ionChange)="getTable(0)"
                      [(ngModel)]="fec_fin_temp" style="width: 100%; text-align: center;" displayFormat="DD/MM/YYYY"
                      pickerFormat="D MMM YYYY" doneText="Aceptar" cancelText="Cancelar" [max]="maxDate">
                    </ion-datetime>
                  </ion-item>
                </div>
                <div class="flip_back" (click)="clickCard('scena_menstrual')">
                  <ion-icon name="ios-arrow-back" class="flip_flecha"></ion-icon>
                </div>
              </div>
              <div class="container_grafica">
                <table class="reports__table table_style" *ngIf="aTable[0]">
                  <tr class="tr">
                    <td class="p5" no-padding no-margin *ngFor="let item of aTable[0]?.columnasTabla">
                      <strong ion-text color="azul-2">{{ item }}</strong>
                    </td>
                  </tr>
                  <tr class="reports__table__content tr" *ngFor="let item of aTable[0]?.historialDatosSalud">
                    <td no-padding no-margin *ngFor="let cab of aTable[0].keysbody" [hidden]="cab=='pro_fk_cambio'">
                      {{item[cab]}}
                    </td>
                  </tr>
                </table>

                <div class="box-info"
                  style="display:flex; flex-direction: row; justify-content: center; align-items: center; font-size: 12px; margin:0px;padding:0px;"
                  *ngIf="!aTable[0]">
                  <div style="padding-left: 3px">
                    <ion-icon name="icon-info"></ion-icon>
                  </div>
                  <div style="padding-left:4px; width:100%;">No existen registros en este periodo de tiempo</div>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </div>

        <!--PREGUNTA EMBARAZO-->
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item text-center>
                <ion-label text-wrap>¿Esta embarazada actualmente? </ion-label>
                <ion-toggle [(ngModel)]="ginecoObstetricos.embarazo" name="embarazo" (ionChange)="updateIsEmbarazo()">
                </ion-toggle>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>

        <!--EMBARAZO-->
        <div id="scena_embarazo" class="card" *ngIf="ginecoObstetricos.embarazo == 1">
          <!--FRONTAL-->
          <ion-card no-padding class="card__face front">

            <!--Maquetación card frontal-->
            <ion-grid no-padding justify-content-center>

              <ion-row>

                <!--LATERAL IZQUIERDO, ICONOS Y TÍTULOS-->
                <!--Se define el color de la barra lateral y se segmenta en la cantidad de columnas deseada por % -->
                <ion-col col-4 class="left_banner" style="background-color: #ed7e7c">
                  <!--Segmento embarazo-->
                  <ion-row style="width: 100%; height: 100%;">
                    <ion-row style="width: 100%; height: 50%;">
                      <ion-icon name="icon-embarazo" style="padding-top: 75px;"></ion-icon>
                    </ion-row>
                    <ion-row style="width: 100%; height: 50%;">
                      <ion-label text-wrap>
                        Embarazo
                      </ion-label>
                    </ion-row>
                  </ion-row>
                </ion-col>

                <!--CONTENIDO-->
                <!--Se segmenta de igual manera la cantidad de columnas deseadas, cada segmento tiene su contenido-->
                <ion-col col-8>
                  <!--Segmento embarazo-->
                  <ion-row style="width: 100%; height: 100%; padding-bottom: 5px;">
                    <!--Icono de grafica que rota la card-->
                    <ion-row style="width: 100%; height: 20%;">
                      <div class="icons_stats" style="top: 0px;">
                        <ion-icon name="icon-tablas" class="icon_graph"
                          (click)="clickCard('scena_embarazo','OPC_EMBARAZO',1,'tabla')">
                        </ion-icon>
                      </div>
                    </ion-row>

                    <!--Contenido del segmento, elementos-->
                    <ion-row style="width: 100%; height: 40%; padding-left: 15%;">
                      <ion-col col-10>
                        <ion-item>
                          <ion-label class="label-short" color="azul-2" text-wrap floating>
                            <h6>Semanas de gestación</h6>
                          </ion-label>
                          <ion-input [(ngModel)]="ginecoObstetricos.semanas_gestacion" name="semanas_gestacion"
                            disabled="true"></ion-input>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                    <ion-row style="width: 100%; height: 40%; padding-left: 15%;">
                      <ion-col col-10>
                        <ion-item>
                          <ion-label class="label-short" color="azul-2" text-wrap floating>
                            <h6>Fecha posible de parto</h6>
                          </ion-label>
                          <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="D MMM YYYY" cancelText="Cancelar"
                            doneText="Aceptar" [(ngModel)]="ginecoObstetricos.date_posibility_parto" disabled="true"
                            name="date_posibility_parto"></ion-datetime>
                        </ion-item>
                      </ion-col>
                    </ion-row>

                  </ion-row>
                </ion-col>

              </ion-row>

            </ion-grid>

          </ion-card>
          <!--RESPALDO-->
          <ion-card class="card__face back">
            <ion-card-content>
              <div class="container_dates">
                <div style="width:100%;">
                  <ion-item style="position:relative;">
                    <ion-label margin-left color="azul-2" style="width: 100%;position: absolute;left: 0px;top: -4px;">
                      <ion-icon name="icon-eventos"></ion-icon>
                    </ion-label>
                    <ion-datetime no-padding name="fec_ini_emb" [max]="fec_fin_emb" (ionChange)="getTable(1)"
                      [(ngModel)]="fec_ini_temp" style="width: 100%; text-align: center;" displayFormat="DD/MM/YYYY"
                      pickerFormat="D MMM YYYY" doneText="Aceptar" cancelText="Cancelar"></ion-datetime>
                  </ion-item>
                </div>
                <div style="display:flex; flex-direction:row; justify-content: center;align-items: center;">
                  &nbsp; &nbsp; &nbsp;
                </div>
                <div style="width:100%;">
                  <ion-item>
                    <ion-label margin-left color="azul-2" style="width: 100%;position: absolute;left: 0px;top: -4px;">
                      <ion-icon name="icon-eventos"></ion-icon>
                    </ion-label>
                    <ion-datetime no-padding name="fec_fin_emb" text-center (ionChange)="getTable(1)"
                      [(ngModel)]="fec_fin_temp" style="width: 100%; text-align: center;" displayFormat="DD/MM/YYYY"
                      pickerFormat="D MMM YYYY" doneText="Aceptar" cancelText="Cancelar" [max]="maxDate">
                    </ion-datetime>
                  </ion-item>
                </div>
                <div class="flip_back" (click)="clickCard('scena_embarazo')">
                  <ion-icon name="ios-arrow-back" class="flip_flecha"></ion-icon>
                </div>
              </div>
              <div class="container_grafica">
                <table class="reports__table table_style" *ngIf="aTable[1]">
                  <tr class="tr">
                    <td class="p5" no-padding no-margin *ngFor="let item of aTable[1]?.columnasTabla">
                      <strong ion-text color="azul-2">{{ item }}</strong>
                    </td>
                  </tr>
                  <tr class="reports__table__content tr" *ngFor="let item of aTable[1]?.historialDatosSalud">
                    <td no-padding no-margin *ngFor="let cab of aTable[1].keysbody" [hidden]="cab=='pro_fk_cambio'">
                      {{item[cab]}}
                    </td>
                  </tr>
                </table>

                <div class="box-info"
                  style="display:flex; flex-direction: row; justify-content: center; align-items: center; font-size: 12px; margin:0px;padding:0px;"
                  *ngIf="!aTable[1]">
                  <div style="padding-left: 3px">
                    <ion-icon name="icon-info"></ion-icon>
                  </div>
                  <div style="padding-left:4px; width:100%;">No existen registros en este periodo de tiempo</div>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </div>

        <!--CITOLOGIA-->
        <div id="scena_citologia" class="card">
          <!--FRONTAL-->
          <ion-card no-padding class="card__face front">

            <!--Maquetación card frontal-->
            <ion-grid no-padding justify-content-center>

              <ion-row>

                <!--LATERAL IZQUIERDO, ICONOS Y TÍTULOS-->
                <!--Se define el color de la barra lateral y se segmenta en la cantidad de columnas deseada por % -->
                <ion-col col-4 class="left_banner" style="background-color: #8e44ad">
                  <!--Segmento Fecha-->
                  <ion-row style="width: 100%; height: 50%;">
                    <ion-row style="width: 100%; height: 50%">
                      <ion-icon name="icon-citologia"></ion-icon>
                    </ion-row>
                    <ion-label text-wrap>
                      Fecha de última citología
                    </ion-label>
                  </ion-row>
                  <!--Segmento resultado-->
                  <ion-row style="width: 100%; height: 50%;">
                    <ion-row style="width: 100%; height: 50%">
                      <ion-icon name="icon-res-citologia"></ion-icon>
                    </ion-row>
                    <ion-label text-wrap>
                      Resultado de última citología
                    </ion-label>
                  </ion-row>
                </ion-col>

                <!--CONTENIDO-->
                <!--Se segmenta de igual manera la cantidad de columnas deseadas, cada segmento tiene su contenido-->
                <ion-col col-8>
                  <!--Segmento fecha-->
                  <ion-row style="width: 100%; height: 50%; padding-bottom: 5px;">
                    <!--Icono de grafica que rota la card-->
                    <ion-row style="width: 100%; height: 20%;">
                      <div class="icons_stats" style="top: 0px;">
                        <ion-icon name="icon-tablas" class="icon_graph"
                          (click)="clickCard('scena_citologia','OPC_FEC_ULT_CITOLOGIA',2,'tabla')">
                        </ion-icon>
                      </div>
                    </ion-row>

                    <!--Contenido del segmento, elementos-->
                    <ion-row style="width: 100%; height: 60%; padding-left: 15%;">
                      <ion-col col-10>
                        <ion-item>
                          <ion-label no-padding no-margin>
                            <ion-icon name="icon-eventos" color="azul-2"></ion-icon>
                          </ion-label>
                          <ion-datetime displayFormat="DD/MM/YYYY" [min]="min_date_ultima_cito" text-center
                            pickerFormat="D MMM YYYY" [max]="maxDate" cancelText="Cancelar" doneText="Aceptar"
                            [(ngModel)]="ginecoObstetricos.date_citologia_cervicouterina"
                            name="date_citologia_cervicouterina" placeholder="DD/MM/YYYY">
                          </ion-datetime>
                        </ion-item>
                      </ion-col>
                    </ion-row>

                    <!--Último registro-->
                    <ion-row style="width: 100%; height: 20%; margin-left: 20px;">
                      <ion-row style="width: 100%; height: 50%;">
                        <div class="text-caption" *ngIf="ultimate_register_gineco?.fec_ult_citologia">
                          <em>Último registro {{ultimate_register_gineco.fec_ult_citologia.valor}}</em>
                        </div>
                      </ion-row>
                      <ion-row style="width: 100%; height: 50%;">
                        <div class="text-caption" *ngIf="ultimate_register_gineco?.fec_ult_citologia">
                          <em><b>{{ultimate_register_gineco.fec_ult_citologia.fecha}}
                              {{ultimate_register_gineco.fec_ult_citologia.unidad_medida}}</b></em>
                        </div>
                      </ion-row>
                    </ion-row>

                  </ion-row>
                  <!--Segmento resultado-->
                  <ion-row style="width: 100%; height: 50%; border-top: 1px solid lightgray; padding-bottom: 5px;">

                    <!--Contenido del segmento, elementos-->
                    <ion-row style="width: 100%; height: 80%; padding-left: 15%;">
                      <ion-col col-10>
                        <ion-item>
                          <ion-textarea text-center [(ngModel)]="ginecoObstetricos.result" name="result"
                            placeholder="Escriba aquí el resultado de su última citología.">
                          </ion-textarea>
                        </ion-item>
                      </ion-col>
                      <ion-col col-2>
                        <ion-row>
                          <div style="margin-right:30px; margin-bottom: 5px; float: right;" (click)="help('2')">
                            <ion-icon name="md-help-circle" end style="margin-top: 5px; font-size: 20px" color="gris">
                            </ion-icon>
                          </div>
                        </ion-row>
                      </ion-col>
                    </ion-row>

                    <ion-row style="width: 100%; height: 20%;">
                      <div class="icons_save">
                        <ion-icon name="icon-guardar"
                          [ngClass]="!ginecoObstetricos.result || !ginecoObstetricos.date_citologia_cervicouterina?'disabled':none"
                          class="son_icon_save_stats icon-save" color="azul-2"
                          (click)="saveItem('fec_ult_citologia','OPC_FEC_ULT_CITOLOGIA','gineco')"></ion-icon>
                      </div>
                    </ion-row>

                  </ion-row>
                </ion-col>

              </ion-row>

            </ion-grid>

          </ion-card>
          <!--RESPALDO-->
          <ion-card class="card__face back">
            <ion-card-content>
              <div class="container_dates">
                <div style="width:100%;">
                  <ion-item style="position:relative;">
                    <ion-label margin-left color="azul-2" style="width: 100%;position: absolute;left: 0px;top: -4px;">
                      <ion-icon name="icon-eventos"></ion-icon>
                    </ion-label>
                    <ion-datetime no-padding name="fec_ini_ucit" [max]="fec_fin_ucit" (ionChange)="getTable(2)"
                      [(ngModel)]="fec_ini_temp" style="width: 100%; text-align: center;" displayFormat="DD/MM/YYYY"
                      pickerFormat="D MMM YYYY" doneText="Aceptar" cancelText="Cancelar"></ion-datetime>
                  </ion-item>
                </div>
                <div style="display:flex; flex-direction:row; justify-content: center;align-items: center;">
                  &nbsp; &nbsp; &nbsp;
                </div>
                <div style="width:100%;">
                  <ion-item>
                    <ion-label margin-left color="azul-2" style="width: 100%;position: absolute;left: 0px;top: -4px;">
                      <ion-icon name="icon-eventos"></ion-icon>
                    </ion-label>
                    <ion-datetime no-padding name="fec_fin_ucit" text-center (ionChange)="getTable(2)"
                      [(ngModel)]="fec_fin_temp" style="width: 100%; text-align: center;" displayFormat="DD/MM/YYYY"
                      pickerFormat="D MMM YYYY" doneText="Aceptar" cancelText="Cancelar" [max]="maxDate">
                    </ion-datetime>
                  </ion-item>
                </div>
                <div class="flip_back" (click)="clickCard('scena_citologia')">
                  <ion-icon name="ios-arrow-back" class="flip_flecha"></ion-icon>
                </div>
              </div>
              <div class="container_grafica">
                <table class="reports__table table_style" *ngIf="aTable[2]">
                  <tr class="tr">
                    <td class="p5" no-padding no-margin *ngFor="let item of aTable[2]?.columnasTabla">
                      <strong ion-text color="azul-2">{{ item }}</strong>
                    </td>
                  </tr>
                  <tr class="reports__table__content tr" *ngFor="let item of aTable[2]?.historialDatosSalud">
                    <td no-padding no-margin *ngFor="let cab of aTable[2].keysbody" [hidden]="cab=='pro_fk_cambio'">
                      {{item[cab]}}
                    </td>
                  </tr>
                </table>

                <div class="box-info"
                  style="display:flex; flex-direction: row; justify-content: center; align-items: center; font-size: 12px; margin:0px;padding:0px;"
                  *ngIf="!aTable[2]">
                  <div style="padding-left: 3px">
                    <ion-icon name="icon-info"></ion-icon>
                  </div>
                  <div style="padding-left:4px; width:100%;">No existen registros en este periodo de tiempo</div>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </div>

      </ion-content>

    </ion-slide>

  </ion-slides>

</ion-content>