<ion-header>
  <ion-navbar color="azul-2">
    <ion-title text-center>Tabla clasificación IMC</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-12 col-xs-12 col-sm-10 col-md-8 col-lg-8 col-xl-8>

        <ion-row>
          <ion-col col-6>
            <canvas #canvasChart_1></canvas>
            <ion-card>
              <ion-card-content text-center>
                <strong>Insuficiencia Ponderal</strong>
                <br>
                <18,4
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col col-6>
            <canvas #canvasChart_2></canvas>
            <ion-card>
              <ion-card-content text-center>
                <strong>Normal</strong>
                <br>
                <br>
                18.5 - 24,9
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <canvas #canvasChart_3></canvas>
            <ion-card>
              <ion-card-content text-center>
                <strong>Sobrepeso</strong>
                <br>
                25 - 29,94
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col col-6>
            <canvas #canvasChart_4></canvas>
            <ion-card>
              <ion-card-content text-center>
                <strong>Obesidad I</strong>
                <br>
                30 - 34,9
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <canvas #canvasChart_5></canvas>
            <ion-card>
              <ion-card-content text-center>
                <strong>Obesidad II</strong>
                <br>
                35 - 39,9
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col col-6>
            <canvas #canvasChart_6></canvas>
            <ion-card>
              <ion-card-content text-center>
                <strong>Obesidad III</strong>
                <br>
                > 40
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
    
        <!--<ion-row>
          <ion-col col-6 *ngFor="let imc of classificationsImc">
              <h4><b>{{ imc.nombre }}</b></h4>
              <h4>{{ imc.rango_minimo | number }}-{{ imc.rango_maximo | number }}</h4>
          </ion-col>
        </ion-row>-->

      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
