.ios, .md {
  page-classification-imc {

    .scroll-content {
      background-color: map-get($colors, light);
    }

    ion-card {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    .card{
      height: 45%;
      width: 126px;

    }

    .card-content-md {
      font-size: 1.2rem !important;
    }


    .card-content-ios {
        font-size: 1.2rem;
    }


  }
}
