<ion-header>
  <ion-navbar color="secondary" text-center>
    <ion-title>Antecedentes</ion-title>
    <ion-buttons>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="!timeOutControl" text-center>
    <button ion-button type="button" round outline small (click)="loadNew()">Recargar</button>
  </ion-list>

  <ion-grid class="card-background-page" *ngIf="timeOutControl">
    <ion-row justify-content-center>
      <ion-col col-6 col-xs-6 col-sm-6 col-md-4 no-padding text-center *ngFor="let antecedent of antecedents; let i = index">
        <ion-card (click)="toggleSection(i);" [ngClass]="{'section-active': antecedent.open, 'section': !antecedent.open}">
          <ion-card-content no-padding>
            <img src="{{ antecedent.imagen }}"/>
            <div class="card-title">
              <ion-icon item-left name="{{ antecedent.clase_icon }}"></ion-icon>
            </div>
            <div class="card-subtitle" text-wrap innerHTML="{{ antecedent.text }}"></div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
