.ios, .md {

  page-list-antecedent {

    /* Ion card styles */


    .card-background-page {

      ion-card {
        position: relative;
        text-align: center;

        .card-title {
          position: absolute;
          top: 10px;
          font-size: 1.8em;
          width: 100%;
          color: #fff;
        }

        .card-subtitle {
          font-size: 1.0em;
          font-weight: 500;
          position: absolute;
          top: 45px;
          width: 100%;
          color: #fff;
          line-height: 1em;
        }

        ion-item-group {
          ion-item {
            padding: 4px;
            height: auto;

            ion-label {
              margin: 0;

              button {
                padding: 0.2em 0.6em;
                font-size: 1.2rem;
                height: auto;
                min-height: 35px;
              }
            }
          }
        }
      }

    }

    @media  (min-width: 320px) {
      .card-background-page {
        .card-title {
          top: 8px !important;
          font-size: 1.6em !important;
        }

        .card-subtitle {
          font-size: 0.95em !important;
          top: 35px !important;
        }
      }
    }

    @media  (min-width: 360px) {
      .card-background-page {
        .card-title {
          top: 10px !important;
          font-size: 1.8em !important;
        }

        .card-subtitle {
          font-size: 1.0em !important;
          top: 45px !important;
        }
      }
    }

    @media  (min-width: 768px) {
      .card-background-page {
        .card-title {
          top: 24px !important;
          font-size: 2.7em !important;
        }

        .card-subtitle {
          font-size: 1.4em !important;
          top: 75px !important;
        }
      }
    }

  }

}
