<ion-content no-padding>
  <ion-buttons text-center *ngIf="!timeOutControl">
      <button ion-button type="button" round outline small (click)="loadNew()">Recargar</button>
  </ion-buttons>
  <div *ngIf="timeOutControl">
    <ion-grid no-padding>
      <ion-row class="data-health__header" padding *ngIf="rh || basicPatient.infoPac.estatura || basicPatient.infoPac.peso || basicPatient.infoPac.imc">
        <ion-col>
          <ion-row>
            <ion-col col-6 *ngIf="rh">G.S / R.H
              <span class="rh">{{ rh }}</span>
            </ion-col>
            <ion-col col-6 *ngIf="basicPatient.infoPac.estatura">Estatura: {{ basicPatient.infoPac.estatura }} m</ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6 *ngIf="basicPatient.infoPac.peso">Peso: {{ basicPatient.infoPac.peso + ' Kg' }}</ion-col>
            <ion-col col-6 *ngIf="basicPatient.infoPac.imc ">IMC {{basicPatient.infoPac.imc}}</ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="data-health__item" no-padding padding-horizontal>
        <ion-col col-6>
          <ion-label>
            Sexo
          </ion-label>
          <p>{{ getSexo(basicPatient.infoPac.genero) }}</p>
        </ion-col>
        <ion-col col-6 *ngIf="basicPatient.infoPac.get_religion != null">
          <ion-label>
            Religión
          </ion-label>
          <p>{{ basicPatient.infoPac.get_religion.nombre }}</p>
        </ion-col>
      </ion-row>
      
      <!--<ion-row class="antecedentes-alerta"  *ngIf="!rh && !basicPatient.infoPac.estatura && !basicPatient.infoPac.peso && !basicPatient.infoPac.imc" style="margin-top: 10px;">
        <ion-col class="antecedentes-alerta__title" col-12 align-self-center style="background-color: #EF6D34 !important;" >
          <h6 padding-left>
           Debes completar la sección "datos básicos de salud"
          </h6>
        </ion-col>         
      </ion-row>   
      -->   



      <ion-row class="antecedentes-alerta" *ngIf="listAntecedentAlert.length > 0">
        <ion-col class="antecedentes-alerta__title" col-12 align-self-center >
          <h6 padding-left>
              <!-- <h6 padding-left ion-text color="light"> -->
            <ion-icon name="icon-antecedentes_a"></ion-icon>
            Antecedentes de alerta
          </h6>
        </ion-col>
        <ion-col col-12  *ngFor="let antecedentAlert of listAntecedentAlert;let i = index">
         <ion-card text-left>
            <ion-card-content>
              <ion-grid no-padding>

                <div class="alineamiento-flexbox width-100">
                    <div class="marginr-auto alineamiento-flexbox">
                      <div class="alineamiento-flexbox">
                        <h4>
                          <strong>{{ antecedentAlert.antPac.get_tipo_antecedente.nombre }}</strong>
                          <span *ngIf="antecedentAlert.antPac.get_subtipo_antecedente">
                            - {{ antecedentAlert.antPac.get_subtipo_antecedente.nombre }}
                          </span>
                        </h4>
                      </div> 
                    </div>
                    <div class="marginl-auto alineamiento-flexbox">
                        <div class="alineamiento-flexbox">

                           <p><ion-badge class="badge-estado-ant" color="azul-2" *ngIf="antecedentAlert.antPac.validado == 'validado' "><ion-icon class="candado-antecedentes" [name]="antecedentAlert.antPac.privado=='1'?'lock':''" [color]="white"></ion-icon> Validado</ion-badge></p>
                           <p><ion-badge class="badge-estado-ant" color="danger" *ngIf="antecedentAlert.antPac.validado == 'no validado' "><ion-icon class="candado-antecedentes" [name]="antecedentAlert.antPac.privado=='1'?'lock':''" [color]="white"></ion-icon> No validado</ion-badge></p>
                          <p> <ion-badge class="badge-estado-ant" color="naranja-2" *ngIf="antecedentAlert.antPac.validado == 'pendiente' "><ion-icon class="candado-antecedentes" [name]="antecedentAlert.antPac.privado=='1'?'lock':''" [color]="white"></ion-icon>  Por validar</ion-badge></p>
                        </div>
                    </div>
                </div>
                <ion-row>
                    <ion-col col-12>
                        <p *ngFor="let campo of antecedentAlert.campos; let i = index">                          
                          <span *ngIf="campo.desc_campo != '' || campo.desc_campo != null || campo.desc_campo != undefined">
                            <span *ngIf="campo.desc_valor "><strong>{{campo.desc_campo}}:</strong> {{ campo.desc_valor }} </span>
                          </span>
                        </p>
                        <p text-wrap *ngIf="antecedentAlert.antPac.referencia">
                          <strong >Descripción:</strong> {{ antecedentAlert.antPac.referencia }}</p>
                        <p *ngIf="antecedentAlert.antPac.get_profesional_cambio == null ">
                          <strong>Cargado por:</strong> Paciente</p>
                        <p *ngIf="antecedentAlert.antPac.get_profesional_cambio != null ">
                          <strong>Cargado por:</strong> Profesional</p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>




          <!--<ion-card>
            <ion-card-content>
                <ion-grid no-padding>
                    <ion-row>
                      <ion-col col-9>
                        <h4>
                          <strong>{{ antecedentAlert.antPac.get_tipo_antecedente.nombre }}</strong>
                          <span *ngIf="antecedentAlert.antPac.get_subtipo_antecedente != null">
                            - {{ antecedentAlert.antPac.get_subtipo_antecedente.nombre }}
                          </span>
                        </h4>
                        <p *ngFor="let campo of antecedentAlert.campos; let i = index">                          
                          <span *ngIf="campo.desc_campo != '' || campo.desc_campo != null || campo.desc_campo != undefined">
                            <b>{{campo.desc_campo}}:</b> {{ campo.desc_valor }} <br>
                          </span>
                        </p>
                        <p text-wrap>
                          <strong *ngIf="antecedentAlert.antPac.referencia != null">Descripción:</strong> {{ antecedentAlert.antPac.referencia }}</p>
                        <p *ngIf="antecedentAlert.antPac.get_profesional_cambio == null ">
                          <strong>Cargado por:</strong> Paciente</p>
                        <p *ngIf="antecedentAlert.antPac.get_profesional_cambio != null ">
                          <strong>Cargado por:</strong> Profesional</p>
                      </ion-col>
                      <ion-col col-3>
                        <ion-badge color="azul-2" *ngIf="antecedentAlert.antPac.validado == 'validado' ">Validado</ion-badge>
                        <ion-badge color="danger" *ngIf="antecedentAlert.antPac.validado == 'no validado' ">No validado</ion-badge>
                        <ion-badge color="naranja-2" *ngIf="antecedentAlert.antPac.validado == 'pendiente' ">Por validar</ion-badge>
                      </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
          </ion-card>-->
        </ion-col>
      </ion-row>

      <ion-row *ngIf="basicPatient.infoPac.get_eps.length > 0 ||
                      basicPatient.infoPac.get_arl.length > 0 ||
                      serv_amb || 
                      inst_asiste || 
                      segu_prepa || 
                      serv_trans">
        <ion-col class="antecedentes-asistenciales__title" col-12>
          <h6 padding-left ion-text color="light">
            <ion-icon name="icon-instituciones"></ion-icon> Contacto asistencial</h6>
        </ion-col>
      </ion-row>

      <ion-row class="data-health__item" no-padding padding-horizontal>
        <ion-col col-6 *ngIf="basicPatient.infoPac.get_eps.length > 0">
          <ion-label>
            Servicio de salud
          </ion-label>
          <p *ngFor="let eps of basicPatient.infoPac.get_eps">{{ eps.nombre }}</p>
        </ion-col>
        <ion-col col-6 *ngIf="basicPatient.infoPac.get_arl.length > 0">
          <ion-label>
            Aseguradora de riesgos
          </ion-label>
          <p *ngFor="let arl of basicPatient.infoPac.get_arl">{{ arl.nombre }}</p>
        </ion-col>
      </ion-row>

      <div *ngIf="basicPatient.infoPac.get_datos_institucion.length > 0" class="data-health__item" no-padding padding-horizontal>
        <ion-row *ngFor="let ambulancia of basicPatient.infoPac.get_datos_institucion">
          <ion-col col-6 *ngIf="ambulancia.serv_amb">
            <ion-label text-wrap>
              Servicio de ambulancia
            </ion-label>  
            <p>{{ ambulancia.serv_amb }}</p>
          </ion-col>
          <ion-col col-6 *ngIf="ambulancia.inst_asiste">
            <ion-label text-wrap>
              Institución que lo asiste
            </ion-label>  
            <p>{{ ambulancia.inst_asiste }}</p>
          </ion-col>
          <ion-col col-6 *ngIf="ambulancia.segu_prepa">
            <ion-label text-wrap>
              Seguridad prepagada
            </ion-label>  
            <p>{{ ambulancia.segu_prepa }}</p>
          </ion-col>
          <ion-col col-6 text-wrap *ngIf="ambulancia.serv_trans">
            <ion-label>
              Servicio de traslado
            </ion-label>
            <p>{{ ambulancia.serv_trans }}</p>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </div>

</ion-content>
