.ios, .md {

  page-data-health-scan {

    .data-health__header {
      background-color: color($colors, naranja);
      color: #fff;
      font-size: 1.2rem;
      font-weight: bold;
      margin-top: 10px;

      ion-row:first-child ion-col {
        margin-bottom: 5px;
      }

      ion-col:nth-child(2) {
        padding-left: 5px !important;
      }

      .rh {
        background-color: color($colors, danger);
        border-radius: 50%;
        padding: 4px;
      }
    }

    .antecedentes-alerta {
      h5 {
        color: color($colors, azul-2);
        font-size: 1.5rem;

        ion-icon {
          font-size: 3.2rem;
        }
      }

      h4 {
        color: color($colors, azul-2);
        margin-bottom: 5px;
      }
    }

    .data-health__item {
      ion-label {
        color: color($colors, azul-2);
        font-weight: bold;
      }

      p {
        color: color($colors, dark);
        padding-left: 4px;
        padding-bottom: 2px;
        border-bottom: 0.5px solid color($colors, azul-2);
        margin-right: 5px;
      }
    }

    ion-badge {
      border-radius: 10px;
      font-weight: 400;
    }

  }

}
