<ion-header>
  <ion-navbar color="azul-2">
    <ion-title text-center>{{'AUTORIZADO.TITLE' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid text-center>
    <ion-row justify-content-center>
      <ion-col col-12 col-xs-12 col-sm-10 col-md-8 col-lg-8 col-xl-8>
        <ion-card class="emergency-card" no-margin>
          <ion-card-content>
            <ion-icon name="icon-autor-prof"></ion-icon>
          </ion-card-content>
        </ion-card>
        <ion-card no-margin>
          <ion-card-content>
            <h4 margin-bottom><b>{{'AUTORIZADO.EXITO' | translate}}</b></h4>
            <p>{{'AUTORIZADO.MENSAJE_P1' | translate}}<b>{{ nameProfesional }}</b>{{'AUTORIZADO.MENSAJE_P2' | translate}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
