.ios, .md {

  page-authorize-access-successful {

    ion-card {
      width: 100%;
      border-radius: 0;
      color: #808080;

      .card-content {
        line-height: 1.8rem;
        padding: 30px 50px;
      }
    }
  
    ion-card.emergency-card {
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: color($colors, azul-2);

      ion-icon {
        font-size: 3rem;
        color: color($colors, naranja);
        background-color: #ffffff;
        border-radius: 50%;
        padding: 8px 11px;
      }

      .card-content {
        padding: 10px 20px;
      }
    }

    ion-card:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    ion-col {
      button {
        text-transform: none;
        padding-left: 50px;
        padding-right: 50px;
      }
    }

  }

}