<ion-header>

  <ion-navbar [color]="navbar_color">
    <ion-title text-center>{{data.tipo_presc.nombre}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

  <ion-item text-center *ngIf="!timeOutControl">
    <button ion-button type="button" round outline small (click)="loadNew()">Recargar</button>
  </ion-item>

  <ion-grid>

    <ion-row class="box-info" text-center margin-horizontal *ngIf="timeOutControl">
      <ion-col col-2 text-right>
        <ion-icon name="icon-info"></ion-icon>
      </ion-col>
      <ion-col col-10>
        <p>Ingrese aquí archivos o fotos correspondientes al resultado obtenido de la prescripción</p>
      </ion-col>
    </ion-row>

    <ion-row justify-content-center>
      <ion-col col-12 col-xs-12 col-sm-10 col-md-8 col-lg-8 col-xl-8>
        <form [formGroup]="formUploadResults" (ngSubmit)="saveData()" *ngIf="timeOutControl">
          <ion-list>

            <ion-item>
              <ion-label color="azul-2" floating>
                <h6>Fecha *</h6>
              </ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="YYYY MM D" cancelText="Cancelar" doneText="Aceptar" formControlName="date">
              </ion-datetime>
            </ion-item>

            <ion-item>
              <ion-label color="azul-2" floating>
                <h6>Institución *</h6>
              </ion-label>
              <ion-input formControlName="institution"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="azul-2" floating>
                <h6>Profesional de salud</h6>
              </ion-label>
              <ion-input formControlName="profesional"></ion-input>
            </ion-item>

          </ion-list>

          <ion-grid>
            <ion-row text-center margin-top>

              <ion-col text-center>
                <button type="button" ion-button outline color="azul-2" icon-only (click)="tomarPhone()">
                  <ion-icon name="icon-camara"></ion-icon>
                </button>
              </ion-col>
              <ion-col text-center [hidden]="so_flag">
                <button type="button" ion-button outline color="azul-2" (click)="loadImages()">
                  <ion-icon name="icon-adjuntos"></ion-icon>
                </button>
              </ion-col>
              <ion-col text-center [hidden]="!so_flag">
                <button type="button" item-right ion-button outline color="azul-2" (click)="loadFile()">
                  <ion-icon name="icon-adjuntos"></ion-icon>
                </button>
                <!--accept='image/jpeg,image/jpg,image/png,application/pdf'-->
                <input type="file" #fileUpload id="fileUpload" (change)="onUploadChange($event)" style="display: none;" />
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid *ngFor="let img of documentsProviderService.arrayFiles; let i = index">
            <ion-col col-9>
              <ion-icon color="primary" name="icon-adjuntos"></ion-icon> {{ img.nameFile }}
            </ion-col>
            <ion-col col-9>
              <button type="button" ion-button outline color="danger" item-start (click)="deleteFile(i)">
                <ion-icon color="danger" name="icon-eliminar_1"></ion-icon>
              </button>
            </ion-col>
          </ion-grid>

          <ion-grid *ngIf="documentsProviderService.imagesBase64.length > 0">
            <ion-row>
              <ion-col col-12 *ngFor="let imgBase64 of documentsProviderService.imagesBase64" text-center>
                <img [src]="imgBase64">
              </ion-col>
            </ion-row>
            <ion-row justify-content-center>
              <ion-col col-12 *ngIf="documentsProviderService.imagesBase64.length > 0" text-center>
                <button type="button" ion-button outline icon-only color="danger" (click)="cancelLoadImages()">
                  <ion-icon color="danger" name="icon-eliminar_1"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid *ngIf="base64Image">
            <ion-row>
              <ion-col col-12 text-center>
                <img [src]="base64Image">
              </ion-col>
            </ion-row>
            <ion-row justify-content-center>
              <ion-col col-12 text-center>
                <button type="button" ion-button outline icon-only color="danger" (click)="cancelLoadImages()">
                  <ion-icon color="danger" name="icon-eliminar_1"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-buttons text-center>
            <button ion-button type="submit" outline round small icon-left [disabled]="!formUploadResults.valid">
              <ion-icon name="icon-guardar"></ion-icon>
              Guardar
            </button>
          </ion-buttons>

        </form>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>