<ion-header>
  <ion-navbar color="azul-2">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>App salud</ion-title>
    <ion-buttons end>
      <button ion-button icon-only [navParams]="{ 'seccion': 'app_salud' }" [navPush]="pageHelp">
        <!--<button ion-button icon-only (click)="popoverHelp($event)">-->
        <!--<ion-icon name="more"></ion-icon>-->
        <ion-icon name="md-help-circle" color="white"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content no-padding text-center>

  <ion-buttons margin-top text-center *ngIf="!timeOutControl">
    <button ion-button type="button" outline round small (click)="loadNew()">Recargar</button>
  </ion-buttons>

  <div class="box-info" style="display:flex; flex-direction: row; justify-content: center; align-items: center; font-size: 12px; margin-top:20px;margin-bottom:20px;padding:0px; ">
    <div style="padding-left: 3px">
      <ion-icon name="icon-info"></ion-icon>
    </div>
    <div style="padding-left:4px; width:100%;">Una vez tengas los resultados de sus estudios médicos (prescripciones) dados por el
      profesional o institución de salud, podrás cargarlos y visualizarlos en el módulo correspondiente.
    </div>
  </div>

  <ion-grid class="card-background-page">
    <ion-row>
      <ion-col col-6 col-xs-6 col-sm-6 col-md-4 no-padding text-center *ngFor="let item of treehealthFile">
        <ion-card [style.borderColor]="'#'+item.fondo_icono" (click)="clickCardAppSalud(item)">
          <ion-card-content no-padding>
            <img src="{{ item.imagen }}" />
            <div class="card-title">
              <ion-icon item-left name="{{ item.icon }}"></ion-icon>
            </div>
            <div class="card-subtitle" text-wrap innerHTML="{{ item.text }}"></div>
          </ion-card-content>
        </ion-card>
        <ion-badge *ngIf="item.cont != 0" class="notifications-badge">{{item.cont}}</ion-badge>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>