.ios, .md{
  page-app-salud {
    .notifications-badge {
      background-color: color($colors, naranja-2);
      position: absolute;
      top: 7px;
      right: 7px;
      border-radius: 100%;
    }
    .card-background-page {

      ion-card {
        position: relative;
        text-align: center;

        .card-title {
          position: absolute;
          top: 10px;
          font-size: 1.8em;
          width: 100%;
          color: #fff;
        }

        .card-subtitle {
          font-size: 1.0em;
          font-weight: 500;
          position: absolute;
          top: 45px;
          width: 100%;
          color: #fff;
          line-height: 1em;
        }
      }

    }

    @media  (min-width: 320px) {
      .card-background-page {
        .card-title {
          top: 9px !important;
          font-size: 1.2em !important;
        }

        .card-subtitle {
          font-size: .9em !important;
          top: 35px !important;
          padding: 0 10px !important;
        }
      }
    }

    @media  (min-width: 360px) {
      .card-background-page {
        .card-title {
          top: 9px !important;
          font-size: 1.6em !important;
        }

        .card-subtitle {
          font-size: 1em !important;
          top: 38px !important;
          padding: 0 10px !important;
        }
      }
    }

    @media  (min-width: 768px) {
      .card-background-page {
        .card-title {
          top: 26px !important;
          font-size: 2.7em !important;
        }

        .card-subtitle {
          font-size: 1.4em !important;
          top: 85px !important;
        }
      }
    }
  }
}

