<ion-content no-padding>
  <div ion-fixed class="header_title_tabs">
    <h5 text-center>{{'ACTUALIZAR_PERFIL.CONTACTOS_MED.TITLE' | translate}}</h5>
  </div>

  <div style="margin-top: 50px;">

    <ion-fab top right no-padding no-margin class="fab_margin-right" *ngIf="updateProfileService.dataProfesional.length < 3">
      <button ion-fab (click)="presentModalMedical()" mini color="azul-2">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>

    <div class="contenedor_0_registros" *ngIf="updateProfileService.dataProfesional.length==0">
      <div class="contenedor_icono_left">
        <ion-icon name="icon-info"></ion-icon>
      </div>
      <div>
        <p text-center text-wrap>{{'ACTUALIZAR_PERFIL.CONTACTOS_MED.MSG' | translate}}</p>
      </div>
    </div>


    <ion-card no-padding no-margin *ngFor="let item of updateProfileService.dataProfesional; let i = index" style="margin-bottom: 20px; width:100%">
      <ion-input type="hidden" [value]="item.paisProfesional" disabled="true"></ion-input>
      <ion-input type="hidden" [value]="item.estadoProfesional" disabled="true"></ion-input>
      <ion-input type="hidden" [value]="item.ciudadProfesional" disabled="true"></ion-input>
      <ion-input type="hidden" [value]="item.tipo_prof" disabled="true"></ion-input>
      <ion-input type="hidden" [value]="item.profesion" disabled="true"></ion-input>
      <ion-input type="hidden" [value]="item.especialidad" disabled="true"></ion-input>
      <ion-input type="hidden" [value]="item.id_pk"></ion-input>
      <ion-card-header no-padding>
        <ion-list>

          <ion-item text-wrap class="card_title_header">
            <span text-center>{{item.nombreprofesional}} {{item.apellidosprofesional}} </span>
          </ion-item>
        </ion-list>
      </ion-card-header>
      <ion-list class="card_content_card">
        <ion-item text-wrap>
          <ion-icon name="md-locate" color="azul-2" item-start></ion-icon>
          {{item.direccionprofesional}}
          ({{item.paisProfesionalNombre.trim()}}-{{item.estadoProfesionalNombre}}-{{item.ciudadProfesionalNombre}})
        </ion-item>
        <ion-item text-wrap *ngIf="item.emailprofesional">
          <ion-icon name="ios-mail" color="azul-2" item-start></ion-icon>
          {{item.emailprofesional}}
        </ion-item>
        <ion-item text-wrap>
          <ion-icon name="ios-phone-portrait" color="azul-2" item-start></ion-icon>
          {{item.celularprofesionalIndicativo+' '+item.celularprofesional}}
        </ion-item>
        <ion-item text-wrap *ngIf="item.telefonofijoprofesional">
          <ion-icon name="ios-call" color="azul-2" item-start></ion-icon>
          {{item.celularprofesionalIndicativo}}
          {{item.telefonofijoprofesionalIndicativo?item.telefonofijoprofesionalIndicativo:''}}
          {{item.telefonofijoprofesional}}
        </ion-item>


        <ion-item text-wrap *ngIf="item.tipo_prof_nombre">
          <ion-icon name="ios-school" color="azul-2" item-start></ion-icon>
          {{item.tipo_prof_nombre}} {{item.profesion_nombre?'-':''}} {{item.profesion_nombre}}
          {{item.especialidad_nombre?'(Especialidad en '+item.especialidad_nombre+')':''}}
        </ion-item>
        <ion-item text-wrap>
          <!--
          <button [hidden]="item.pac_fk_midis" ion-button icon-only outline small item-end (click)="editMedical(item, i)">
            <ion-icon name="icon-editar"></ion-icon>
          </button>
          -->
          <button ion-button icon-only outline small item-end color="danger" (click)="deleteMedical(item.id_pk)">
            <ion-icon color="danger" name="icon-eliminar_1"></ion-icon>
          </button>
        </ion-item>
      </ion-list>
    </ion-card>

  </div>
</ion-content>