.ios, .md {

  page-settings {

    h1 { 
      font-size: 6rem;
    }

    ion-card {
      border-radius: 1px 1px 8px 8px;

      ion-card-header {
        font-size: 1.4rem;
        padding: 10px 16px 5px;
      }

      ion-card-content {
        padding: 8px 5px 0;

        p, ion-label {
          font-size: 1.4rem;
          line-height: 1.2;
        }

        button {
          font-size: 1.4rem;
        }
      }
    }

  }

}
