<ion-header>
  <ion-navbar color="azul-2">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Configuraciones</ion-title>
    <ion-buttons end>
      <button ion-button icon-only [navParams]="{ 'seccion': 'configuracion' }" [navPush]="pageHelp">
        <!--<button ion-button icon-only (click)="popoverHelp($event)">-->
        <!--<ion-icon name="more"></ion-icon>-->
        <ion-icon name="md-help-circle" color="white"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list text-center *ngIf="!timeOutControl">
    <button ion-button type="button" round outline small (click)="loadNew()">Recargar</button>
  </ion-list>
  <ion-grid *ngIf="timeOutControl">
    <ion-row justify-content-center>
      <ion-col col-12 col-xs-12 col-sm-10 col-md-8 col-lg-8 col-xl-8>

        <ion-card>
          <ion-card-header text-wrap>
            <strong>Mostrar residencia</strong>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col col-8 text-wrap>
                  <p>Esto servirá para mostrar u ocultar tu E-mail y dirección en caso de emergencia</p>
                </ion-col>
                <ion-col col-4>
                  <ion-item>
                    <ion-toggle [(ngModel)]="config.residencia" name="residencia" [checked]="isVisibleResidence"
                      color="danger" (ionChange)="updateConfig()"></ion-toggle>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header text-wrap>
            <strong>Mostrar información completa de tus contactos familiares</strong>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col col-8 text-wrap>
                  <p>Permite mostrar u ocultar E-mail y dirección de sus contactos familiares.</p>
                </ion-col>
                <ion-col col-4>
                  <ion-item>
                    <ion-toggle [(ngModel)]="config.datos_familiares" name="datos_familiares"
                      [checked]="isVisibleDataFamily" color="danger" (ionChange)="updateConfig()"></ion-toggle>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header text-wrap>
            <strong>Mostrar información completa de tus contactos asistenciales de salud</strong>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col col-8 text-wrap>
                  <p>Permite mostrar la información de sus contactos médicos en caso de emergencia.</p>
                </ion-col>
                <ion-col col-4>
                  <ion-item>
                    <ion-toggle [(ngModel)]="config.datos_medicos" name="datos_medicos" [checked]="isVisibleDataMedical"
                      color="danger" (ionChange)="updateConfig()"></ion-toggle>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-item>
            <ion-label text-wrap style="font-size: 1.5rem">{{ 'IDIOMA' | translate }}</ion-label>
            <ion-select [(ngModel)]="idioma" (ionChange)="cambioIdioma($event)">
              <ion-option value="es">Español</ion-option>
              <ion-option value="en">English</ion-option>
            </ion-select>
          </ion-item>
        </ion-card>

        <ion-card [navPush]="changePassword">
          <ion-card-content>
            <button ion-item>
              <ion-icon name="icon-recuperar_contrasena" item-start></ion-icon>
              <strong>Cambiar contraseña</strong>
            </button>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-content>
            <button ion-item (click)="inactiveAccount()">
              <ion-icon name="icon-eliminar-cuenta" item-start></ion-icon>
              <strong>Eliminar cuenta</strong>
            </button>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-grid>
    <ion-row justify-content-center>
      <ion-col>
        <h1><ion-icon color="danger" name="icon-lapiz-editar-notificaciones-bn"></ion-icon></h1>
      </ion-col>
      <ion-col>
        <h1><ion-icon color="danger" name="icon-flecha-notificaciones-bn"></ion-icon></h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1><ion-icon color="danger" name="icon-qr-margin-line-bn"></ion-icon></h1>
      </ion-col>
      <ion-col>
        <h1><ion-icon color="danger" name="icon-qr-linea"></ion-icon></h1>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col>
        <h1><ion-icon color="danger" name="icon-qr-margin"></ion-icon></h1>
      </ion-col>
      <ion-col>
        <h1><ion-icon color="danger" name="icon-consultas2"></ion-icon></h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1><ion-icon color="danger" name="icon-flecha-prescripciones"></ion-icon></h1>
      </ion-col>
    </ion-row>
  </ion-grid> -->

</ion-content>