.ios, .md {

  page-show-antecedent {

    .not-active {
      pointer-events: none;
      cursor: default;
      text-decoration: none;
      color: black;
    }

    .antecedente__banner {
      img {
        object-fit: cover;
      }

      ion-icon {
        position: relative;
        top: -5.5rem;
        left: 62%;
        font-size: 5rem;
        color: #fff;
      }
    }

    .error-box {
      padding: 0 15px;
    }

    .text-input[disabled] {
      opacity: 1;
    }

      .avatar_medico{
      __margin: 0px 13px 30px 0px;
      position: relative;
      top: -21px;
    }


    small{
        color: #676a6c;
        font-size: 67%;
    }
    .espacio_titulo{
        padding-top: 9px;
        color:#808080;
        font-weight: bold;
        margin-bottom: -5px;
    }

    .detalle_hora_humana{
      float: right !important;
      color: #676a6c;
      font-size: 67%;
      font-weight:normal;
    }

    .cero_p{
      padding:0px !important;
    }


    .cero_border_pd{

      padding: 0px;
      border: none;
    }

    .observaciones{
        color:#676a6c;
        border: 1px solid #e7eaec;
        box-shadow: none;
        margin-top: 10px;
        margin-bottom: 5px;
        padding: 10px 15px !important;
        font-size: 11px;
        line-height: 16px;
        overflow: inherit;
        /* text-overflow: inherit; */
        white-space: normal;
        text-align: justify;
        border-radius: 4px;
        padding: 6px;
        background:#F5F5F5;
    }

    ion-select{
      color: color($colors, gris);
    }
    ion-input{
      color: color($colors, gris);
    }
    ion-datetime{
      color: color($colors, gris);
    }
    ion-textarea{
      color: color($colors, gris);
    }


    @media  (min-width: 320px) {
      .antecedente__banner {
        max-height: 50px;

        ion-icon {
          top: -3.8rem;
          font-size: 3.5rem;
        }
      }
    }





    @media  (min-width: 412px) {
      .antecedente__banner {
        max-height: 62px;

        ion-icon {
          top: -5.5rem;
          font-size: 5rem;
        }
      }
    }

    @media  (min-width: 600px) {
      .antecedente__banner {
        max-height: 90px;
      }
    }

    @media  (min-width: 768px) {

      .notification-alert {
        ion-item.notification-alert__radio {
          width: 55%;
        }
      }

      .antecedente__banner {
        max-height: 120px;

        ion-icon {
          top: -8.5rem;
          font-size: 8rem;
        }

      }
    }

    @media  (min-width: 1024px) {

      .antecedente__banner {
        max-height: 156px;

        ion-icon {
          top: -10.5rem;
          font-size: 10rem;
        }

      }
    }
  }

}
