<ion-header>
  <ion-navbar color="secondary" text-center>
    <ion-title>
      {{ titleAntecedent }} {{ titleSubtypeAntecedent }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>

  <div class="antecedente__banner">
    <img src="assets/imgs/banner_antecedentes.png" alt="Antecedentes">
    <ion-icon [name]="iconClass"></ion-icon>
  </div>

  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-12 col-xs-12 col-sm-10 col-md-8 col-lg-8 col-xl-8>

        <ion-buttons *ngIf="!timeOutControl" text-center>
          <button ion-button type="button" round outline small (click)="loadNew()">Recargar</button>
        </ion-buttons>

        <div *ngIf="timeOutControl" padding>
          <ion-buttons end>
            <button ion-button icon-only outline small color="danger" [disabled]="isDeleteAntecedent || estado== 'validado'"
              (click)="deleteAntecedent()">
              <ion-icon name="icon-eliminar_1"></ion-icon>
            </button>
            <!-- <button ion-button icon-only outline small [color]="isPrivate ? 'azul-dark' : 'primary'" [disabled]="isDeleteAntecedent" (click)="privacityAntecedent()">
              <ion-icon name="icon-editar"></ion-icon>
            </button> -->
          </ion-buttons>

          <form [formGroup]="formAntecedent" (ngSubmit)="logForm()">
            <!--<ion-item *ngFor="let element of groupForm; let i = index">
                <ion-label floating color="azul-2" *ngIf="element.tipo_campo != 'radio' ">{{ element.desc_campo }} </ion-label>

                <ion-input type="text" *ngIf="element.tipo_campo === 'text' && element.plugin == null" [formControlName]="element.name_campo"
                  [(ngModel)]="arrayModel[i]"></ion-input>

                <ion-input type="number" *ngIf="element.tipo_campo === 'text' && element.plugin == 'T'" [formControlName]="element.name_campo"
                  [(ngModel)]="arrayModel[i]" disabled="true"></ion-input>

                <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="D MMM YYYY" cancelText="Cancelar" doneText="Aceptar" *ngIf="element.tipo_campo === 'text' && element.plugin == 'D' "
                  [formControlName]="element.name_campo" [(ngModel)]="arrayModel[i]">
                </ion-datetime>

                <ion-select *ngIf="element.tipo_campo === 'select' && element.datos == null && element.ruta_ajax != '' " cancelText="Cancelar"
                  okText="Aceptar" (click)="execute(element.ruta_ajax)" [formControlName]="element.name_campo" [(ngModel)]="arrayModel[i]">
                  <ion-option *ngFor="let medicament of vademecum" value="{{ medicament.id }}">{{ medicament.text }}</ion-option>
                </ion-select>

                <ion-select *ngIf="element.tipo_campo === 'select' && element.datos != null" cancelText="Cancelar" okText="Aceptar" [formControlName]="element.name_campo"
                  [(ngModel)]="arrayModel[i]">
                  <ion-option [value]="data.id_pk" *ngFor="let data of element.datos " [selected]="data.id_pk == element.valor">{{ data.nombre }}</ion-option>
                </ion-select>

              </ion-item>-->

            <div *ngFor="let element of groupForm; let i = index">
              <ion-item *ngIf="element.desc_valor || element.valor">
                <ion-label floating text-wrap color="azul-2">{{ element.desc_campo }} </ion-label>
                <ion-input disabled="true" [value]="(element.desc_valor == 0 || element.desc_valor == null) ? element.valor : element.desc_valor"></ion-input>
              </ion-item>
              <img *ngIf="element.img_parte_cuerpo" style="width: 100px; height: 100px; margin-left: 20px;" src="https://prueba.midisappsalud.com/images/{{element.img_parte_cuerpo}}" />
            </div>

            <ion-item *ngIf="reference">
              <ion-label floating color="azul-2">Descripción</ion-label>
              <ion-textarea formControlName="description" disabled="true" [(ngModel)]="reference"></ion-textarea>
            </ion-item>


            <ion-col class="col-12 col-xs-12">
              <ion-item>
                <ion-label color="primary">
                  <b>*Privacidad:</b>
                </ion-label>
              </ion-item>
            </ion-col>
            <ion-row radio-group>
              <ion-col class="col-6 col-xs-6">
                <ion-item class="notification-alert__radio">
                  <ion-label color="azul-2">Privado</ion-label>
                  <ion-radio value="1" color="azul-2" [checked]="isPrivate" (click)="servicePrivacityAntecedent()"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col class="col-6 col-xs-6">
                <ion-item class="notification-alert__radio">
                  <ion-label color="azul-2">Público</ion-label>
                  <ion-radio value="0" color="naranja-2" [checked]="!isPrivate" (click)="servicePrivacityAntecedent()"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>

            <!-- <ion-item *ngIf="archivo_foto">
              <img [src]="archivo_foto" [imageViewer]="archivo_foto" [alt]="archivo_foto">
            </ion-item> -->

            <ion-grid margin-top>
              <ion-row>
                <ion-col class="notification-alert col-12 col-xs-12 col-sm-10 col-md-8 col-lg-8 col-xl-8">

                  <ion-row>
                    <ion-col col-2 text-center>
                      <ion-icon name="icon-no_cargados" color="naranja-2"></ion-icon>
                    </ion-col>
                    <ion-col col-10 text-justify>
                      <p>Si lo marca como privado no podrá ser visualizado por terceros ni en situación de emergencia,
                        excepto
                        el profesional de salud</p>
                    </ion-col>
                  </ion-row>

                </ion-col>
              </ion-row>
            </ion-grid>

            <ion-card class="card-image" *ngIf="archivo_foto">
              <ion-card-header text-wrap no-padding>
                <img [src]="archivo_foto" [imageViewer]="archivo_foto" [alt]="archivo_foto">
              </ion-card-header>
              <ion-card-content no-padding>
                <ion-grid no-padding>
                  <ion-row no-padding>
                    <ion-col text-left margin-left>
                      <button type="button" ion-button outline clear icon-only small color="dark">
                        <ion-icon name="icon-jpg" color="primary"></ion-icon>
                      </button>
                    </ion-col>
                    <ion-col text-right margin-right>
                      <ion-row>
                        <ion-col no-padding>
                          <button type="button" ion-button outline clear icon-only small color="dark" (click)="download(archivo_foto)">
                            <ion-icon name="icon-exportar"></ion-icon>
                          </button>
                        </ion-col>
                        <ion-col no-padding>
                          <button *ngIf="!isIos" type="button" ion-button outline clear icon-only small color="dark"
                            (click)="shareQr(archivo_foto)">
                            <ion-icon name="icon-compartir"></ion-icon>
                          </button>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>

            <!-- <ion-item *ngIf="archivo_adjunto">
              <img [src]="archivo_adjunto" [imageViewer]="archivo_adjunto" [alt]="archivo_adjunto" *ngIf="verifyTypeFile(archivo_adjunto)">
              <p *ngIf="!verifyTypeFile(archivo_adjunto)" (click)="reviewFile(archivo_adjunto)">
                <ion-icon name="icon-pdf"></ion-icon>{{splitFileName(archivo_adjunto)}}</p>
            </ion-item> -->

            <ion-card class="card-image" *ngIf="archivo_adjunto">
              <ion-card-header text-wrap no-padding>
                <img [src]="archivo_adjunto" [imageViewer]="archivo_adjunto" [alt]="archivo_adjunto" *ngIf="verifyTypeFile(archivo_adjunto)">
                <pdf-viewer 
                  [src]="archivo_adjunto" 
                  [external-link-target]="none" 
                  [render-text]="false" 
                  [original-size]="true"
                  [zoom]="0.1" 
                  [page]="1" 
                  [show-all]="true" 
                  style="display: block;" 
                  *ngIf="!verifyTypeFile(archivo_adjunto)"
                  (click)="reviewFile(archivo_adjunto)">
                </pdf-viewer>
              </ion-card-header>
              <ion-card-content no-padding>
                <ion-grid no-padding>
                  <ion-row no-padding>
                    <ion-col text-left margin-left>
                      <button type="button" ion-button outline clear icon-only small color="dark">
                        <ion-icon name="icon-jpg" color="primary" *ngIf="verifyTypeFile(archivo_adjunto)"></ion-icon>
                        <ion-icon name="icon-pdf" color="rojo" *ngIf="!verifyTypeFile(archivo_adjunto)"></ion-icon>
                      </button>
                      <span style="vertical-align: text-top;">
                        {{ (splitFileName(archivo_adjunto).length>10)? (splitFileName(archivo_adjunto) |
                        slice:0:10)+'..':(splitFileName(archivo_adjunto))
                        }}
                      </span>
                    </ion-col>
                    <ion-col text-right margin-right>
                      <ion-row>
                        <ion-col no-padding>
                          <button type="button" ion-button outline clear icon-only small color="dark" (click)="download(archivo_adjunto)">
                            <ion-icon name="icon-exportar"></ion-icon>
                          </button>
                        </ion-col>
                        <ion-col no-padding>
                          <button *ngIf="!isIos" type="button" ion-button outline clear icon-only small color="dark"
                            (click)="shareQr(archivo_adjunto)">
                            <ion-icon name="icon-compartir"></ion-icon>
                          </button>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>


            <!--<button ion-button type="submit" block [disabled]="!formAntecedent.valid">Aceptar</button>-->
          </form>

          <ion-list margin-top *ngIf="observaciones.length>0" style="margin-bottom: 0px;">
            <ion-item class="cero_border_pd" *ngFor="let item of observaciones">
              <ion-avatar class="avatar_medico" item-start>
                <img [src]="item.get_profesional.get_usuario[0].foto">
              </ion-avatar>
              <h2 class="espacio_titulo">{{item.get_profesional.fullname}}
                <small class="detalle_hora_humana">{{item.diff_for_humans}}</small>
              </h2>
              <small>{{item.created_at_formateado}}</small>
              <p text-wrap class="observaciones">
                {{item.observacion}}
              </p>
            </ion-item>
          </ion-list>

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>