<ion-header>
  <ion-navbar text-center color="azul-2">
    <button ion-button icon-only clear menuToggle color="light">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Código QR</ion-title>
    <ion-buttons end>
      <button ion-button icon-only [navParams]="{ 'seccion': 'codigo_qr_midis' }" [navPush]="pageHelp">
        <!--<button ion-button icon-only (click)="popoverHelp($event)">-->
        <!--<ion-icon name="more"></ion-icon>-->
        <ion-icon name="md-help-circle" color="white"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding-horizontal>

  <ion-list *ngIf="!timeOutControl" text-center margin-top>
    <button ion-button type="button" round outline small (click)="loadNew()">Recargar</button>
  </ion-list>

  <div class="header_bar"></div>

  <ion-grid text-center *ngIf="timeOutControl" fixed>
    <ion-row justify-content-center>
      <ion-col col-12 col-xs-12 col-sm-10 col-md-8 col-lg-8 col-xl-8>

        <ion-row margin-top>
          <ion-col col-12 text-center>
            <img class="photo" [src]="photo" [imageViewer]="photo">
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-12 no-padding>
            <h4 color="azul-2">¡Hola {{name}}!</h4>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="codQr">
          <ion-col col-12>
            <img class="qr-midis__codigo" [src]="codQr" />
            <!-- <img class="qr-midis__codigo" src="data:image/base64,{{codQr}}"/> -->
          </ion-col>

          <ion-col class="qr-buttons" col-12 *ngIf="isViewAutorized">
            <button *ngIf="!isIos" type="button" ion-button outline icon-only small color="azul-2"
              (click)="showRadioAlert('share')">
              <ion-icon name="icon-compartir"></ion-icon>
            </button>
            <button type="button" ion-button outline icon-only small color="azul-2"
              (click)="showRadioAlert('download')">
              <ion-icon name="icon-exportar"></ion-icon>
            </button>
            <a target="_self" id="downloadpdf" href={{codQr}} download={{codQr}} style="display: none"></a>
          </ion-col>

        </ion-row>
        <ion-row class="qr-info" *ngIf="isViewAutorized">
          <ion-col no-padding>
            <p>
              <strong>En caso de urgencia / emergencia permita escanear su código QR</strong>
              para autorizar el acceso a su información básica de salud, antecedentes de alerta y contacto.
            </p>
          </ion-col>
        </ion-row>
        <ion-row class="qr-info" *ngIf="!isViewAutorized">
          <ion-col no-padding>
            <p>
              <strong>Permita al profesional de salud escanear su código QR</strong>
              para autorizar el acceso a su Midis app Salud.
            </p>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="isViewAutorized">
          <ion-col>
            <button ion-button outline round margin-top color="naranja" (click)="scan()">
              <ion-icon name="icon-qr" item-start margin-right></ion-icon>
              Leer código QR
            </button>
          </ion-col>
        </ion-row>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>