.ios, .md {

  page-qr-midis {

    .photo{
      width: 100px;
      height: 100px;
      border-radius: 50%;
      padding: 6px;
      border: 1px solid color($colors, azul-2);
      object-fit: cover;
      margin-top: -90px;
    }
    .header_bar {
        display: flex;
        margin-bottom: .8rem;
        height: 70px;
        color: color($colors, azul-2);
        background-color: color($colors,azul-2);
        width: 500px;
        margin-left: -50px;
    }

    ion-row:nth-child(3) {
      border-bottom: 1px solid #d7d7d8;
    }

    h4 {
      color: color($colors, azul-2);
      margin-top: 1rem;
      margin-bottom: 0;
    }

    [padding] h4:first-child {
      margin-top: 3rem;
    }

    [col-12] {
      padding: 0 5px;
    }

    .qr-midis__codigo {
      width: 180px;
      height: auto;
    }

    p {
      line-height: 1.2;
      color: #333;
      margin-top: .5rem;
      margin-bottom: .5rem;
    }

    button {
      text-transform: none;
    }

    @media (min-width: 320px) {
      
    }

    @media (min-width: 360px) {
      
    }

    @media (min-width: 768px) {
      ion-grid {
        padding-top: 40px;
      }

      .qr-midis__codigo {
        width: 380px;
      }

      .qr-buttons {
        margin-bottom: 20px;
      }

      .qr-info {
        margin-bottom: 20px;
      }
    }

  }

}
