<ion-header>
  <ion-navbar color="azul-2">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Actualizar perfil</ion-title>
   <ion-buttons end>
      <button ion-button icon-only [navParams]="{ 'seccion': 'actualizar_perfil' }" [navPush]="pageHelp">
      <!--<button ion-button icon-only (click)="popoverHelp($event)">-->
        <!--<ion-icon name="more"></ion-icon>-->
         <ion-icon name="md-help-circle" color="white"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-4 text-right>
        <img [src]="updateProfileService.avatar_profile" (click)="updatePhotoProfile(updateProfileService.avatar_profile)" class="img_profile">
      </ion-col>
      <ion-col col-6>
        <h6>{{ name }}</h6>
        <b>{{ currentUser.get_tipo_documento.abreviado  + '  ' +  currentUser.doc_iden_pk }}</b><br>
        <b>Edad {{ this.edad }} </b>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col no-padding>
        <progress-bar [progress]="updateProfileService.loadProgress" [colorNivel]="color_nivel"></progress-bar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content no-padding>
  <ion-tabs id="updateProfileTabs" selectedIndex="{{activeTab}}" tabsPlacement="top" >
      <ion-tab tabIcon="icon-pacientes"
                tabTitle=""
                [root]="tabUno"></ion-tab>
      <ion-tab tabIcon="icon-instituciones"
                tabTitle="" [root]="tabDos"
                ></ion-tab>
      <ion-tab tabIcon="icon-profesionales"
                tabTitle=""
                [root]="tabTres"
                ></ion-tab>
      <ion-tab tabIcon="icon-contacto_familiar"
                tabTitle=""
                [root]="tabCuatro"
                ></ion-tab>
      <ion-tab tabIcon="icon-agregar"
                tabTitle=""  
                id="updateOtherP"              
                [root]="tabCinco"
                ></ion-tab>
  </ion-tabs>
</ion-content>
