.ios, .md {

  page-index-update-profile {

    ion-grid {
      padding: 0 5px;

      [col-4], [col-6] {
          padding: 0 5px;
      }

      .img_profile {
        height: 65px;
        width: 65px;
        border-radius: 50%;
        padding: 2px;
        margin-top: 10px;
        border: 1px solid color($colors, azul-2);
        object-fit: cover;
      }

      h6 {
        color: #333;
        margin-bottom: 0;
        font-size: 1.4rem;
      }

      b {
        font-size: 1.3rem;
      }

      p {
        margin-top: 1px;
      }
    }

    .fixed-content, scroll-content {
      margin-top: 149px;
    }

    .tabs-md .tab-button,
    .tabs-ios .tab-button {

      .tab-button-icon {
        margin-bottom: 2px;
        min-width: 2.5rem;
        font-size: 2.3rem;
      }

    }

    .tabs-md .tab-button[aria-selected="true"],
    .tabs-ios .tab-button[aria-selected="true"] {
      border-left: 1px solid #ddd;
      border-top: 1px solid #ddd;
      border-right: 1px solid #ddd;
      //background-color: rgba(168, 206, 219, 0.699);

      .tab-button-icon {
        color: color($colors, naranja);
      }

    }

    ion-input, .select-text {
      color: color($colors, dark);
    }

  }

}
