page-update-other-data {
    .impediment{
        ion-icon{
            color: #1E8AC2;
            background-color: white;
            vertical-align: middle;
            margin-top: 10px; 
            font-size: 27px;
        }
        button{
            vertical-align: middle;
            background: white;
        }
    }
    .impediment_img{
        height: 100px;
        width: 100px;
        border-radius: 5%;
    }
}
