<ion-content no-padding>
  <div ion-fixed class="header_title_tabs">
    <h5 text-center>{{'ACTUALIZAR_PERFIL.OTROS.TITLE' | translate}}</h5>
  </div>

  <div style="margin-top: 50px;">

    <ion-list [style.display]="!timeOutControl ? 'block' : 'none'" text-center>
      <button ion-button type="button" round outline small (click)="loadNew()">{{'RECARGAR' | translate}}</button>
    </ion-list>
    <ion-list [style.display]="timeOutControl ? 'block' : 'none'">
      <ion-item>
        <ion-label stacked color="azul-2">{{'ACTUALIZAR_PERFIL.OTROS.ESTRATO' | translate}}</ion-label>
        <ion-select [formControl]="updateProfileService.updateOtherData.controls['stratum']" placeholder="Seleccionar..."
          cancelText="Cancelar" okText="Aceptar">
          <ion-option [value]="stratum.id_pk" *ngFor="let stratum of stratums">{{ stratum.nombre }}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label stacked color="azul-2">{{'ACTUALIZAR_PERFIL.OTROS.EDUCACION' | translate}}</ion-label>
        <ion-select [formControl]="updateProfileService.updateOtherData.controls['level_education']" placeholder="Seleccionar..."
          cancelText="Cancelar" okText="Aceptar">
          <ion-option [value]="level.id_pk" *ngFor="let level of levelsEducations">{{ level.nombre }}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label stacked color="azul-2">{{'ACTUALIZAR_PERFIL.OTROS.RELIGION' | translate}}</ion-label>
        <ion-select [formControl]="updateProfileService.updateOtherData.controls['religion']" placeholder="Seleccionar..."
          cancelText="Cancelar" okText="Aceptar">
          <ion-option [value]="religion.id_pk" *ngFor="let religion of religiones">{{ religion.nombre }}</ion-option>
        </ion-select>
      </ion-item>

      <ion-grid style="margin-left: 10px; border-bottom: 1px solid lightgray">
        <ion-row>

          <!--Titulo y ayuda del item para describir el impedimento col-7 cuando se vincule archivo-->
          <ion-col col-11>
            <ion-label stacked color="azul-2">{{'ACTUALIZAR_PERFIL.OTROS.IMPEDIMENTO' | translate}}</ion-label>
            <ion-textarea text-wrap [formControl]="updateProfileService.updateOtherData.controls['impediment']" placeholder="Descripción de impedimento"></ion-textarea>
          </ion-col>
          <ion-col col-1 (click)="helpImpediment()">
            <ion-icon name="md-help-circle" style="margin-top: 30px; font-size: 20px" color="gris"></ion-icon>
          </ion-col>
          <!---->

          <!--

          <!--Tomar una foto con la cámara del dispositivo
          <ion-col col-2 class="impediment">
            <button clear type="button" ion-button margin-top outline medium color="azul-2" (click)="tomarFoto()">
              <ion-icon name="icon-camara"></ion-icon>
            </button>
          </ion-col>

          <!--Cargar una foto desde la galería
          <ion-col col-2 class="impediment" [hidden]="so_flag">
            <button clear type="button" ion-button margin-top outline medium color="azul-2" (click)="traerFoto()">
              <ion-icon name="ios-attach" style="font-weight: bold;"></ion-icon>
            </button>
          </ion-col>

          <!--Cargar desde galería una foto, a futuro vincular archivos
          <ion-col col-2 class="impediment" [hidden]="!so_flag">
            <button clear type="button" ion-button margin-top outline medium color="azul-2" (click)="traerFoto()">
              <ion-icon name="ios-attach" style="font-weight: bold;"></ion-icon>
            </button>
            <!--<input type="file" #fileUpload id="fileUpload" style="display: none;" (change)="traerFoto()" />
          </ion-col>

        -->

        </ion-row>

        <!--Imagen previsualizada sea que la tomo o la selecciono de la galeria-->
        <div *ngIf="imagePreview">
          <ion-row>
            <ion-col col-9 style="justify-content: center">
              <img [src]="imagePreview" alt="" [imageViewer]="imagePreview" class="impediment_img" />
            </ion-col>
            <ion-col col-3>
              <button type="button" ion-button only-icon outline color="danger" small (click)="deleteFile(1)">
                <ion-icon name="icon-eliminar_1"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </div>
        <!---->

        <!--En el caso de que venga un archivo (Vincular a futuro)-->
        <ion-row *ngIf="uploadFile">
          <ion-col col-10>
            <p>
              {{ nameFile }}
            </p>
          </ion-col>
          <ion-col col-2>
            <button type="button" ion-button only-icon outline color="danger" small (click)="deleteFile(2)">
              <ion-icon name="icon-eliminar_1"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <!---->

        <!--En aquellos casos que al entrar al formulario ya viene un documento cargado desde el servidor-->
        <ion-row *ngIf="updateProfileService.updateOtherData.get('adjunto_impedimento').value">
          <ion-col col-9 style="justify-content: center">
            <img class="impediment_img" [src]="updateProfileService.updateOtherData.get('adjunto_impedimento').value"
              [imageViewer]="updateProfileService.updateOtherData.get('adjunto_impedimento').value">
          </ion-col>
          <ion-col col-3>
            <button type="button" ion-button only-icon outline color="danger" small (click)="deleteFileUp()">
              <ion-icon name="icon-eliminar_1"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <!---->

      </ion-grid>

      <div class="error-box" *ngIf="updateProfileService.updateOtherData.controls['impediment'].hasError('maxlength') && updateProfileService.updateOtherData.controls['impediment'].touched">
        {{'ERRORS.MAX' | translate: {value: 50} }}
      </div>

      <ion-item>
        <ion-label stacked color="azul-2">{{'ACTUALIZAR_PERFIL.OTROS.EMPLEO' | translate}}</ion-label>
        <ion-select [formControl]="updateProfileService.updateOtherData.controls['status_working']" placeholder="Seleccionar..."
          cancelText="Cancelar" okText="Aceptar">
          <ion-option [value]="working.id_pk" *ngFor="let working of workingStatus">{{ working.nombre }}</ion-option>
        </ion-select>
      </ion-item>

      <div text-center margin-top margin-bottom padding-bottom padding-right>
        <!-- <button ion-button type="button" round outline small (click)="backStep()">Anterior</button> -->
        <button ion-button type="button" round outline small [disabled]="!updateProfileService.updateOtherData.valid"
          (click)="saveData()">{{'GUARDAR' | translate}}</button>
      </div>

      <!-- <input type="button" ion-button (click)="backStep()" value="Anterior">
    <input type="button" ion-button [disabled]="!updateProfileService.updateOtherData.valid" (click)="saveData()" value="Siguiente"> -->

    </ion-list>
  </div>
</ion-content>