.ios, .md {

  page-notifications {

    .header_title{
      background-color: #f8f8f8;
      display: flex;
      height: 40px;
      border-bottom: 1.5px solid #c7c6c6;
      margin-top:20px;
      display: table; 
      width: 100%;
      p{
        text-align:center; 
        vertical-align: middle;
        display: table-cell;  

        color: color($colors, azul-2);
        font-size: 1.5rem;
        font-weight: bold;
        margin-left: 15px;

        ion-icon{
          color: gray;
        }
      }
      ion-badge {
        animation: pulse 1.5s infinite; 
        background-color: color($colors, amarillo);
        border-radius: 100%;
        height: 25px;
        width: 25px;
        ion-icon {
          margin-top: 2px;
          margin-left: -3px;
        }
      }
    }

    h4 {
      color: color($colors, azul-2);
    }

    .porcentaje_perfil {
      width: 38px;
      margin: 0 auto;
    }

    ion-card {
      border-radius: 1px 1px 8px 8px;
      margin: 12px 0;
      width: calc(100%);
      height: calc(100% - 25px);

      ion-card-header {
        padding: 10px 8px;

        ion-icon {
          font-size: 2.2em;
          color: color($colors, dark);
        }

        ion-icon[name="icon-antecedentes_a"] {
          *margin-left: 10px;
        }

        ion-icon[name="icon-flecha-notificaciones-bn"]::before,
        ion-icon[name="icon-lapiz-editar-notificaciones-bn"]::before {
          font-size: 2rem;
          color: #fff;
          background-color: color($colors, azul-2);
          border-radius: 100%;
          position: absolute;
          top: 47px;
          left: 53%;
        }
      }

      

      ion-card-content {
        padding: 0 5px 10px;
      }

    }

    .pro_ext{
      width: 23px;
      height: 23px;
      border-radius: 50%;
      margin-right: 5px;
    }

    .prescription{
      width: 23px;
      height: 23px;
      border-radius: 50%;
      margin-right: 5px;
      ion-icon{
          position: relative;
          color: white;
          text-align: center;
          vertical-align: middle;
          padding-left: 1px;
          padding-top: 4px;
      }
    }

    .icon_paciente{
        width: 23px;
        height: 23px;
        border-radius: 50%;
        margin-right: 5px;
        background-color: lightskyblue;
    }
    .icon_paciente_carga{
        position: relative;
        color: white;
        text-align: center;
        vertical-align: middle;
        padding-left: 1px;
        padding-top: 2px;
    }

  }

}
