<ion-header>
  <ion-navbar color="azul-2">
    <ion-buttons end>
      <button ion-button icon-only [navParams]="{ 'seccion': 'notificacion' }" [navPush]="pageHelp">
        <!--<button ion-button icon-only (click)="popoverHelp($event)">-->
        <!--<ion-icon name="more"></ion-icon>-->
        <ion-icon name="md-help-circle" color="white"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>Notificaciones</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>

  <ion-grid text-center padding>
    <ion-row justify-content-center>
      <ion-col col-12 col-xs-12 col-sm-10 col-md-8 col-lg-8 col-xl-8 no-padding>

        <ion-row>
          <ion-col>
            <h4>¡Hola {{ patientProviderService.getCurrentUser().nombres }}!</h4>
            <p no-margin padding-horizontal>Recuerda que tener tus datos actualizados te permitirá recibir una atención
              más oportuna.</p>
          </ion-col>
        </ion-row>
        <div class="header_title" justify-content-center>
          <p>
            <ion-icon name="icon-editar"></ion-icon>
            Información básica de salud
          </p>
          <ion-badge>
            <ion-icon name="icon-notificaciones" (click)="alertBasicos()"></ion-icon>
          </ion-badge>
        </div>
        <ion-row>
          <ion-col>
            <ion-card [navPush]="indexUpdateProfile">
              <ion-card-header>
                <div text-center>
                  <img class="porcentaje_perfil" [src]="porcentaje_perfil" alt="Porcentaje de avance">
                </div>
              </ion-card-header>
              <ion-card-content>
                <h4><strong>Actualizar perfil</strong></h4>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card [navPush]="indexAntecedent">
              <ion-card-header>
                <ion-icon name="icon-antecedentes_a"></ion-icon>
                <ion-icon name="icon-lapiz-editar-notificaciones-bn"></ion-icon>
              </ion-card-header>
              <ion-card-content>
                <h4><strong>Antecedentes</strong></h4>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card [navPush]="settings">
              <ion-card-header>
                <ion-icon name="icon-contrasena"></ion-icon>
                <ion-icon name="icon-lapiz-editar-notificaciones-bn"></ion-icon>
              </ion-card-header>
              <ion-card-content>
                <h4><strong>Configuración</strong></h4>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card [navPush]="viewDocuments">
              <ion-card-header>
                <ion-icon name="icon-doc-personales"></ion-icon>
                <ion-icon name="icon-flecha-notificaciones-bn"></ion-icon>
              </ion-card-header>
              <ion-card-content>
                <h4><strong>Mis documentos</strong></h4>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

      </ion-col>

    </ion-row>
  </ion-grid>

  <!--SECCIONES DE NOTIFICACIONES-->
  <ion-grid text-center no-padding>
    <ion-row justify-content-center>

      <ion-col col-12 col-xs-12 col-sm-10 col-md-8 col-lg-8 col-xl-8 no-padding>

        <!--SECCION DE VINCULACIONES-->
        <ion-row *ngIf="info_institution_vinculacion">
          <ion-col class="habitos-saludables__title" col-12 align-self-center>
            <h6 padding-left>
              <ion-icon name="icon-visualizar-insti"></ion-icon>
              Vinculación
            </h6>
          </ion-col>
        </ion-row>
        <!--DATOS-->
        <ion-row *ngIf="info_institution_vinculacion">
          <ion-col *ngFor="let info_inst_vinc of info_institution_vinculacion" col-12 padding-horizontal>
            <ion-card>
              <ion-card-header text-wrap text-left>
                <ion-grid>
                  <ion-row align-items-start>
                    <ion-col col-2>
                      <img [src]="info_inst_vinc.inst_logo" alt="">
                    </ion-col>
                    <ion-col col-10>
                      <h6>{{info_inst_vinc.inst_nombre_comercial}}</h6>
                      <p>La institución lo ha vinculado como paciente.</p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
        <!---->

        <!--SECCION DE ALMACENAMIENTO-->
        <ion-row *ngIf="info_institution_almacenamiento">
          <ion-col class="habitos-saludables__title" col-12 align-self-center>
            <h6 padding-left>
              <ion-icon name="icon-almacenamiento"></ion-icon>
              Almacenamiento
            </h6>
          </ion-col>
        </ion-row>
        <!--DATOS-->
        <ion-row *ngIf="info_institution_almacenamiento">
          <ion-col *ngFor="let info_inst_alm of info_institution_almacenamiento" col-12 padding-horizontal>
            <ion-card>
              <ion-card-header text-wrap text-left>
                <ion-grid>
                  <ion-row align-items-start>
                    <ion-col col-2>
                      <img [src]="info_inst_alm.inst_logo" alt="">
                    </ion-col>
                    <ion-col col-10>
                      <h6>{{info_inst_alm.inst_nombre_comercial}}</h6>
                      <p>La institución lo ha vinculado como paciente, y le ha asignado
                        {{info_inst_alm.lic_capacidad_inicial}} MB de almacenamiento.</p>
                      <h6>Fecha: {{info_inst_alm.lic_fecha_adquirida}}</h6>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
        <!---->

        <!--SECCION DE RECOMENDACIONES-->
        <ion-row *ngIf="recomendaciones || preparaciones || cuidados ">
          <ion-col class="recomendaciones_banner" col-12 no-padding>
            <h6 padding-left>
              <ion-icon name="icon-recomendaciones"></ion-icon> Recomendaciones
            </h6>
          </ion-col>
        </ion-row>
        <!--DATOS  (PREPARACIONES, CUIDADOS, RECOMENDACIONES)-->
        <!--PREPARACIONES-->
        <ion-grid>
          <ion-card *ngIf="preparaciones">
            <ion-card-header no-padding>
              <p style="color: #1E8AC2">PREPARACIONES</p>
            </ion-card-header>
            <ion-card-content>
              <ion-card *ngFor="let prep of preparaciones; let i = index">
                <ion-card-content>
                  <ion-grid>

                    <!--LÍNEA 1, PRESCRIPCION-->
                    <ion-row>
                      <p class="prescription" [style.backgroundColor]="'#'+prep.tipo_presc.get_modulo.fondo_icono">
                        <ion-icon name="{{prep.tipo_presc.get_modulo.icono}}"></ion-icon>
                      </p>
                      <p text-wrap style="margin-top: 2px">{{prep.tipo_presc.nombre}}</p>
                    </ion-row>
                    <!---->
                    <!--LÍNEA 2, DESCRIPCIÓN-->
                    <ion-row style="text-align: left; white-space: pre-wrap;">
                      <p><b>Descripción: </b>{{prep.descripcion}}</p>
                    </ion-row>
                    <!---->
                    <!--LÍNEA 3, PREPARACIÓN-->
                    <ion-row *ngFor="let desc_prep of prep.get_prepaciones" style="text-align: left">
                      <p style="white-space: pre-wrap;">{{desc_prep.preparacion}}</p>
                    </ion-row>
                    <!---->
                    <!--LÍNEA 4, CITA-->
                    <ion-row style="text-align: left">
                      <p><b>Cita:</b>
                        <ion-icon name="icon-eventos"></ion-icon> {{prep.fecha.split(' ')[0]}}
                        <ion-icon name="time"></ion-icon> {{prep.fecha.split(' ')[1]}}
                      </p>
                    </ion-row>
                    <!---->

                  </ion-grid>
                </ion-card-content>
              </ion-card>
            </ion-card-content>
          </ion-card>
        </ion-grid>
        <!---->
        <!--CUIDADOS-->
        <ion-grid no-padding>
          <ion-card *ngIf="cuidados">
            <ion-card-header no-padding>
              <p style="color: #1E8AC2">CUIDADOS</p>
            </ion-card-header>
            <ion-card-content>
              <ion-card *ngFor="let cuid of cuidados; let i = index">
                <ion-card-content>
                  <ion-grid>

                    <!--LÍNEA 1, PRESCRIPCION-->
                    <ion-row>
                      <p class="prescription" [style.backgroundColor]="'#'+cuid.tipo_presc.get_modulo.fondo_icono">
                        <ion-icon name="{{cuid.tipo_presc.get_modulo.icono}}"></ion-icon>
                      </p>
                      <p text-wrap style="margin-top: 2px">{{cuid.tipo_presc.nombre}}</p>
                    </ion-row>
                    <!---->
                    <!--LÍNEA 2, DESCRIPCIÓN-->
                    <ion-row style="text-align: left; white-space: pre-wrap;">
                      <p><b>Descripción: </b>{{cuid.descripcion}}</p>
                    </ion-row>
                    <!---->
                    <!--LÍNEA 3, CUIDADO-->
                    <ion-row style="text-align: left; white-space: pre-wrap;">
                      <p>{{cuid.cuidados}}</p>
                    </ion-row>
                    <!---->
                    <!--LÍNEA 4, CITA-->
                    <ion-row style="text-align: left">
                      <p><b>Cita:</b>
                        <ion-icon name="icon-eventos"></ion-icon> {{cuid.fecha.split(' ')[0]}}
                        <ion-icon name="time"></ion-icon> {{cuid.fecha.split(' ')[1]}}
                      </p>
                    </ion-row>
                    <!---->

                  </ion-grid>
                </ion-card-content>
              </ion-card>
            </ion-card-content>
          </ion-card>
        </ion-grid>
        <!---->
        <!--RECOMENDACIONES-->
        <ion-grid>
          <ion-card *ngIf="recomendaciones">
            <ion-card-header no-padding>
              <p style="color: #1E8AC2">DE EVENTOS DE SALUD</p>
            </ion-card-header>
            <ion-row style="text-align: left; padding-top: 3px; padding-bottom: 3px;"
              *ngFor="let rec of recomendaciones; let i = index">
              <p style="white-space: pre-wrap; padding-left: 5px;" *ngIf="rec.recomendacion != null">{{rec.recomendacion.substr(0,1)
                == '-' ? '' : '-'}}{{rec.recomendacion}}</p>
            </ion-row>
          </ion-card>
        </ion-grid>
        <!---->

        <!---->

        <!--SECCION DE PRESCRIPCIONES CARGADAS-->
        <ion-row *ngIf="presc_cargadas">
          <ion-col class="pres_cargadas_banner" col-12 no-padding>
            <h6 padding-left>
              <ion-icon name="icon-doc_previos"></ion-icon> Prescripciones cargadas
            </h6>
          </ion-col>
        </ion-row>
        <!--DATOS-->
        <ion-grid *ngIf="presc_cargadas">
          <ion-card *ngFor="let presc of presc_cargadas; let i = index"
            (click)="getDetailPrescription(presc.con_fk, presc.id_pk)">
            <ion-card-content>
              <ion-grid>

                <!--LINEA 1, LOGO Y RESPONSABLE DE CARGA-->
                <ion-row>
                  <!--CASO PACIENTE CARGA-->
                  <ion-row
                    *ngIf="presc.get_resultados[0].get_profesional == null && presc.get_resultados[0].get_institucion == null">
                    <p class="icon_paciente">
                      <ion-icon name="icon-pacientes" class="icon_paciente_carga"></ion-icon>
                    </p>
                    <p style="margin-top: 2px">Cargado por paciente</p>
                  </ion-row>
                  <!---->
                  <!--CASO PROFESIONAL EXTERNO-->
                  <ion-row
                    *ngIf="presc.get_resultados[0].get_profesional != null && presc.get_resultados[0].get_institucion == null">
                    <img src="./assets/imgs/prof_ext.jpg" class="pro_ext">
                    <p style="margin-top: 2px">{{presc.get_resultados[0].get_profesional.nombre}}
                      {{presc.get_resultados[0].get_profesional.apellido1}}</p>
                  </ion-row>
                  <!---->
                  <!--CASO INSTITUCIÓN MIDIS-->
                  <ion-row
                    *ngIf="presc.get_resultados[0].get_profesional != null && presc.get_resultados[0].get_institucion != null">
                    <img [src]="presc.get_resultados[0].get_institucion.logo" class="pro_ext">
                    <p style="margin-top: 2px">{{presc.get_resultados[0].get_institucion.nombre_comercial}}</p>
                    <p style="margin-top: 4px; font-size: 10px; margin-left: 4px">
                      <b>({{presc.get_resultados[0].get_profesional.nombre}}
                        {{presc.get_resultados[0].get_profesional.apellido1}})</b></p>
                  </ion-row>
                  <!---->
                </ion-row>
                <!---->
                <!--LINEA 2, FECHA DE CARGA O INICIO-->
                <ion-row>
                  <p style="margin-left: 30px;">{{presc.get_resultados[0].fecha_ini_toma == null ?
                    (presc.get_resultados[0].fecha_carga == null ? 'null' : 'Fecha carga: ' +
                    presc.get_resultados[0].fecha_carga ) : 'Fecha inicio: ' + presc.get_resultados[0].fecha_ini_toma}}
                  </p>
                </ion-row>
                <!---->
                <!--LINEA 3, TIPO DE EVENTO-->
                <ion-row>
                  <p class="prescription" [style.backgroundColor]="'#'+getColorModulo(presc.tipo_presc.id_pk)">
                    <ion-icon name="{{presc.tipo_presc.get_modulo.icono}}"></ion-icon>
                  </p>
                  <p text-wrap style="margin-top: 2px">{{presc.tipo_presc.nombre}}</p>
                </ion-row>
                <!---->
                <!--LINEA 4, SUBTIPO-->
                <ion-row style="text-align: left">
                  <p><b>{{presc.tipo_presc.id_pk == 3 ? 'Tipo de estudio: ' : 'Tipo: '}}</b>
                    {{presc.subtipo_pres.nombre}}
                  </p>
                </ion-row>
                <!---->
                <!--LINEA 5, DESCRIPCIÓN-->
                <ion-row style="text-align: left; white-space: pre-wrap;"
                  *ngIf="presc.descripcion != 'MidisAppSalud_HaveDetails_Inc' && presc.descripcion != 'MidisAppSalud_HaveDetails_Cons'">
                  <p><b>Descripción: </b>{{presc.descripcion}}</p>
                </ion-row>
                <!--SI ES UNA INCAPACIDAD-->
                <ion-grid no-padding *ngIf="presc.descripcion == 'MidisAppSalud_HaveDetails_Inc'">
                  <ion-row style="text-align: left; white-space: pre-wrap;">
                    <p><b>Días: </b>{{presc.dias}}</p>
                  </ion-row>
                  <ion-row style="text-align: left; white-space: pre-wrap;">
                    <p><b>Fecha de inicio: </b>{{presc.fecha_de_inicio}}</p>
                  </ion-row>
                  <ion-row style="text-align: left; white-space: pre-wrap;">
                    <p><b>Fecha de finalización: </b>{{presc.fecha_de_finalizacion}}</p>
                  </ion-row>
                </ion-grid>
                <!--SI ES UNA ASISTENCIA A CONSULTA-->
                <ion-grid no-padding *ngIf="presc.descripcion == 'MidisAppSalud_HaveDetails_Cons'">
                  <ion-row style="text-align: left; white-space: pre-wrap;">
                    <p><b>Fecha: </b>{{presc.fecha_cons}}</p>
                  </ion-row>
                  <ion-row style="text-align: left; white-space: pre-wrap;">
                    <p><b>Hora de inicio: </b>{{presc.hora_de_inicio}}</p>
                  </ion-row>
                  <ion-row style="text-align: left; white-space: pre-wrap;">
                    <p><b>Hora de finalización: </b>{{presc.hora_de_finalizacion}}</p>
                  </ion-row>
                </ion-grid>
                <!---->

              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-grid>
        <!---->

      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>